{% load static %}

<div class="fr-card fr-card--horizontal fr-card--horizontal-tier">
    <div class="fr-card__body">
        <div class="fr-card__content">
            <h3 class="fr-card__title">Mes besoins</h3>
            <div class="fr-card__desc">
                <p>
                    <strong>Vous n'avez pas encore publié de besoin</strong>
                </p>
                <p>
                    Publiez vos demandes de devis, appels d'offres, relayez vos marchés ou lancez un sourcing et retrouvez-les dans cette section.
                </p>
                <a href="{% url 'tenders:create' %}" id="dashboard-tender-create-btn" class="fr-btn fr-btn--icon-right fr-icon-add-circle-line">
                    Publier un besoin d'achat
                </a>
            </div>
        </div>
    </div>
    <div class="fr-card__header fr-hidden fr-unhidden-lg">
        <div class="fr-card__img">
            <img class="fr-responsive-img" src="{% static 'images/illustration-28b.svg' %}" alt="" />
        </div>
    </div>
</div>
