{% load static %}
{% load theme_inclusion %}

<section class="s-banniere-01 s-banniere-01--marche {{ extra_class }}">
    <div class="s-banniere-01__container container">
        <div class="s-banniere-01__row row">
            <div class="s-banniere-01__col col-12">
                <div class="d-flex flex-column flex-md-row">
                    <div class="text-center text-md-left">
                        <a href="https://aides-territoires.beta.gouv.fr/" target="_blank" rel="noopener">
                            <img src="{% static_theme_images 'logo-aides-territoires.svg' %}" alt="Aides-territoires | Aides publiques pour les collectivités" height="120" />
                        </a>
                    </div>
                    <div class="w-100 mt-3 pl-0 pl-md-3">
                        <p class="h3 mb-2">Trouver des aides financières sur votre territoire pour faciliter votre développement.</p>
                        <p>Venez découvrir plus de 2900 aides répertoriées sur tout le territoire.</p>
                        <p class="mb-0 text-right">
                            <a href="https://aides-territoires.beta.gouv.fr/" target="_blank" rel="noopener" class="btn btn-sm btn-outline-primary btn-ico" aria-label="Aides-territoires | Aides publiques pour les collectivités">
                                <span>Aides-territoires</span>
                                <i class="ri-arrow-right-up-line ri-lg"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
