{% load static %}
<section class="{{ extra_class }}">
    <div class="fr-container">
        <div class="fr-grid-row">
            <div class="fr-col-12">
                <div class="fr-card fr-card--horizontal fr-card--horizontal-tier">
                    <div class="fr-card__body">
                        <div class="fr-card__content">
                            <h3 class="fr-card__title">
                                Trouver des aides financières sur votre territoire pour faciliter votre développement.
                            </h3>
                            <div class="fr-card__desc">
                                <p>Venez découvrir plus de 2900 aides répertoriées sur tout le territoire.</p>
                            </div>
                        </div>
                        <div class="fr-card__footer">
                            <ul class="fr-btns-group fr-btns-group--inline-reverse fr-btns-group--inline-lg">
                                <li>
                                    <a class="fr-btn" href="https://aides-territoires.beta.gouv.fr/" target="_blank" rel="noopener" title="Aides-territoires | Aides publiques pour les collectivités">
                                        Aides-territoires
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="fr-card__header">
                        <div class="fr-card__img">
                            <img class="fr-responsive-img" src="{% static 'images/logo-aides-territoires.svg' %}" alt="Aides-territoires | Aides publiques pour les collectivités" height="120" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
