<div class="card">
    <div class="card-body">
        <p class="h3 lh-sm">Accès API</p>
        <div class="form-group">
            <label>Votre token</label>
            <div class="input-group input-group-sm">
                <input type="text" id="user-api-key" class="form-control" value="{{ api_key }}" readonly />
                <div class="input-group-append">
                    <button id="user-api-key-copy-button" class="btn btn-primary" type="button" id="button-addon2">Copier</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer bg-white pt-0">
        <a href="{% url 'api:home' %}" class="btn btn-outline-primary btn-ico">
            <span>Tous les détails sur l'API</span>
        </a>
    </div>
</div>


{% block extra_js %}
<script type="text/javascript">
const copyToClipboard = str => {
    const el = document.getElementById('user-api-key');
    el.select();
    document.execCommand('copy');
};
document.addEventListener("DOMContentLoaded", function() {
    const apiKeyCopyButton = document.getElementById('user-api-key-copy-button');
    if (apiKeyCopyButton) {
        apiKeyCopyButton.addEventListener('click', function(e) {
            copyToClipboard();
        });
    }
});
</script>
{% endblock %}
