{% load static dsfr_tags %}

<legend id="id_sectors-legend" class="fr-fieldset__legend fr-text--regular fr-mb-3v">
    <label>Veuillez sélectionner vos activités </label>
        *
</legend>

<div class="fr-fieldset__content">
    <div class="fr-checkbox-group">
        <div x-data="{ selectedSectors: [{% if existing_sector_ids %}{% for sector_id in existing_sector_ids %}'{{ sector_id }}'{% if not forloop.last %},{% endif %}{% endfor %}{% endif %}] }"
             class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
            {% for sector in sectors %}
                <div class="fr-card fr-card--no-background fr-col-12 fr-mb-2w fr-ml-lg-2w fr-px-2w fr-px-lg-4w fr-py-2v" style="border-radius: 8px;">
                    <div class="fr-checkbox-group fr-mt-0">
                        <input
                            type="checkbox"
                            name="sectors"
                            id="id_sectors_0_{{ forloop.counter0 }}"
                            value="{{ sector.id }}"
                            dsfr="dsfr"
                            data-fr-js-checkbox-input="true"

                            hx-get="{% if sector.linked_activity_id %}{% url 'dashboard_siaes:siae_activities_edit' pk=sector.linked_activity_id %}{% else %}{% url 'dashboard_siaes:siae_activities_create' slug=siae.slug sector_id=sector.id%}{% endif %}"
                            hx-trigger="{% if sector.linked_activity_id %}load{% else %}change{% endif %}"
                            hx-target="#prestaGeoForm_{{ sector.id }}"
                            x-model="selectedSectors"
                        >
                        <label class="fr-label fr-mb-0" for="id_sectors_0_{{ forloop.counter0 }}">
                            <span class="fr-text--bold">{{ sector }}</span>
                        </label>
                    </div>
                    
                    <div 
                        id="prestaGeoForm_{{ sector.id }}"
                        class="fr-mt-1w fr-ml-lg-4w"
                        x-show="selectedSectors.includes('{{ sector.id }}')"
                    >
                        <!-- Presta and Geo form -->
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<ul class="fr-mt-2v fr-btns-group fr-btns-group--inline-reverse fr-btns-group--inline-sm fr-btns-group--icon-left">
  <li>
    <button class="fr-btn"
            {# This button will trigger an event that will submit all forms that are loaded #}
            {# asynchronously in the above loop #}
            onclick="htmx.trigger('body', 'submitAllForms')"
    >
        Enregistrer
    </button>
  </li>
  <li>
    <a class="fr-btn fr-btn--tertiary-no-outline fr-icon-arrow-go-back-line"
       href="{% url 'dashboard_siaes:siae_edit_activities' siae.slug %}">
      <span>Annuler</span>
    </a>
  </li>
</ul>
