{% load static %}

<div class="row">
    <div class="col-12 col-md-7">
        <div class="d-flex align-items-center mb-3">
            <span class="mr-3">
                {% if siae.logo_url %}
                    <img class="img-fluid" style="width:50px" src="{{ siae.logo_url }}" alt="Logo de la structure {{ siae.name }}" loading="lazy" />
                {% else %}
                    <img class="img-fluid" style="width:50px" src="{% static 'img/default-listing.png' %}" alt="{{ siae.name }}" loading="lazy" />
                {% endif %}
            </span>
            <h2 class="mb-0">{{ siae.name_display }}</h2>
        </div>
        {% include "includes/_completion_progress_bar.html" with completion_percent=siae.completion_percent %}
    </div>
    <div class="col-12 col-md-auto ml-auto d-flex flex-column">
        <a href="{% url 'siae:detail' siae.slug %}" target="_blank" id="dashboard-siae-view-btn" class="btn btn-outline-primary btn-sm btn-ico mb-2">
            <i class="ri-eye-line ri-lg"></i>
            <span>Voir votre fiche</span>
        </a>
        <a href="{% url 'dashboard:siae_users' siae.slug %}" id="dashboard-siae-edit-btn" class="btn btn-outline-primary btn-sm btn-ico mb-2">
            <i class="ri-group-line ri-lg"></i>
            <span>Collaborateurs ({{ siae.user_count }})</span>
        </a>
        <a href="{% url 'dashboard:siae_edit' siae.slug %}" id="dashboard-siae-edit-btn" class="btn btn-important btn-sm btn-ico">
            <i class="ri-pencil-fill ri-lg"></i>
            <span>Compléter votre fiche</span>
        </a>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-lg-6">
        <p class="h4 lh-sm mb-lg-4">Statistiques liées à votre structure <span class="fs-sm font-weight-normal">(3 derniers mois)</span></p>
        <div class="d-flex">
            <div class="flex-fill text-center">
                <span class="h2 text-info d-block mb-1">{{ siae.stat_buyer_view_count_last_3_months }}</span>
                <span class="fs-sm lh-sm d-block">Entreprises et acheteurs publics<br />ont vu votre fiche</span>
            </div>
            <div class="flex-fill text-center">
                <span class="h2 text-info d-block mb-1">{{ siae.stat_buyer_view_count_last_3_months }}</span>
                <span class="fs-sm lh-sm d-block">Partenaires (facilitateur, réseau…)<br />ont vu votre fiche</span>
            </div>
        </div>
    </div>
</div>
