{% load static %}

<div class="s-cards-grid-01__col col d-sm-flex">
    <div class="card c-card c-card--mini mb-3 w-100">
        <div class="card-body">
            <div class="row no-gutters">
                <div class="col-auto sc-img">
                    <span class="p-1 pr-2 d-inline-block">
                        {% if siae.logo_url %}
                            <img class="img-fluid" style="width:50px" src="{{ siae.logo_url }}" alt="Logo de la structure {{ siae.name }}" loading="lazy" />
                        {% else %}
                            <img class="img-fluid" style="width:50px" src="{% static 'img/default-listing.png' %}" alt="{{ siae.name }}" loading="lazy" />
                        {% endif %}
                    </span>
                </div>
                <div class="col">
                    <h3>{{ siae.name_display }}</h3>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    {% include "includes/_completion_progress_bar.html" with completion_percent=siae.completion_percent %}
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-right">
                    <a href="{% url 'siae:detail' siae.slug %}" target="_blank" id="dashboard-siae-view-btn" class="btn btn-outline-primary btn-sm btn-ico">
                        <span>Voir</span>
                        <i class="ri-eye-line ri-lg"></i>
                    </a>
                    <a href="{% url 'dashboard:siae_edit' siae.slug %}" id="dashboard-siae-edit-btn" class="btn btn-primary btn-sm btn-ico">
                        <span>Modifier</span>
                        <i class="ri-pencil-fill ri-lg"></i>
                    </a>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-6">
                    <h4 class="mt-2 mb-0">
                        Mes collaborateurs {% if siae.siae_user_requests_pending_count > 0 %}<span class="badge badge-pill badge-warning fs-xs">{{ siae.siae_user_requests_pending_count }}</span>{% endif %}
                    </h4>
                </div>
                <div class="col-6 text-right">
                    <a href="{% url 'dashboard:siae_users' siae.slug %}" id="dashboard-siae-users-view-btn" class="btn btn-link btn-sm">
                        <span>Accéder</span>
                        <!-- <i class="ri-arrow-drop-right ri-lg"></i> -->
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
