{% load static dsfr_tags %}

<legend id="id_sectors-legend" class="fr-fieldset__legend fr-text--regular">
    <label>Activités :</label>
        *
</legend>

{% if form.errors %}
  <ul class="fr-messages-group fr-messages-group--error">
    {% for field, errors in form.errors.items %}
      {% for error in errors %}
        <li class="fr-message fr-message--error">
          <span class="fr-message__icon" aria-hidden="true"></span>
          <span class="fr-message__text">{{ error }}</span>
        </li>
      {% endfor %}
    {% endfor %}
  </ul>
{% endif %}

<div class="fr-fieldset__content">
    <div class="fr-checkbox-group">
        <div x-data="{ selectedSectors: [] }">
            {% for sector in form.fields.sectors.queryset %}
                <div class="fr-checkbox-group">
                    <input
                        type="checkbox"
                        name="sectors"
                        id="id_sectors_0_{{ forloop.counter0 }}"
                        value="{{ sector.id }}"
                        dsfr="dsfr"
                        data-fr-js-checkbox-input="true"
                        
                        hx-get="{% url 'dashboard_siaes:siae_activities_presta_geo_form' siae.slug %}"
                        hx-trigger="change"
                        hx-target="#prestaForm_{{ sector.id }}"

                        x-model="selectedSectors"
                    >
                    <label class="fr-label" for="id_sectors_0_{{ forloop.counter0 }}">
                        {{ sector }}
                    </label>
                </div>
                <div 
                    id="prestaForm_{{ sector.id }}"
                    x-data="{ selectedGeoRange: '', ready: false }"
                    x-init="ready = true"
                    x-show="selectedSectors.includes('{{ sector.id }}')"
                >
                    <!-- Presta and Geo form -->
                </div>
            {% endfor %}
        </div>
    </div>
</div>
