<dialog class="fr-modal"
        id="siae_activity_delete_modal"
        role="dialog"
        aria-modal="true"
        data-backdrop="static"
        data-keyboard="false"
        aria-labelledby="siae_activity_delete_modal_title">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn"
                                aria-controls="siae_activity_delete_modal">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h3 id="siae_activity_delete_modal_title" class="fr-modal__title">Supprimer</h3>
                        <p>
                            Voulez-vous supprimer l'activité <strong><span id="siae-activity-name-display"></span></strong> ?
                        </p>
                    </div>
                    <div class="fr-modal__footer">
                        <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg">
                            <form method="post"
                                  data-action="{% url 'dashboard_siaes:siae_edit_activities_delete' siae.slug|default:'siae-slug-to-replace' activity.id|default:'siae-activity-id-to-replace' %}">
                                {% csrf_token %}
                                <button class="fr-btn fr-btn--icon-left" type="submit">Confirmer</button>
                            </form>
                            <button class="fr-btn fr-btn--icon-left fr-btn--secondary"
                                    aria-controls="siae_activity_delete_modal"
                                    aria-label="Fermer">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
<!-- button needed for modal to be triggered -->
<button data-fr-opened="false"
        aria-controls="siae_activity_delete_modal"
        class="fr-hidden"></button>
