<div class="fr-card">
    <div class="fr-card__body">
        <div class="fr-card__content">
            <h3 class="fr-card__title">
                M'informer sur le marché
            </h3>
            <div class="fr-card__desc">
                <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
                    <div class="fr-col-12 fr-col-sm">
                        <h4 class="fr-mb-0">{{ user_buyer_count }}</h4>
                        <p class="fr-mb-0">Acheteurs<br>inscrits</p>
                    </div>
                    <div class="fr-col-12 fr-col-sm">
                        <h4 class="fr-mb-0">{{ siae_count }}</h4>
                        <p class="fr-mb-0">Structures<br>référencées</p>
                    </div>
                    <div class="fr-col-12 fr-col-sm">
                        <h4 class="fr-mb-0">{{ tender_count }}</h4>
                        <p class="fr-mb-0">Besoins<br>déposés</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
