{% extends "layouts/base.html" %}
{% load static get_verbose_name %}
{% load theme_inclusion %}

{% block title %}Tableau de bord{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Tableau de bord</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="s-title-01">
    <div class="s-title-01__container container">
        <div class="s-title-01__row row">
            <div class="s-title-01__col col-12">
                <h1 class="s-title-01__title h1"><strong>Tableau de bord</strong></h1>
            </div>
        </div>
    </div>
</section>

<section class="s-section mb-0">
    <div class="s-section__container container">
        <div class="s-section__row row">
            <div class="s-section__col col-12 col-lg-6 pb-5">
                <div class="card h-100 w-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-lg">
                                <p class="h4 lh-sm">Mes besoins</p>
                            </div>
                            <div class="col-12 col-md-auto">
                                <a href="{% url 'tenders:create' %}" id="dashboard-tender-create-btn" class="btn btn-primary btn-ico">
                                    <span>Publier un besoin d'achat</span>
                                    <i class="ri-add-fill ri-lg"></i>
                                </a>
                            </div>
                        </div>
                        {% for tender in last_3_tenders %}
                            <ul class="list-group list-group-flush list-group-link">
                                <li class="list-group-item list-group-item-action">
                                    <div>
                                        <time class="fs-sm d-block" aria-label="Date de clôture">{{ tender.deadline_date|default:"" }}</time>
                                        <a href="{% url 'tenders:detail' tender.slug %}" class="d-block font-weight-bold stretched-link">{{ tender.title }}</a>
                                    </div>
                                </li>
                            </ul>
                        {% endfor %}
                    </div>
                    <div class="card-footer pt-0 bg-white text-right">
                        <a href="{% url 'tenders:list' %}" class="btn btn-link btn-ico">
                            <span>Accéder à mes besoins</span>
                            <i class="ri-arrow-right-s-line ri-xl"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="s-section__col col-12 col-lg-6 pb-5">
                <div class="card h-45 w-100">
                    <div class="card-body">
                        <p class="h4 lh-sm">M'informer sur le marché</p>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <h4 class="text-important mb-0">{{ user_buyer_count }}</h4>
                                <p class="mb-0">Acheteurs inscrits</p>
                            </div>
                            <div class="col-md-4 text-center">
                                <h4 class="text-important mb-0">{{ siae_count }}</h4>
                                <p class="mb-0">Structures référencées</p>
                            </div>
                            <div class="col-md-4 text-center">
                                <h4 class="text-important mb-0">{{ tender_count }}</h4>
                                <p class="mb-0">Besoins déposés</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="card h-45 w-100">
                    <div class="card-body">
                        <p class="h4 lh-sm">Annuaire des facilitateurs</p>
                        <p>
                            Besoin d'aide pour travailler avec des structures de l'insertion ou du handicap ?
                            Trouvez le partenaire qui pourra vous aider.
                        </p>
                    </div>
                    <div class="card-footer pt-0 bg-white">
                        <a href="{{ FACILITATOR_LIST }}" id="track_dashboard_partners_facilitator_list" class="btn btn-outline-primary btn-ico" target="_blank" rel="noopener">
                            <span>Télécharger l'annuaire</span>
                            <i class="ri-arrow-right-up-line ri-lg"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="s-section__row row">
            <div class="s-section__col col-12 col-lg-6 pb-5">
                {% include "dashboard/_ressource_card.html" with user_kind="BUYER" %}
            </div>
            <div class="s-section__col col-12 col-lg-6 pb-5">
                <div class="card h-45 w-100">
                    <div class="card-body">
                        <p class="h4 lh-sm">Valoriser mes achats</p>
                        <p>
                            Mesurer, et valoriser vos achats grâce à la liste complète des structures réferencées sur le marché.
                        </p>
                    </div>
                    <div class="card-footer pt-0 bg-white text-right">
                        <a href="{% url 'pages:valoriser_achats' %}" id="track_dashboard_achats" class="btn btn-link btn-ico">
                            <span>C'est parti</span>
                            <i class="ri-arrow-right-s-line ri-xl"></i>
                        </a>
                    </div>
                </div>
                <br />
                {% include "dashboard/_api_key_card.html" with api_key=user.api_key user_kind="BUYER" %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
