{% extends "layouts/base.html" %}
{% load static get_verbose_name %}
{% load theme_inclusion %}

{% block title %}Tableau de bord{{ block.super }}{% endblock %}
{% block body_class %}bg-light{% endblock %}

{% block breadcrumbs %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'wagtail_serve' '' %}">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Tableau de bord</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="s-title-01">
    <div class="s-title-01__container container">
        <div class="s-title-01__row row">
            <div class="s-title-01__col col-12">
                <h1 class="s-title-01__title h1"><strong>Tableau de bord</strong></h1>
            </div>
        </div>
    </div>
</section>

<section class="s-section">
    <div class="s-section__container container">
        <div class="s-section__row row">
            <div class="s-section__col col-12 col-lg-7 mb-3 mb-lg-5">
                {% if user.tenders.count %}
                    <div class="card h-100 w-100">
                        <div class="card-body">
                            <div class="row mb-sm-4">
                                <div class="col-12 col-md">
                                    <p class="h4 lh-sm">Mes besoins</p>
                                </div>
                                <div class="col-12 col-md-auto">
                                    <a href="{% url 'tenders:create' %}" id="dashboard-tender-create-btn" class="btn btn-primary width-100 width-md-auto">
                                        <i class="ri-add-fill ri-lg mr-2"></i>Publier un besoin d'achat
                                    </a>
                                </div>
                            </div>
                            {% for tender in last_3_tenders %}
                                <ul class="list-group list-group-flush list-group-link">
                                    <li class="list-group-item list-group-item-action">
                                        {% include "tenders/_card_list_item.html" with tender=tender %}
                                    </li>
                                </ul>
                            {% endfor %}
                        </div>
                        <div class="card-footer pt-0 bg-white text-right">
                            <a href="{% url 'tenders:list' %}" class="btn btn-link btn-ico">
                                <span>Accéder à mes besoins</span>
                                <i class="ri-arrow-right-s-line ri-xl"></i>
                            </a>
                        </div>
                    </div>
                {% else %}
                    {% include "dashboard/_add_tender_card.html" %}
                {% endif %}
            </div>
            <div class="s-section__col col-12 col-lg-5">
                <div class="card h-45 w-100 mb-3 mb-lg-5">
                    <div class="card-body">
                        <p class="h4 lh-sm mb-lg-4">M'informer sur le marché</p>
                        <div class="d-flex">
                            <div class="flex-fill text-center">
                                <span class="h2 text-info d-block mb-1">{{ user_buyer_count }}</span>
                                <span class="fs-sm lh-sm d-block">Acheteurs<br>inscrits</span>
                            </div>
                            <div class="flex-fill text-center">
                                <span class="h2 text-info d-block mb-1">{{ siae_count }}</span>
                                <span class="fs-sm lh-sm d-block">Structures<br>référencées</span>
                            </div>
                            <div class="flex-fill text-center">
                                <span class="h2 text-info d-block mb-1">{{ tender_count }}</span>
                                <span class="fs-sm lh-sm d-block">Besoins<br>déposés</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% if not user.partner_network %}
                    <div class="card h-45 w-100 mb-3 mb-lg-5">
                        <div class="card-body">
                            <p class="h4 lh-sm mb-lg-4">Calibrer un achat</p>
                            <p>
                                Identifier rapidement le nombre total de prestataires inclusifs pouvant répondre à votre besoin, et mesurer leur capacité globale de production.
                            </p>
                        </div>
                        <div class="card-footer pt-0 bg-white text-right">
                            <a href="{% url 'pages:impact_calculator' %}" id="dashboard_calibration_achat" class="btn btn-link btn-ico">
                                <span>Calibrer</span>
                                <i class="ri-arrow-right-s-line ri-xl"></i>
                            </a>
                        </div>
                    </div>
                {% else %}
                    <div class="card h-45 w-100 mb-3 mb-lg-5">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <span class="d-none d-lg-inline-flex mr-3">
                                    <img src="{% static 'images/illustration-14.svg' %}" height="100" alt="" loading="lazy" />
                                </span>
                                <div>
                                    <p class="h4 lh-sm mb-lg-4">
                                        Mon réseau : {{ user.partner_network }}
                                        <span class="badge badge-sm badge-pill badge-important">Nouveauté</span>
                                    </p>
                                    <p>
                                        Suivez en temps réel les demandes de devis, appels d'offres et marchés reçus par vos adhérents,
                                        et aidez-les à développer leur activité commerciale.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer pt-0 bg-white text-right">
                            <a href="{% url 'dashboard:profile_network_detail' user.partner_network.slug %}" id="dashboard_network_detail" class="btn btn-link btn-ico">
                                <span>Animer mon réseau</span>
                                <i class="ri-arrow-right-s-line ri-xl"></i>
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="s-section__row row">
            <div class="s-section__col col-12 col-lg-5">
                <div class="card h-45 w-100 mb-3 mb-lg-5">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <span class="d-none d-lg-inline-flex mr-3">
                                <img src="{% static 'images/illustration-15.svg' %}" height="100" alt="" loading="lazy" />
                            </span>
                            <div>
                                <p class="h4 lh-sm mb-lg-4">Annuaire des facilitateurs</p>
                                <p>
                                    Besoin d'aide pour travailler avec des structures de l'insertion ou du handicap ?
                                    Trouvez le partenaire qui pourra vous aider.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer pt-0 bg-white text-right">
                        <a href="{{ FACILITATOR_LIST }}" id="track_dashboard_partners_facilitator_list" class="btn btn-outline-primary width-100 width-lg-auto" target="_blank" rel="noopener">
                            <i class="ri-download-line ri-lg mr-2"></i>Télécharger l'annuaire
                        </a>
                    </div>
                </div>
                <div class="card h-45 w-100 mb-3 mb-lg-5">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <span class="d-none d-lg-inline-flex mr-3">
                                <img src="{% static 'images/illustration-25.svg' %}" height="100" alt="" loading="lazy" />
                            </span>
                            <div>
                                <p class="h4 lh-sm mb-lg-4">Valoriser mes achats</p>
                                <p>
                                    Mesurer, et valoriser vos achats grâce à la liste complète des structures réferencées sur le marché.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer pt-0 bg-white text-right">
                        <a href="{% url 'pages:valoriser_achats' %}" id="track_dashboard_achats" class="btn btn-link btn-ico">
                            <span>C'est parti</span>
                            <i class="ri-arrow-right-s-line ri-xl"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="s-section__col col-12 col-lg-7 mb-3 mb-lg-5">
                {% include "dashboard/_ressource_card.html" with user_kind="BUYER" %}
            </div>
        </div>
        <div class="s-section__row row">
            <div class="s-section__col col-12 col-lg-6">
                <div class="card h-45 w-100 mb-3 mb-lg-5">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <span class="d-none d-lg-inline-flex mr-3">
                                <img src="{% static 'images/illustration-06.svg' %}" height="100" alt="" loading="lazy" />
                            </span>
                            <div>
                                <p class="h4 lh-sm mb-lg-4">Mes favoris</p>
                                <p>
                                    Retrouvez tous vos prestataires favoris ici, et organisez-les par liste d'achat (ex : Liste prestataires nettoyage 2023).
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer pt-0 bg-white text-right">
                        <a href="{% url 'dashboard_favorites:list' %}" id="track_dashboard_favorites" class="btn btn-link btn-ico">
                            <span>Voir mes favoris</span>
                            <i class="ri-arrow-right-s-line ri-xl"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="s-section__col col-12 col-lg-6">
                {% include "dashboard/_api_key_card.html" with api_key=user.api_key user_kind="BUYER" %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
