{% extends "layouts/base.html" %}
{% load static get_verbose_name %}
{% load theme_inclusion %}

{% block title %}Tableau de bord{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Tableau de bord</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="pt-4 pb-6">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="h1 mb-3 mb-lg-5">
                    <strong>Tableau de bord</strong>
                </h1>

                <section class="s-tabs-01">
                    <div class="s-tabs-01__container container">
                        <div class="s-tabs-01__row row">
                            <div class="s-tabs-01__col col-12">
                                <ul class="s-tabs-01__nav nav nav-tabs" role="tablist">
                                    {% for siaeuser in user.siaeuser_set.all %}
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link {% if forloop.first %}active{% endif %}" id="{{ siaeuser.siae.slug }}-tab" data-toggle="tab" href="#{{ siaeuser.siae.slug }}" role="tab" aria-controls="{{ siaeuser.siae.slug }}" aria-selected="false">
                                                {{ siaeuser.siae.name_display }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" id="add-siae-btn" data-toggle="tab" href="{% url 'dashboard:siae_search_by_siret' %}" role="tab" aria-selected="false">
                                            <i class="ri-add-line"></i>
                                            Ajouter une structure
                                        </a>
                                    </li>
                                    <li class="nav-item-dropdown dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" id="sTabs01DropdownMoreLink" data-toggle="dropdown" aria-expanded="false">...</a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sTabs01DropdownMoreLink"></div>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    {% for siaeuser in user.siaeuser_set.all %}
                                        <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="{{ siaeuser.siae.slug }}" role="tabpanel" aria-labelledby="{{ siaeuser.siae.slug }}-tab">
                                            {% include "dashboard/_siae_tab_content.html" with siae=siaeuser.siae %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <p class="h3 lh-sm">Les opportunités du marché</p>

                                <p>
                                    Vous trouverez ici les devis, appels d'offre ou projets d'achat qui ont été déposés sur le marché 
                                    et qui correspondent à vos secteurs d'activité et zone d'intervention.
                                </p>

                                {% for tender in last_3_tenders %}
                                <ul class="list-group list-group-flush list-group-link">
                                    <li class="list-group-item list-group-item-action">
                                        <div title="Date de clôture">{{ tender.deadline_date|default:"" }}</div>
                                        <span>{{ tender.title }}</span>
                                    </li>
                                </ul>
                                {% endfor %}
                            </div>

                            <div class="card-footer">
                                <a href="{% url 'tenders:list' %}" class="btn btn-outline-primary">
                                    <span>Voir toutes les opportunités</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <br />

                {% if user.api_key %}
                    <div class="row">
                        <div class="col-md-6">
                            {% include "dashboard/_api_key_card.html" with api_key=user.api_key %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% include "dashboard/_aides_territoires_section.html" %}
{% endblock %}
