{% extends "layouts/base.html" %}
{% load static get_verbose_name %}

{% block title %}Mon espace{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Mon espace</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="pt-4 pb-6">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 id="profil" class="mb-3 mb-lg-5">
                    <strong>Mon profil</strong>
                </h2>
                <div class="s-cards-grid-01__row row mb-3 mb-md-5">
                    <div class="s-cards-grid-01__col col">
                        <div class="card c-card c-card--marche h-100 w-100">
                            <div class="card-body">
                                <p class="h4 lh-base">
                                    {{ user.full_name }}
                                    <span class="fs-sm badge-pill badge-marche">{{ user.get_kind_display }}</span>
                                </p>
                                <p title="{% get_verbose_name user 'email' %}">
                                    <span class="prof_icon"><img src="{% static 'img/profile-ico-@.svg' %}" /></span>
                                    {{ user.email }}
                                </p>
                                <p title="{% get_verbose_name user 'phone' %}">
                                    <span class="prof_icon"><img src="{% static 'img/profile-ico-phone.svg' %}" /></span>
                                    {% if user.phone %}{{ user.phone }}{% endif %}
                                </p>
                                {% if user.company_name %}
                                    <p title="{% get_verbose_name user 'company_name' %}">
                                        <span class="prof_icon"><img src="{% static 'img/prof_nature.svg' %}" /></span>
                                        {{ user.company_name }}
                                        {% if user.position %}({{ user.position }}){% endif %}
                                    </p>
                                {% endif %}
                            </div>
                            <div class="card-footer">
                                <div class="row justify-content-end">
                                    <div class="col-6 col-md-auto pl-2">
                                        <a href="{% url 'dashboard:profile_edit' %}" class="btn btn-outline-primary btn-block btn-ico">
                                            <span>Modifier</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M12.9 6.858l4.242 4.243L7.242 21H3v-4.243l9.9-9.9zm1.414-1.414l2.121-2.122a1 1 0 0 1 1.414 0l2.829 2.829a1 1 0 0 1 0 1.414l-2.122 2.121-4.242-4.242z"/></svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if user.kind == user.KIND_SIAE or user.kind == user.KIND_ADMIN %}
                    <hr class="mb-3 mb-lg-5">
                    <div class="row justify-content-end mb-3 mb-lg-5">
                        <div class="col-12 col-lg">
                            <h2 id="structures" class="mb-0">
                                <strong>{% if user.siaes.count > 1 %}Mes structures{% else %}Ma structure{% endif %}</strong>
                            </h2>
                        </div>
                        <div class="col-12 col-md-auto">
                            <a href="{% url 'dashboard:siae_search_by_siret' %}" class="btn btn-primary btn-block btn-ico">
                                <span>Ajouter une structure</span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"/></svg>
                            </a>
                        </div>
                    </div>
                    <div class="s-cards-grid-01__row row row-cols-1 row-cols-md-2">
                        {% for siaeuser in user.siaeuser_set.all %}
                        <div class="s-cards-grid-01__col col d-sm-flex">
                            <div class="card c-card c-card--mini mb-3 w-100">
                                <div class="card-body">
                                    <h4>{{ siaeuser.siae.name }}</h4>
                                    <p title="{% get_verbose_name siaeuser.siae 'brand' %}" class="mb-2">
                                        <strong>{% get_verbose_name siaeuser.siae 'brand' %} :</strong>
                                        {{ siaeuser.siae.brand|default:'' }}
                                    </p>
                                    <p title="{% get_verbose_name siaeuser.siae 'siret' %}" class="mb-2">
                                        <strong>{% get_verbose_name siaeuser.siae 'siret' %} :</strong>
                                        {{ siaeuser.siae.siret_display }}
                                    </p>
                                    <p title="{% get_verbose_name siaeuser.siae 'kind' %}" class="mb-2">
                                        <strong>{% get_verbose_name siaeuser.siae 'kind' %} :</strong>
                                        {{ siaeuser.siae.get_kind_display }}
                                    </p>
                                    <p title="{% get_verbose_name siaeuser.siae 'nature' %}" class="mb-2">
                                        <strong>{% get_verbose_name siaeuser.siae 'nature' %} :</strong>
                                        {{ siaeuser.siae.get_nature_display }}
                                    </p>
                                    {% if siaeuser.siae.is_missing_content %}
                                    <div class="alert alert-warning mt-3 mb-0" role="alert">
                                        <span class="prof_icon"><img src="{% static 'img/prof_info_circle.svg' %}" /></span>
                                        Votre fiche n'est pas complète.
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="card-footer">
                                    <div class="row justify-content-end">
                                        <div class="col-6 col-md-auto pr-2">
                                            <a href="{% url 'dashboard:siae_edit' siaeuser.siae.slug %}" class="btn btn-outline-primary btn-sm btn-block btn-ico">
                                                <span>Modifier</span>
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M12.9 6.858l4.242 4.243L7.242 21H3v-4.243l9.9-9.9zm1.414-1.414l2.121-2.122a1 1 0 0 1 1.414 0l2.829 2.829a1 1 0 0 1 0 1.414l-2.122 2.121-4.242-4.242z"/></svg>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-auto pl-2">
                                            <a href="{% url 'siae:detail' siaeuser.siae.slug %}" target="_blank" class="btn btn-outline-primary btn-sm btn-block btn-ico">
                                                <span>Voir</span>
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M1.181 12C2.121 6.88 6.608 3 12 3c5.392 0 9.878 3.88 10.819 9-.94 5.12-5.427 9-10.819 9-5.392 0-9.878-3.88-10.819-9zM12 17a5 5 0 1 0 0-10 5 5 0 0 0 0 10zm0-2a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/></svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if user.api_key %}
                    <hr class="mb-3 mb-lg-5">
                    <div class="row justify-content-end mb-3 mb-lg-5">
                        <div class="col-12 col-lg">
                            <h2 id="api" class="mb-0">
                                <strong>Accès API</strong>
                            </h2>
                        </div>
                        <div class="col-12 col-md-auto">
                            <a href="{% url 'api:home' %}" class="btn btn-outline-primary btn-block btn-ico">
                                <span>📚 Tous les détails sur l'API</span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Votre token</label>
                                <div class="input-group">
                                    <input type="text" id="user-api-key" class="form-control" value="{{ user.api_key }}" readonly />
                                    <div class="input-group-append">
                                        <button id="user-api-key-copy-button" class="btn btn-primary" type="button" id="button-addon2">Copier</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <!-- <h2 class="mb-3 mb-lg-5">Mes favoris</h2> -->
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
const copyToClipboard = str => {
    console.log("copyToClipboard")
    const el = document.getElementById('user-api-key');
    el.select();
    document.execCommand('copy');
};
document.addEventListener("DOMContentLoaded", function() {
    document.getElementById('user-api-key-copy-button').addEventListener('click', function(e) {
        copyToClipboard();
    });
});
</script>
{% endblock %}
