{% extends "layouts/base.html" %}
{% load static get_verbose_name %}

{% block title %}Tableau de bord{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<nav class="c-breadcrumb c-breadcrumb--marche" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tableau de bord</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<section class="pt-4 pt-lg-6 pb-6 pb-lg-8">
    <div class="container container-max-lg">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-3 mb-lg-5">Mon profil</h2>

                <div class="s-cards-grid-01__col col mb-3 mb-md-5">
                    <div class="card c-card h-100 w-100 c-card--marche">
                        <div class="card-body">
                            <p class="h4 lh-base">{{ user.full_name }}</p>
                            <p title="{% get_verbose_name user 'email' %}">
                                <span class="prof_icon"><img src="{% static 'img/profile-ico-@.svg' %}" /></span>
                                {{ user.email }}
                            </p>
                            <p title="{% get_verbose_name user 'phone' %}">
                                <span class="prof_icon"><img src="{% static 'img/profile-ico-phone.svg' %}" /></span>
                                {% if user.phone %}{{ user.phone }}{% endif %}
                            </p>
                        </div>
                        <div class="card-footer text-left">
                            <a href="{% url 'dashboard:profile_edit' %}" class="btn btn-outline-primary btn-ico">
                                <span>Editer</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
