{% extends "layouts/base.html" %}
{% load static process_dict dsfr_tags l10n %}
{% block page_title %}
    Ma part d'achat inclusif{{ block.super }}
{% endblock page_title %}
{% block breadcrumb %}
    {% process_dict root_dir=HOME_PAGE_PATH current="Ma part d'achat inclusif" as breadcrumb_data %}
    {% dsfr_breadcrumb breadcrumb_data %}
{% endblock breadcrumb %}
{% block content %}
    <div class="fr-container">
        <div class="fr-grid-row">
            <div class="fr-col-12">
                <h1>Ma part d'achat inclusif</h1>
                <p class="fr-text--lead">Pilotez l'intégration des achats inclusifs dans votre politique achat.</p>
            </div>
        </div>
        {% if user.kind == "BUYER" and user.company %}
            {% if unfiltered_qs_count > 0 %}
                <section class="fr-accordion fr-mb-2w">
                    <h3 class="fr-accordion__title">
                        <button type="button"
                                class="fr-accordion__btn"
                                aria-expanded="false"
                                aria-controls="accordion-filters">Filtrer les résultats</button>
                    </h3>
                    <div class="fr-collapse" id="accordion-filters">
                        <form method="GET">
                            <div class="fr-grid-row fr-grid-row--gutters">
                                <div class="fr-col-12 fr-col-md-6">{% dsfr_form_field filter.form.inclusive_sector_type %}</div>
                                <div class="fr-col-12 fr-col-md-6">{% dsfr_form_field filter.form.siae_type %}</div>
                            </div>
                            <div class="fr-grid-row fr-grid-row--gutters">
                                <div class="fr-col-12 fr-col-md-6">{% dsfr_form_field filter.form.purchase_category %}</div>
                                <div class="fr-col-12 fr-col-md-6">{% dsfr_form_field filter.form.buying_entity %}</div>
                            </div>
                            <button class="fr-mt-2v fr-mb-2v fr-btn" type="submit">Appliquer les filtres</button>
                        </form>
                    </div>
                </section>
                {% if total_purchases > 0 %}
                    <div class="fr-grid-row fr-grid-row--gutters fr-my-2w">
                        <div class="fr-col-12 fr-col-lg-5">
                            <div class="fr-card">
                                <div class="fr-card__body">
                                    <div class="fr-card__content">
                                        <h3 class="fr-card__title">Vos statistiques d'achat</h3>
                                        <div class="fr-card__desc">
                                            <p class="fr-text--lead">
                                                <strong>{{ total_purchases|floatformat:0 }} €</strong> d'achats réalisés
                                            </p>
                                            <p class="fr-text--lead">
                                                <strong>{{ total_inclusive_purchases|floatformat:0 }} €</strong> d'achats inclusifs
                                            </p>
                                            <p class="fr-text--lead">
                                                <strong>{{ total_inclusive_purchases_percentage|floatformat:1 }}%</strong> de vos achats sont inclusifs 👏
                                            </p>
                                            <hr class="fr-my-4v">
                                            <p class="fr-text--lead">
                                                <strong>{{ total_inclusive_suppliers }}</strong> fournisseur{{ total_inclusive_suppliers|pluralize }} sur les <strong>{{ total_suppliers }}</strong> fournisseur{{ total_suppliers|pluralize }} référencé{{ total_suppliers|pluralize }} sont inclusifs !
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fr-col-12 fr-col-lg-7">
                            <div class="fr-card">
                                <div class="fr-card__body">
                                    <div class="fr-card__content">
                                        <h3 class="fr-card__title">Répartition de vos achats inclusifs</h3>
                                        <div class="fr-card__desc">
                                            <canvas id="inclusiveChart" width="400" height="300"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
                        <div class="fr-col-12 fr-col-lg-4">
                            <div class="fr-card">
                                <div class="fr-card__body">
                                    <div class="fr-card__content">
                                        <h3 class="fr-card__title">Répartition Insertion/Handicap</h3>
                                        <div class="fr-card__desc">
                                            <canvas id="insertionHandicapChart" width="400" height="300"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fr-col-12 fr-col-lg-4">
                            <div class="fr-card">
                                <div class="fr-card__body">
                                    <div class="fr-card__content">
                                        <h3 class="fr-card__title">Détails par type de structure</h3>
                                        <div class="fr-card__desc">
                                            <div class="fr-grid-row fr-grid-row--gutters">
                                                <div class="fr-col-6">
                                                    <p class="fr-text--lead">
                                                        <strong>{{ total_insertion_purchases|floatformat:0 }} €</strong> pour les structures d'insertion
                                                    </p>
                                                    <p class="fr-text--lead">
                                                        soit <strong>{{ total_insertion_purchases_percentage|floatformat:1 }}%</strong>
                                                    </p>
                                                </div>
                                                <div class="fr-col-6">
                                                    <p class="fr-text--lead">
                                                        <strong>{{ total_handicap_purchases|floatformat:0 }} €</strong> pour les structures du Handicap
                                                    </p>
                                                    <p class="fr-text--lead">
                                                        soit <strong>{{ total_handicap_purchases_percentage|floatformat:1 }}%</strong>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fr-col-12 fr-col-lg-4">
                            <div class="fr-card">
                                <div class="fr-card__body">
                                    <div class="fr-card__content">
                                        <h3 class="fr-card__title">Répartition par type de structure</h3>
                                        <div class="fr-card__desc">
                                            <canvas id="structureKindChart" width="400" height="300"></canvas>
                                        </div>
                                        <div class="fr-card__footer">
                                            <p>
                                                <a href="/ressources/cest-quoi-linclusion/#:~:text=Les%20typologies%20de%20structures"
                                                   target="_blank"
                                                   class="fr-link">Découvrez la définition des acronymes EI, EA, ACI, ESAT...</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fr-grid-row fr-grid-row--gutters fr-mb-6w">
                        {% if chart_data_purchases_by_category.dataset %}
                            <div class="fr-col-12">
                                <div class="fr-card">
                                    <div class="fr-card__body">
                                        <div class="fr-card__content">
                                            <h3 class="fr-card__title">Répartition par catégorie d'achat (top 40)</h3>
                                            <div class="fr-card__desc">
                                                <canvas id="purchaseCategoryChart" width="400" height="300"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if chart_data_purchases_by_buying_entity.dataset %}
                            <div class="fr-col-12 fr-col-lg-6">
                                <div class="fr-card">
                                    <div class="fr-card__body">
                                        <div class="fr-card__content">
                                            <h3 class="fr-card__title">Répartition par entité acheteuse</h3>
                                            <div class="fr-card__desc">
                                                <canvas id="buyingEntityChart" width="400" height="300"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w fr-mt-2w">
                        Il n'y a aucun résultat pour votre recherche avec ces filtres.
                    </div>
                {% endif %}
            {% else %}
                <div class="fr-alert fr-alert--warning">
                    <p>Vous n'avez pas encore communiqué vos achats. Prenez contact avec notre équipe pour en savoir plus.</p>
                </div>
            {% endif %}
        {% else %}
            <div class="fr-alert fr-alert--warning">
                <p>Cette page est réservée aux acheteurs ayant une entreprise associée.</p>
            </div>
        {% endif %}
    </div>
{% endblock content %}
{% block extra_js %}
    {% if chart_data_inclusive %}
        <script type="text/javascript"
                src="{% static 'vendor/chartjs@4.4.0.min.js' %}"></script>
        <script type="text/javascript"
                src="{% static 'vendor/chartjs-plugin-datalabels@2.2.0.min.js' %}"></script>
        <script>
        document.addEventListener('DOMContentLoaded', function() {        
            // Data for main chart (inclusive vs non inclusive)
            const inclusiveData = {
                labels: {{ chart_data_inclusive.labels | safe }},
                datasets: [{
                    data: {{ chart_data_inclusive.dataset | safe }},
                    backgroundColor: [
                        '#000091',
                        '#e3e3fd'
                    ],
                    borderColor: '#ffffff',
                    borderWidth: 2
                }]
            };

            // Data for detailed chart (insertion vs handicap)
            const insertionHandicapData = {
                labels: {{ chart_data_insertion_handicap.labels | safe }},
                datasets: [{
                    data: {{ chart_data_insertion_handicap.dataset | safe }},
                    backgroundColor: [
                        '#ff9f40',
                        '#4bc0c0'
                    ],
                    borderColor: '#ffffff',
                    borderWidth: 2
                }]
            };

            // Data for doughnut chart (structure Kind)
            const structureKindData = {
                labels: {{ chart_data_siae_type.labels | safe }},
                datasets: [{
                    data: {{ chart_data_siae_type.dataset | safe }},
                    backgroundColor: [
                        '#1a92ec',
                        '#ff3479',
                        '#00c5c2',
                        '#ff9f31',
                        '#b200fe',
                        '#ffd651',
                        '#c8c9ce',
                        '#a8e600',
                        '#0b1e3d',
                        '#f4b6c2',
                    ],
                    borderColor: '#ffffff',
                    borderWidth: 2
                }]
            };

            // For purchase category chart
            const purchaseCategoryData = {
                labels: {{ chart_data_purchases_by_category.labels | safe }},
                datasets: [{
                    data: {{ chart_data_purchases_by_category.dataset | safe }},
                    backgroundColor: [
                        '#1a92ec',
                        '#ff3479',
                        '#00c5c2',
                        '#ff9f31',
                        '#b200fe',
                        '#ffd651',
                    ],
                    borderColor: '#ffffff',
                    borderWidth: 2
                }]
            }

            // For purchase category chart
            const buyingEntityData = {
                labels: {{ chart_data_purchases_by_buying_entity.labels | safe }},
                datasets: [{
                    data: {{ chart_data_purchases_by_buying_entity.dataset | safe }},
                    backgroundColor: [
                        '#1a92ec',
                        '#ff3479',
                        '#00c5c2',
                        '#ff9f31',
                        '#b200fe',
                        '#ffd651',
                    ],
                    borderColor: '#ffffff',
                    borderWidth: 2
                }]
            }

            // Common configuration for charts
            const commonOptions = {
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        position: 'bottom',
                        labels: {
                            padding: 20,
                            usePointStyle: true,
                            font: {
                                size: 14
                            }
                        }
                    },
                    tooltip: {
                        callbacks: {
                            label: function(context) {
                                const amount = context.parsed.toLocaleString();
                                return ' ' + amount + ' €';
                            }
                        },
                    },
                    datalabels: {
                        formatter: (value, context) => {
                            return getPercentage(value, context);
                        },
                        color: '#fff',
                        font: {
                            weight: 'bold',
                            size: 14
                        }
                    }
                }
            };
            function getPercentage(value, context) {
                const data = context.chart.data.datasets[0].data;
                const total = data.reduce((acc, val) => acc + val, 0);
                const percentage = (value / total * 100).toFixed(1);
                return percentage + '%';
            }

            // Main chart (inclusive vs non inclusive)
            const labelColors = ['#e3e3fd', '#000091'];
            new Chart(document.getElementById('inclusiveChart'), {
                type: 'doughnut',
                data: inclusiveData,
                options: {
                    ...commonOptions,
                    cutout: '50%',
                    plugins: {
                        ...commonOptions.plugins,   
                        datalabels: {
                            formatter: (value, context) => {
                                return getPercentage(value, context);
                            },
                            color: (context) => {
                                return labelColors[context.dataIndex];
                            },
                            font: {
                                weight: 'bold',
                                size: 14
                            }
                        }
                    }                            
                },
                plugins: [ChartDataLabels]
            });

            // Doughnut chart (insertion vs handicap)
            new Chart(document.getElementById('insertionHandicapChart'), {
                type: 'doughnut',
                data: insertionHandicapData,
                options: {
                    ...commonOptions,
                    cutout: '50%',
                    plugins: {
                        ...commonOptions.plugins,
                    }
                },
                plugins: [ChartDataLabels]
            });

            // Doughnut chart (structure Kind)
            new Chart(document.getElementById('structureKindChart'), {
                type: 'doughnut',
                data: structureKindData,
                options: {
                    ...commonOptions,
                    cutout: '50%',
                    plugins: {
                        ...commonOptions.plugins,
                    }
                },
                plugins: [ChartDataLabels]
            });

            new Chart(document.getElementById('purchaseCategoryChart'), {
                type: 'bar',
                data: purchaseCategoryData,
                options: {
                    plugins: {
                        legend: {
                            display: false
                       }
                   }
               }
            });

            new Chart(document.getElementById('buyingEntityChart'), {
                type: 'bar',
                data: buyingEntityData,
                options: {
                    plugins: {
                        legend: {
                            display: false
                       }
                   }
               }
            });

        });
        </script>
    {% endif %}
    <script type="text/javascript" src="{% static 'js/multiselect.js' %}"></script>
{% endblock extra_js %}
