{% load dsfr_tags %}
<div id="activity-edit-form-{{ object.pk }}" >
  <form
    hx-post="{% url 'dashboard_siaes:siae_activities_edit' pk=object.pk %}"
    x-data="{selectedGeoRange: '{{ form.geo_range.value }}' } "
    x-init="() => {
        const radioInputs = document.getElementsByName('{{ form.geo_range.html_name }}');
        radioInputs.forEach(radio => {
            radio.addEventListener('change', function() {
                if (this.checked) {
                    selectedGeoRange = this.value;
                }
            });
        });
    }"
  >
    {% csrf_token %}
    {# sector is hiddeninput widget from form #}
    {% dsfr_form_field form.sector %}
    {% dsfr_form_field form.presta_type %}
    {% dsfr_form_field form.geo_range %}


{#fixme pas de hardcode#}
    <div x-show="selectedGeoRange === 'CUSTOM'">
      {% dsfr_form_field form.geo_range_custom_distance %}
    </div>

    <div x-show="selectedGeoRange === 'ZONES'">
      {% dsfr_form_field form.locations %}
    </div>

  <button
      class="fr-btn fr-btn--secondary"
      hx-get="{% url 'dashboard_siaes:siae_activities_detail' pk=object.pk %}"
      hx-swap="outerHTML"
      hx-target="#activity-edit-form-{{ object.pk }}"
  >
    Annuler
  </button>
  <button class="fr-btn" type="submit">Enregistrer</button>
</form>
</div>
