{% load dsfr_tags %}
<div id="activity-edit-form-{{ object.pk }}" >
  <form
    hx-post="{% url 'dashboard_siaes:siae_activities_create' slug=siae.slug sector_id=sector_id %}"
    x-data="{selectedGeoRange: '{{ form.geo_range.value }}' } "
    x-init="() => {
        const radioInputs = document.getElementsByName('{{ form.geo_range.html_name }}');
        radioInputs.forEach(radio => {
            radio.addEventListener('change', function() {
                if (this.checked) {
                    selectedGeoRange = this.value;
                }
            });
        });
    }"
  >
    {% csrf_token %}

    {% dsfr_form_field form.sector %}
    {% dsfr_form_field form.presta_type %}
    {% dsfr_form_field form.geo_range %}

    {#fixme pas de hardcode#}
    <div x-show="selectedGeoRange === 'CUSTOM'">
      {% dsfr_form_field form.geo_range_custom_distance %}
    </div>

    <div x-show="selectedGeoRange === 'ZONES'">
      {% dsfr_form_field form.locations %}
    </div>


  <button class="fr-btn" type="submit">Enregistrer</button>
</form>
</div>

<script type="text/javascript" defer>
    /*Wrapped in a function to avoid scope clash with other forms instances*/
    {# fixme This stuff is a nightmare and should be reworked #}
    (function() {
      let LOCATION_AUTOCOMPLETE_ID = 'id_locations-{{ form.locations.id_for_label }}';
      let LOCATION_AUTOCOMPLETE_CONTAINER_SELECTOR = '#{{ form.locations.id_for_label }}';
      let LOCATION_SELECTED_CONTAINER_SELECTOR = '#locations-selected-{{ form.locations.id_for_label }}';
      let LOCATION_HIDDEN_INPUT_SELECTOR_PREFIX = 'hiddenLocation-{{ form.locations.id_for_label }}';
      let LOCATION_CURRENT_ID = 'current-locations-{{ form.locations.id_for_label }}';
      let locationsAutoComplete = new PerimetersMultiAutocomplete(
          LOCATION_AUTOCOMPLETE_ID,
          LOCATION_AUTOCOMPLETE_CONTAINER_SELECTOR,
          LOCATION_SELECTED_CONTAINER_SELECTOR,
          LOCATION_HIDDEN_INPUT_SELECTOR_PREFIX,
          LOCATION_CURRENT_ID
      );
      locationsAutoComplete.init();
    })()
  </script>
