{% extends "layouts/base.html" %}
{% load static dsfr_tags process_dict %}

{% block title %}Modifier mon profil{{ block.super }}{% endblock title %}

{% block breadcrumb %}
    {% process_dict root_dir=HOME_PAGE_PATH current="Modifier mon profil" as breadcrumb_data %}
    {% dsfr_breadcrumb breadcrumb_data %}
{% endblock breadcrumb %}

{% block content %}
<div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
    <div class="fr-col-12 fr-col-lg-10">
        <div class="fr-container fr-px-md-0 fr-py-2v fr-py-md-4v">
            <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
                <div class="fr-col-12 fr-col-lg-8">
                    <h1>Modifier mon profil</h1>
                    <div>
                        <form method="post">{% csrf_token %}
                            <fieldset class="fr-fieldset">
                                <div class="fr-fieldset__element">
                                    {% if form.non_field_errors %}
                                        <section class="fr-my-4v fr-input-group fr-input-group--error">
                                            {{ form.non_field_errors }}
                                        </section>
                                    {% endif %}
                                    {% dsfr_form_field form.first_name %}
                                    {% dsfr_form_field form.last_name %}
                                    {% dsfr_form_field form.phone %}
                                    {% if user.kind != 'SIAE' %}
                                        <div class="fr-grid-row fr-mb-4w">
                                            <div class="fr-input-group fr-col">
                                                <label>Structure</label>
                                                <input class="fr-input" value="{{ user.company_name|default:'' }}" disabled />
                                            </div>
                                            {% if user.kind == 'BUYER' %}
                                                <div class="fr-input-group fr-col fr-pl-2w">
                                                    <label>Poste</label>
                                                    <input class="fr-input" value="{{ user.position|default:'' }}" disabled />
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {% dsfr_form_field form.sectors %}
                                    {% comment %} form_group_class="form-group form-group-required use-multiselect" {% endcomment %}
                                    <br />
                                    {% dsfr_form_field form.email %}
                                    <p class="fr-text">
                                        Vous souhaitez mettre à jour votre adresse e-mail ?<br />
                                        Veuillez nous <a href="{% url 'pages:contact' %}">contacter</a>.
                                    </p>
                                    <div class="fr-input-group">
                                        <label class="fr-label"><strong>Mot de passe</strong></label>
                                        <p class="fr-text">
                                            Vous souhaitez mettre à jour votre mot de passe ?<br />
                                            Suivez les étapes ci-dessous :<br />
                                            &nbsp;&nbsp;1. Déconnectez-vous<br />
                                            &nbsp;&nbsp;2. Rendez-vous ensuite sur la page de connexion<br />
                                            &nbsp;&nbsp;3. Cliquez sur "Mot de passe oublié"<br />
                                        </p>
                                    </div>
                                </div>
                                <div class="fr-fieldset__element">
                                    <ul class="fr-btns-group--right fr-btns-group fr-btns-group--inline">
                                        <li>
                                            <button class="fr-mt-2v fr-btn fr-btn" type="submit">
                                                Sauvegarder
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </fieldset>    
                        </form>
                    </div>
                </div>
                {% if user.kind == 'SIAE' %}
                    <div class="fr-col-12 fr-col-lg-4 fr-pl-md-4w">
                        {% dsfr_alert type="info" title='Vous souhaitez changer les champs "contact" de votre structure ?' content="Ca se passe maintenant directement sur la page de modification de votre structure<br />(E-mail, Téléphone, Site internet…)" %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
