{% extends "layouts/base.html" %}
{% load bootstrap4 %}

{% block title %}Mes adhérents{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'wagtail_serve' '' %}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'dashboard:home' %}">Tableau de bord</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'dashboard:profile_network_detail' network.slug %}">Mon réseau</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Mes adhérents</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="pt-4 pb-6">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="h1 mb-3 mb-lg-5">
                    <strong>Mes adhérents</strong>
                    <br />
                    <small>Statistiques : toutes les demandes de devis, appel d'offres et sourcing</small>
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <form method="GET" role="search">
                            {% bootstrap_form_errors form type="all" %}
                            <div class="row">
                                <div class="col-12 col-lg-8">
                                    <div class="row">
                                        <div class="col-12">
                                            {% bootstrap_field form.perimeter %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <span class="mb-2 d-none d-md-inline-block">&nbsp;</span>
                                    <button id="text-search-submit" class="btn btn-primary btn-block btn-ico" type="submit">
                                        <span>Filtrer</span>
                                        <i class="ri-search-line ri-lg"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h2>
                    {{ siaes.count }} structure{{ siaes.count|pluralize }}
                    {% if siaes.count != network.siaes.count %}trouvée{{ siaes.count|pluralize }}{% endif %}
                </h2>
                <table class="table table-striped table-bordred">
                    <thead>
                        <tr>
                            <th>Nom de la structure</th>
                            <th>Demandes&nbsp;reçues</th>
                            <th>vues</th>
                            <th>intéressées</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for siae in siaes %}
                            <tr>
                                <td>
                                    <a href="{% url 'siae:detail' siae.slug %}" target="_blank">{{ siae.brand_or_name }}</a>
                                </td>
                                <td>
                                    {% if siae.tender_email_send_count > 0 %}
                                        <a href="{% url 'dashboard:profile_network_siae_tender_list' network.slug siae.slug %}" title="Voir les demandes reçues" id="dashboard-network-siae-show-tender-email-send-list-btn">{{ siae.tender_email_send_count }}</a>
                                    {% else %}
                                        0
                                    {% endif %}
                                </td>
                                <td>
                                    {% if siae.tender_detail_display_count > 0 %}
                                        <a href="{% url 'dashboard:profile_network_siae_tender_list' network.slug siae.slug "DISPLAY" %}" title="Voir les demandes vues" id="dashboard-network-siae-show-tender-detail-display-list-btn">{{ siae.tender_detail_display_count }}</a>
                                    {% else %}
                                        0
                                    {% endif %}
                                </td>
                                <td>
                                    {% if siae.tender_detail_contact_click_count > 0 %}
                                        <a href="{% url 'dashboard:profile_network_siae_tender_list' network.slug siae.slug "CONTACT-CLICK" %}" title="Voir les demandes intéressées" id="dashboard-network-siae-show-tender-detail-contact-click-list-btn">{{ siae.tender_detail_contact_click_count }}</a>
                                    {% else %}
                                        0
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
