{% extends "layouts/base.html" %}
{% load bootstrap4 %}

{% block title %}Mon réseau{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'dashboard:home' %}">Tableau de bord</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Mon réseau</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="pt-4 pb-6">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="h1 mb-3 mb-lg-5">
                    <strong>Mon réseau : {{ network }}</strong>
                    <span class="badge badge-pill badge-marche-light fs-xs" style="vertical-align:middle;" title="{{ network.siaes.count }} adhérent{{ network.siaes.count|pluralize }}">{{ network.siaes.count }}</span>
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h2>Statistiques : toutes les demandes de devis, appel d'offres et sourcing</h2>
                <table class="table table-striped table-bordred">
                    <thead>
                        <tr>
                            <th>Nom de la structure</th>
                            <th>Demandes&nbsp;reçues</th>
                            <th>vues</th>
                            <th>intéressées</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for siae in siaes %}
                            <tr>
                                <td>
                                    <a href="{% url 'siae:detail' siae.slug %}" target="_blank">{{ siae.brand_or_name }}</a>
                                </td>
                                <td>
                                    {% if siae.tender_email_send_count > 0 %}
                                        <a href="{% url 'dashboard:profile_network_siae_tender_list' network.slug siae.slug %}" title="Voir les besoins concernés">{{ siae.tender_email_send_count }}</a>
                                    {% else %}
                                        0
                                    {% endif %}
                                </td>
                                <td>
                                    {% if siae.tender_detail_display_count > 0 %}
                                        <a href="{% url 'dashboard:profile_network_siae_tender_list' network.slug siae.slug "DISPLAY" %}" title="Voir les besoins concernés">{{ siae.tender_detail_display_count }}</a>
                                    {% else %}
                                        0
                                    {% endif %}
                                </td>
                                <td>
                                    {% if siae.tender_detail_contact_click_count > 0 %}
                                        <a href="{% url 'dashboard:profile_network_siae_tender_list' network.slug siae.slug "CONTACT-CLICK" %}" title="Voir les besoins concernés">{{ siae.tender_detail_contact_click_count }}</a>
                                    {% else %}
                                        0
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</section>
{% endblock %}
