{% extends "layouts/base.html" %}
{% load static %}

{% block title %}{{ favorite_list.name }} - Liste d'achat favoris{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'dashboard:home' %}">Tableau de bord</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'dashboard:profile_favorite_list' %}">Liste d'achat favoris</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ favorite_list.name }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="pt-4 pb-6">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <h1 class="h1 mb-3 mb-lg-5 d-flex justify-content-between">
                    <strong>{{ favorite_list.name }}</strong>
                    <div class="btn-group" role="group" aria-label="Actions sur la liste de favoris">
                        <button class="btn btn-link btn-ico text-decoration-none" data-toggle="modal" data-target="#favorite_list_edit_modal" title="Editer la liste">
                            <i class="ri-pencil-fill ri-lg font-weight-light"></i>
                        </button>
                        <button class="btn btn-link btn-ico text-decoration-none" data-toggle="modal" data-target="#favorite_list_delete_modal" title="Supprimer la liste">
                            <i class="ri-delete-bin-6-line ri-lg font-weight-light"></i>
                        </button>
                    </div>
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-8">
                {% if favorite_list.siaes.count == 0 %}
                    <p class="text-danger font-weight-bold" role="status">Vous n'avez pas encore ajouté de structures à cette liste !</p>
                {% endif %}
                {% for siae in favorite_list.siaes.all %}
                    {% include "siaes/_card_search_result.html" with siae=siae from_profile="true" %}
                {% endfor %}
            </div>
            <div class="col-12 col-lg-4">
                <div class="btn-group w-100 mb-3">
                    <a href="{% url 'siae:search_results_download' %}?favorite_list={{ favorite_list.slug }}&format=xls" id="favorite-list-export-xls" class="btn btn-outline-primary btn-ico btn-block {% if favorite_list.siaes.count == 0 %}disabled{% endif %}" target="_blank">
                        <span>Télécharger la liste (.xls)</span>
                        <i class="ri-download-line ri-lg"></i>
                    </a>
                    <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Plus d'options de téléchargement</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="{% url 'siae:search_results_download' %}?favorite_list={{ favorite_list.slug }}&format=csv" id="favorite-list-export-csv" class="dropdown-item {% if favorite_list.siaes.count == 0 %}disabled{% endif %}" target="_blank">
                            Télécharger la liste (.csv)
                        </a>
                    </div>
                </div>
                <a href="{% url 'tenders:create' %}" id="favorite-list-create-btn" class="btn btn-primary w-100 btn-ico mt-2">
                    <i class="ri-add-fill ri-lg mr-2"></i>Publier un besoin d'achat
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block modals %}
    {% include "siaes/_favorite_item_remove_modal.html" with favorite_list=favorite_list %}
    {% include "siaes/_favorite_list_edit_modal.html" with favorite_list=favorite_list %}
    {% include "siaes/_favorite_list_delete_modal.html" with favorite_list=favorite_list %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/favorite_item_remove.js' %}"></script>
{% endblock %}
