{% extends "layouts/base.html" %}
{% load bootstrap4 %}

{% block title %}Liste d'achat favoris{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'dashboard:home' %}">Tableau de bord</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Liste d'achat favoris</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="pt-4 pb-6">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <h1 class="h1 mb-3 mb-lg-5">
                    <strong>Liste d'achat favoris</strong>
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-8">
                <!-- New list -->
                <h2>Nouvelle liste</h2>
                <form method="POST" action="{% url 'dashboard:profile_favorite_list_create' %}">
                    {% csrf_token %}
                    {% bootstrap_form_errors form type="all" %}
                    <label class="mb-2 d-inline-block font-weight-bold" for="id_name">Créer une {% if favorite_lists.count %}nouvelle {% endif %}liste</label>
                    <div class="form-row">
                        <div class="form-group col">
                            {% bootstrap_field form.name show_label=False %}
                        </div>
                        <div class="form-group col-auto">
                            <button class="btn btn-primary btn-ico" type="submit" name="action" value="create">
                                <span>Créer</span>
                                <i class="ri-add-fill ri-lg"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Existing list(s) -->
                {% if favorite_lists.count %}
                    <h2>{{ favorite_lists.count }} liste{% if favorite_lists.count > 1 %}s{% endif %} existante{% if favorite_lists.count > 1 %}s{% endif %}</h2>
                    <ul class="list-group">
                    {% for favorite_list in favorite_lists.all %}
                        <li class="list-group-item">
                            <a href="{% url 'dashboard:profile_favorite_list_detail' favorite_list.slug %}" class="d-flex justify-content-between align-items-center text-decoration-none" title="Voir la liste">
                                <span>{{ favorite_list.name }} <span class="ml-2 fs-xs badge badge-marche-light badge-pill">{{ favorite_list.siaes.count }}</span></span>
                                <i class="ri-eye-line ri-lg"></i>
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p class="text-danger font-weight-bold">Vous n'avez pas encore créé de listes !</p>
                {% endif %}                
            </div>
        </div>

    </div>
</section>
{% endblock %}
