{% extends "layouts/base.html" %}

{% block title %}{{ favorite_list.name }} - Liste d'achat{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'dashboard:home' %}">Mon espace</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'dashboard:home' %}#favoris">Mes listes d'achats</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ favorite_list.name }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="pt-4 pb-6">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <h2 class="mb-3 mb-lg-5">
                    <strong>Liste d'achat : {{ favorite_list.name }}</strong>
                </h2>
            </div>
            <div class="col-12 col-lg-2 my-auto mb-3 mb-lg-5" style="text-align:right">
                <a href="#" data-toggle="modal" data-target="#favorite_list_edit_modal">
                    Modifier
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-8">
                {% if favorite_list.siaes.count == 0 %}
                <div class="alert alert-info" role="alert">
                    Vous n'avez pas encore ajouté de structures à cette liste !
                </div>
                {% endif %}
                {% for siae in favorite_list.siaes.all %}
                    {% include "siaes/_card_search_result.html" with siae=siae from_profile="true" %}
                {% endfor %}
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                {% if favorite_list.siaes.count > 0 %}
                <div class="btn-group">
                    <a href="{% url 'siae:search_results_download' %}?favorite_list={{ favorite_list.slug }}&format=xls" id="csv-submit" class="btn btn-block btn-primary" target="_blank">
                        Télécharger la liste (.xls)
                    </a>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Plus d'options de téléchargement</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="{% url 'siae:search_results_download' %}?favorite_list={{ favorite_list.slug }}&format=csv" id="csv-submit" class="dropdown-item" target="_blank">
                            Télécharger la liste (.csv)
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-12 col-lg-8">
                <a href="#" data-toggle="modal" data-target="#favorite_list_delete_modal">
                    Supprimer la liste
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block modals %}
    {% include "siaes/_favorite_list_item_remove_modal.html" with favorite_list=favorite_list %}
    {% include "siaes/_favorite_list_edit_modal.html" with favorite_list=favorite_list %}
    {% include "siaes/_favorite_list_delete_modal.html" with favorite_list=favorite_list %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
    $('#favorite_list_item_remove_modal').on('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = $(event.relatedTarget);

        // Extract info from data-* attributes
        var siaeId = button.data('siae-id');
        var siaeSlug = button.data('siae-slug');
        var siaeNameDisplay = button.data('siae-name-display');

        // Update the modal's content
        // - siae name display
        // - check favorite lists that already contain the siae
        // - edit the form action url
        var modal = document.querySelector('#favorite_list_item_remove_modal');
        var modalForm = modal.querySelector('form');
        modal.querySelector('#siae-name-display').textContent = siaeNameDisplay;
        var formActionUrl = modalForm.getAttribute('action');
        modalForm.setAttribute('action', formActionUrl.replace('siae-slug-to-replace', siaeSlug));
    });
});
</script>
{% endblock %}
