{% extends BASE_TEMPLATE %}
{% load bootstrap4 static %}

{% block title %}{{ page_title }}{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'dashboard:home' %}">Tableau de bord</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'dashboard:profile_network_detail' network.slug %}">Mon réseau</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ siae.name_display|truncatechars:25 }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="pt-4 pb-6">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <h1 class="mb-3 mb-lg-5">Cette structure a reçu {{ tenders.count }} demande{{ tenders.count|pluralize }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {% block htmx %}
                    <div id="tendersList">
                        <ul role="navigation" class="nav nav-tabs nav-tabs--marche">
                            {% url 'dashboard:profile_network_siae_tender_list' network.slug siae.slug as NETWORK_SIAE_TENDER_LIST_URL %}
                            {% url 'dashboard:profile_network_siae_tender_list' network.slug siae.slug "DISPLAY" as NETWORK_SIAE_TENDER_DISPLAY_LIST_URL %}
                            {% url 'dashboard:profile_network_siae_tender_list' network.slug siae.slug "CONTACT-CLICK" as NETWORK_SIAE_TENDER_CONTACT_CLICK_LIST_URL %}
                            <li class="nav-item">
                                <a role="button" hx-push-url="true" hx-get="{{ NETWORK_SIAE_TENDER_LIST_URL }}"
                                    class="nav-link{% if request.get_full_path == NETWORK_SIAE_TENDER_LIST_URL %} active{% endif %}"
                                    hx-target="#tendersList" hx-swap="outerHTML">
                                    Demandes reçues
                                </a>
                            </li>
                            <li class="nav-item">
                                <a role="button" hx-push-url="true" hx-get="{{ NETWORK_SIAE_TENDER_DISPLAY_LIST_URL }}"
                                    class="nav-link{% if request.get_full_path == NETWORK_SIAE_TENDER_DISPLAY_LIST_URL %} active{% endif %}"
                                    hx-target="#tendersList" hx-swap="outerHTML">
                                    Demandes vues
                                </a>
                            </li>
                            <li class="nav-item">
                                <a role="button" hx-push-url="true" hx-get="{{ NETWORK_SIAE_TENDER_CONTACT_CLICK_LIST_URL }}"
                                    class="nav-link{% if request.get_full_path == NETWORK_SIAE_TENDER_CONTACT_CLICK_LIST_URL %} active{% endif %}"
                                    hx-target="#tendersList" hx-swap="outerHTML">
                                    Demandes intéressées
                                </a>
                            </li>
                        </ul>
                        {% for tender in tenders %}
                            {% include "tenders/_list_item_siae.html" with tender=tender %}
                        {% endfor %}
                        {% if not tenders %}
                            <p class="text-muted my-5">
                                {% if request.get_full_path == NETWORK_SIAE_TENDER_LIST_URL %}
                                    Cette structure n'a reçue aucune demande.
                                {% endif %}
                                {% if request.get_full_path == NETWORK_SIAE_TENDER_DISPLAY_LIST_URL %}
                                    Cette structure n'a vu aucune des demandes reçues.
                                {% endif %}
                                {% if request.get_full_path == NETWORK_SIAE_TENDER_CONTACT_CLICK_LIST_URL %}
                                    Cette structure ne s'est jamais montré intéressé par une des demandes reçues.
                                {% endif %}
                            </p>
                        {% endif %}
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
