{% extends "layouts/base.html" %}
{% load bootstrap4 %}

{% block title %}Modifier mon profil{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'dashboard:home' %}">Mon espace</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Modifier mon profil</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="pt-4 pb-6">
    <div class="container">
        <h2 class="mb-3 mb-lg-5">
            <strong>Modifier mon profil</strong>
        </h2>
        <div class="row">
            <div class="col-12 col-lg-8">
                <form method="POST" action="" class="mb-3 mb-lg-5">
                    {% csrf_token %}

                    <div class="bg-white d-block rounded-lg shadow-lg p-3 p-lg-5">
                        {% bootstrap_form_errors form type="all" %}
                        <fieldset>
                            {% bootstrap_field form.first_name %}
                            {% bootstrap_field form.last_name %}
                            {% bootstrap_field form.phone %}
                            {% if user.kind != 'SIAE' %}
                                <div class="row">
                                    <div class="form-group col">
                                        <label>Structure</label>
                                        <input class="form-control" value="{{ user.company_name|default:'' }}" disabled />
                                    </div>
                                    {% if user.kind == 'BUYER' %}
                                        <div class="form-group col">
                                            <label>Poste</label>
                                            <input class="form-control" value="{{ user.position|default:'' }}" disabled />
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                            <br />
                            {% bootstrap_field form.email form_group_class="form-group mb-0" %}
                            <small class="form-text text-muted mb-3">
                                Vous souhaitez mettre à jour votre adresse e-mail ?<br />
                                Veuillez nous <a href="{% url 'pages:contact' %}">contacter</a>.
                            </small>
                            <div class="form-group">
                                <label class="mb-0">Mot de passe</label>
                                <small class="form-text text-muted">
                                    Vous souhaitez mettre à jour votre mot de passe ?<br />
                                    Suivez les étapes ci-dessous :<br />
                                    &nbsp;&nbsp;1. Déconnectez-vous<br />
                                    &nbsp;&nbsp;2. Rendez-vous ensuite sur la page de connexion<br />
                                    &nbsp;&nbsp;3. Cliquez sur "Mot de passe oublié"<br />
                                </small>
                            </div>
                        </fieldset>
                    </div>

                    <div class="row mt-3 mt-lg-5 justify-content-end">
                        <div class="col-12 col-lg-auto px-5 px-lg-6">
                            <button type="submit" class="btn btn-primary btn-block btn-ico">
                                <span>Sauvegarder</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            {% if user.kind == 'SIAE' %}
            <div class="col-12 col-lg-4">
                <div class="alert alert-info mt-3 mt-lg-0" role="alert">
                    <p>
                        <strong>Vous souhaitez changer les champs "contact" de votre structure ?</strong><br />
                        Ca se passe maintenant directement sur la page de modification de votre structure<br />
                        (E-mail, Téléphone, Site internet…)
                    </p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
