{% extends "dashboard/siae_edit_base.html" %}

{% block content_siae_form %}
{% if form.errors %}
    <div class="alert alert-danger mb-3 mb-lg-5" role="alert">{{ form.errors }}</div>
{% endif %}

<form method="POST" action="" class="mb-3 mb-lg-5">
    {% csrf_token %}

    <h5>Informations & Contact</h5>

    <div class="row">
        <div class="col-8">
            <fieldset class="bg-white w-100 rounded-lg shadow-lg p-3 p-lg-5">
                <div class="form-group">
                    <label>
                        {{ form.contact_first_name.label }}
                    </label>
                    <div>
                        {{ form.contact_first_name }}
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        {{ form.contact_last_name.label }}
                    </label>
                    <div>
                        {{ form.contact_last_name }}
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        {{ form.contact_phone.label }}
                    </label>
                    <div>
                        {{ form.contact_phone }}
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        {{ form.contact_email.label }}
                    </label>
                    <div>
                        {{ form.contact_email }}
                    </div>
                </div>
                <div class="form-group">
                    <label>
                        {{ form.contact_website.label }}
                    </label>
                    <div>
                        {{ form.contact_website }}
                    </div>
                </div>
                <!-- Logo -->
            </fieldset>
        </div>
        <div class="col-4">
            <div role="alert" class="alert alert-info">
                <p>
                    <strong>Contact commercial</strong><br />
                    Les informations de contact seront mis à disposition des acheteurs afin de leur permettre de vous contacter facilement.
                </p>
            </div>
        </div>
    </div>

    <br />

    <h5>Données ASP de votre structure</h5>

    <div class="row">
        <div class="col-8">
            <fieldset class="bg-white w-100 rounded-lg shadow-lg p-3 p-lg-5">
                <div class="form-group row">
                    <label class="col-12 col-md-3 col-form-label">
                        {{ form.name.label }} <strong class="text-warning">*</strong>
                    </label>
                    <div class="col-12 col-md-9">
                        {{ form.name }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-md-3 col-form-label">
                        {{ form.brand.label }} <strong class="text-warning">*</strong>
                    </label>
                    <div class="col-12 col-md-9">
                        {{ form.brand }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-md-3 col-form-label">
                        {{ form.siret.label }} <strong class="text-warning">*</strong>
                    </label>
                    <div class="col-12 col-md-9">
                        {{ form.siret }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-md-3 col-form-label">
                        {{ form.kind.label }} <strong class="text-warning">*</strong>
                    </label>
                    <div class="col-12 col-md-9">
                        {{ form.kind }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-md-3 col-form-label">
                        {{ form.email.label }} <strong class="text-warning">*</strong>
                    </label>
                    <div class="col-12 col-md-9">
                        {{ form.email }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-md-3 col-form-label">
                        {{ form.phone.label }} <strong class="text-warning">*</strong>
                    </label>
                    <div class="col-12 col-md-9">
                        {{ form.phone }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-md-3 col-form-label">
                        {{ form.city.label }} <strong class="text-warning">*</strong>
                    </label>
                    <div class="col-12 col-md-9">
                        {{ form.city }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-md-3 col-form-label">
                        {{ form.post_code.label }} <strong class="text-warning">*</strong>
                    </label>
                    <div class="col-12 col-md-9">
                        {{ form.post_code }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-md-3 col-form-label">
                        {{ form.department.label }} <strong class="text-warning">*</strong>
                    </label>
                    <div class="col-12 col-md-9">
                        {{ form.department }}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-12 col-md-3 col-form-label">
                        {{ form.region.label }} <strong class="text-warning">*</strong>
                    </label>
                    <div class="col-12 col-md-9">
                        {{ form.region }}
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="row">
        <div class="col-12 offset-md-3 col-md-auto pt-3">
            <button type="submit" class="btn btn-primary btn-block btn-ico">
                <span>Enregistrer mes modification</span>
            </button>
        </div>
    </div>
</form>
{% endblock %}
