{% extends "dashboard/siae_edit_base.html" %}
{% load bootstrap4 %}

{% block content_siae_form %}
<form method="POST" action="" class="mb-3 mb-lg-5">
    {% csrf_token %}

    {% bootstrap_form_errors form type="all" %}

    <div class="row mb-3 mb-lg-5">
        <div class="col-12 col-lg-8">
            <div class="bg-white d-block rounded-lg shadow-lg p-3 p-lg-5">
                <fieldset>
                    <legend class="h4">Les informations en plus</legend>
                    {% bootstrap_field form.is_cocontracting %}
                </fieldset>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div role="alert" class="alert alert-info mt-3 mt-lg-0">
                <p>
                    <strong>Qu'est-ce que la co-traitance ?</strong><br />
                    En signalant que vous êtes ouvert à la co-traitance vous indiquez être prêt à répondre à un marché en groupement
                    avec d'autres structure pour mutualiser vos moyens professionels, techniques et financiers.
                </p>
            </div>
        </div>
    </div>
        
    <div class="row mb-3 mb-lg-5">
        <div class="col-12 col-lg-8">
            <div class="bg-white d-block rounded-lg shadow-lg p-3 p-lg-5">
                <fieldset>
                    <legend class="h4">Les réseaux</legend>
                    {% bootstrap_field form.networks show_label=False %}
                </fieldset>
            </div>
        </div>
    </div>
    
    <div class="row mb-3 mb-lg-5">
        <div class="col-12 col-lg-8">
            <div class="bg-white d-block rounded-lg shadow-lg p-3 p-lg-5">
                <fieldset>
                    <legend class="h4">Labels et certifications</legend>
                    {% bootstrap_formset_errors label_formset %}
                    {% if label_formset.errors %}
                        <div class="alert alert-danger" role="alert">{{ label_formset.errors }}</div>
                    {% endif %}

                    {% bootstrap_formset label_formset %}

                    <div id="label-formset-empty-form" class="d-none">{% bootstrap_form label_formset.empty_form %}</div>
                    <button id="label-formset-add-more" class="btn btn-outline-primary btn-sm btn-ico float-right" type="button">
                        <span>Ajouter un label</span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"/></svg>
                    </button>
                </fieldset>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div role="alert" class="alert alert-info mt-3 mt-lg-0">
                <p>
                    <strong>Pourquoi mettre des labels ?</strong><br />
                    Certains labels sont recherchés par nos acheteurs, c'est donc un plus de les rendre visible rapidement.<br />
                    Exemples : RSEI, ISO 14001, Ecocert…
                </p>
            </div>
        </div>
    </div>

    <div class="row mt-3 mt-lg-5 justify-content-end">
        <div class="col-12 col-lg-auto px-5 px-lg-6">
            <button type="submit" class="btn btn-primary btn-block">
                <span>Enregistrer mes modifications</span>
            </button>
        </div>
        <div class="col-12 col-lg-4"></div>
    </div>
</form>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    /**
     * Add formset items dynamically
     */
    const prefixRegex = new RegExp('__prefix__', 'g');

    // label formset
    const totalLabelFormset = document.getElementById('id_labels-TOTAL_FORMS');
    const labelFormsetEmptyForm = document.getElementById('label-formset-empty-form');
    const labelFormsetAddMoreButton = document.getElementById('label-formset-add-more');

    labelFormsetAddMoreButton.addEventListener('click', function(e) {
        if (e) { e.preventDefault(); }
        // add new form
        const copyLabelFormsetEmptyForm = labelFormsetEmptyForm.cloneNode(true);
        copyLabelFormsetEmptyForm.innerHTML = copyLabelFormsetEmptyForm.innerHTML.replace(prefixRegex, totalLabelFormset.value);
        copyLabelFormsetEmptyForm.childNodes.forEach(node => {
            labelFormsetEmptyForm.parentNode.insertBefore(node, labelFormsetEmptyForm);
        });
        // update total forms count
        totalLabelFormset.setAttribute('value', parseInt(totalLabelFormset.getAttribute('value'), 10) + 1);
    });
</script>
{% endblock %}
