{% extends "dashboard/siae_edit_base.html" %}
{% load bootstrap4 %}

{% block content_siae_form %}
<form method="POST" action="" class="mb-3 mb-lg-5">
    {% csrf_token %}

    {% bootstrap_form_errors form type="all" %}

    <h5>Présenter votre structure</h5>

    <div class="row">
        <div class="col-8">
            <fieldset class="bg-white w-100 rounded-lg shadow-lg p-3 p-lg-5">
                {% bootstrap_field form.description show_label=False %}
            </fieldset>
        </div>
        <div class="col-4">
            <div role="alert" class="alert alert-info">
                <p>
                    <strong>Présentation</strong><br />
                    En plus des secteurs d'activités, la présentation de votre structure permet aux acheteurs de faire un choix éclairé et de vous contacter.
                </p>
            </div>
        </div>
    </div>

    <br />
    
    <h5>Détails des prestations effectués <small class="text-muted">(matériels, lieux, savoirs faire…)</small></h5>

    <div class="row">
        <div class="col-8">
            <fieldset class="bg-white w-100 rounded-lg shadow-lg p-3 p-lg-5">
                {{ offer_formset.management_form }}
                {% for form in offer_formset %}
                    <div class="{{ offer_formset.prefix }}">
                        <div>{{ form }}</div>
                    </div>
                {% endfor %}
            </fieldset>
        </div>
        <div class="col-4">
            <div role="alert" class="alert alert-info">
                <p>
                    <strong>Prestations</strong><br />
                    En plus des secteurs d'activité, la présentation des prestations permet d'en savoir plus sur vos activités exactes.
                </p>
                <p>
                    Exemple de prestations de services : Nous transformons les fruits et légumes bio ou traditionnels en produits finis (soupes, compotes, confitures).
                    Nous avons le label ECOCERT pour la transformation des matières premières biologiques.
                </p>
            </div>
        </div>
    </div>

    <br />

    <h5>Références clients</h5>

    <div class="row">
        <div class="col-8">
            <fieldset class="bg-white w-100 rounded-lg shadow-lg p-3 p-lg-5">
                {{ client_reference_formset.management_form }}
                {% for form in client_reference_formset %}
                    <div class="{{ client_reference_formset.prefix }}">
                        <div>{{ form }}</div>
                    </div>
                {% endfor %}
            </fieldset>
        </div>
        <div class="col-4">
            <div role="alert" class="alert alert-info">
                <p>
                    <strong>Références clients</strong><br />
                    Avoir des références clients permet de donner confiance à vos futurs acheteurs et de les rassurer sur vos capacités à faire.
                </p>
                <p>
                    Vous vous demandez si vous avez le droit de mettre les logos de vos clients ? Le mieux est de leur poser la question avant de les mettre sur le site.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 pt-3">
            <button type="submit" class="btn btn-primary btn-ico">
                <span>Enregistrer mes modifications</span>
            </button>
        </div>
    </div>
</form>
{% endblock %}
