{% extends "dashboard/siae_edit_base.html" %}
{% load static bootstrap4 addstr %}

{% block extra_css %}
{{ form.media.css }}
{% endblock %}

{% block content_siae_form %}
<form method="POST" action="" class="mb-3 mb-lg-5">
    {% csrf_token %}

    {% bootstrap_form_errors form type="all" %}

    <div class="row mb-3 mb-lg-5">
        <div class="col-12 col-lg-8">
            <div class="bg-white d-block rounded-lg shadow-lg p-3 p-lg-5">
                <fieldset>
                    <legend class="h4">Votre structure est-elle adhérente à un réseau ou une fédération ?</legend>
                    {% bootstrap_field form.networks show_label=False %}
                </fieldset>
            </div>
        </div>
    </div>

    <div class="row mb-3 mb-lg-5">
        <div class="col-12 col-lg-8">
            <div class="bg-white d-block rounded-lg shadow-lg p-3 p-lg-5">
                <fieldset>
                    <legend class="h4">Êtes-vous ouvert à la co-traitance ou au groupement momentané d'entreprises (<a href="https://www.economie.gouv.fr/dae/groupement-momentane-dentreprises" target="_blank" rel="noopener">GME</a>) ?</legend>
                    {% bootstrap_field form.is_cocontracting show_label=False %}
                </fieldset>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="alert alert-info mt-3 mt-lg-0" role="alert">
                <p class="mb-1">
                    <i class="ri-information-line ri-lg"></i>
                    <strong>Co-traitance</strong>
                </p>
                <p class="mb-0">
                    Vous êtes prêt à travailler avec une autre structure de l'insertion ou une entreprise du milieu ordinaire.
                </p>
            </div>
        </div>
    </div>

    <div class="row mb-3 mb-lg-5">
        <div class="col-12 col-lg-8">
            <div class="bg-white d-block rounded-lg shadow-lg p-3 p-lg-5">
                <fieldset>
                    <legend class="h4">Appartenez-vous à un groupement ou ensemblier ?</legend>
                    {% bootstrap_field form.groups show_label=False %}
                </fieldset>
                <div class="alert alert-warning" role="alert">
                    <p class="mb-1">
                        <i class="ri-information-line ri-lg"></i>
                        <strong>Le groupement auquel vous appartenez n'apparaît pas dans la liste ?</strong>
                    </p>
                    <p class="mb-0">
                        Ajoutez le en <a href="{{ TYPEFORM_GROUPEMENT_AJOUT }}#data=user_id:{{ user.id }}" id="siae-group-add" target="_blank" rel="noopener">remplissant le formulaire</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3 mt-lg-5 justify-content-end">
        <div class="col-12 col-lg-auto px-5 px-lg-6">
            <button type="submit" class="btn btn-primary btn-block">
                <span>Enregistrer mes modifications</span>
            </button>
        </div>
        <div class="col-12 col-lg-4"></div>
    </div>
</form>
{% endblock %}

{% block extra_js %}
{{ form.media.js }}
{% endblock %}
