{% extends "dashboard/siae_edit_base.html" %}
{% load static %}
{% block content_siae_form %}
    <div class="fr-grid-row fr-grid-row--gutters fr-mb-4v">
        <div class="fr-col-lg-8">
            <h3>Ajoutez vos secteurs d'activité et recevez des opportunités commerciales ciblées</h3>
        </div>
        <div class="fr-col-lg-4">
            <a href="{% url 'dashboard_siaes:siae_edit_activities_create' siae.slug %}"
               id="siae-activities-create-btn"
               class="fr-btn fr-fi-add-circle-line fr-btn--icon-right fr-mt-1w">Ajouter un secteur d'activité</a>
        </div>
    </div>
    {% if siae.activities.count %}
        <div class="fr-grid-row fr-grid-row--gutters fr-mb-4v">
            {% for group, sectors in grouped_activities.items %}
                <div class="fr-col-12 fr-col-lg-8">{% include "siaes/_siae_activity_card.html" with group=group sectors=sectors %}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock content_siae_form %}
{% block modals %}
    {% include "dashboard/_siae_activity_delete_modal.html" %}
{% endblock modals %}
{% block extra_js %}
    <script type="text/javascript"
            src="{% static 'js/siae_activity_delete.js' %}"
    >
    </script>
    <script type="text/javascript"
            src="{% static 'js/perimeter_autocomplete_field.js' %}"
    >
    </script>

{% endblock extra_js %}
