{% extends "dashboard/siae_edit_base.html" %}
{% load static bootstrap4 addstr %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'vendor/dropzone-5.9.3/dropzone.min.css' %}" />
{% endblock %}

{% block content_siae_form %}
<form method="POST" action="" class="mb-3 mb-lg-5">
    {% csrf_token %}

    {% bootstrap_form_errors form type="all" %}
    
    <div class="row mb-3 mb-lg-5">
        <div class="col-12 col-lg-8">
            <div class="bg-white d-block rounded-lg shadow-lg p-3 p-lg-5">
                <fieldset>
                    <legend class="h3">Présenter votre structure</legend>
                    {% bootstrap_field form.description show_label=False %}
                </fieldset>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="alert alert-info mt-3 mt-lg-0" role="alert">
                <p class="mb-1">
                    <span class="prof_icon"><img src="{% static 'img/prof_info_circle.svg' %}" /></span>
                    <strong>Présentation</strong>
                </p>
                <p class="mb-0">
                    En plus des secteurs d'activités, la présentation de votre structure permet aux acheteurs
                    de faire un choix éclairé et de vous contacter.
                </p>
            </div>
        </div>
    </div>
        
    <div class="row mb-3 mb-lg-5">
        <div class="col-12 col-lg-8">
            <div class="bg-white d-block rounded-lg shadow-lg p-3 p-lg-5">
                <fieldset>
                    <legend class="h3">Détails des prestations effectués <small class="text-muted">(matériels, lieux, savoirs faire…)</small></legend>
                    {% bootstrap_formset_errors offer_formset %}
                    {% if offer_formset.errors %}
                        <div class="alert alert-danger" role="alert">{{ offer_formset.errors }}</div>
                    {% endif %}

                    {% bootstrap_formset offer_formset %}

                    <div id="offer-formset-empty-form" class="d-none">{% bootstrap_form offer_formset.empty_form %}</div>
                    <button id="offer-formset-add-more" class="btn btn-outline-primary btn-sm btn-ico float-right" type="button">
                        <span>Ajouter une prestation</span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"/></svg>
                    </button>
                </fieldset>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="alert alert-info mt-3 mt-lg-0" role="alert">
                <p class="mb-1">
                    <span class="prof_icon"><img src="{% static 'img/prof_info_circle.svg' %}" /></span>
                    <strong>Prestations</strong>
                </p>
                <p class="mb-1">
                    En plus des secteurs d'activité, la présentation des prestations permet d'en savoir plus sur vos activités exactes.
                </p>
                <p class="mb-0">
                    Exemple de prestations de services :
                    Nous transformons les fruits et légumes bio ou traditionnels en produits finis (soupes, compotes, confitures).
                    Nous avons le label ECOCERT pour la transformation des matières premières biologiques.
                </p>
            </div>
        </div>
    </div>
    
    <div class="row mb-3 mb-lg-5">
        <div class="col-12 col-lg-8">
            <div class="bg-white d-block rounded-lg shadow-lg p-3 p-lg-5">
                <fieldset>
                    <legend class="h3">Références clients</legend>
                    {% bootstrap_formset_errors client_reference_formset %}
                    {% if client_reference_formset.errors %}
                        <div class="alert alert-danger" role="alert">{{ client_reference_formset.errors }}</div>
                    {% endif %}

                    {{ client_reference_formset.management_form }}

                    {% for form in client_reference_formset %}
                        <div class="fieldset">
                            {% bootstrap_field form.id %}
                            {% bootstrap_field form.name %}
                            <!-- Logo -->
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        {{ form.logo_url.as_hidden }}
                                        {% with "id_client_references-"|addstr:forloop.counter0|addstr:"-logo_form" as id_logo_form %}
                                            <label for="{{ id_logo_form }}" class="js-display-if-javascript-enabled">Logo</label>
                                            {% include "storage/s3_upload_form.html" with dropzone_form_id=id_logo_form %}
                                        {% endwith %}
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Logo actuel</label>
                                        {% if form.logo_url.value %}
                                            <div>
                                                <img class="img-fluid" src="{{ form.logo_url.value }}" />
                                            </div>
                                        {% else %}
                                            <span class="form-text text-muted">Aucun</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% bootstrap_field form.DELETE %}
                        </div>
                        <hr />
                    {% endfor %}

                    <div id="client-reference-formset-empty-form" class="d-none">
                        <div class="form-group">
                            <label for="id_client_references-__prefix__-name">Nom</label>
                            <input type="text" name="client_references-__prefix__-name" maxlength="255" class="form-control" title="" id="id_client_references-__prefix__-name">
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <!-- <label for="id_client_references-__prefix__-logo_url">Lien vers le logo</label> -->
                                    <input type="hidden" name="client_references-__prefix__-logo_url" maxlength="500" class="form-control" title="" id="id_client_references-__prefix__-logo_url">
                                    <label for="id_client_references-__prefix__-logo_form" class="js-display-if-javascript-enabled">Logo</label>
                                    {% include "storage/s3_upload_form.html" with dropzone_form_id="id_client_references-__prefix__-logo_form" %}
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="client_references-__prefix__-id" id="id_client_references-__prefix__-id">
                        <div class="form-group">
                            <div class="form-check">
                                <input type="checkbox" name="client_references-__prefix__-DELETE" class="form-check-input" id="id_client_references-__prefix__-DELETE">
                                <label class="form-check-label" for="id_client_references-__prefix__-DELETE">Supprimer</label>
                            </div>
                        </div>
                        <input type="hidden" name="client_references-__prefix__-siae" id="id_client_references-__prefix__-siae">
                    </div>
                    <button id="client-reference-formset-add-more" class="btn btn-outline-primary btn-sm btn-ico float-right" type="button">
                        <span>Ajouter une référence</span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"/></svg>
                    </button>
                </fieldset>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="alert alert-info mt-3 mt-lg-0" role="alert">
                <p class="mb-1">
                    <span class="prof_icon"><img src="{% static 'img/prof_info_circle.svg' %}" /></span>
                    <strong>Références clients</strong>
                </p>
                <p class="mb-1">
                    Avoir des références clients permet de donner confiance à vos futurs acheteurs et de les rassurer sur vos capacités à faire.
                </p>
                <p class="mb-0">
                    Vous vous demandez si vous avez le droit de mettre les logos de vos clients ?
                    Le mieux est de leur poser la question avant de les mettre sur le site.
                </p>
            </div>
        </div>
    </div>

    <div class="row mb-3 mb-lg-5">
        <div class="col-12 col-lg-8">
            <div class="bg-white d-block rounded-lg shadow-lg p-3 p-lg-5">
                <fieldset>
                    <legend class="h3">Vos réalisations</legend>
                    {% bootstrap_formset_errors image_formset %}
                    {% if image_formset.errors %}
                        <div class="alert alert-danger" role="alert">{{ image_formset.errors }}</div>
                    {% endif %}

                    {{ image_formset.management_form }}

                    {% for form in image_formset %}
                        <div class="fieldset">
                            {% bootstrap_field form.id %}
                            {% bootstrap_field form.name %}
                            <!-- Image -->
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        {{ form.image_url.as_hidden }}
                                        {% with "id_images-"|addstr:forloop.counter0|addstr:"-image_form" as id_image_form %}
                                            <label for="{{ id_image_form }}" class="js-display-if-javascript-enabled">Image</label>
                                            {% include "storage/s3_upload_form.html" with dropzone_form_id=id_image_form %}
                                        {% endwith %}
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Image actuelle</label>
                                        {% if form.image_url.value %}
                                            <div>
                                                <img class="img-fluid" src="{{ form.image_url.value }}" />
                                            </div>
                                        {% else %}
                                            <span class="form-text text-muted">Aucun</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% bootstrap_field form.DELETE %}
                        </div>
                        <hr />
                    {% endfor %}

                    <div id="image-formset-empty-form" class="d-none">
                        <div class="form-group">
                            <label for="id_images-__prefix__-name">Nom</label>
                            <input type="text" name="images-__prefix__-name" maxlength="255" class="form-control" title="" id="id_images-__prefix__-name">
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <!-- <label for="id_images-__prefix__-image_url">Lien vers l'image</label> -->
                                    <input type="hidden" name="images-__prefix__-image_url" maxlength="500" class="form-control" title="" id="id_images-__prefix__-image_url">
                                    <label for="id_images-__prefix__-image_form" class="js-display-if-javascript-enabled">Image</label>
                                    {% include "storage/s3_upload_form.html" with dropzone_form_id="id_images-__prefix__-image_form" %}
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="images-__prefix__-id" id="id_images-__prefix__-id">
                        <div class="form-group">
                            <div class="form-check">
                                <input type="checkbox" name="images-__prefix__-DELETE" class="form-check-input" id="id_images-__prefix__-DELETE">
                                <label class="form-check-label" for="id_images-__prefix__-DELETE">Supprimer</label>
                            </div>
                        </div>
                        <input type="hidden" name="images-__prefix__-siae" id="id_images-__prefix__-siae">
                    </div>
                    <button id="image-formset-add-more" class="btn btn-outline-primary btn-sm btn-ico float-right" type="button">
                        <span>Ajouter une image</span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"/></svg>
                    </button>
                </fieldset>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div role="alert" class="alert alert-info mt-3 mt-lg-0">
                <p class="mb-1">
                    <span class="prof_icon"><img src="{% static 'img/prof_info_circle.svg' %}" /></span>
                    <strong>Réalisations</strong>
                </p>
                <p class="mb-0">
                    Ces images s'afficheront tout en bas de votre fiche.
                </p>
            </div>
        </div>
    </div>

    <div class="row mt-3 mt-lg-5 justify-content-end">
        <div class="col-12 col-lg-auto px-5 px-lg-6">
            <button type="submit" class="btn btn-primary btn-block">
                <span>Enregistrer mes modifications</span>
            </button>
        </div>
        <div class="col-12 col-lg-4"></div>
    </div>
</form>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'vendor/dropzone-5.9.3/dropzone.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/s3_upload.js' %}"></script>
{{ s3_form_values_client_reference_logo|json_script:"s3-form-values-client-reference-logo" }}
{{ s3_upload_config_client_reference_logo|json_script:"s3-upload-config-client-reference-logo" }}
{{ s3_form_values_siae_image|json_script:"s3-form-values-siae-image" }}
{{ s3_upload_config_siae_image|json_script:"s3-upload-config-siae-image" }}
<script type="text/javascript">
// init dropzones
Array.from(document.querySelectorAll(".dropzone")).forEach(function(element) {
    if (element.id.includes("logo_form")) {
        s3UploadInit({
            dropzoneSelector: `#${element.id}`,
            callbackLocationSelector: `#${element.id.replace('logo_form', 'logo_url')}`,
            s3FormValuesId: "s3-form-values-client-reference-logo",
            s3UploadConfigId: "s3-upload-config-client-reference-logo",
            // Not really nice
            sentryInternalUrl: "{% url 'pages:sentry_debug' %}",
            sentryCsrfToken: "{{ csrf_token }}"
        });
    }
    if (element.id.includes("image_form")) {
        s3UploadInit({
            dropzoneSelector: `#${element.id}`,
            callbackLocationSelector: `#${element.id.replace('image_form', 'image_url')}`,
            s3FormValuesId: "s3-form-values-siae-image",
            s3UploadConfigId: "s3-upload-config-siae-image",
            // Not really nice
            sentryInternalUrl: "{% url 'pages:sentry_debug' %}",
            sentryCsrfToken: "{{ csrf_token }}"
        });
    }
})
</script>
<script type="text/javascript">
/**
 * Add formset items dynamically
 */
const prefixRegex = new RegExp('__prefix__', 'g');

// offer formset
const totalOfferFormset = document.getElementById('id_offers-TOTAL_FORMS');
const offerFormsetEmptyForm = document.getElementById('offer-formset-empty-form');
const offerFormsetAddMoreButton = document.getElementById('offer-formset-add-more');

offerFormsetAddMoreButton.addEventListener('click', function(e) {
    if (e) { e.preventDefault(); }
    // add new form
    const copyOfferFormsetEmptyForm = offerFormsetEmptyForm.cloneNode(true);
    copyOfferFormsetEmptyForm.innerHTML = copyOfferFormsetEmptyForm.innerHTML.replace(prefixRegex, totalOfferFormset.value);
    copyOfferFormsetEmptyForm.childNodes.forEach(node => {
        offerFormsetEmptyForm.parentNode.insertBefore(node, offerFormsetEmptyForm);
    });
    // update total forms count
    totalOfferFormset.setAttribute('value', parseInt(totalOfferFormset.getAttribute('value'), 10) + 1);
});

// client reference formset
const clientReferenceIdString = 'id_client_references';
const clientReferenceFormsetString = 'client-reference-formset';
const totalClientReferenceFormset = document.getElementById(`${clientReferenceIdString}-TOTAL_FORMS`);
const clientReferenceFormsetEmptyForm = document.getElementById(`${clientReferenceFormsetString}-empty-form`);
const clientReferenceFormsetAddMoreButton = document.getElementById(`${clientReferenceFormsetString}-add-more`);

clientReferenceFormsetAddMoreButton.addEventListener('click', function(e) {
    if (e) { e.preventDefault(); }
    // add new form
    const copyClientReferenceFormsetEmptyForm = clientReferenceFormsetEmptyForm.cloneNode(true);
    copyClientReferenceFormsetEmptyForm.innerHTML = copyClientReferenceFormsetEmptyForm.innerHTML.replace(prefixRegex, totalClientReferenceFormset.value);
    // copyClientReferenceFormsetEmptyForm.childNodes.forEach(node => {
    //     clientReferenceFormsetEmptyForm.parentNode.insertBefore(node, clientReferenceFormsetEmptyForm);
    // });
    copyClientReferenceFormsetEmptyForm.setAttribute('id', '');
    copyClientReferenceFormsetEmptyForm.setAttribute('class', '');
    clientReferenceFormsetEmptyForm.parentNode.insertBefore(copyClientReferenceFormsetEmptyForm, clientReferenceFormsetEmptyForm);
    // add dropzone
    s3UploadInit({
        dropzoneSelector: `#${clientReferenceIdString}-${totalClientReferenceFormset.value}-logo_form`,
        callbackLocationSelector: `#${clientReferenceIdString}-${totalClientReferenceFormset.value}-logo_url`,
        s3FormValuesId: "s3-form-values-client-reference-logo",
        s3UploadConfigId: "s3-upload-config-client-reference-logo",
        // Not really nice
        sentryInternalUrl: "{% url 'pages:sentry_debug' %}",
        sentryCsrfToken: "{{ csrf_token }}"
    });
    // update total forms count
    totalClientReferenceFormset.setAttribute('value', parseInt(totalClientReferenceFormset.getAttribute('value'), 10) + 1);
});

// image formset
const imageIdString = 'id_images';
const imageFormsetString = 'image-formset';
const totalImageFormset = document.getElementById(`${imageIdString}-TOTAL_FORMS`);
const imageFormsetEmptyForm = document.getElementById(`${imageFormsetString}-empty-form`);
const imageFormsetAddMoreButton = document.getElementById(`${imageFormsetString}-add-more`);

imageFormsetAddMoreButton.addEventListener('click', function(e) {
    if (e) { e.preventDefault(); }
    // add new form
    const copyImageFormsetEmptyForm = imageFormsetEmptyForm.cloneNode(true);
    copyImageFormsetEmptyForm.innerHTML = copyImageFormsetEmptyForm.innerHTML.replace(prefixRegex, totalImageFormset.value);
    // copyImageFormsetEmptyForm.childNodes.forEach(node => {
    //     imageFormsetEmptyForm.parentNode.insertBefore(node, imageFormsetEmptyForm);
    // });
    copyImageFormsetEmptyForm.setAttribute('id', '');
    copyImageFormsetEmptyForm.setAttribute('class', '');
    imageFormsetEmptyForm.parentNode.insertBefore(copyImageFormsetEmptyForm, imageFormsetEmptyForm);
    // add dropzone
    s3UploadInit({
        dropzoneSelector: `#${imageIdString}-${totalImageFormset.value}-image_form`,
        callbackLocationSelector: `#${imageIdString}-${totalImageFormset.value}-image_url`,
        s3FormValuesId: "s3-form-values-siae-image",
        s3UploadConfigId: "s3-upload-config-siae-image",
        // Not really nice
        sentryInternalUrl: "{% url 'pages:sentry_debug' %}",
        sentryCsrfToken: "{{ csrf_token }}"
    });
    // update total forms count
    totalImageFormset.setAttribute('value', parseInt(totalImageFormset.getAttribute('value'), 10) + 1);
});
</script>
{% endblock %}
