{% extends "dashboard/siae_edit_base.html" %}
{% load bootstrap4 %}

{% block content_siae_form %}
<form method="POST" action="" class="mb-3 mb-lg-5">
    {% csrf_token %}

    {% bootstrap_form_errors form type="all" %}

    <h5>Informations & Contact</h5>

    <div class="row">
        <div class="col-8">
            <fieldset class="bg-white w-100 rounded-lg shadow-lg p-3 p-lg-5">
                {% bootstrap_field form.contact_first_name %}
                {% bootstrap_field form.contact_last_name %}
                {% bootstrap_field form.contact_phone %}
                {% bootstrap_field form.contact_email %}
                {% bootstrap_field form.contact_website %}
                <!-- Logo -->
            </fieldset>
        </div>
        <div class="col-4">
            <div role="alert" class="alert alert-info">
                <p>
                    <strong>Contact commercial</strong><br />
                    Les informations de contact seront mis à disposition des acheteurs afin de leur permettre de vous contacter facilement.
                </p>
            </div>
        </div>
    </div>

    <br />

    <h5>Données ASP de votre structure</h5>

    <div class="row">
        <div class="col-8">
            <fieldset class="bg-white w-100 rounded-lg shadow-lg p-3 p-lg-5">
                {% bootstrap_field form.name layout="horizontal" label_class="col-12 col-md-3 col-form-label" field_class="col-12 col-md-9" %}
                {% bootstrap_field form.brand layout="horizontal" label_class="col-12 col-md-3 col-form-label" field_class="col-12 col-md-9" %}
                {% bootstrap_field form.siret layout="horizontal" label_class="col-12 col-md-3 col-form-label" field_class="col-12 col-md-9" %}
                {% bootstrap_field form.kind layout="horizontal" label_class="col-12 col-md-3 col-form-label" field_class="col-12 col-md-9" %}
                {% bootstrap_field form.email layout="horizontal" label_class="col-12 col-md-3 col-form-label" field_class="col-12 col-md-9" %}
                {% bootstrap_field form.phone layout="horizontal" label_class="col-12 col-md-3 col-form-label" field_class="col-12 col-md-9" %}
                {% bootstrap_field form.city layout="horizontal" label_class="col-12 col-md-3 col-form-label" field_class="col-12 col-md-9" %}
                {% bootstrap_field form.post_code layout="horizontal" label_class="col-12 col-md-3 col-form-label" field_class="col-12 col-md-9" %}
                {% bootstrap_field form.department layout="horizontal" label_class="col-12 col-md-3 col-form-label" field_class="col-12 col-md-9" %}
                {% bootstrap_field form.region layout="horizontal" label_class="col-12 col-md-3 col-form-label" field_class="col-12 col-md-9" %}
            </fieldset>
        </div>
    </div>

    <div class="row">
        <div class="col-12 pt-3">
            <button type="submit" class="btn btn-primary btn-ico">
                <span>Enregistrer mes modifications</span>
            </button>
        </div>
    </div>
</form>
{% endblock %}
