{% extends "dashboard/siae_edit_base.html" %}
{% load static bootstrap4 %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'vendor/dropzone-5.9.3/dropzone.min.css' %}" />
{% endblock %}

{% block content_siae_form %}
<form method="POST" action="" class="mb-3 mb-lg-5">
    {% csrf_token %}

    {% bootstrap_form_errors form type="all" %}
    
    <div class="row mb-3 mb-lg-5">
        <div class="col-12 col-lg-8">
            <div class="bg-white d-block rounded-lg shadow-lg p-3 p-lg-5">
                <fieldset>
                    <legend class="h4">Informations & Contact</legend>
                    {% bootstrap_field form.contact_first_name %}
                    {% bootstrap_field form.contact_last_name %}
                    {% bootstrap_field form.contact_website %}
                    {% bootstrap_field form.contact_email %}
                    {% bootstrap_field form.contact_phone %}
                    <!-- Logo -->
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                {{ form.logo_url.as_hidden }}
                                <label for="logo_form" class="js-display-if-javascript-enabled">Logo</label>
                                {% include "storage/s3_upload_form.html" with dropzone_form_id="logo_form" %}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Logo actuel</label>
                                {% if form.logo_url.value %}
                                    <div>
                                        <img class="img-fluid" src="{{ form.logo_url.value }}" />
                                    </div>
                                {% else %}
                                    <span class="form-text text-muted">Aucun</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="alert alert-info mt-3 mt-lg-0" role="alert">
                <p class="mb-1">
                    <span class="prof_icon"><img src="{% static 'img/prof_info_circle.svg' %}" /></span>
                    <strong>Contact commercial</strong>
                </p>
                <p class="mb-0">
                    Les informations de contact seront mis à disposition des acheteurs afin de leur permettre de vous contacter facilement.
                </p>
            </div>
        </div>
    </div>
   
    <div class="row mb-3 mb-lg-5">
        <div class="col-12 col-lg-8">
            <div class="bg-white d-block rounded-lg shadow-lg p-3 p-lg-5">
                <fieldset>
                    <legend class="h4">Données {% if siae.kind == 'ESAT' %}GESAT/Handeco{% else %}ASP{% endif %} de votre structure</legend>
                    {% bootstrap_field form.name %}
                    {% bootstrap_field form.brand %}
                    {% bootstrap_field form.siret %}
                    {% bootstrap_field form.kind %}
                    {% bootstrap_field form.website %}
                    {% bootstrap_field form.email %}
                    {% bootstrap_field form.phone %}
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            {% bootstrap_field form.address %}
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="map-holder">
                                <div id="map-siae-edit" class="map-canvas"></div>
                            </div>
                        </div>
                    </div>
                    
                    {% bootstrap_field form.city %}
                    {% bootstrap_field form.post_code %}
                    {% bootstrap_field form.department %}
                    {% bootstrap_field form.region %}
                </fieldset>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="alert alert-info mt-3 mt-lg-0" role="alert">
                <p class="mb-1">
                    <span class="prof_icon"><img src="{% static 'img/prof_info_circle.svg' %}" /></span>
                    <strong>Données source</strong>
                </p>
                <p class="mb-1">
                    Les informations reçues concernant votre structure.
                </p>
                <p class="mb-0">
                    Si vous souhaitez mettre à jour vos informations de contact, vous pouvez le faire à l'aide du formulaire ci-dessus.
                </p>
            </div>
            {% if not siae.department or not siae.region or not siae.coords %}
            <div class="alert alert-warning mt-3 mt-lg-0" role="alert">
                <p class="mb-1">
                    <span class="prof_icon"><img src="{% static 'img/prof_info_circle.svg' %}" /></span>
                    <strong>Localisation incomplète</strong>
                </p>
                <p class="mb-1">
                    Il semblerait que les données de localisation (département, région, coordonnées GPS...) de votre structure soient incomplètes.
                </p>
                <p class="mb-0">
                    Si vous voyez des erreurs, aidez-nous à les réparer en <a href="{% url 'pages:contact' %}?siret={{ siae.siret }}">nous contactant</a>.
                </p>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="row mb-3 mb-lg-5">
        <div class="col-12 col-lg-8">
            <div class="bg-white d-block rounded-lg shadow-lg p-3 p-lg-5">
                <fieldset>
                    <legend class="h4">Données tierces</legend>
                    {% bootstrap_field form.api_entreprise_date_constitution %} <!-- |date:"d/m/Y" -->
                    {% bootstrap_field form.api_entreprise_employees %}
                </fieldset>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="alert alert-info mt-3 mt-lg-0" role="alert">
                <p class="mb-1">
                    <span class="prof_icon"><img src="{% static 'img/prof_info_circle.svg' %}" /></span>
                    <strong>D'où viennent ces données ?</strong>
                </p>
                <p class="mb-0">
                    Elles ont été récupérées en requêtant <a href="https://entreprise.api.gouv.fr/" target="_blank" rel="noopener">l'API Entreprise</a> avec votre SIRET.
                </p>
            </div>
            {% if not siae.department or not siae.region or not siae.coords %}
            <div class="alert alert-warning mt-3 mt-lg-0" role="alert">
                <p class="mb-1">
                    <span class="prof_icon"><img src="{% static 'img/prof_info_circle.svg' %}" /></span>
                    <strong>Localisation incomplète</strong>
                </p>
                <p class="mb-1">
                    Il semblerait que les données de localisation (département, région, coordonnées GPS...) de votre structure soient incomplètes.
                </p>
                <p class="mb-0">
                    Si vous voyez des erreurs, aidez-nous à les réparer en <a href="{% url 'pages:contact' %}?siret={{ siae.siret }}">nous contactant</a>.
                </p>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="row mt-3 mt-lg-5 justify-content-end">
        <div class="col-12 col-lg-auto px-5 px-lg-6">
            <button type="submit" class="btn btn-primary btn-block">
                <span>Enregistrer mes modifications</span>
            </button>
        </div>
        <div class="col-12 col-lg-4"></div>
    </div>

</form>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'vendor/dropzone-5.9.3/dropzone.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/s3_upload.js' %}"></script>
{{ s3_form_values|json_script:"s3-form-values" }}
{{ s3_upload_config|json_script:"s3-upload-config" }}
<script type="text/javascript">
s3UploadInit({
    dropzoneSelector: "#logo_form",
    callbackLocationSelector: "#{{ form.logo_url.id_for_label }}",
    s3FormValuesId: "s3-form-values",
    s3UploadConfigId: "s3-upload-config",
    // Not really nice
    sentryInternalUrl: "{% url 'pages:sentry_debug' %}",
    sentryCsrfToken: "{{ csrf_token }}"
});
</script>
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
    // siae coords output as floats with commas. We need to transform them into floats.
    const siaeName = "{{ siae.name }}";
    const siaeBrand = "{{ siae.brand|default:'' }}";
    const siaeLatitudeString = "{{ siae.coords.x }}";
    const siaeLongitudeString = "{{ siae.coords.y }}";
    const siaeLatitudeFloat = parseFloat(siaeLatitudeString.replace(',', '.'));
    const siaeLongitudeFloat = parseFloat(siaeLongitudeString.replace(',', '.'));

    // init map
    var map = L.map('map-siae-edit').setView([siaeLongitudeFloat, siaeLatitudeFloat], 13);

    // map tiles
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        maxZoom: 19,
        zoomControl: false,
    }).addTo(map);

    // map zoom controls in the bottom right
    map.zoomControl.remove();
    L.control.zoom({ position: 'bottomright' }).addTo(map);

    // create custom marker (because of static url issues)
    var customLeafletIcon = L.icon({
        'iconUrl': "{% static 'vendor/leaflet-1.7.1/images/marker-icon.png' %}",
        'shadowUrl': "{% static 'vendor/leaflet-1.7.1/images/marker-shadow.png' %}",
        iconSize: [25,41],
        iconAnchor: [12,41],
        popupAnchor:[1,-34],
        tooltipAnchor:[16,-28],
        shadowSize:[41,41],
    });

    // add marker (with popup on click)
    var siaeDisplayName = siaeBrand ? siaeBrand : siaeName;
    L.marker([siaeLongitudeFloat, siaeLatitudeFloat], {icon: customLeafletIcon})
    .bindPopup(`<p class="h6">${siaeDisplayName}</p></a>`)
    .addTo(map);
});
</script>
{% endblock %}
