{% extends "dashboard/siae_edit_base.html" %}
{% load static dsfr_tags %}
{% block content_siae_form %}
    <form method="post" action="">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <section class="fr-my-4v fr-input-group fr-input-group--error">
                {{ form.non_field_errors }}
            </section>
        {% endif %}
        <div class="fr-grid-row fr-mb-4v">
            <div class="fr-col-12">
                <h3>Réferencez efficacement votre structure dans les résultats de recherche</h3>
                <div class="fr-alert fr-alert--warning">
                    <p>
                        Les informations ne sont actuellement plus éditables, car la refonte de cette fonctionnalité est en cours de déploiement.
                    </p>
                </div>
            </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters fr-mb-4v">
            <div class="fr-col-12 fr-col-lg-8">{% dsfr_form_field form.presta_type %}</div>
            <div class="fr-col-12 fr-col-lg-4">
                <div class="fr-callout fr-p-4v">
                    <h3 class="fr-callout__title fr-text--sm">
                        <span class="fr-icon-lightbulb-line" aria-hidden="true"></span> Type de prestation
                    </h3>
                    <p class="fr-callout__text fr-text--sm fr-pl-7v">
                        Vous pourrez ensuite détailler vos prestations dans l'onglet <strong>offre commerciale</strong>.
                    </p>
                </div>
            </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters fr-mb-4v">
            <div class="fr-col-12 fr-col-lg-8">
                {% dsfr_form_field form.geo_range %}
                {{ form.geo_range_custom_distance }}
            </div>
            <div class="fr-col-12 fr-col-lg-4">
                <div class="fr-callout fr-p-4v">
                    <h3 class="fr-callout__title fr-text--sm">
                        <span class="fr-icon-lightbulb-line" aria-hidden="true"></span> Périmètre d'intervention
                    </h3>
                    <p class="fr-callout__text fr-text--sm fr-pl-7v">
                        Le périmètre d'intervention est un critère essentiel dans le choix des acheteurs.
                        Il est nécessaire de bien le renseigner.
                    </p>
                </div>
            </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters fr-mb-4v">
            <div class="fr-col-12 fr-col-lg-8">{% dsfr_form_field form.sectors %}</div>
            <div class="fr-col-12 fr-col-lg-4">
                <div class="fr-callout fr-p-4v">
                    <h3 class="fr-callout__title fr-text--sm">
                        <span class="fr-icon-lightbulb-line" aria-hidden="true"></span> Secteurs d'activité
                    </h3>
                    <p class="fr-callout__text fr-text--sm fr-pl-7v">
                        Améliorez votre référencement en indiquant tous les secteurs d'activités sur lesquels votre struture est positionnée.
                    </p>
                </div>
            </div>
        </div>
    </form>
{% endblock content_siae_form %}
{% block extra_js %}
    <script type="text/javascript"
            src="{% static 'js/siae_geo_range_field.js' %}"></script>
{% endblock extra_js %}
