{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Modifier ma structure{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg">
                <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'dashboard:home' %}">Mon espace</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ siae.name }} : modifier</li>
                    </ol>
                </nav>
            </div>
            <div class="col-12 col-lg-auto pt-3">
                <a href="{% url 'siae:detail' siae.slug %}" target="_blank" class="btn btn-outline-primary btn-sm btn-block btn-ico">
                    <span>Voir la fiche</span>
                    <i class="ri-eye-line ri-lg"></i>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="pt-4 pb-6">
    <div class="container">
        <!-- Nudge to fill SIAE -->
        {% if siae.is_missing_content %}
            <div class="alert alert-warning mb-4" role="alert">
                <p class="mb-1">
                    <span class="prof_icon"><img src="{% static 'img/prof_info_circle.svg' %}" /></span>
                    <strong>Votre fiche n'est pas complète, et donc moins visible par les acheteurs.</strong>
                </p>
                <ol class="mb-0">
                    {% if not siae.contact_website and not siae.contact_email and not siae.contact_phone %}
                        <li><a href="{% url 'dashboard:siae_edit_info_contact' siae.slug %}">Complétez vos informations & contact</a></li>
                    {% endif %}
                    {% if not siae.sector_count %}
                        <li><a href="{% url 'dashboard:siae_edit_offer' siae.slug %}">Ajoutez un ou plusieurs secteurs d'activité</a></li>
                    {% endif %}
                    {% if not siae.description or not siae.offer_count %}
                        <li><a href="{% url 'dashboard:siae_edit_presta' siae.slug %}">Ajoutez une description & au moins une offre de prestation</a></li>
                    {% endif %}
                    {% if not siae.label_count %}
                        <li><a href="{% url 'dashboard:siae_edit_other' siae.slug %}">Ajoutez des labels & certifications</a></li>
                    {% endif %}
                </ol>
            </div>
        {% endif %}

        <!-- Navigation -->
        <div class="row mb-3 mb-lg-5">
            <div class="col-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="{% url 'dashboard:siae_edit_info_contact' siae.slug %}" class="nav-link {% if 'contact' in request.path %}active font-weight-bold{% endif %}">
                            Informations & Contact
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'dashboard:siae_edit_offer' siae.slug %}" class="nav-link {% if 'offre' in request.path %}active font-weight-bold{% endif %}">
                            Votre offre commerciale
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'dashboard:siae_edit_presta' siae.slug %}" class="nav-link {% if 'prestation' in request.path %}active font-weight-bold{% endif %}">
                            Vos prestations
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'dashboard:siae_edit_other' siae.slug %}" class="nav-link {% if 'autre' in request.path %}active font-weight-bold{% endif %}">
                            Les plus
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        {% block content_siae_form %}{% endblock %}

    </div>
</section>
{% endblock %}
