{% extends "dashboard/siae_edit_base.html" %}
{% load static bootstrap4 get_verbose_name %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'vendor/dropzone-5.9.3/dropzone.min.css' %}" />
{% endblock %}

{% block content_siae_form %}
<form method="POST" action="" class="mb-3 mb-lg-5">
    {% csrf_token %}

    {% bootstrap_form_errors form type="all" %}

    <div class="row mb-3 mb-lg-5">
        <div class="col-12 col-lg-8">
            <div class="bg-white d-block rounded-lg shadow-lg p-3 p-lg-5">
                <fieldset>
                    {% bootstrap_field form.description %}
                    <!-- Logo -->
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                {{ form.logo_url.as_hidden }}
                                <label for="logo_form" class="js-display-if-javascript-enabled">Importez votre logo</label>
                                {% include "storage/s3_upload_form.html" with dropzone_form_id="logo_form" %}
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Logo actuel</label>
                                {% if form.logo_url.value %}
                                    <div>
                                        <img class="img-fluid" src="{{ form.logo_url.value }}" />
                                    </div>
                                {% else %}
                                    <span class="form-text text-muted">Aucun</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    <div class="row mb-3 mb-lg-5">
        <div class="col-12 col-lg-8">
            <div class="bg-white d-block rounded-lg shadow-lg p-3 p-lg-5">
                <fieldset>
                    <legend class="h5">Indiquez le chiffre d'affaire de votre structure</legend>
                    {% bootstrap_field form.ca show_label=False %}
                </fieldset>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="alert alert-info mt-3 mt-lg-0" role="alert">
                <p class="mb-1">
                    <i class="ri-information-line ri-lg"></i>
                    <strong>Conseil</strong>
                </p>
                <p class="mb-0">
                    Votre chiffre d'affaire est un élément d'information important aux yeux des acheteurs.
                    Il permet de rendre compte de votre dimension et de votre capacité à répondre à certains marchés et appels d'offres.
                </p>
            </div>
        </div>
    </div>

    <div class="row mb-3 mb-lg-5">
        <div class="col-12 col-lg-8">
            <div class="bg-white d-block rounded-lg shadow-lg p-3 p-lg-5">
                <fieldset>
                    <legend class="h5">Année de création de votre structure</legend>
                    {% bootstrap_field form.year_constitution show_label=False %}
                </fieldset>
            </div>
        </div>
    </div>

    <div class="row mb-3 mb-lg-5">
        <div class="col-12 col-lg-8">
            <div class="bg-white d-block rounded-lg shadow-lg p-3 p-lg-5">
                <fieldset>
                    <legend class="h5">{% get_verbose_name siae 'employees_insertion_count' %}</legend>
                    {% bootstrap_field form.employees_insertion_count show_label=False %}
                </fieldset>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="alert alert-info mt-3 mt-lg-0" role="alert">
                <p class="mb-1">
                    <i class="ri-information-line ri-lg"></i>
                    <strong>Conseil</strong>
                </p>
                <p class="mb-0">
                    Le nombre de salariés en insertion démontre à la fois votre capacité de production et l'impact social de votre structure.
                </p>
            </div>
        </div>
    </div>

    <div class="row mb-3 mb-lg-5">
        <div class="col-12 col-lg-8">
            <div class="bg-white d-block rounded-lg shadow-lg p-3 p-lg-5">
                <fieldset>
                    <legend class="h5">{% get_verbose_name siae 'employees_permanent_count' %}</legend>
                    {% bootstrap_field form.employees_permanent_count show_label=False %}
                </fieldset>
            </div>
        </div>
    </div>

    <div class="row mb-3 mb-lg-5">
        <div class="col-12 col-lg-8">
            <div class="bg-white d-block rounded-lg shadow-lg p-3 p-lg-5">
                <fieldset>
                    <legend class="h4">Labels et certifications</legend>
                    {% bootstrap_formset_errors label_formset %}
                    {% if label_formset.errors %}
                        <div class="alert alert-danger" role="alert">{{ label_formset.errors }}</div>
                    {% endif %}

                    {% bootstrap_formset label_formset %}

                    <div id="label-formset-empty-form" class="d-none">{% bootstrap_form label_formset.empty_form %}</div>
                    <button id="label-formset-add-more" class="btn btn-outline-primary btn-sm btn-ico float-right" type="button">
                        <span>Ajouter un label</span>
                        <i class="ri-add-fill ri-lg"></i>
                    </button>
                </fieldset>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="alert alert-info mt-3 mt-lg-0" role="alert">
                <p class="mb-1">
                    <i class="ri-information-line ri-lg"></i>
                    <strong>Pourquoi mettre des labels ?</strong>
                </p>
                <p class="mb-0">
                    Certains labels sont recherchés par nos acheteurs, c'est donc un plus de les rendre visible rapidement.<br />
                    Exemples : RSEI, ISO 14001, Ecocert…
                </p>
            </div>
        </div>
    </div>

    <div class="row mb-3 mb-lg-5">
        <div class="col-12 col-lg-8">
            <div class="siae-details-card align-items-start">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="h2 mb-3 mt-1">{{ siae.name_display }}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="row" aria-label="{% get_verbose_name siae 'siret' %}">
                            <div class="col-12 mb-3">
                                <i class="ri-profile-line"></i>
                                <span>{{ siae.siret_display }}</span>
                            </div>
                        </div>
                        <div class="row" aria-label="{% get_verbose_name siae 'kind' %}">
                            <div class="col-12 mb-3">
                                <i class="ri-building-4-line"></i>
                                <span>{{ siae.get_kind_display }}</span>
                            </div>
                        </div>
                        <div class="row" aria-label="{% get_verbose_name siae 'address' %}">
                            <div class="col-12 mb-3">
                                <i class="ri-map-pin-line"></i>
                                <span>{{ siae.address }},</span>
                                <span>{{ siae.post_code }},</span>
                                <span>{{ siae.city }},</span>
                                <span>{{ siae.department }},</span>
                                <span>{{ siae.region }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="row" aria-label="{% get_verbose_name siae 'api_entreprise_date_constitution' %}">
                            <div class="col-12 mb-3">
                                <span>Année de création :</span>
                                <span>{{ siae.api_entreprise_date_constitution|date:"Y"|default:"" }}</span>
                            </div>
                        </div>
                        <div class="row" aria-label="{% get_verbose_name siae 'api_entreprise_employees' %}">
                            <div class="col-12 mb-3">
                                <span>{% if siae.kind == 'SEP' %}Travailleurs détenus{% else %}Salariés{% endif %} :</span>
                                <span>{{ siae.api_entreprise_employees|default:"non disponible" }}</span>
                            </div>
                        </div>
                        <div class="row" aria-label="{% get_verbose_name siae 'api_entreprise_ca' %}">
                            <div class="col-12 mb-3">
                                <span>Chiffre d'affaire :</span>
                                <span>{{ siae.api_entreprise_ca|default:"non disponible" }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% if siae.is_qpv or siae.is_zrr %}
                    <div class="row">
                        <div class="col-12 col-md-6">
                            {% if siae.is_qpv %}
                                <div class="row" aria-label="{% get_verbose_name siae 'is_qpv' %}">
                                    <div class="col-12 mb-3">
                                        <span>QPV : {{ siae.qpv_name }} ({{ siae.qpv_code }})</span>
                                    </div>
                                </div>
                            {% endif %}
                            {% if siae.is_zrr %}
                                <div class="row" aria-label="{% get_verbose_name siae 'is_zrr' %}">
                                    <div class="col-12 mb-3">
                                        <span>ZRR : {{ siae.zrr_name }} ({{ siae.zrr_code }})</span>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="alert alert-info mt-3 mt-lg-0" role="alert">
                <p class="mb-1">
                    <i class="ri-information-line ri-lg"></i>
                    <strong>Conseil</strong>
                </p>
                <p class="mb-0">
                    Toutes les informations affichées ici sont en provenance de {{ siae.source_display }} et de données ouvertes (API Entreprise, API QPV et API ZRR).
                </p>
            </div>
        </div>
    </div>

    <div class="row mt-3 mt-lg-5 justify-content-end">
        <div class="col-12 col-lg-auto px-5 px-lg-6">
            <button type="submit" class="btn btn-primary btn-block">
                <span>Enregistrer mes modifications</span>
            </button>
        </div>
        <div class="col-12 col-lg-4"></div>
    </div>
</form>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'vendor/dropzone-5.9.3/dropzone.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/s3_upload.js' %}"></script>
{{ s3_form_values_siae_logo|json_script:"s3-form-values-siae-logo" }}
{{ s3_upload_config_siae_logo|json_script:"s3-upload-config-siae-logo" }}
<script type="text/javascript">
// init dropzone
s3UploadInit({
    dropzoneSelector: "#logo_form",
    callbackLocationSelector: "#{{ form.logo_url.id_for_label }}",
    s3FormValuesId: "s3-form-values-siae-logo",
    s3UploadConfigId: "s3-upload-config-siae-logo",
    // Not really nice
    sentryInternalUrl: "{% url 'pages:sentry_debug' %}",
    sentryCsrfToken: "{{ csrf_token }}"
});
</script>
<script type="text/javascript">
/**
 * Add formset items dynamically
 */
const prefixRegex = new RegExp('__prefix__', 'g');

// label formset
const labelIdString = 'id_labels';
const labelFormsetString = 'label-formset';
const totalLabelFormset = document.getElementById(`${labelIdString}-TOTAL_FORMS`);
const labelFormsetEmptyForm = document.getElementById(`${labelFormsetString}-empty-form`);
const labelFormsetAddMoreButton = document.getElementById(`${labelFormsetString}-add-more`);

labelFormsetAddMoreButton.addEventListener('click', function(e) {
    if (e) { e.preventDefault(); }
    // add new form
    const copyLabelFormsetEmptyForm = labelFormsetEmptyForm.cloneNode(true);
    copyLabelFormsetEmptyForm.innerHTML = copyLabelFormsetEmptyForm.innerHTML.replace(prefixRegex, totalLabelFormset.value);
    copyLabelFormsetEmptyForm.childNodes.forEach(node => {
        labelFormsetEmptyForm.parentNode.insertBefore(node, labelFormsetEmptyForm);
    });
    // update total forms count
    totalLabelFormset.setAttribute('value', parseInt(totalLabelFormset.getAttribute('value'), 10) + 1);
});
</script>
{% endblock %}
