{% extends "dashboard/siae_edit_base.html" %}
{% load static bootstrap4 %}

{% block content_siae_form %}
<section class="mb-3 mb-lg-5">
    <div class="row mb-3 mb-lg-5">
        <div class="col-12 col-lg-8">
            <div class="bg-white d-block rounded-lg shadow-lg p-3 p-lg-5">
                <legend class="h4">Mes Collaborateurs</legend>
                {% for siaeuser in siae.siaeuser_set.all %}
                    <hr />
                    <div class="row">
                        <div class="col">
                            <p class="mb-0">
                                <span class="prof_icon"><img src="{% static 'img/profile-ico-user.svg' %}" alt="" /></span>
                                <span><strong>{{ siaeuser.user.full_name }}</strong></span>
                            </p>
                            <p class="mb-0">
                                <span style="margin-left:23px">{{ siaeuser.user.email }}</span>
                            </p>
                        </div>
                    </div>
                {% endfor %}
                {% for siaeuserrequest in siae.siaeuserrequest_set.pending %}
                    <hr />
                    <div class="row">
                        <div class="col">
                            <p class="mb-0">
                                <span class="prof_icon"><img src="{% static 'img/profile-ico-user.svg' %}" alt="" /></span>
                                <span><strong>{{ siaeuserrequest.initiator.full_name }}</strong></span>
                            </p>
                            <p class="mb-0">
                                <span style="margin-left:23px">{{ siaeuserrequest.initiator.email }}</span>
                            </p>
                        </div>
                        <div class="col">
                            <span class="badge badge-pill badge-warning" title="{{ siaeuserrequest.created_at|date:'d/m/Y H:i' }}">Nouvelle demande</span>
                            <div class="float-right">
                                <button class="btn btn-outline-success btn-ico" data-toggle="modal" data-target="#user_request_confirm_modal" data-siae-slug="{{ siae.slug }}" data-user-full-name="{{ siaeuserrequest.initiator.full_name }}" data-siae-user-request-id="{{ siaeuserrequest.id }}" title="Confirmer la demande">
                                    <i class="ri-check-fill ri-lg font-weight-light"></i>
                                </button>
                                <button class="btn btn-outline-danger btn-ico" data-toggle="modal" data-target="#user_request_cancel_modal" data-siae-slug="{{ siae.slug }}" data-user-full-name="{{ siaeuserrequest.initiator.full_name }}" data-siae-user-request-id="{{ siaeuserrequest.id }}" title="Refuser la demande">
                                    <i class="ri-close-fill ri-lg font-weight-light"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="alert alert-info mt-3 mt-lg-0" role="alert">
                <p class="mb-1">
                    <span class="prof_icon"><img src="{% static 'img/prof_info_circle.svg' %}" /></span>
                    <strong>Collaborateurs</strong>
                </p>
                <p class="mb-0">
                    Gérez ici les collaborateurs liés à votre structure.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block modals %}
    {% include "siaes/_user_request_confirm_modal.html" %}
    {% include "siaes/_user_request_cancel_modal.html" %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/user_request.js' %}"></script>
{% endblock %}
