{% extends "layouts/base.html" %}
{% load static process_dict dsfr_tags %}
{% block page_title %}
    Mes collaborateurs{{ block.super }}
{% endblock page_title %}
{% block breadcrumb %}
    <section>
        <div class="fr-container">
            <div class="fr-grid-row">
                <div class="fr-col-12">
                    {% process_dict root_dir=HOME_PAGE_PATH links=breadcrumb_links current=breadcrumb_current as breadcrumb_data %}
                    {% dsfr_breadcrumb breadcrumb_data %}
                </div>
            </div>
        </div>
    </section>
{% endblock breadcrumb %}
{% block content %}
    <section>
        <div class="fr-container fr-pb-8v">
            <div class="fr-grid-row">
                <div class="fr-col-12">
                    <h1>Mes collaborateurs</h1>
                </div>
            </div>
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12 fr-col-lg-8">
                    <!-- Hidden buttons needed to load modals mecanics -->
                    <button data-fr-opened="false"
                            aria-controls="siae_user_request_confirm_modal"
                            class="fr-hidden"></button>
                    <button data-fr-opened="false"
                            aria-controls="siae_user_request_cancel_modal"
                            class="fr-hidden"></button>
                    <button data-fr-opened="false"
                            aria-controls="siae_user_delete_modal"
                            class="fr-hidden"></button>
                    {% if siae.siaeuserrequest_set.pending.count %}
                        <div class="fr-grid-row fr-mb-1w">
                            <div class="fr-col">
                                <h2>En attente</h2>
                            </div>
                        </div>
                        {% for siaeuserrequest in siae.siaeuserrequest_set.pending %}
                            <div class="fr-grid-row fr-grid-row--gutters">
                                <div class="fr-col">
                                    <div class="fr-card fr-card--sm fr-card--grey">
                                        <div class="fr-card__body">
                                            <div class="fr-card__content">
                                                <h3 class="fr-card__title fr-icon-user-fill">{{ siaeuserrequest.initiator.full_name }}</h3>
                                                <p class="fr-card__desc">
                                                    <strong>{{ siaeuserrequest.initiator.email }}</strong>
                                                </p>
                                                <div class="fr-card__start">
                                                    <ul class="fr-badges-group">
                                                        <li>
                                                            <p class="fr-badge fr-badge--sm fr-badge--green-emeraude"
                                                               title="{{ siaeuserrequest.created_at|date:'d/m/Y H:i' }}">
                                                                Nouveau collaborateur
                                                            </p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="fr-card__footer">
                                                <ul class="fr-btns-group--right fr-btns-group fr-btns-group--inline fr-btns-group--inline-reverse">
                                                    <li>
                                                        <button class="fr-btn fr-icon-checkbox-circle-line"
                                                                x-data="siaeUserModals"
                                                                x-init="initOptions('{{ siae.slug }}', '{{ siaeuserrequest.initiator.full_name|escapejs }}', {{ siaeuserrequest.id }})"
                                                                @click="confirmUserRequest"
                                                                title="Confirmer la demande">
                                                            Confirmer la demande
                                                        </button>
                                                    </li>
                                                    <li>
                                                        <button class="fr-btn fr-btn--secondary fr-icon-close-circle-line"
                                                                x-data="siaeUserModals"
                                                                x-init="initOptions('{{ siae.slug }}', '{{ siaeuserrequest.initiator.full_name|escapejs }}', {{ siaeuserrequest.id }})"
                                                                @click="cancelUserRequest"
                                                                title="Refuser la demande">Refuser la demande</button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="fr-grid-row fr-mt-12v">
                        <div class="fr-col">
                            <h2>Confirmés</h2>
                        </div>
                    </div>
                    {% for siaeuser in siae.siaeuser_set.all %}
                        <div class="fr-grid-row fr-grid-row--gutters">
                            <div class="fr-col">
                                <div class="fr-card fr-card--sm">
                                    <div class="fr-card__body">
                                        <div class="fr-card__content">
                                            <h3 class="fr-card__title fr-icon-user-fill">{{ siaeuser.user.full_name }}</h3>
                                            <p class="fr-card__desc">
                                                <strong>{{ siaeuser.user.email }}</strong>
                                            </p>
                                        </div>
                                        {% if siaeuser.user != user %}
                                            <div class="fr-card__footer">
                                                <ul class="fr-btns-group--right fr-btns-group fr-btns-group--inline">
                                                    <li>
                                                        <button class="fr-btn fr-btn--secondary delete-bin-line"
                                                                x-data="siaeUserModals"
                                                                x-init="initOptions('{{ siae.slug }}', '{{ siaeuser.user.full_name|escapejs }}', {{ siaeuser.id }})"
                                                                @click="deleteUser"
                                                                title="Supprimer le collaborateur">
                                                            Supprimer le collaborateur
                                                        </button>
                                                    </li>
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="fr-col-12 fr-col-lg-4">
                    <div class="fr-callout fr-p-4v">
                        <h3 class="fr-callout__title fr-text--sm">
                            <span class="fr-icon-lightbulb-line" aria-hidden="true"></span> Collaborateurs
                        </h3>
                        <p class="fr-callout__text fr-text--sm fr-pl-7v">Gérez ici les collaborateurs liés à votre structure.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
{% block modals %}
    {% include "siaes/_siae_user_request_confirm_modal.html" %}
    {% include "siaes/_siae_user_request_cancel_modal.html" %}
    {% include "siaes/_siae_user_delete_modal.html" %}
{% endblock modals %}
{% block extra_js %}
    <script type="text/javascript"
            src="{% static 'vendor/alpinejs@3.11.1.min.js'%}"
            defer></script>
    <script type="text/javascript" src="{% static 'js/siae_user_modals.js' %}"></script>
{% endblock extra_js %}
