{% extends "dashboard/siae_edit_base.html" %}
{% load bootstrap4 %}

{% block content_siae_form %}
<form method="POST" action="" class="mb-3 mb-lg-5">
    {% csrf_token %}

    {% bootstrap_form_errors form type="all" %}

    <h5>Les informations en plus</h5>

    <div class="row">
        <div class="col-8">
            <fieldset class="bg-white w-100 rounded-lg shadow-lg p-3 p-lg-5">
                {% bootstrap_field form.is_cocontracting %}
            </fieldset>
        </div>
        <div class="col-4">
            <div role="alert" class="alert alert-info">
                <p>
                    <strong>Qu'est-ce que la co-traitance ?</strong><br />
                    En signalant que vous êtes ouvert à la co-traitance vous indiquez être prêt à répondre à un marché en groupement
                    avec d'autres structure pour mutualiser vos moyens professionels, techniques et financiers.
                </p>
            </div>
        </div>
    </div>

    <br />
    
    <h5>Les réseaux</h5>

    <div class="row">
        <div class="col-8">
            <fieldset class="bg-white w-100 rounded-lg shadow-lg p-3 p-lg-5">
                {% bootstrap_field form.networks show_label=False %}
            </fieldset>
        </div>
    </div>

    <br />

    <h5>Labels et certifications</h5>

    <div class="row">
        <div class="col-8">
            <fieldset class="bg-white w-100 rounded-lg shadow-lg p-3 p-lg-5">
                {{ label_formset.management_form }}
                {% for form in label_formset %}
                    <div class="{{ label_formset.prefix }}">
                        <div>{{ form }}</div>
                    </div>
                {% endfor %}
            </fieldset>
        </div>
        <div class="col-4">
            <div role="alert" class="alert alert-info">
                <p>
                    <strong>Pourquoi mettre des labels ?</strong><br />
                    Certains labels sont recherchés par nos acheteurs, c'est donc un plus de les rendre visible rapidement.<br />
                    Exemples : RSEI, ISO 14001, Ecocert…
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 pt-3">
            <button type="submit" class="btn btn-primary btn-ico">
                <span>Enregistrer mes modifications</span>
            </button>
        </div>
    </div>
</form>
{% endblock %}
