{% extends "dashboard/siae_edit_base.html" %}
{% load static dsfr_tags addstr %}

{% block extra_css %}
{{ form.media.css }}
{% endblock extra_css %}

{% block content_siae_form %}
<form method="post" action="">
    {% csrf_token %}

    {% if form.non_field_errors %}
        <section class="fr-my-4v fr-input-group fr-input-group--error">
            {{ form.non_field_errors }}
        </section>
    {% endif %}

    <div class="fr-grid-row fr-grid-row--gutters fr-mb-4v">
        <div class="fr-col-12 fr-col-lg-8">
            {% dsfr_form_field form.networks %}
        </div>
    </div>

    <div class="fr-grid-row fr-grid-row--gutters fr-mb-4v">
        <div class="fr-col-12 fr-col-lg-8">
            {% dsfr_form_field form.is_cocontracting %}
        </div>
        <div class="fr-col-12 fr-col-lg-4">
            <div class="fr-callout fr-p-4v">
                <h3 class="fr-callout__title fr-text--sm"><span class="fr-icon-lightbulb-line" aria-hidden="true"></span> Co-traitance</h3>
                <p class="fr-callout__text fr-text--sm fr-pl-7v">
                    Vous êtes prêt à travailler avec une autre structure de l'insertion ou une entreprise du milieu ordinaire.
                </p>
            </div>
        </div>
    </div>

    <div class="fr-grid-row fr-grid-row--gutters fr-mb-4v">
        <div class="fr-col-12 fr-col-lg-8">
            {% dsfr_form_field form.groups %}
            <div class="fr-callout fr-icon-information-line">
                <h3 class="fr-callout__title fr-text--sm">Le groupement auquel vous appartenez n'apparaît pas dans la liste ?</h3>
                <p class="fr-callout__text fr-text--sm">Ajoutez le en <a href="{{ TYPEFORM_GROUPEMENT_AJOUT }}#data=user_id:{{ user.id }}" id="siae-group-add" target="_blank" rel="noopener">remplissant le formulaire</a>.</p>
            </div>
        </div>
    </div>

    <div class="fr-grid-row fr-grid-row--gutters fr-mb-4v">
        <div class="fr-col-12 fr-col-lg-auto">
            {% dsfr_button label="Enregistrer mes modifications" %}
        </div>
        <div class="fr-col-12 fr-col-lg-4"></div>
    </div>
</form>
{% endblock content_siae_form %}

{% block extra_js %}
{{ form.media.js }}
{% endblock extra_js %}
