{% extends "dashboard/siae_edit_base.html" %}
{% load static bootstrap4 get_verbose_name %}

{% block content_siae_form %}
<form method="POST" action="" class="pt-3 pt-lg-5">
    {% csrf_token %}

    {% bootstrap_form_errors form type="all" %}

    <fieldset>
        <div class="row">
            <div class="col-12 col-lg-7">
                <legend>Contact commercial affiché sur votre fiche commerciale</legend>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7">
                {% bootstrap_field form.contact_first_name show_label=True %}
                {% bootstrap_field form.contact_last_name show_label=True %}
                {% bootstrap_field form.contact_website %}              
                <div class="form-row">
                    {% bootstrap_field form.contact_email show_label=True form_group_class="form-group col-12 col-md-6" %}
                    {% bootstrap_field form.contact_phone show_label=True form_group_class="form-group col-12 col-md-6" %}
                </div>
                {% bootstrap_field form.contact_social_website %}
            </div>
            <div class="col-12 col-lg-5">
                <div class="c-form-conseil">
                    <div>
                        <p class="mb-0">
                            Les informations de contact seront mis à disposition des acheteurs afin de leur permettre de vous contacter facilement.
                        </p>
                    </div>
                </div>                  
            </div>
        </div>
    </fieldset>

    <div class="row">
        <div class="col-12 col-lg-7">
            <hr>
            <div class="form-row justify-content-end">
                <div class="form-group col-12 col-lg-auto">
                    <button type="submit" class="btn btn-block btn-primary">Enregistrer mes modifications</button>
                </div>
            </div>
        </div>
    </div>   
</form>
{% endblock %}
