{% extends "layouts/base.html" %}
{% load static dsfr_tags %}
{% block page_title %}
    {{ page_title }}{{ block.super }}
{% endblock page_title %}
{% block breadcrumb %}
    {% dsfr_breadcrumb %}
{% endblock breadcrumb %}
{% block content %}
    <div class="fr-container">
        <div class="fr-grid-row">
            <div class="fr-col-12">
                <div class="fr-grid-row">
                    <div class="fr-col-12">
                        <h3>{{ page_title }}</h3>
                    </div>
                </div>
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-12 fr-col-lg-8">
                        <div class="fr-input-group fr-mb-lg-8w">
                            <label class="fr-label" for="select-id_sector_group">Secteurs d'activités *</label>
                            <select
                                id="select-id_sector_group"
                                class="fr-select"
                                name="sector_group_id"
                                required=""
                                hx-get="{% url 'dashboard_siaes:siae_activities_sector_form' siae.slug %}{% if sector_group_id %}?sector_group_id={{ sector_group_id }}{% endif %}"
                                hx-trigger="{% if sector_group_id %}load{% else %}change{% endif %}"
                                hx-target="#checkboxes-id_sectors"
                                {% if sector_group_id %}
                                    disabled
                                {% endif %}
                            >
                                <option value="" selected="">----- Sélectionnez un secteur -----</option>
                                {% for value in sector_groups %}
                                    <option value="{{ value.pk }}" {% if value.pk == sector_group_id %}selected{% endif %}>{{ value.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <fieldset id="checkboxes-id_sectors" class="fr-fieldset" aria-labelledby="id_sectors-legend">
                            <!-- Sectors form -->
                        </fieldset>
                    </div>
                    <div class="fr-col-12 fr-col-lg-4">
                        <div class="fr-callout fr-p-4v">
                            <h3 class="fr-callout__title fr-text--sm">
                                <span class="fr-icon-information-line" aria-hidden="true"></span> Secteur d'activité
                            </h3>
                            <p class="fr-callout__text fr-text--sm fr-pl-7v">
                                Améliorez votre référencement en indiquant tous les secteurs d'activités sur lesquels votre struture est positionnée.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extra_js %}
    <script type="text/javascript"
            src="{% static 'js/perimeter_autocomplete_field.js' %}">
    </script>
{% endblock extra_js %}
