{% extends "layouts/base.html" %}
{% load static get_verbose_name %}

{% block title %}Vérifier ma structure{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'dashboard:home' %}">Mon espace</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'dashboard:siae_search_by_siret' %}">Rechercher ma structure</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Vérifier ma structure</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="pt-4 pb-6">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <h2 class="h1 mb-3 mb-lg-5"><strong>Dernière vérification</strong></h2>

                <p class="lead mb-0">
                    Vérifiez si ces données correspondent bien à votre structure.
                </p>
                <p class="mb-0">
                   <i>Données fixes provenant de {{ siae.source_display }}.</i>
                </p>
                
                <hr />
                
                <p title="{% get_verbose_name siae 'name' %}" class="mb-0">
                    <strong>{% get_verbose_name siae 'name' %} :</strong>
                    {{ siae.name }}
                </p>
                <p title="{% get_verbose_name siae 'brand' %}" class="mb-0">
                    <strong>{% get_verbose_name siae 'brand' %} :</strong>
                    {{ siae.brand|default:'' }}
                </p>
                <p title="{% get_verbose_name siae 'siret' %}" class="mb-0">
                    <strong>{% get_verbose_name siae 'siret' %} :</strong>
                    {{ siae.siret_display }}
                </p>
                <p title="{% get_verbose_name siae 'kind' %}" class="mb-0">
                    <strong>{% get_verbose_name siae 'kind' %} :</strong>
                    {{ siae.get_kind_display }}
                </p>
                <p title="{% get_verbose_name siae 'nature' %}" class="mb-0">
                    <strong>{% get_verbose_name siae 'nature' %} :</strong>
                    {{ siae.get_nature_display }}
                </p>
                <p title="{% get_verbose_name siae 'city' %}" class="mb-0">
                    <strong>{% get_verbose_name siae 'city' %} :</strong>
                    {{ siae.city }}
                </p>
                <p title="{% get_verbose_name siae 'post_code' %}" class="mb-0">
                    <strong>{% get_verbose_name siae 'post_code' %} :</strong>
                    {{ siae.post_code }}
                </p>
                <p title="{% get_verbose_name siae 'region' %}">
                    <strong>{% get_verbose_name siae 'region' %} :</strong>
                    {{ siae.region }}
                </p>

                {% if siae.users.count %}
                    <div class="alert alert-warning" role="alert">
                        <p class="mb-0">
                            <i>{{ siae.users.first.full_name }}</i> est déjà rattaché à cette structure sur le marché.<br />
                            En cliquant sur <strong>Demander le rattachement</strong>, un e-mail sera envoyé à <i>{{ siae.users.first.full_name }}</i> afin qu'il ou elle valide votre rattachement.
                        </p>
                    </div>
                {% endif %}

                <form method="POST" class="mt-3 mt-lg-5">
                    {% csrf_token %}
                    <div class="row justify-content-end">
                        <div class="col-12 col-md-auto pr-lg-2">
                            <a href="{% url 'dashboard:siae_search_by_siret' %}" class="btn btn-outline-primary btn-block">
                                Non, refaire une recherche
                            </a>
                        </div>
                        <div class="col-12 col-md-auto pl-lg-2 pt-3 pt-lg-0">
                            {% if siae.users.count %}
                                <button type="submit" class="btn btn-primary btn-block">
                                    Demander le rattachement
                                </button>
                            {% else %}
                                <button type="submit" class="btn btn-primary btn-block">
                                    Je confirme
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
{% endblock %}
