{% extends "dashboard/siae_edit_base.html" %}

{% block content_siae_form %}
{% if form.errors %}
    <div class="alert alert-danger mb-3 mb-lg-5" role="alert">{{ form.errors }}</div>
{% endif %}

<form method="POST" action="" class="mb-3 mb-lg-5">
    {% csrf_token %}

    <h5>{{ form.presta_type.label }} <strong class="text-warning">*</strong></h5>

    <div class="row">
        <div class="col-8">
            <fieldset class="bg-white w-100 rounded-lg shadow-lg p-3 p-lg-5">
                <div class="form-group">
                    <div>
                        {{ form.presta_type }}
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-4">
            <div role="alert" class="alert alert-info">
                <p>
                    <strong>Type de prestation</strong><br />
                    Vous pourrez ensuite détailler vos prestations à la prochaine étape.
                </p>
            </div>
        </div>
    </div>

    <br />

    <h5>{{ form.geo_range.label }} <strong class="text-warning">*</strong></h5>

    <div class="row">
        <div class="col-8">
            <fieldset class="bg-white w-100 rounded-lg shadow-lg p-3 p-lg-5">
                <div class="form-group">
                    <div>
                        {{ form.geo_range }}
                    </div>
                    {{ form.geo_range_custom_distance }}
                </div>
            </fieldset>
        </div>
        <div class="col-4">
            <div role="alert" class="alert alert-info">
                <p>
                    <strong>Périmètre d'intervention</strong><br />
                    Le périmètre d'intervention est un critère essentiel dans le choix des acheteurs.
                    Il est nécessaire de bien le renseigner.
                </p>
            </div>
        </div>
    </div>

    <br />

    <h5>{{ form.sectors.label }} <strong class="text-warning">*</strong></h5>

    <div class="row">
        <div class="col-8">
            <fieldset class="bg-white w-100 rounded-lg shadow-lg p-3 p-lg-5">
                <div class="form-group">
                    <div>
                        {{ form.sectors }}
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-4">
            <div role="alert" class="alert alert-info">
                <p>
                    <strong>Secteurs d'activité</strong><br />
                    Le choix des secteurs d'activité va déterminer ce que trouvent les acheteurs lors de leur recherche.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 offset-md-3 col-md-auto pt-3">
            <button type="submit" class="btn btn-primary btn-block btn-ico">
                <span>Enregistrer mes modifications</span>
            </button>
        </div>
    </div>
</form>
{% endblock %}
