{% extends "dashboard/siae_edit_base.html" %}
{% load static bootstrap4 addstr %}

{% block extra_css %}
{{ form.media.css }}
{% endblock %}

{% block content_siae_form %}
<form method="POST" action="" class="pt-3 pt-lg-5">
    {% csrf_token %}

    {% bootstrap_form_errors form type="all" %}

    <fieldset>
        <div class="row">
            <div class="col-12 col-lg-7">
                <legend>Appartenez-vous à un réseau ou une fédération ?</legend>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="form-group">
                    <label for="{{ form.networks.auto_id }}">Réseau ou une fédération</label>
                    {% bootstrap_field form.networks show_label="skip" %}
                </div>
            </div>
        </div>
    </fieldset>

    <div class="row">
        <div class="col-12 col-lg-7">
            <hr>
        </div>
    </div>

    <fieldset>
        <div class="row">
            <div class="col-12 col-lg-7">
                <legend>Êtes-vous ouvert à la co-traitance ou au groupement momentané d'entreprises (<a href="https://www.economie.gouv.fr/dae/groupement-momentane-dentreprises" target="_blank" rel="noopener">GME</a>) ?</legend>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="form-group">
                    {{ form.is_cocontracting.label_tag }}
                    <ul class="list-unstyled mb-1">
                        {% for pk, choice in form.is_cocontracting.field.widget.choices %}
                        <li>
                            <div class="custom-control custom-radio">
                                <input id="id_{{form.is_cocontracting.name}}_{{ forloop.counter0 }}" name="{{form.is_cocontracting.name}}" type="{{form.is_cocontracting.field.widget.input_type}}" value="{{pk}}" class="custom-control-input" />
                                <label for="id_{{form.is_cocontracting.name}}_{{ forloop.counter0 }}" class="custom-control-label">{{ choice }}</label>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="c-form-conseil">
                    <div>
                        <p class="mb-0">Vous êtes prêt à travailler avec une autre structure de l'insertion ou une entreprise du milieu ordinaire.</p>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <div class="row">
        <div class="col-12 col-lg-7">
            <hr>
        </div>
    </div>

    <fieldset>
        <div class="row">
            <div class="col-12 col-lg-7">
                <legend>Appartenez-vous à un groupement ou ensemblier ?</legend>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="form-group">
                    <label for="{{ form.groups.auto_id }}">Groupement ou ensemblier</label>
                    {% bootstrap_field form.groups show_label="skip" %}
                </div>
                <div class="alert alert-info mb-4">
                    <div class="row">
                        <div class="col-auto pr-0">
                            <i class="ri-information-line ri-xl text-info"></i>
                        </div>
                        <div class="col">
                            <p class="mb-0"><strong>Le groupement auquel vous appartenez n'apparaît pas dans la liste ?</strong></p>
                            <p class="mb-0">
                                Ajoutez le en <a href="{{ TYPEFORM_GROUPEMENT_AJOUT }}#data=user_id:{{ user.id }}" id="siae-group-add" target="_blank" rel="noopener" title="Remplissez le formulaire (lien externe)">remplissant le formulaire</a><i class="ri-external-link-line ml-1"></i>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <div class="row">
        <div class="col-12 col-lg-7">
            <hr>
            <div class="form-row justify-content-end">
                <div class="form-group col-12 col-lg-auto">
                    <button type="submit" class="btn btn-block btn-primary">Enregistrer mes modifications</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block extra_js %}
{{ form.media.js }}
{% endblock %}
