{% extends "dashboard/siae_edit_base.html" %}
{% load static bootstrap4 %}

{% block content_siae_form %}
<div class="fr-grid-row mb-3">
    <div class="col-lg-8">
        <h3>Ajoutez vos secteurs d'activité et recevez des opportunités commerciales ciblées</h3>
    </div>
    <div class="col-lg-4">
        <a href="{% url 'dashboard_siaes:siae_edit_activities_create' siae.slug %}" id="siae-activities-create-btn" class="btn btn-primary w-100 btn-ico mt-2">
            <i class="ri-add-fill ri-lg mr-2"></i>Ajouter un secteur d'activité
        </a>
    </div>
</div>

{% if siae.activities.count %}
    <div class="fr-grid-row mb-3 mb-lg-5">
        {% for activity in siae.activities.all %}
            <div class="col-12 col-lg-8">
                {% include "siaes/_siae_activity_card.html" with activity=activity %}
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}

{% block modals %}
    {% include "dashboard/_siae_activity_delete_modal.html" %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/siae_activity_delete.js' %}"></script>
{% endblock %}
