{% extends "layouts/base.html" %}
{% load bootstrap4 get_verbose_name %}

{% block title %}Rechercher ma structure{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'dashboard:home' %}">Mon espace</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Rechercher ma structure</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="pt-4 pt-lg-6 pb-6 pb-lg-8">
    <div class="container container-max-lg">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-3 mb-lg-5">Ma structure</h2>

                <p>
                    Recherchez la structure à laquelle vous êtes attaché.<br />
                    <small>Si vous en avez plusieurs, vous aurez la possibilité de spécifier d'autres structures par la suite.</small>
                </p>

                <form method="GET" action="{% url 'dashboard:siae_search_by_siret' %}" class="mb-3 mb-lg-5">
                    {% bootstrap_form_errors form type="all" %}

                    <div class="row">
                        <div class="col-md-8">
                            <fieldset class="bg-white w-100 rounded-lg shadow-lg p-3 p-lg-5">
                                {% bootstrap_field form.siret %}
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8 pt-3">
                            <button type="submit" class="btn btn-primary btn-ico">
                                <span>Rechercher</span>
                            </button>
                        </div>
                    </div>
                </form>

                {% if siaes %}
                    {% for siae in siaes %}
                        <hr />
                        <p title="{% get_verbose_name siae 'name' %}">
                            <strong>{% get_verbose_name siae 'name' %} :</strong>
                            {{ siae.name }}
                        </p>
                        <p title="{% get_verbose_name siae 'brand' %}">
                            <strong>{% get_verbose_name siae 'brand' %} :</strong>
                            {{ siae.brand }}
                        </p>
                        <p title="{% get_verbose_name siae 'siret' %}">
                            <strong>{% get_verbose_name siae 'siret' %} :</strong>
                            {{ siae.siret }}
                        </p>
                        <p title="Localisation">
                            <strong>Localisation :</strong>
                            {{ siae.city }} {{ siae.post_code }}
                        </p>
                        {% if siae.users.count %}
                            <div role="alert" class="alert alert-warning">
                                <p>
                                    <strong>Rejoindre cette structure</strong><br />
                                    <i>{{ siae.users.first.full_name }}</i> a déjà activé cette structure sur le marché.
                                    Si vous souhaitez rejoindre la structure, <strong><a href="{% url 'pages:contact' %}">contactez le support</a></strong>.
                                </p>
                            </div>
                        {% else %}
                            <a href="{% url 'dashboard:siae_search_adopt_confirm' siae.id %}" class="btn btn-outline-primary btn-ico">
                                <span>Sélectionner</span>
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if not siaes and form.is_valid %}
                    <div class="alert alert-danger mb-3 mb-lg-5" role="alert">
                        Nous n'avons pas retrouvé votre numéro de SIRET. Merci de vérifier votre numéro.<br />
                        Dans le cas où le problème persiste, contactez <a href="{url 'pages:contact'}">notre support</a>.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
