{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Modifier votre structure{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg">
                <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'wagtail_serve' '' %}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'dashboard:home' %}">Tableau de bord</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ siae.name_display }} : modifier</li>
                    </ol>
                </nav>
            </div>
            <div class="col-12 col-lg-auto pt-3">
                <a href="{% url 'siae:detail' siae.slug %}" target="_blank" class="btn btn-outline-primary btn-sm btn-block btn-ico">
                    <span>Voir votre fiche</span>
                    <i class="ri-eye-line ri-lg"></i>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<!-- Nudge to fill SIAE -->
{% if siae.is_missing_content %}
    <section class="s-section mb-0">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="s-section__col col-12">
                    <div class="alert alert-warning" role="alert">
                        <p class="mb-1">
                            <i class="ri-information-line ri-xl"></i>
                            <strong>Votre fiche n'est pas complète, et donc moins visible par les acheteurs.</strong>
                        </p>
                        <ol class="mb-0">
                            {% if not siae.sector_count %}
                                <li><a href="{% url 'dashboard:siae_edit_search' siae.slug %}">Ajoutez un ou plusieurs secteurs d'activité</a></li>
                            {% endif %}
                            {% if not siae.description and not siae.logo_url %}
                                <li><a href="{% url 'dashboard:siae_edit_info' siae.slug %}">Ajoutez une description & votre logo</a></li>
                            {% endif %}
                            {% if not siae.offer_count and not siae.client_reference_count %}
                                <li><a href="{% url 'dashboard:siae_edit_offer' siae.slug %}">Détaillez vos offres & vos références clients</a></li>
                            {% endif %}
                            {% if siae.is_missing_contact %}
                                <li><a href="{% url 'dashboard:siae_edit_contact' siae.slug %}">Complétez vos informations de contact</a></li>
                            {% endif %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}

<!-- Navigation -->
<section class="s-tabs-01 mb-5">
    <div class="s-tabs-01__container container">
        <div class="s-tabs-01__row row">
            <div class="s-tabs-01__col col-12">
                <ul class="s-tabs-01__nav nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a href="{% url 'dashboard:siae_edit_contact' siae.slug %}" id="siae-edit-contact-tab" class="nav-link {% if 'siae_edit_contact' in request.resolver_match.url_name %}active{% endif %}" aria-selected="{% if 'siae_edit_contact' in request.resolver_match.url_name %}true{% else %}false{% endif %}">
                            Votre contact commercial
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="{% url 'dashboard:siae_edit_search' siae.slug %}" id="siae-edit-search-tab" class="nav-link {% if 'siae_edit_search' in request.resolver_match.url_name %}active{% endif %}" aria-selected="{% if 'siae_edit_search' in request.resolver_match.url_name %}true{% else %}false{% endif %}">
                            Votre référencement
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="{% url 'dashboard:siae_edit_info' siae.slug %}" id="siae-edit-info-tab" class="nav-link {% if 'siae_edit_info' in request.resolver_match.url_name %}active{% endif %}" aria-selected="{% if 'siae_edit_info' in request.resolver_match.url_name %}true{% else %}false{% endif %}">
                            Votre structure
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="{% url 'dashboard:siae_edit_offer' siae.slug %}" id="siae-edit-offer-tab" class="nav-link {% if 'siae_edit_offer' in request.resolver_match.url_name %}active{% endif %}" aria-selected="{% if 'siae_edit_offer' in request.resolver_match.url_name %}true{% else %}false{% endif %}">
                            Vos offres commerciales
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a href="{% url 'dashboard:siae_edit_links' siae.slug %}" id="siae-edit-links-tab" class="nav-link {% if 'siae_edit_links' in request.resolver_match.url_name %}active{% endif %}" aria-selected="{% if 'siae_edit_links' in request.resolver_match.url_name %}true{% else %}false{% endif %}">
                            Groupements
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    {% block content_siae_form %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
