{% extends "layouts/base.html" %}
{% load dsfr_tags static get_verbose_name %}

{% block page_title %}Vérifier ma structure{{ block.super }}{% endblock page_title %}

{% block breadcrumb %}
    {% dsfr_breadcrumb %}
{% endblock breadcrumb %}

{% block content %}
<div class="fr-container">
    <div class="fr-grid-row">
        <div class="fr-col-12 fr-col-lg-8">
            <h2><strong>Dernière vérification</strong></h2>

            <p>
                Vérifiez si ces données correspondent bien à votre structure.
            </p>
            <p>
                <i>Données fixes provenant de {{ siae.source_display }}.</i>
            </p>

            <hr />

            <p title="{% get_verbose_name siae 'name' %}">
                <strong>{% get_verbose_name siae 'name' %} :</strong>
                {{ siae.name }}
            </p>
            <p title="{% get_verbose_name siae 'brand' %}">
                <strong>{% get_verbose_name siae 'brand' %} :</strong>
                {{ siae.brand|default:'' }}
            </p>
            <p title="{% get_verbose_name siae 'siret' %}">
                <strong>{% get_verbose_name siae 'siret' %} :</strong>
                {{ siae.siret_display }}
            </p>
            <p title="{% get_verbose_name siae 'kind' %}">
                <strong>{% get_verbose_name siae 'kind' %} :</strong>
                {{ siae.get_kind_display }}
            </p>
            <p title="{% get_verbose_name siae 'nature' %}">
                <strong>{% get_verbose_name siae 'nature' %} :</strong>
                {{ siae.get_nature_display }}
            </p>
            <p title="{% get_verbose_name siae 'city' %}">
                <strong>{% get_verbose_name siae 'city' %} :</strong>
                {{ siae.city }}
            </p>
            <p title="{% get_verbose_name siae 'post_code' %}">
                <strong>{% get_verbose_name siae 'post_code' %} :</strong>
                {{ siae.post_code }}
            </p>
            <p title="{% get_verbose_name siae 'region' %}">
                <strong>{% get_verbose_name siae 'region' %} :</strong>
                {{ siae.region }}
            </p>

            {% if siae.users.count %}
                <div class="fr-alert fr-alert--warning" role="alert">
                    <h3 class="fr-alert__title"><i>{{ siae.users.first.full_name }}</i> est déjà rattaché à cette structure sur le marché.</h3>
                    <p>
                        En cliquant sur <strong>Demander le rattachement</strong>, un e-mail sera envoyé à <i>{{ siae.users.first.full_name }}</i> ({{ siae.users.first.email_anonymized }}) afin qu'il ou elle valide votre rattachement.
                    </p>
                    <p>
                        Cet utilisateur ne fait plus partie de la structure ? <a href="{% url 'pages:contact' %}?siret={{ siae.siret }}">Contactez le support</a>
                    </p>
                </div>
            {% endif %}

            {% if siae_user_pending_request %}
                <div class="fr-alert fr-alert--warning" role="alert">
                    <p>Vous avez déjà une demande de rattachement en cours (envoyée le {{ siae_user_pending_request.last.created_at|date:"d/m/Y H:i" }})</p>
                </div>
            {% endif %}

            <form method="post" class="fr-mt-4v">
                {% csrf_token %}
                <div class="fr-grid-row">
                    <div class="fr-col-12">
                        <ul class="fr-mt-2v fr-btns-group fr-btns-group--right fr-btns-group--inline-sm">
                            <li>
                                <a href="{% url 'dashboard_siaes:siae_search_by_siret' %}" class="fr-btn fr-btn--secondary">
                                    Non, refaire une recherche
                                </a>
                            </li>
                            <li>
                                {% if siae.users.count %}
                                    <button type="submit" class="fr-btn" {% if siae_user_pending_request %}disabled{% endif %}>
                                        Demander le rattachement
                                    </button>
                                {% else %}
                                    {% dsfr_button label="Je confirme" %}
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
