{% load theme_inclusion wagtailimages_tags %}
<div class="item">
    <div class="fr-card fr-enlarge-link">
        <div class="fr-card__body">
            <div class="fr-card__content">
                <p class="fr-card__title">{{ self.title }}</p>
                <p class="fr-card__desc">{{ self.subtitle }}</p>
                <div class="fr-card__end">
                    <a href="{{ self.url }}"
                       target="_blank"
                       class="fr-btn fr-btn--tertiary-no-outline">
                        <span>Découvrir</span>
                        <i class="ri-arrow-right-up-line ri-lg"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="fr-card__header">
            <div class="fr-card__img">
                {% image self.image fill-150x150 class="fr-responsive-img" %}
            </div>
        </div>
    </div>
</div>
