<div class="card">
    <div class="card-header" id="heading{{ faq_id }}">
        <h2>
            <button class="btn btn-link text-left"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapse{{ faq_id }}"
                    aria-expanded="true"
                    aria-controls="collapse{{ faq_id }}">{{ self.question }}</button>
        </h2>
    </div>
    <div id="collapse{{ faq_id }}"
         class="collapse"
         aria-labelledby="heading{{ faq_id }}">
        <div class="card-body">{{ self.answer }}</div>
    </div>
</div>
