{% load bootstrap4 wagtailcore_tags %}

<section class="s-hp-studies-cases-tenders py-5">
    <div class="s-hp-studies-cases-tenders__container fr-container">
        <div class="s-hp-studies-cases__row row">
            <div class="fr-col-sm-6 fr-col-md-3 my-4 my-sm-auto">
                <h2 class="h2 mb-3 mb-lg-5">{{ self.title }}</h2>
                <p>{{ self.subtitle }}</p>
                <a href="{{ self.cta.cta_href }}" id="{{ self.cta.cta_id }}" class="btn btn-primary d-block d-md-inline-block mb-2">
                    <i class="{{ self.cta.cta_icon }} mr-2"></i>{{ self.cta.cta_text }}
                </a>
            </div>
            {% for block in self.cases  %}
                {% include_block block %}
            {% endfor %}
        </div>
    </div>
</section>
