
{% load static bootstrap4 wagtailcore_tags wagtailimages_tags %}

<section class="">
    <div class="fr-container">
        <div class="fr-grid-row">
            <div class="fr-col-12">
                <h2 class="h2 mb-3 mb-lg-5 text-center">{{self.title}}</h2>
            </div>
        </div>
        <div class="fr-grid-row">
            {% for image_with_link in self.images_with_link  %}
                <div class="d-flex align-items-center fr-col-md fr-col-xs-6">
                    {% include_block image_with_link %}
                    {% comment %} <a href="https://group.bnpparibas/" target="_blank" rel="noopener">
                        <img src="{% static 'images/logo-partners-bnp.svg' %}" class="img-fluid" alt="Banque BNP Paribas | La banque d'un monde qui change" loading="lazy" />
                    </a> {% endcomment %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>
