
{% load static bootstrap4 %}
{% load theme_inclusion %}

<section class="has-illustration-bg-01 bg-gray-400">
    <div class="fr-container">
        <div class="fr-grid-row">
            <div class="fr-col-12">
                <h2 class="h2 mb-3 mb-lg-5">{{self.title}}</h2>
            </div>
        </div>
        <div class="fr-grid-row row-cols-1 row-cols-md-2 row-cols-lg-3 justify-content-center">
            {% for card in self.cards  %}
                <div class=" fr-col mb-3 mb-md-5">
                    <div class="card h-100 w-100">
                        <div class="fr-card__header text-center">
                            {% with card.value.ico|add:".svg" as ico %}
                                <img height="80" src="{% static_theme_images ico %}" alt="" />
                            {% endwith %}
                        </div>
                        <div class="fr-card__body">
                            <p class="h3 lh-base">{{ card.value.text }}</p>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
