{% load static bootstrap4 %}

<section class="s-hp-slider-partners-tenders bg-gray-light">
    <div class="s-hp-slider-partners-tenders__container container">
        <div class="s-hp-slider-partners__row row">
            <div class="col-12">
                <h2 class="h2 mb-3 mb-lg-5">Ils ont publié un besoin sur le marché</h2>
            </div>
        </div>
        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5">
            <div class="col py-3 d-flex justify-content-center align-items-center">
                <img width="120" src="{% static 'images/tenders_users_companies/logo-bouygues-energies-services.svg' %}" class="img-fluid" alt="Bouygues energies et services" loading="lazy" />
            </div>
            <div class="col py-3 d-flex justify-content-center align-items-center">
                <img width="120" src="{% static 'images/tenders_users_companies/logo-le-campus-de-l-inclusion.svg' %}" class="img-fluid" alt="Le Campus est un programme destiné aux dirigeant.e.s d'entreprise afin de développer leurs pratiques inclusives" loading="lazy" />
            </div>
            <div class="col py-3 d-flex justify-content-center align-items-center">
                <img width="120" src="{% static 'images/tenders_users_companies/logo-sncf.svg' %}" class="img-fluid" alt="SNCF, groupe international de mobilité de personnes et de logistique de marchandises" loading="lazy" />
            </div>
            <div class="col py-3 d-flex justify-content-center align-items-center">
                <img width="120" src="{% static 'images/tenders_users_companies/logo-khorus.svg' %}" class="img-fluid" alt="Korus, spécialiste de la conception, de l'aménagement et de la gestion d'espaces professionnels" loading="lazy" />
            </div>
            <div class="col py-3 d-flex justify-content-center align-items-center">
                <img width="120" src="{% static 'images/tenders_users_companies/logo-siemens.svg' %}" class="img-fluid" alt="Siemens France" loading="lazy" />
            </div>
            <div class="col py-3 d-flex justify-content-center align-items-center">
                <img width="120" src="{% static 'images/tenders_users_companies/logo-radio-france.svg' %}" class="img-fluid" alt="Radio France" loading="lazy" />
            </div>
            <div class="col py-3 d-flex justify-content-center align-items-center">
                <img width="120" src="{% static 'images/tenders_users_companies/logo-orsay.svg' %}" class="img-fluid" alt="Mairie d'Orsay" loading="lazy" />
            </div>
            <div class="col py-3 d-flex justify-content-center align-items-center">
                <img width="120" src="{% static 'images/tenders_users_companies/logo-mairie-saint-germain-en-laye.svg' %}" class="img-fluid" alt="Mairie de Saint-Germain-en-Laye" loading="lazy" />
            </div>
            <div class="col py-3 d-flex justify-content-center align-items-center">
                <img width="120" src="{% static 'images/tenders_users_companies/logo-lesentreprisesdinsertion.svg' %}" class="img-fluid" alt="Fédération des Entreprises d'Insertion" loading="lazy" />
            </div>
            <div class="col py-3 d-flex justify-content-center align-items-center">
                <img width="120" src="{% static 'images/tenders_users_companies/logo-13-habitat.svg' %}" class="img-fluid" alt="13 Habitat, 1er bailleur social public dans les Bouches-du-Rhône et en région Provence-Alpes-Côte d'Azur" loading="lazy" />
            </div>
        </div>
    </div>
</section>
