
{% load static bootstrap4 %}
{% load theme_inclusion %}

<section class="s-cards-grid-01 has-illustration-bg-01 bg-gray-400">
    <div class="s-cards-grid-01__container container">
        <div class="s-cards-grid-01__row row">
            <div class="s-cards-grid-01__col s-cards-grid-01__col--title col-12">
                <h2 class="h2 mb-3 mb-lg-5">{{self.title}}</h2>
            </div>
        </div>
        <div class="s-cards-grid-01__row row row-cols-1 row-cols-md-2 row-cols-lg-3 justify-content-center">
            {% for card in self.cards  %}
                <div class="s-cards-grid-01__col col mb-3 mb-md-5">
                    <div class="card c-card h-100 w-100 c-card--marche">
                        <div class="card-header text-center">
                            {% with card.value.ico|add:".svg" as ico %}
                                <img height="80" src="{% static_theme_images ico %}" alt="" />
                            {% endwith %}
                        </div>
                        <div class="card-body">
                            <p class="h3 lh-base">{{ card.value.text }}</p>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
