<section class="s-section m-0 bg-nuance-09">
    <div class="s-section__container container">
        <div class="s-section__row row">
            <div class="s-section__col col-12 py-5">
                <h2 class="h2 m-0">
                    Grâce à vos achats, <strong class="text-important">14 145</strong> personnes éloignées de l'emploi ou en situation de handicap
                    ont été recrutées au mois de Février 2023 par nos 6000 prestataires inclusifs.
                </h2>
            </div>
        </div>
    </div>
</section>
