version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore: requirement - "
      prefix-development: "chore: dev requirement - "
    # Only allow updates to the lockfile for pip and
    # ignore any version updates that affect the manifest
    versioning-strategy: lockfile-only
    # Allow up to 20 concurrent open PRs
    open-pull-requests-limit: 20
    allow:
      # Allow both direct and indirect updates for all packages
      - dependency-type: all
    groups:
      psycopg:
        patterns:
          - "psycopg*"
