// alphagov-accessible-autocomplete
.autocomplete__input {
	// force .form-control
	display: block !important;
	width: 100% !important;
	// height: calc(1.2em + 1.68rem + 4px) !important;  // commented out to match with other form selects
	padding: .84rem 1rem !important;
	font-size: 1rem !important;
	font-weight: 400 !important;
	line-height: 1.2 !important;
	color: #3f3e62 !important;
	background-color: #fff !important;
	background-clip: padding-box !important;
	border: 2px solid #3f3e62 !important;
	border-radius: .25rem !important;
	box-shadow: none !important;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
	margin: 0 !important;
	font-family: inherit !important;
	// additional css for icon
	background-position: right 1rem center;
	background-repeat: no-repeat;
	background-image: url('/static/images/dir_form_ico_map.png');
	// TODO David: a remplacer par le svg de ri-map-pin-fill
}
