/* breadcrumbs */
.breadcrumb {
	font-size: 1rem;
}

.breadcrumb > li {
	vertical-align: top;
	padding-right: 0.25rem;
 }

.breadcrumb > li + li:before {
	padding: 0;
}

.breadcrumb > li a {
	color: $gray-900;
	text-decoration: none;
}

.breadcrumb > li a:hover {
	color: $black;
}

.breadcrumb > li + li::before {
	padding: 0;
}
.breadcrumb > li + li::before {
	content: ">\00a0";
	padding: 0 5px;
	color: $gray-900;
}
