/* maparea */
.map-canvas {
	width: 100%;
	height: 100%;
}

// defaults
.map-holder {
	height: 150px;
	width: 100%;
}

// siae search results view
#searchResults .map-holder {
	height: 19rem;
	border-radius: 5px;
	border: $gray-500 solid 1px;
}

// siae detail view
#sidebar .map-holder {
	height: 200px;
}
