/* maparea */
.map-canvas,
#map-canvas {
	width:100%;
	height:100%;
}

.maparea .map-holder {
	height: 1111px;
	overflow: hidden;
	position: relative;
	border-radius: 5px;
	border: $gray-500 solid 1px;
}

.maparea iframe {
	border: 0;
	overflow: hidden;
	width: 100%;
	height: 1130px;
}

.maparea .holder {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
}
