.multiselect-container {
    padding: .5rem 0;
    margin: .125rem 0 0;
}

.multiselect-container .multiselect-all:focus, .multiselect-container .multiselect-all:hover, .multiselect-container .multiselect-group:focus, .multiselect-container .multiselect-group:hover, .multiselect-container .multiselect-option:focus, .multiselect-container .multiselect-option:hover {
    background-color: #000638 !important;
    color: white;
  }

.multiselect-container .multiselect-all.active:not(.multiselect-active-item-fallback), .multiselect-container .multiselect-all:not(.multiselect-active-item-fallback):active, .multiselect-container .multiselect-group.active:not(.multiselect-active-item-fallback), .multiselect-container .multiselect-group:not(.multiselect-active-item-fallback):active, .multiselect-container .multiselect-option.active:not(.multiselect-active-item-fallback), .multiselect-container .multiselect-option:not(.multiselect-active-item-fallback):active {
    background-color: #000091;
    color: white;
}

.multiselect-selected-text {
    text-transform: initial;
}
.multiselect-container .multiselect-all, .multiselect-container .multiselect-group, .multiselect-container .multiselect-option {
    padding: .5rem 1rem;
}

button.multiselect {
    cursor: default !important;
}

.multiselect-group {
    font-weight: 900;
    font-size: 1rem;
}
.multiselect-option {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#filter-search-form {
    button.multiselect {
        background: none;

        &::after {
            display: inline-block;
            font-family: remixicon !important;
            font-style: normal;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            line-height: 1;
            vertical-align: middle;
            position: absolute;
            right: 1rem;
            z-index: 1;
            font-weight: 400;
           content: '\ecf1';
        }
    }

    .multiselect-container {
        transform: translate3d(0px, 50px, 0px) !important;
    }
}

// fix scrolling bug on mobile when maxHeight is set: https://github.com/davidstutz/bootstrap-multiselect/issues/1191
@media screen and (max-width:1023px){
    .multiselect-container button.dropdown-item {
        pointer-events: none;
    }
    .multiselect-container span.form-check input {
        pointer-events: all;
    }
    .multiselect-container span.form-check label  {
        pointer-events: none;
    }
}
