.multiselect-selected-text {
    text-transform: initial;
}

button.multiselect {
    cursor: default !important;
}

.multiselect-group {
    font-weight: 900;
    font-size: 1rem;
    padding-bottom: 0 !important;
}
.multiselect-option {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#id_sectors_multiselect {
    button.multiselect {
        background-position: right 1rem center;
        background-repeat: no-repeat;
        background-image: url('/static/images/dir_form_ico_shape.png');
        background-size: 11px 15px;
        // TODO David: a remplacer par le svg de ri-file-list-line
    }

    .multiselect-container {
        transform: translate3d(0px, 50px, 0px) !important;
    }
}

// fix scrolling bug on mobile when maxHeight is set: https://github.com/davidstutz/bootstrap-multiselect/issues/1191
@media screen and (max-width:1023px){
    .multiselect-container button.dropdown-item {
        pointer-events: none;
    }
    .multiselect-container span.form-check input {
        pointer-events: all;
    }
    .multiselect-container span.form-check label  {
        pointer-events: none;
    }
}
