.s-mesurer-01 {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;

	@media (min-width:992px) {
		padding-top: 3rem;
	}

	p.h1 {
		position: relative;

		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 20px;
			z-index: 0;
			left: 50%;
			width: 30px;
			height: 30px;
			background-color: $marche-light;
			border-radius: 50%;
		}

		strong	{
			position: relative;
			z-index: 1;
		}
	}
} 
