.s-siae-01 {
	padding-top: 1rem;
	padding-bottom: 1rem;

	#csv_get {
		margin-top:3rem;
		margin-bottom:3rem;
		margin-left:auto;
		margin-right:auto;
	}

	#csv_form .jcf-checkbox {
		display: none;
	}
}

.s-siae-02 {
	background-color: $gray-400;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;

	@media (min-width:992px) {
		padding-top: 2rem;
		padding-bottom: 5rem;
	}

	#dir_list {
		display:flex;
		flex-direction: column;
	}

	#dir_list table {
		width:100%;
		background-color:$gray-100;
		border-spacing: 3px 14px;
	}

	#dir_list th {
		text-align:center;
	}

	#dir_list td {
		background-color:#fff;
		padding:.8rem 1rem;
	}

	#dir_list tr {
		margin-bottom:1rem;
	}

	#dir_list .meta {
		font-weight:300;
	}

	.sc-fav {
		position: absolute;
		display: block;
		width: 28px;
		height: 25px;
		margin: 0;
		padding: 0;
		border: none;
		line-height: 1;
		top: 0;
		right: 0;
		background-color: transparent;
		background-image: url('/static/images/sc-fav-star.svg');
		background-repeat: no-repeat;
		cursor: pointer;
	}

	.sc-fav:hover,
	.sc-fav.is-active {
		background-image: url('/static/images/sc-fav-star-active.svg');
	}

	@media screen and (min-width:768px) {
		.siae-info-sticky {
			position: sticky;
			top: 150px;
			z-index: 1;
		}
	}
}

.s-siae-03 {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	
	@media (min-width:992px) {
		padding-top: 2rem;
		padding-bottom: 3rem;
	}

	.listing-location {
		font-size:1rem;
		color:$black;
		text-align:center;
	}

	.profile-detail {
		color: $gray-900;
	}

	#dir-profile aside > .profile {

		@media screen and (min-width:992px) {
			background-image:url('/static/img/ronds_rose.svg');
			background-repeat:no-repeat;
			background-position: bottom left;
			background-color:#fff;
			box-shadow: 0 2px 19px 0 rgba(56,56,56,.1) !important;
			padding: 2rem 1rem;
			border-radius: .25rem;
			// position: sticky;
			// top: 150px;
			// z-index: 1;
		}
	}

	.profile_capsule {
	
		@media screen and (min-width:992px) {
				background-color:#fff;
				padding: 1rem;
				box-shadow: 0 2px 9px 0 rgba(56,56,56,.1) !important;
			}
	}

	.profile_capsule h3 {
		margin:2rem 1rem;
		padding-bottom:.4rem;
		padding-top:.6rem;
		border-bottom: 1px solid $gray-300;
	}

	.map_capsule .deflist,
	.profile_capsule .deflist {
		padding: 0;
	}

	.map_capsule {
		margin:2rem 1rem;
		border-radius:4px;
	}

	.user_description {
		padding:1rem;
		font-size:1.2rem;
	}

	#map-siae {
		z-index: 1;
	}

	.map_details {
		background-color: #fff;
		border-radius: 0 4px 4px 0;

		.prof_icon {
			min-width: 30px
		}
	}

	.map_coordonnees__btn {

		&[aria-expanded="false"] {
			#map_coordonnees__ico-up {
				display: none;
			}

			#map_coordonnees__ico-down {
				display: inline;
			}
		}

		&[aria-expanded="true"] {
			#map_coordonnees__ico-up {
				display: inline;
			}

			#map_coordonnees__ico-down {
				display: none;
			}
		}
	}

	.profile-detail {
		.img-left {
			display: flex;
			flex-direction: row;
			justify-content: stretch;
		}

		.il-r {
			flex: 1;
		}
	}
	
	#content {
		display: grid;
		grid-column-gap: 16px;
		grid-row-gap: 16px;
		grid-template-columns: 1fr; 
		grid-template-rows: auto;
				
		@media (min-width:992px) {
			grid-template-columns: 66% 33%;
			grid-template-rows: auto 1fr;

			#user_profile {
				grid-column: 1 / 1;
				grid-row: 1 / 1;
			}
			
			#sidebar {
				grid-column: 2 / 2;
				grid-row: 1 / 3;
			}
			
			#user_detail {
				grid-column: 1 / 1;
				grid-row: 2 / 2;
			}
		}

		@media (min-width:1200px) {
			grid-column-gap: 32px;
			grid-row-gap: 32px;
		}		
	}
	
	.img-left .il-l img {
		margin-top: 0.25rem;
		margin-right: 0.5rem;
	}

	.img-left span.il-l {
		width:45px;
		flex-shrink: 0;
	}

	.img-left span.il-r {
		flex-grow:1;
		display:block;
	}

	.prests-holder {
		display:flex;
		flex-wrap:wrap;
	}

	.prests-post {
		min-height:4rem;
	}

	.prests-post h4 {
		display:inline;
		margin-left: 0.25rem;
	}

	.equal {
		display: flex;
		display: -webkit-flex;
		flex-wrap: wrap;
	}

	#user_profile {
		background-color: $gray-400;
		padding: 1.5rem;
		margin: 0;
		border-radius: 0.5rem;
	}

	#user_profile h3 {
		margin-top: 0;
		margin-bottom: 1rem;
	}

	#user_profile .gallery-small {
		margin: 0 0 20px;
		overflow: hidden;
		border-radius: 0.25rem;
		position: relative;
		text-align: center;
	}

	#user_profile .gallery-small .img-container {
		// width: 150px;
		height: 100px;
		margin: 0 auto;
	}

	#user_profile .gallery-small .img-container img {
		max-height: 100%;
		max-width: 100%;
	}

	.active_sectors {
		list-style-type: none;
		margin:0;
	}

	.active_sectors > li:before {
		content: "- ";
		text-indent:-5rem;
	}
	.active_sectors {
		padding-left:0;
	}

	img.client-ref {
		max-height: 100px;
		max-width: 100px;
	}

	#user_update_cta {
	
		.col-12 {
	
			.card {
				position: relative;
	
				@media (min-width:992px) {
					background-image: url('/static/images/partenaires-illu-01.png');
					background-repeat: no-repeat;
					background-position: right center;
					background-size: auto 100%;
				}			
			}
	
			.card-footer {
				background-color: transparent !important;
			}
		}
	} 	
}

.si-separator {
	border-bottom: 5px solid $marche;
}

.btn-favorite {
	z-index: 10;
	position: absolute;
	// top: 1rem;
	// right: 1rem;
	// padding: 0;
	top: 0;
	right: 0;
}

.si-ideas p {
	display:flex;
	flex-direction:row;
}

.siae-card {
	margin-bottom: 1.5rem;
	border-bottom-width: 5px !important;

	.sc-img {
		width: 90px;
	}

	.sc-profile-type,
	.sc-profile-sectors {
		span.ml-1 {
			word-break: break-word;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			max-height: 60px;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
		}
	}

	.card-footer {
		background-color: $gray-400 !important;
		margin: 0;
		text-align: center;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media screen and (max-width:576px) {
	.siae-card .sc-img {
		display: none !important;
	}

	.siae-card .card-footer {
		padding-left: 16px;
	}		
}
