.c-card--marche-tender::after, .c-card--marche-proj::after, .c-card--marche-quote::after {
    height: 4px;
}

.badge-tender, .badge-proj, .badge-quote {
    color: $white;
}

.c-card--marche-tender::after, .badge-tender {
    background-color: $marche-tender;
}

.c-card--marche-proj::after, .badge-proj {
    background-color: $marche-proj;
}

.c-card--marche-quote::after, .badge-quote {
    background-color: $marche-quote;
}

.c-card--marche-outdated::after {
    background-color: $marche-outdated;
}
