// itou.scss > DIRECTORY STYLES

.network_link {
    text-decoration:none;
    border:1px solid transparent;
    color:#000638;
    padding: 0 .2rem;
}

.network_link:hover {
    text-decoration:none;
    border-bottom-color:#000638;
    color:#000638;
}

#dir_list {
    /* background-color:#f2f8ff; */
    display:flex;
    flex-direction: column;
    margin-top:1rem;
    padding:1rem 2rem 3rem;
}

#dir_list table {
    width:100%;
    background-color:#f2f8ff;
    border-spacing:3px 14px;
}

#dir_list th {
    text-align:center;
}

#dir_list td {
    background-color:#fff;
    padding:.8rem 1rem;
}

#dir_list tr {
    margin-bottom:1rem;
}

#dir_list .meta {
    padding: 1rem 0 3rem 1rem;
    font-size:2rem;
    font-family:roboto;
    font-weight:300;
}


@media screen and (min-width:768px) {
    .dir_list-row {
        display: flex;
        justify-content: stretch;
    }

    .dir_list-row .col-sm-8,
    .dir_list-row .col-sm-4 {
        float: none !important;
    }
}

.siae-card-container {
    text-decoration:none;
    display:block;
    border: 2px solid transparent;
    border-radius:9px;
    box-shadow: 0px 9px 9px -8px rgba(0,0,0,0.2);
    margin-bottom:2rem;
    padding:1rem;
}   

.siae-card-container:hover {
    text-decoration:none;
    color:#000638;
    display:block;
    box-shadow: 0px 3px 11px 7px rgba(0,0,0,0.2);
}

.siae-card-container:active,
.siae-card-container:focus {
    text-decoration:none;
    color:#000638;
    border-color:transparent;
}

.siae-card {
    display:flex;
    flex-direction: row;
}

.siae-info {
    font-family:roboto;
}

@media screen and (min-width:768px) {
    .siae-info-sticky {
        position: sticky;
        top: 150px;
        z-index: 1;
    }
}

.siae-info .maparea .map-holder {
    height:19rem
}

.sc-img {
    max-width: 70px;
}

.sc-main {
    display:flex;
    flex-direction: column;
    color:#000638;
    flex: 1;
}

.sc-head {
    position: relative;
    padding-right: 40px;
}

.sc-fav {
    position: absolute;
    display: block;
    width: 28px;
    height: 25px;
    margin: 0;
    padding: 0;
    border: none;
    line-height: 1;
    top: 0;
    right: 0;
    background-color: transparent;
    background-image: url('/static/images/sc-fav-star.svg');
    background-repeat: no-repeat;
    cursor: pointer;
}

.sc-fav:hover,
.sc-fav.is-active {
    background-image: url('/static/images/sc-fav-star-active.svg');
}

.sc-main h3 {
    margin:0;
    padding:0;
    font-size:1.25rem;
    margin-bottom:1rem;
}

.sc-body li {
    margin-bottom:1rem;
}

.sc-body ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

.sc-body li img {
    width:20px;
    margin-right:.7rem;
}

.sc-body li span {
    flex-grow:1;
    display:block;
}

@media screen and (min-width:768px) {
    .sc-profile ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

.sc-profile li {
    padding-left: 2rem;
    min-height:25px;
    background-position: left top;
    background-repeat: no-repeat;
}

.sc-profile li.sc-profile-kind {
    background-image: url('/static/img/siae_list_kind.svg');
}
.sc-profile li.sc-profile-type {
    background-image: url('/static/img/siae_list_type.svg');
}
.sc-profile li.sc-profile-sectors {
    background-image: url('/static/img/siae_list_sectors.svg');
    grid-area: 2 / 1 / 4 / 2; 
}
.sc-profile li.sc-profile-sectors-empty {
    grid-area: 2 / 1 / 4 / 2;
}

.sc-profile li.sc-profile-town {
    background-image: url('/static/img/siae_list_town.svg');
}
.sc-profile li.sc-profile-town-work {
    background-image: url('/static/img/siae_list_town_work.svg');
}

.si-separator {
    padding:0 1rem 2rem;
    border-bottom:5px solid #FE5455;
}

.si-ideas p {
    display:flex;
    flex-direction:row;
}
.si-ideas span {
    display:block;
    padding-left:.4rem;
}

@media screen and (max-width:576px) {
    .siae-card .sc-profile ul {
        flex-direction:column;
        flex-wrap:wrap;
    }

    .siae-card .sc-body li {
        margin-bottom:1rem;
        width:100%;
        display:flex;
        flex-direction:row;

    }
    .siae-card {
        flex-direction: column !important;
    }

    .siae-card .sc-img {
        display: none !important;
    }    
}


#csv_get {
    margin-top:3rem;
    margin-bottom:3rem;
    margin-left:auto;
    margin-right:auto;
}

#dir_form {
    padding:2rem 3rem;
    background-color:#FEEDEE;
    border-radius: 5px;
}

.dir_form .first-row {
    position: relative;
}

.dir_form .title {
    font-weight:bold;
    margin-bottom:3px;
}

#dir_form .label-container div  {
    display: inline-block;
}

#dir_form .btn-group {
    width:100%;
}


#dir_form #address {
    background-image: url('/static/img/dir_form_ico_map.png');
}

@media screen and (min-width: 767px) {
    .dir_form .first-row button.multiselect {
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }
}    

@media screen and (min-width: 767px) {
    .dir_form .first-row input.form-control {
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        border-left: none !important;
    }
}    

#dir_form button.multiselect {
    display: block;
    width: 100%;
    text-align: left;
    background-color: #fff;
    color: #979797;
    border: 1px solid #979797;
    margin:0;
    background-position: right 10px center;
    background-repeat: no-repeat;    
    background-image: url('/static/img/dir_form_ico_shape.png');    
}

#dir_form ul.multiselect-container a {
    text-decoration:none;
    cursor: pointer;
}

#csv_form .jcf-checkbox { display:none }

.dir_form .jcf-select,
.dir_form input.form-control {
    height: 2.5rem;
    border: 1px solid #979797;
    border-radius: 3px 5px 5px 3px;
    background-color: #FFFFFF;
    background-position: right 10px center;
    background-repeat: no-repeat;
}

#dir_form ::placeholder {
    color: #A8A7A7;
}

.dir_form .reset,
.dir_form .btn,
.dir_form #filter-submit {
    height: 2.5rem;
    line-height: 1;
    margin-top:1rem;
}

@media screen and (min-width: 767px) {
    .dir_form .reset,
    .dir_form .btn,
    .dir_form #filter-submit {
        margin-top:2.5rem;
    }
}

.headlink h3 {
    margin-top:0;
}

.headlink ol {
    margin:1rem 0 1rem 3rem;
    padding:0;
    font-size:1.4rem;
    font-weight:500;
}

#formlink a,
#formlink a:active,
#formlink a:focus {
    color:#000638 !important; 
}

#formlink a:hover {
    color:#fff !important; 
}

#dirlink {
    background-color:#EAF3FC;
}

#formlink {
    background-color:#fff;;
    border: 3px solid #fe5455;
}

.headlink a {
    position:absolute;
    bottom:1rem;
    margin-left:9%;
    width:70%;
}

.headlink {
    margin: 3rem 0 2rem;
    padding: .8rem 2rem 5rem;
    line-height:2.2rem;
    border-radius:8px;
    position:relative;
    width:45%;
}

#formlink img {
    margin-top:20px;
    margin-bottom:28px;
}

#c4_temp_head {
    display:flex;
    justify-content:space-around;
    width:100%;
}

@media screen and (max-width:576px) {
    #c4_temp_head {
        flex-flow: column wrap;
    }
    .headlink {
        width:100%;
    }
}

.modal-siae li {
    list-style-type: none;

    a {
        text-decoration: none;
        margin-top:1rem;
        display:block;
    }

    a:hover {
        text-decoration: underline;
    }
}
