{% for message in messages %}
    {% if message.extra_tags and message.extra_tags == "modal_message" %}
        <script type="text/javascript">
			window.addEventListener('load', function() {
				setTimeout(function() {
					OpenBootstrapModal();
				}, 1000); // 1000 millisecondes = 1 secondes
			  });
			function OpenBootstrapModal() {
				$("#message{{ forloop.counter }}").modal('show');
			}

        </script>
        <div class="modal fade"
             id="message{{ forloop.counter }}"
             tabindex="-1"
             aria-labelledby="{{ message }}"
             style="display: none"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Information importante</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                            <i class="ri-close-line"></i>
                        </button>
                    </div>
                    <div class="modal-body">{{ message | safe }}</div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-sm btn-outline-primary"
                                data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="alert {{ message.tags }} alert-dismissible fade show mt-3"
             role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Fermer">
                <i class="ri-close-line"></i>
            </button>
            {{ message | safe }}
        </div>
    {% endif %}
{% endfor %}
