<div class="fr-hidden">
    <div id="tooltip-super-badge">
        <ul class="list-unstyled pt-1">
            <li><i class="ri-check-line icon-success"></i> Fiche commerciale complète et mise à jour régulièrement</li>
            <li><i class="ri-check-line icon-success"></i> Taux de réponse élevé</li>
            <li><i class="ri-check-line icon-success"></i> Délai moyen de réponse bas</li>
            <li><i class="ri-check-line icon-success"></i> Coordonnées de contact à jour</li>
        </ul>
    </div>
</div>
