{% if TALLY_BUYER_POLL_FORM_ID %}
    <script>
    window.TallyConfig = {
        "formId": "{{ TALLY_BUYER_POLL_FORM_ID }}",
        "popup": {
            "width": 500,
            "emoji": {
                "text": "👋",
                "animation": "wave"
            },
            "overlay": true,
            "autoClose": 1000,
            "showOnce": true,
            "doNotShowAfterSubmit": true
        }
    };
    </script>
    <script async src="https://tally.so/widgets/embed.js"></script>
{% endif %}
