<div class="c-box c-box--promo-partenaire fr-my-4w">
    <div class="fr-grid-row">
        <div class="fr-col-12 fr-p-4w">
            <h3 class="fr-h4 fr-mb-1w">Un premier pas dans les achats inclusifs</h3>
            <p class="fr-mb-2w">
                <strong>Faites appel à un traiteur inclusif pour vos événements d'entreprise</strong>
            </p>
            <p class="fr-text--sm fr-mb-4w">
                Grâce à la plateforme Les Traiteurs Engagés, chaque commande devient un acte RSE concret et valorisable : suivez votre impact social grâce au tableau de bord intégré et déduisez vos dépenses de votre contribution OETH.
            </p>
            <a href="https://traiteurs-engages.inclusion.gouv.fr/?mtm_campaign=Source%20Marche"
               rel="noopener noreferrer"
               target="_blank"
               class="fr-btn fr-btn--secondary has-external-link"
               aria-label="Découvrir Les Traiteurs Engagés en Île-de-France, ouverture dans un nouvel onglet">
                Découvrir Les Traiteurs Engagés en Île-de-France
            </a>
        </div>
    </div>
</div>
