<script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/tarteaucitronjs@1.26.0/tarteaucitron.min.js"
        integrity="sha384-7jFwdx+LzATjPAX6eCSpQy9IFevP6qNjbYPGhZWHVvWgAF/n8Qao4WJuUGDwbnE2"
        crossorigin="anonymous"></script>
<script type="text/javascript">
// Tarteaucitron's language is set according to the browser configuration
// but a lot of users don't know how to change it.
// This can be forced only by using a global `var` statement.
// https://github.com/AmauriC/tarteaucitron.js/blob/98b02b0bdda670bd953752d85443c3fd77dde724/tarteaucitron.js#L5
var tarteaucitronForceLanguage = "fr";

tarteaucitron.init({
    "privacyUrl": "", /* Privacy policy url */
    "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
    "cookieName": "tarteaucitron", /* Cookie name */
    "orientation": "bottom", /* Banner position (top - bottom) */  // itou is 'top'
    "groupServices": false, /* Group services by category */
    "serviceDefaultState": "wait", /* Default state (true - wait - false) */
    "showAlertSmall": false, /* Show the small banner on bottom right */
    "cookieslist": false, /* Show the cookie list */
    "closePopup": false, /* Show a close X on the banner */
    "showIcon": true, /* Show cookie icon to manage cookies */
    //"iconSrc": "", /* Optionnal: URL or base64 encoded image */
    "iconPosition": "BottomLeft", /* BottomRight, BottomLeft, TopRight and TopLeft */  // BottomLeft to match itou. BottomRight already has Crisp.
    "adblocker": false, /* Show a Warning if an adblocker is detected */
    "DenyAllCta" : true, /* Show the deny all button */
    "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
    "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
    "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */
    "removeCredit": true, /* Remove credit link */
    "moreInfoLink": true, /* Show more info link */
    "useExternalCss": true, /* If false, the tarteaucitron.css file will be loaded */
    "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */
    //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */
    "readmoreLink": "https://storage.crisp.chat/public/documents/Crisp Privacy Policy FR.pdf", /* Change the default readmore link */
    "mandatory": true, /* Show a message about mandatory cookies */
    "mandatoryCta": true, /* Show the disabled accept button when mandatory on */
    "forceLanguage": "fr",
});

// Google Tag Manager
tarteaucitron.user.googletagmanagerId = "{{ GOOGLE_TAG_MANAGER_ID }}";
(tarteaucitron.job = tarteaucitron.job || []).push('googletagmanager');

{% if CRISP_ID %}
    tarteaucitron.user.crispID = "{{ CRISP_ID }}";
    (tarteaucitron.job = tarteaucitron.job || []).push('crisp');    
{% endif %}
</script>
{% if MATOMO_HOST %}
    <script>
        // Matomo
        tarteaucitron.user.matomoId = {{ MATOMO_SITE_ID }};
        tarteaucitron.user.matomoHost = "{{ MATOMO_HOST }}";
        (tarteaucitron.job = tarteaucitron.job || []).push('matomo');
    </script>
    {% if matomo_custom_url %}
        <script>
            var _paq = window._paq || [];
            _paq.push(['setCustomUrl', new URL('{{ matomo_custom_url }}', window.location.origin).href]);

            {% if user.is_authenticated %}
                _paq.push(['setUserId', '{{ user.id }}']);  // User ID
                _paq.push(['setCustomDimension', 1, '{{ user.kind }}']);  // User Type
                _paq.push(['setCustomDimension', 2, '{{ user.kind_detail_display }}']);  // User Type Display
            {% endif %}
        </script>
        {% if MATOMO_TAG_MANAGER_CONTAINER_ID %}
            <script>
                // Matomo Tag Manager
                var _mtm = window._mtm = window._mtm || [];
                _mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.async=true; g.src='{{ MATOMO_HOST }}js/container_{{ MATOMO_TAG_MANAGER_CONTAINER_ID }}.js'; s.parentNode.insertBefore(g,s);
            </script>
        {% endif %}
    {% endif %}
{% endif %}
