{% load static %}
<div class="c-box c-box--promo-partenaire fr-my-4w" x-data="{ open: true }" x-show="open">
    <button type="button"
            class="c-box--promo-partenaire__close"
            @click="open = false"
            aria-label="Fermer la bannière">
        <span class="fr-icon-close-line" aria-hidden="true"></span>
    </button>
    <div class="fr-grid-row fr-grid-row--middle">
        <div class="fr-col-12 fr-col-md-9 fr-py-3w fr-px-4w">
            <h3 class="fr-h5 fr-mb-1w">Un premier pas dans les achats inclusifs</h3>
            <p class="fr-mb-1w">
                <strong>Faites appel à un traiteur inclusif pour vos événements d'entreprise</strong>
            </p>
            <p class="fr-text--sm fr-mb-3w">
                Grâce à la plateforme Les Traiteurs Engagés, chaque commande devient un acte RSE concret et valorisable : suivez votre impact social grâce au tableau de bord intégré et déduisez vos dépenses de votre contribution OETH.
            </p>
            <a href="https://traiteurs-engages.inclusion.gouv.fr/?mtm_campaign=Source%20Marche"
               rel="noopener noreferrer"
               target="_blank"
               class="fr-btn fr-btn--secondary has-external-link"
               aria-label="Découvrir Les Traiteurs Engagés en Île-de-France, ouverture dans un nouvel onglet">
                Découvrir Les Traiteurs Engagés en Île-de-France
            </a>
        </div>
        <div class="fr-col-md-3 fr-hidden fr-unhidden-md c-box--promo-partenaire__illu-wrapper">
            <img src="{% static 'images/Illu_LTE.png' %}"
                 alt=""
                 aria-hidden="true"
                 class="c-box--promo-partenaire__illu">
        </div>
    </div>
</div>
