<div class="modal fade modal-siae" id="user_type_modal" tabindex="-1" role="dialog" aria-modal="true" data-backdrop="static" data-keyboard="false" aria-labelledby="modalTitle">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalTitle">
                    {% if search_results_count %} <!-- Siae search -->
                    Plus de {{ search_results_count }} prestataires inclusifs répondent à votre recherche.
                    {% else %}
                    Vous y êtes presque !
                    {% endif %}                    
                </h3>
            </div>
            <div class="modal-body home-content-body">
                <p>
                    {% if search_results_count %} <!-- Siae search -->
                    Pour accéder aux résultats, dites-nous si vous êtes :
                    {% else %}
                    Pour accéder à cette page, dites-nous si vous êtes :
                    {% endif %}
                </p>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" data-usr="buyer" class="btn btn-outline-primary btn-block text-left">Une entreprise ou une institution qui souhaite augmenter ses achats inclusifs</a></li>
                    <li class="mb-2"><a href="#" data-usr="siae" class="btn btn-outline-primary btn-block text-left">Une structure d'insertion ou du handicap</a></li>
                    <li class="mb-2"><a href="#" data-usr="actor" class="btn btn-outline-primary btn-block text-left">Un acteur de l'inclusion (facilitateurs, réseaux…)</a></li>
                    <li class="mb-2"><a href="#" data-usr="other" class="btn btn-outline-primary btn-block text-left">Autre</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% if not user.is_authenticated %}
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
    // show type user modal
    const USER_TYPE_MODAL_COOKIE_NAME = 'leMarcheTypeUsagerV2';
    $(document).on('shown.bs.modal', '.modal', function () {
        $('.modal-backdrop').before($(this));
    });

    if (!document.cookie.split('; ').find(row => row.startsWith(USER_TYPE_MODAL_COOKIE_NAME))) {
        var modal = $('#user_type_modal');
        // modal.find('.close').remove();
        modal.modal('show');

        modal.find('a').on('click', (e) => {
            // Only set cookie if button clicked
            let type = $(e.target).data('usr');
            document.cookie = `${USER_TYPE_MODAL_COOKIE_NAME}=${type}; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/; Secure`;

            if (typeof track === 'function') {
                track('', Steps.USER_TYPE, {'type': type});
            }
            modal.modal('hide');

            // show _header_notice_contact.html if buyer or actor
            if ((type === 'buyer') || (type === 'actor')) {
                const headerNotice = document.getElementById('header-notice');
                if (headerNotice) {
                    headerNotice.classList.remove('d-none');
                }
            }
        })
    }
});
</script>
{% endif %}
