{% load static %}
<div x-data="multiselect()" class="fr-checkbox-group" {{ widget.attrs }}>
    <div class="fr-input-wrap">
        <input type="text"
               class="fr-input"
               x-model="selectedLabels"
               readonly
               placeholder="Sélectionner des options">
        <button type="button"
                class="fr-btn fr-btn--icon-right fr-m-0"
                @click="toggle"
                :class="open ? ' fr-icon-arrow-up-s-line' : 'fr-icon-arrow-down-s-line'"></button>
    </div>
    <div x-show="open"
         x-ref="dropdown"
         class="fr-checkbox-list"
         :class="{ show: open }">
        {% for group, options, index in widget.optgroups %}
            {% if group %}<div class="fr-checkbox-group-title">{{ group }}</div>{% endif %}
            {% for option in options %}
                <div class="fr-checkbox fr-py-1w">
                    <input type="checkbox"
                           id="{{ option.attrs.id }}"
                           name="{{ widget.name }}"
                           value="{{ option.value }}"
                           x-value="{{ option.label }}"
                           {% if option.selected %}checked{% endif %}
                           {% include "django/forms/widgets/attrs.html" %}
                           @click="updateSelection($event)">
                    <label for="{{ option.attrs.id }}">{{ option.label }}</label>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
