#header-env-notice {
    line-height: 1.5;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
}

/* fix bug for apply multiselect filter */
#btn_mchoice_scale_marche_useless {
    margin-left: 1em;
    margin-bottom: 2em;
}