#header-env-notice p {
    color: black;
    line-height: 1.5;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

/* fix bug for apply multiselect filter */
#changelist-filter details input[type=submit] {
    margin-left: 1em;
    margin-bottom: 1.5em;
}

@media (max-width: 767px) {
    div.flex-container {
        flex-flow: wrap;
        /* changes to 'column' on small screens, but breaks stuff like checkboxes */
    }
}

.custom-checkbox-select-multiple {
    display: table-cell;
}

div.custom-checkbox-select-multiple>div>label {
    width: 100%;
    /* 160px default ; to avoid line breaks */
}

#content-main .aligned label {
    width: auto;
}

#content-main .aligned .help {
    margin-left: 0;
    padding-left: 0;
}

/* Modal style for tender change admin */
.tender-send-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.tender-send-modal-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #212121;
    margin: auto;
    max-width: 500px;
    width: 90%;
    padding: 20px;
    border-radius: 4px;
}

#submit-tender {
    margin-bottom: 0;
}

#submit-button.submit-button {
    background-color: #ba2121;
}

#submit-button.submit-button:hover {
    background-color: #a41515;
}

#cancel-button {
    margin-left: auto;
    padding: 10px 15px;
}

#cancel-button:hover {
    padding: 10px 15px;
}