{% load static bootstrap4 wagtailcore_tags %}

<section class="s-hp-studies-cases-tenders py-5">
    <div class="s-hp-studies-cases-tenders__container container">
        <div class="s-hp-studies-cases__row row">
            <div class="col-sm-6 col-md-3 my-4 my-sm-auto">
                <h2 class="h2 mb-3 mb-lg-5">100% des besoins ont reçu des réponses en 24h</h2>
                <p>Gagnez du temps en utilisant le marché.</p>
                <a href="{% url 'tenders:create' %}" id="home-studie-cases" class="btn btn-primary d-block d-md-inline-block mb-2">
                    <i class="ri-mail-send-line mr-2"></i>Publier un besoin d'achat
                </a>
            </div>
            <div class="col-sm-6 col-md-3 my-4 my-sm-auto">
                <div class="card c-card has-one-link-inside">
                    <img src="{% static 'images/logo-siemens.min.jpg' %}" class="card-img-top" alt="Logo de Siemens">
                    <div class="card-body">
                        <a href="{% slugurl "siemens-besoin-en-développement-dapplications-it" %}" class="btn btn-link text-left pl-0 stretched-link">
                          Besoin en développement d'applications IT
                        </a>
                    </div>
                    <div class="card-footer">
                        <p class="display-1 mb-1">
                            <i class="ri-arrow-right-line ri-xl"></i> 48
                        </p>
                        <p class="display-4">structures répondantes</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 my-4 my-md-auto">
                    <div class="card c-card has-one-link-inside">
                        <img src="{% static 'images/logo-bouygues-construction.min.jpg' %}" class="card-img-top" alt="Logo de Bouygues construction">
                        <div class="card-body">
                        <a href="{% slugurl "bouygues-construction-recherche-dune-entreprise-de-nettoyage" %}" class="btn btn-link text-left pl-0 stretched-link">
                          Recherche d'une entreprise de nettoyage
                        </a>
                        </div>
                        <div class="card-footer">
                            <p class="display-1 mb-1">
                                <i class="ri-arrow-right-line ri-xl"></i> 68
                            </p>
                            <p class="display-4">structures répondantes</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-3 my-4 my-md-auto">
                <div class="card c-card has-one-link-inside">
                    <img src="{% static 'images/logo-ministere-agriculture.min.jpg' %}" class="card-img-top" alt="Logo du ministère de l'agriculture et de l'alimentation">
                    <div class="card-body">
                        <a href="{% slugurl "ministère-de-lagriculture-besoin-en-prestations-de-cocktails-et-de-buffet" %}" class="btn btn-link text-left pl-0 stretched-link">
                            Besoin en prestations de cocktails et de buffets
                        </a>
                    </div>
                    <div class="card-footer">
                        <p class="display-1 mb-1">
                            <i class="ri-arrow-right-line ri-xl"></i> 18
                        </p>
                        <p class="display-4">structures répondantes</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>
