<div class="modal fade modal-siae" id="modal_login_to_access_advanced_search" tabindex="-1" role="dialog" aria-modal="true" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Pour accéder à la recherche avancée multicritères, inscrivez-vous, c'est gratuit !</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                    <i class="ri-close-line"></i>
                </button>
            </div>
            <div class="modal-body home-content-body">
                <p class="mb-4">
                    Vous pourrez filtrer selon les critères suivants :
                </p>
                <ul class="list-unstyled mb-5">
                    <li class="d-flex mb-2">
                        <span class="font-weight-bold ml-2">Type de structure</span>
                    </li>
                    {% comment %}<li class="d-flex mb-2">
                        <span class="font-weight-bold ml-2">Certification (Qualibat, RGE, Ecocert, Imprim'vert, Bio, ESS…)</span>
                    </li> {% endcomment %}
                    <li class="d-flex mb-2">
                        <span class="font-weight-bold ml-2">Taille d'entreprise</span>
                    </li>
                    <li class="d-flex mb-2">
                        <span class="font-weight-bold ml-2">Chiffre d'affaires</span>
                    </li>
                    <li class="d-flex mb-2">
                        <span class="font-weight-bold ml-2">Localisation</span>
                    </li>
                    <li class="d-flex mb-2">
                        <span class="font-weight-bold ml-2">Référence client</span>
                    </li>
                    <li class="d-flex mb-2">
                        <span class="font-weight-bold ml-2">Groupement</span>
                    </li>
                    <li class="d-flex mb-2">
                        <span class="font-weight-bold ml-2">QPV/ZRR</span>
                    </li>
                    <li class="d-flex mb-2">
                        <span class="font-weight-bold ml-2">Forme juridique</span>
                    </li>
                </ul>
                <div class="text-center">
                    <a href="{% url 'auth:signup' %}?next=/prestataires/" id="auth-link" class="btn btn-sm btn-primary">Créer un compte</a>
                </div>
                <hr class="my-5" data-text="ou" />
                <div class="text-center">
                    <p class="mb-0">Vous avez déjà un compte ?</p>
                    <a href="{% url 'auth:login' %}?next=/prestataires/" id="auth-link" class="btn btn-sm btn-link">Se connecter</a>
                </div>
            </div>
        </div>
    </div>
</div>
