{% if not user.is_authenticated %}
    <dialog aria-labelledby="login_or_signup_modal_title" role="dialog" id="login_or_signup_modal" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="login_or_signup_modal">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h3 id="login_or_signup_modal_title" class="fr-modal__title">Profitez gratuitement du Marché</h3>
                            <p>
                                Ce ne sera pas long ! Inscrivez-vous et accédez à toutes les fonctionnalités du marché.
                            </p>
                            <ul class="fr-text--bold">
                                <li class="fr-icon-checkbox-circle-fill">
                                    Publiez vos besoins auprès des structures, et retrouvez celles qui sont intéressées.
                                </li>
                                <li class="fr-icon-checkbox-circle-fill">
                                    Téléchargez la liste complète des structures figurant sur le marché.
                                </li>
                                <li class="fr-icon-checkbox-circle-fill">
                                    Créez des listes d'achat et sauvegardez vos structures favorites.
                                </li>
                                <li class="fr-icon-checkbox-circle-fill">
                                    Accédez aux coordonnées des structures.
                                </li>
                            </ul>
                            <ul class="fr-btns-group">
                                <li>
                                    <a href="{% url 'auth:signup' %}?next=next-params-to-replace" id="auth-link" class="fr-btn">Créer un compte</a>
                                </li>
                            </ul>
                            <p class="fr-hr-or fr-my-4v">ou</p>
                            <p>Vous avez déjà un compte ?</p>
                            <ul class="fr-btns-group">
                                <li>
                                    <a href="{% url 'account_login' %}?next=next-params-to-replace" id="auth-link" class="fr-btn fr-btn--tertiary">Se connecter</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>

    <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        const MODAL_ID = 'login_or_signup_modal';
        document.getElementById(MODAL_ID).addEventListener('dsfr.disclose', (event) => {
            // Button that triggered the modal
            var button = event.explicitOriginalTarget;
            // Extract info from data-* attributes
            var nextParams = button.dataset['nextParams'];

            // Update the modal's content
            // - replace next param for login & signup
            var modal = document.querySelector('#' + MODAL_ID);
            modal.querySelectorAll('#auth-link').forEach(link => {
                var linkUrl = link.getAttribute('href');
                link.setAttribute('href', linkUrl.replace('next-params-to-replace', nextParams));
            });
        });
    });
    </script>
{% endif %}
