{% load static %}
{% load theme_inclusion %}

<style>
  .remix {
  width: 24px;
  height: 24px;
  fill: #333;
}
</style>

<div class="modal fade modal-siae"
     id="login_or_signup_siae_tender_modal"
     tabindex="-1"
     role="dialog"
     aria-modal="true"
     data-backdrop="static"
     data-keyboard="false"
     aria-labelledby="title_modal_login">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                    <i class="ri-close-line"></i>
                </button>
            </div>
            <div class="modal-body home-content-body">
                <h3 id="title_modal_login" class="text-center mb-4">
                    {{ title|default:"Connectez-vous pour accédez aux coordonnées du client" }}
                </h3>
                <div class="text-center">
                    <a href="{% url 'auth:login' %}?next=next-params-to-replace"
                       id="auth-link"
                       class="btn btn-primary">Se connecter</a>
                </div>
                <hr class="my-5" data-text="ou" />
                <div class="text-center">
                    <h4>Vous n'avez pas de compte ?</h4>
                    <a href="{% url 'auth:signup' %}?next=next-params-to-replace"
                       id="auth-link"
                       class="btn btn-sm btn-info">Créer un compte</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
    const MODAL_ID = '#login_or_signup_siae_tender_modal';
    $(MODAL_ID).on('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = $(event.relatedTarget);

        // Extract info from data-* attributes
        var nextParams = button.data('next-params');

        // Update the modal's content
        // - replace next param for login & signup
        var modal = document.querySelector(MODAL_ID);
        modal.querySelectorAll('#auth-link').forEach(link => {
            var linkUrl = link.getAttribute('href');
            link.setAttribute('href', linkUrl.replace('next-params-to-replace', nextParams));
        });
    });
});
</script>
