{% extends "layouts/base.html" %}
{% load bootstrap4 %}

{% block title %}Connexion{{ block.super }}{% endblock %}

{% block content %}
<section class="pt-4 pb-6">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <h2 class="mb-3 mb-lg-5"><strong>Connexion</strong></h2>

                <form method="POST" action="">
                    {% if email_exists_password_empty %}
                    <div id="post-migration-login-message" class="alert alert-success" role="alert">
                        ❗ Le marché de l'inclusion fait peau neuve !
                        Pour accompagner les évolutions futures de la plateforme,
                        nous vous invitons à <a href="{% url 'auth:password_reset' %}"><strong>redéfinir un nouveau mot de passe</strong></a>.
                    </div>
                    {% endif %}
                
                    <div class="bg-white d-block rounded-lg shadow-lg p-3 p-lg-5">
                        {% csrf_token %}

                        <!-- TODO: post-migration -->
                        {% if not email_exists_password_empty %}
                        {% bootstrap_form_errors form type="all" %}
                        {% endif %}

                        <fieldset>
                            {% bootstrap_field form.username %}
                            {% bootstrap_field form.password %}
                            <small class="form-text text-muted"><a href="{% url 'auth:password_reset' %}">Mot de passe oublié</a> ?</small>
                        </fieldset>

                    </div>

                    <div class="row mt-3 mt-lg-5 justify-content-end">
                        <div class="col-12 col-lg-auto px-5 px-lg-6">
                            <button type="submit" class="btn btn-primary btn-block btn-ico">
                                <span>Valider</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                                    <path fill="currentColor" fill-rule="nonzero" stroke="currentColor" d="M1.964 8.95h11.03L9.51 12.737a.451.451 0 00.037.646.474.474 0 00.66-.037L14.386 8.8l.035-.043.033-.05.013-.05V8.539c0-.012.033-.02.033-.044v-.151l-.014-.05-.019-.03-.034-.045-4.193-4.566a.474.474 0 00-.66-.037.452.452 0 00-.036.646l3.45 3.777H1.963a.46.46 0 00-.464.455.46.46 0 00.464.455z"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </form>

                <br />

                <div class="row mt-3 mt-lg-5">
                    <div class="col-12 text-center text-lg-left">
                        <p class="lead">Vous n'avez pas de compte ? <a href="{% url 'auth:signup' %}">Créer un compte</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
