{% extends "layouts/base.html" %}
{% load bootstrap4 %}

{% block title %}Connexion{{ block.super }}{% endblock %}

{% block content %}
<section class="pt-4 pb-6">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <h2 class="mb-3 mb-lg-5"><strong>Connexion</strong></h2>

                <form method="POST" action="">
                    {% if email_exists_password_empty %}
                    <div id="post-migration-login-message" class="alert alert-success" role="alert">
                        ❗ Le marché de l'inclusion fait peau neuve !
                        Pour accompagner les évolutions futures de la plateforme,
                        nous vous invitons à <a href="{% url 'auth:password_reset' %}"><strong>redéfinir un nouveau mot de passe</strong></a>.
                    </div>
                    {% endif %}
                
                    <div class="bg-white d-block rounded-lg shadow-lg p-3 p-lg-5">
                        {% csrf_token %}

                        <!-- TODO: post-migration -->
                        {% if not email_exists_password_empty %}
                        {% bootstrap_form_errors form type="all" %}
                        {% endif %}

                        <fieldset>
                            {% bootstrap_field form.username %}
                            {% bootstrap_field form.password %}
                            <small class="form-text text-muted"><a href="{% url 'auth:password_reset' %}">Mot de passe oublié</a> ?</small>
                        </fieldset>

                    </div>

                    <div class="row mt-3 mt-lg-5 justify-content-end">
                        <div class="col-12 col-lg-auto px-5 px-lg-6">
                            <button type="submit" id="login-submit-btn" class="btn btn-primary btn-block btn-ico">
                                <span>Valider</span>
                                <i class="ri-arrow-right-line ri-lg"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <br />

                <div class="row mt-3 mt-lg-5">
                    <div class="col-12 text-center text-lg-left">
                        <p class="lead">Vous n'avez pas de compte ? <a href="{% url 'auth:signup' %}{{ next_param }}">Créer un compte</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
