{% extends BASE_TEMPLATE %}
{% load dsfr_tags process_dict static humanize wagtailcore_tags advert_cms %}
{% block page_title %}
    Prise de rendez-vous
{% endblock page_title %}

{% block breadcrumb %}
    {% process_dict root_dir=HOME_PAGE_PATH current="Prise de rendez-vous" as breadcrumb_data %}
    {% dsfr_breadcrumb breadcrumb_data %}
{% endblock breadcrumb %}
{% block content %}
    <section>
        <div class="fr-container">
            <div class="fr-grid-row">
                <div class="fr-col-12 fr-col-lg-10">
                    <h2>Prenez rendez-vous pour activer votre compte</h2>
                    <span>
                        Veuillez sélectionner un créneau
                    </span>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
