{% extends "layouts/base.html" %}

{% block title %}Demande de réinitialisation du mot de passe envoyée{{ block.super }}{% endblock %}

{% block content %}
<section class="container">
    <h1>Si un compte existe, vous recevrez un e-mail de réinitialisation</h1>

    {% if request.GET.email %}
        <!-- Give the user a chance to check that there is no typing error in email before contacting support. -->
        <h2 class="text-muted">{{ request.GET.email }}</h2>
    {% endif %}

    <p>Il contient les instructions pour réinitialiser votre mot de passe.</p>
    <p>Si vous le ne recevez pas dans les minutes qui suivent :</p>
    <ul>
        <li>vérifiez votre courrier indésirable</li>
        <li>vérifiez qu'il n'y a pas d'erreur dans votre e-mail</li>
    </ul>

    <br />

    <p><a href="{% url 'pages:home' %}">Revenir à la page principale</a></p>
</section>
{% endblock %}
