{% extends "layouts/base.html" %}
{% load process_dict dsfr_tags %}

{% block page_title %}Demande de réinitialisation du mot de passe envoyée{{ block.super }}{% endblock page_title %}

{% block breadcrumb %}
    {% process_dict root_dir=HOME_PAGE_PATH current="Réinitialisation du mot de passe" as breadcrumb_data %}
    {% dsfr_breadcrumb breadcrumb_data %}
{% endblock breadcrumb %}

{% block content %}
<section>
    <div class="fr-container">
        <div class="fr-grid-row">
            <div class="fr-col-12">
                <h1>Réinitialisation du mot de passe</h1>
                <p class="fr-text--lead">
                    <strong>Si un compte existe, vous recevrez un e-mail de réinitialisation
                    {% if request.GET.email %}
                    <!-- Give the user a chance to check that there is no typing error in email before contacting support. -->
                        à l'adresse email :</strong> {{ request.GET.email }}
                    {% else %}
                        </strong>
                    {% endif %}
                </p>
                <p>Il contient les instructions pour réinitialiser votre mot de passe.</p>
                <p class="fr-mb-2v">Si vous le ne recevez pas dans les minutes qui suivent :</p>
                <ul>
                    <li>vérifiez votre courrier indésirable</li>
                    <li>vérifiez qu'il n'y a pas d'erreur dans votre e-mail</li>
                </ul>
                <p class="fr-mt-8v">
                    <a href="{{ HOME_PAGE_PATH }}" class="fr-link fr-icon-arrow-go-back-line fr-link--icon-right">
                        Revenir à la page principale
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
