{% extends 'layouts/layout-itou.html' %}
{% load static %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block content %}
<section class="container">
    <h2 class="h2">Réinitialisation du mot de passe</h2>

    <p>Mot de passe oublié ? Indiquez votre adresse e-mail ci-dessous et nous vous enverrons un e-mail pour le réinitialiser.</p>

    <div id="form-registerlogin" class="form-signup validate-form row">
        <div class="col-sm-6">
            <form class="form-signup" action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
                <div id="registerbutton" class="btn-block">
                    <button type="submit" class="btn btn-default">
                        Réinitialiser votre mot de passe
                        <i class="icon-right-small" style="float:right"></i>
                    </button>
                </div>
            </form>
            <div id="form-registerlink">
                <div>Vous n'avez pas de compte ?</div>
                <a href="{% url 'signup' %}">Créer un compte</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
