{% extends "layouts/base.html" %}

{% block title %}Demande de réinitialisation du mot de passe envoyée{{ block.super }}{% endblock %}

{% block content %}
<section class="pt-4 pt-lg-6 pb-6 pb-lg-8">
	<div class="container container-max-lg">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-3 mb-lg-5">
                    Si un compte existe, vous recevrez un e-mail de réinitialisation
                    {% if request.GET.email %}
                    <!-- Give the user a chance to check that there is no typing error in email before contacting support. -->
                        à l'adresse email : <span class="text-muted">{{ request.GET.email }}</span>
                    {% endif %}
                </h2>
                <div class="lead mb-3 mb-lg-5">
                    <p>Il contient les instructions pour réinitialiser votre mot de passe.</p>
                    <p>Si vous le ne recevez pas dans les minutes qui suivent :</p>
                    <ul>
                        <li>vérifiez votre courrier indésirable</li>
                        <li>vérifiez qu'il n'y a pas d'erreur dans votre e-mail</li>
                    </ul>
                </div>
                <p class="lead"><a href="{% url 'pages:home' %}">Revenir à la page principale</a></p>
            </div>
        </div>
	</div>
</section>
{% endblock %}
