{% extends 'layouts/layout-itou.html' %}
{% load static %}

{% block title %}Saisissez un nouveau mot de passe{% endblock %}

{% block content %}
<section class="container">
    {% if validlink %}

    <h2 class="h2">Saisissez un nouveau mot de passe</h2>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Modifier le mot de passe">
    </form>

    {% else %}

    <p>Ce lien est invalide, peut-être parce qu'il a déjà été utilisé. Veuillez répeter la procédure de réinitialisation pour obtenir un nouveaut lien.</p>

    <a href="{% url 'login' %}">Me connecter</a>

    {% endif %}
</section>
{% endblock %}
