{% extends "layouts/base.html" %}
{% load bootstrap4 %}

{% block title %}Saisissez un nouveau mot de passe{{ block.super }}{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Saisissez un nouveau mot de passe</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="s-title-01">
    <div class="s-title-01__container container">
        <div class="s-title-01__row row">
            <div class="s-title-01__col col-12">
                <h1 class="s-title-01__title h1">Saisissez un nouveau mot de passe</h1>
            </div>
        </div>
    </div>
</section>

{% if validlink %}
    <section class="s-section">
        <div class="s-section__container container">
            <div class="s-section__row row">
                <div class="s-section__col col-12 col-lg-7">
                    <div class="c-form">
                        <form method="POST">
                            {% csrf_token %}

                            {% bootstrap_form_errors form type="all" %}

                            <fieldset>
                                {% bootstrap_field form.new_password1 %}
                                {% bootstrap_field form.new_password2 %}
                            </fieldset>

                            <hr />

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-row justify-content-end align-items-center">
                                        <div class="form-group col-12 col-lg-auto">
                                            <button type="submit" class="btn btn-block btn-primary">
                                                <span>Modifier le mot de passe</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% else %}
    <section class="pt-4 pb-6">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <h2 class="mb-3 mb-lg-5">Ce lien est invalide.</h2>
                    <p>Peut-être parce qu'il a déjà été utilisé. Veuillez répeter la procédure de réinitialisation pour obtenir un nouveaut lien.</p>
                    <p><a href="{% url 'auth:login' %}" class="btn btn-link pl-0">Me connecter</a></p>
                </div>
            </div>
        </div>
    </section>
{% endif %}
{% endblock %}
