{% extends 'layouts/layout-itou.html' %}
{% load static %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block content %}
<section class="container">
    <h1>Réinitialisation du mot de passe</h1>

    <p>
        Mot de passe oublié ?<br />
        Indiquez votre adresse e-mail ci-dessous et nous vous enverrons un e-mail pour le réinitialiser.
    </p>

    <div class="row">
        <div class="col-sm-6">
            <form method="POST" action="{% url 'auth:password_reset' %}">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
                <button type="submit" class="btn btn-primary">
                    Réinitialiser votre mot de passe <i class="icon-right-small" style="float:right"></i>
                </button>
            </form>
        </div>
    </div>

    <br />

    <p>Vous n'avez pas de compte ? <a href="{% url 'auth:signup' %}">Créer un compte</p>
</section>
{% endblock %}
