{% extends "layouts/base.html" %}
{% load process_dict dsfr_tags %}

{% block page_title %}Réinitialisation du mot de passe{{ block.super }}{% endblock page_title %}

{% block breadcrumb %}
    {% process_dict root_dir=HOME_PAGE_PATH current="Réinitialisation du mot de passe" as breadcrumb_data %}
    {% dsfr_breadcrumb breadcrumb_data %}
{% endblock breadcrumb %}

{% block content %}
<section>
    <div class="fr-container">
        <div class="fr-grid-row">
            <div class="fr-col-12">
                <h1>Réinitialisation du mot de passe</h1>
                <p>Indiquez votre adresse e-mail ci-dessous, et nous vous enverrons un e-mail pour le réinitialiser.</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="fr-container">
        <div class="fr-grid-row">
            <div class="fr-col-12 fr-col-lg-7">
                <form method="post" action="{% url 'auth:password_reset' %}">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <section class="fr-my-4v fr-input-group fr-input-group--error">
                            {{ form.non_field_errors }}
                        </section>
                    {% endif %}
                    <fieldset class="fr-fieldset">
                        <div class="fr-fieldset__element">
                            {% dsfr_form_field form.email %}
                        </div>
                        <div class="fr-fieldset__element">
                            <ul class="fr-btns-group--right fr-btns-group fr-btns-group--inline">
                                <li>
                                    <button class="fr-mt-2v fr-btn" type="submit">
                                        Réinitialiser votre mot de passe
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </fieldset>    
                </form>
                <p class="fr-mt-8v">
                    <strong>Vous n'avez pas de compte ?</strong> <a href="{% url 'account_signup' %}{{ next_param }}">Créer un compte</a>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
