{% extends "layouts/base.html" %}

{% block title %}Réinitialisation du mot de passe validée{{ block.super }}{% endblock %}

{% block content %}
<section class="s-section">
    <div class="s-section__container container">
		<div class="row">
			<div class="col-12 col-lg-8">
				<h2 class="mb-3 mb-lg-5">Votre mot de passe a été réinitialisé avec succès !</h2>
				<p><a href="{% url 'auth:login' %}" class="btn btn-link pl-0">Me connecter</a></p>
			</div>
		</div>
	</div>
</section>
{% endblock %}
