{% extends "layouts/base.html" %}
{% load bootstrap4 %}

{% block title %}Inscription{{ block.super }}{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Inscription</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="s-title-01">
    <div class="s-title-01__container container">
        <div class="s-title-01__row row">
            <div class="s-title-01__col col-12">
                <h1 class="s-title-01__title h1">Inscription</h1>
            </div>
        </div>
    </div>
</section>

<section class="s-section">
    <div class="s-section__container container">
        <div class="s-section__row row">
            <div class="s-section__col col-12 col-lg-7">
                <form method="POST" action="">
                    {% csrf_token %}

                    <div class="c-form">
                        {% bootstrap_form_errors form type="all" %}
                        <fieldset>
                            <legend>Vous êtes <strong class="fs-base">*</strong></legend>
                            {% bootstrap_field form.kind %}
                        </fieldset>
                        <hr>
                        <fieldset>
                            <legend>Contact et coordonnées de votre structure</legend>
                            {% bootstrap_field form.first_name %}
                            {% bootstrap_field form.last_name %}
                            {% bootstrap_field form.phone form_group_class="phone-form-group form-group" %}
                            {% bootstrap_field form.company_name form_group_class="company-name-form-group form-group form-group-required d-none" %}
                            <div class="company-name-siae-form-group form-group d-none">
                                <label>Le nom de votre structure</label>
                                <div class="alert alert-info" role="status">
                                    Une fois votre compte créé, vous pourrez ajouter puis modifier votre structure.
                                </div>
                            </div>
                            {% bootstrap_field form.position form_group_class="position-form-group form-group form-group-required d-none" %}
                            {% bootstrap_field form.partner_kind form_group_class="partner-kind-form-group form-group form-group-required d-none" %}
                        </fieldset>
                        <hr>
                        <fieldset>
                            <legend>Création du mot de passe</legend>
                            {% bootstrap_field form.email %}
                            {% bootstrap_field form.password1 %}
                            {% bootstrap_field form.password2 %}
                        </fieldset>
                        <div class="form-group">
                            {% bootstrap_field form.accept_rgpd %}
                            {% bootstrap_field form.accept_survey form_group_class="form-group accept-survey-form-group d-none" %}
                            {% bootstrap_field form.accept_share_contact_to_external_partners form_group_class="form-group accept-survey-form-group d-none" %}
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-row justify-content-end align-items-center">
                                    <div class="form-group col-12 col-lg-auto">
                                        <button type="submit" class="btn btn-block btn-primary">
                                            <span>Valider</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
/**
 * Dynamic rules:
 * - if the user is not a SIAE:
 *      - show company_name field (and make it required)
 *      - add survey checkbox
 * - if the user is BUYER:
 *      - make phone field required
 *      - add position field (and make it required)
 *      - add survey checkbox for newsletter
 */
document.addEventListener('DOMContentLoaded', function() {
    let phoneInput = document.getElementById('id_phone');
    let companyNameSiaeFormGroupDiv = document.getElementsByClassName('company-name-siae-form-group')[0];
    let companyNameInput = document.getElementById('id_company_name');
    let positionInput = document.getElementById('id_position');
    let partnerKindInput = document.getElementById('id_partner_kind');
    let acceptSurveyInput = document.getElementById('id_accept_survey');
    let acceptShareContactInput = document.getElementById('id_accept_share_contact_to_external_partners');

    let kindRadios = document.querySelectorAll('input[type=radio][name="kind"]');
    kindRadios.forEach(radio => radio.addEventListener('change', () => {
        if (radio.value === 'SIAE') {
            companyNameSiaeFormGroupDiv.classList.remove('d-none');
            toggleInputElement(false, element=companyNameInput, required=false);
            toggleInputElement(false, element=acceptSurveyInput);
            toggleInputElement(true, element=acceptShareContactInput);
        } else {
            companyNameSiaeFormGroupDiv.classList.add('d-none');
            toggleInputElement(true, element=companyNameInput, required=true);
            toggleInputElement(true, element=acceptSurveyInput);
            toggleInputElement(false, element=acceptShareContactInput);
        }

        if (radio.value === 'BUYER') {
            toggleInputElement(true, element=positionInput, required=true);
            toggleInputElement(true, element=phoneInput, required=true);
        } else {
            toggleInputElement(false, element=positionInput, required=false);
            toggleInputElement(true, element=phoneInput, required=false);
        }

        if (radio.value === 'PARTNER') {
            toggleInputElement(true, element=partnerKindInput, required=true);
        } else {
            toggleInputElement(false, element=partnerKindInput, required=false);
        }
    }));
});
</script>
{% endblock %}
