<p>Votre compte a été créé. Nous sommes heureux de vous compter parmi nous.</p>

</p>
    👉 Retrouvez ici le replay du webinaire de formation "Les réseaux sociaux comme levier commercial" : <a href="https://urlr.me/N7Lrn">https://urlr.me/N7Lrn</a><br />
    👉 Et inscrivez-vous au prochain webinaire de formation sur "Comment créer une belle plaquette commerciale sans compétence technique" : <a href="https://urlr.me/GMDL5">https://urlr.me/GMDL5</a>
</p>

<a href="https://lemarche.inclusion.beta.gouv.fr/">Le marché de l'inclusion</a>
