<!-- https://github.com/betagouv/itou/blob/master/itou/templates/storage/s3_upload_form.html -->

<div class="js-display-if-javascript-enabled">
    <div id="{{ dropzone_form_id }}" class="c-dropzone dz-clickable">
        <div class="dz-message">
            <p class="mb-1 text-nuance-06"><i class="ri-upload-cloud-2-line ri-2x"></i></p>
            <!-- Issue with refresh on client-reference js-generated form -->
            <p class="mb-2">Glisser vos fichiers ici ou <strong>rechercher</strong> dans vos fichiers</p>
            <span class="btn btn-primary btn-sm mb-2">Rechercher dans vos fichiers</span>
            <p class="small text-nuance-06">Taille maximale : {{ s3_upload_config.max_file_size }}  Mo</p>
        </a>
        </div>
    </div>
    <p class="small text-muted mb-0">Type de fichier : PNG, JPEG, SVG, GIF</p>
</div>
  
<noscript>
    <div class="alert alert-danger" role="status">
        <p class="mb-0">JavaScript n'est pas activé. Il est nécessaire de réactiver JavaScript pour activer la fonctionnalité d'ajout d'image.</p>
    </div>
</noscript>
