<!-- https://github.com/betagouv/itou/blob/master/itou/templates/storage/s3_upload_form.html -->

<div class="js-display-if-javascript-enabled">
    <div id="{{ dropzone_form_id }}" class="dropzone">
        <div class="dz-message">
            <span class="fr-icon-upload-2-fill" aria-hidden="true"></span>
            <!-- Issue with refresh on client-reference js-generated form -->
            <!-- <div class="h6"><a href="" class="js-prevent-default">Choisissez une image</a> ou <b>glissez ici</b>.</div> -->
            <div><span class="fr-link">Choisissez une image</span> ou <b>glissez ici</b>.</div>
            <div class="fr-text--sm">Taille maximale : {{ s3_upload_config.max_file_size }} Mo</div>
            <div class="fr-text--sm">Type de fichier : PNG, JPEG, SVG, GIF</div>
        </div>
    </div>
</div>
<noscript>
    <div class="fr-alert fr-alert--error">
        <p>JavaScript n'est pas activé. Il est nécessaire de réactiver JavaScript pour activer la fonctionnalité d'ajout d'image.</p>
    </div>
</noscript>
