// Element is shown with JavaScript (see static > js > utils.js)
.js-display-if-javascript-enabled {
    display: none;
}

.fake-link {
    color: #3f3e62;
    text-decoration: underline;
    background-color: transparent;
    cursor: pointer;
}

.badge-success-outline {
    color: #28a745;
    border-color: #28a745;
    border-style: solid;
}

#header-env-notice {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
}

#header-notice {
    padding: 0.5em;
    text-align: center;
    background-color: #c3e6cb; // alert-success green // $marche-lightest;
}

.slick-list {
    .slick-loading & {
        background: $white url('/static/vendor/theme-inclusion/images/ajax-loader.gif') center center no-repeat;
    }
}

.alert > .prof_icon,
.alert > p > .prof_icon {
    max-width: 20px;
    vertical-align: bottom;
}

/**
  In some places we use anchors to scroll the page to a certain id
  BUT the header (height=115px) hides the top of the div
  So we need to pass an offset
  Source: https://stackoverflow.com/a/59253905/4293684
*/
*[id] {
    scroll-margin-top: 100px;
}
