// Element is shown with JavaScript (see static > js > utils.js)
.js-display-if-javascript-enabled {
    display: none;
}

.fake-link {
    color: #3f3e62;
    text-decoration: underline;
    background-color: transparent;
    cursor: pointer;
}
