// Element is shown with JavaScript (see static > js > utils.js)
.js-display-if-javascript-enabled {
    display: none;
}

.fake-link {
    color: $gray-800;
    text-decoration: underline;
    background-color: transparent;
    cursor: pointer;
}
.fake-placeholder {
    color: #797B97; // lightgrey;
}

a.disabled {
    pointer-events: none;
}

.badge-success-outline {
    color: $green;
    border-color: $green;
    border-style: solid;
}

#header-notice,
#header-env-notice {
    border-radius: 0;
    border: none !important;
    margin: 0;
}

.slick-list {
    .slick-loading & {
        background: $white url('/static/vendor/theme-inclusion/images/ajax-loader.gif') center center no-repeat;
    }
}

.alert > .prof_icon,
.alert > p > .prof_icon {
    max-width: 20px;
    vertical-align: bottom;
}

.deflist {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
        padding-bottom: 8px;
        display: flex;
    }

    .prof_email {
        max-width: 280px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .prof_icon {
        min-width: 30px
    }
}

// spinner icon
.ri-spinner {
    animation: spin 2s infinite linear;
    display: inline-block;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/**
  In some places we use anchors to scroll the page to a certain id
  BUT the header (height=115px) hides the top of the div
  So we need to pass an offset
  Source: https://stackoverflow.com/a/59253905/4293684
*/
*[id] {
    scroll-margin-top: 100px;
}

.s-cms .richtext-image.left {
    max-width: 100%;
    height: auto;
    float: unset!important;
}

.responsive-object {
    position: relative;
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
