<!-- https://github.com/django/django/blob/main/django/contrib/admin/templates/admin/base.html -->

{% extends "admin/base.html" %}
{% load static %}

{% block extrahead %}
{{ block.super }}
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
<style>
#header-env-notice {
    line-height: 1.5;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    background-color: {{ BITOUBI_ENV_COLOR }};
}
</style>
{% endblock %}

{% block header %}
{% include "includes/_header_env_notice.html" %}
{{ block.super }}
{% endblock %}
