<!-- https://github.com/django/django/blob/main/django/contrib/admin/templates/admin/base.html -->

{% extends "admin/base.html" %}
{% load static %}

{% block extrahead %}
{{ block.super }}
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    {% block extrastyle %}
    <link rel='stylesheet' href='{% static 'itou_marche/admin.css' %}'>
    <style>
        #header-env-notice {
            background-color: {{ BITOUBI_ENV_COLOR }};
        }
    </style>
    {% endblock %}
{% endblock %}

{% block header %}
{% if BITOUBI_ENV not in "prod" %}
{% include "includes/_header_env_notice.html" %}
{% endif %}
{{ block.super }}
{% endblock %}
