{% load static %}
<div class="fr-card fr-card--horizontal{% if siae.super_badge %} super-badge-card{% endif %}">
    <div class="fr-card__body">
        <div class="fr-card__content">
            <div class="fr-card__desc" x-data="{ showQuestions: false, showNotInterested: false }">
                <div class="fr-grid-row">
                    <div class="fr-col-auto">
                        {% if siae.logo_url %}
                            <img src="{{ siae.logo_url }}" width="50" alt="Logo de {{ siae.name }}" />
                        {% else %}
                            <img src="{% static 'img/default-listing.png' %}"
                                 width="50"
                                 alt="{{ siae.name }}" />
                        {% endif %}
                    </div>
                    <div class="fr-col">
                        {% if siae.is_company_match %}
                            <span class="fr-tag fr-tag--green-bourgeon lemarche--float-right"
                                  aria-describedby="tooltip-match-{{ siae.pk }}">
                                <i class="ri-shake-hands-line fr-mr-2v"></i>
                                Déjà référencé
                            </span>
                            <span class="fr-tooltip fr-placement"
                                  id="tooltip-match-{{ siae.pk }}"
                                  role="tooltip"
                                  aria-hidden="true">Ce fournisseur a déjà travaillé pour votre organisation.</span>
                        {% endif %}
                        {% if siae.is_local %}
                            <span class="fr-tag lemarche--float-right"
                                  aria-describedby="tooltip-local-match-{{ siae.pk }}">
                                Fournisseur local
                            </span>
                            <span class="fr-tooltip fr-placement"
                                  id="tooltip-local-match-{{ siae.pk }}"
                                  role="tooltip"
                                  aria-hidden="true">Ce fournisseur est basé dans le territoire de votre demande.
                            </span>
                        {% endif %}
                        <h2>{{ siae.name_display }}</h2>
                        {% include "includes/_super_badge.html" with siae=siae %}
                    </div>
                </div>
                <div class="fr-grid-row fr-grid-row--gutters fr-mt-4v">
                    <div class="fr-col-md-8">
                        <div class="fr-grid-row fr-grid-row--gutters">
                            <div class="fr-col-md-4 ellipsis">
                                <span class="fr-icon-user-line"></span>
                                {{ siae.contact_short_name }}
                            </div>
                            <div class="fr-col-md-4 ellipsis">
                                <span class="fr-icon-phone-line"></span>
                                <a href="tel:{{ siae.contact_phone }}" id="tender_siae_company_phone">{{ siae.contact_phone }}</a>
                            </div>
                            {% if siae.contact_email %}
                                <div class="fr-col-md-4 ellipsis">
                                    <span class="fr-icon-signal-tower-line"></span>
                                    <a href="mailto:{{ siae.contact_email }}" id="tender_siae_company_email">{{ siae.contact_email }}</a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="fr-grid-row fr-grid-row--gutters">
                            {% if siae.contact_website %}
                                <div class="fr-col-md-6 ellipsis">
                                    <span class="fr-icon-terminal-window-line"></span>
                                    <a href="{{ siae.contact_website }}"
                                       id="tender_siae_company_website"
                                       target="_blank"
                                       rel="noopener">{{ siae.contact_website }}</a>
                                </div>
                            {% endif %}
                            {% if siae.contact_social_website %}
                                <div class="fr-col-md-6 ellipsis">
                                    <span class="fr-icon-earth-line"></span>
                                    <a href="{{ siae.contact_social_website }}"
                                       id="tender_siae_company_social_website"
                                       target="_blank"
                                       rel="noopener">{{ siae.contact_social_website }}</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="fr-col-md-4">
                        <a href="{% url 'siae:detail' siae.slug %}"
                           class="fr-btn"
                           target="_blank"
                           rel="noopener">Accéder à la fiche commerciale</a>
                    </div>
                </div>
                {% if siae.questions_for_tender %}
                    <div x-show="showQuestions" class="fr-mt-4w">
                        {% for answer in siae.questions_for_tender %}
                            <h4 class="fr-mb-1w">{{ answer.question }}</h4>
                            <p>{{ answer.answer }}</p>
                        {% endfor %}
                    </div>
                    <div class="fr-grid-row fr-grid-row--center fr-mt-4w">
                        <div class="fr-col-12 fr-col-md-4">
                            <button @click="showQuestions = !showQuestions"
                                    class="fr-btn fr-btn--secondary fr-btn--icon-left">
                                <span x-show="!showQuestions">Afficher les réponses aux questions</span>
                                <span x-show="!showQuestions" class="fr-icon-arrow-down-s-line"></span>
                                <span x-show="showQuestions">Masquer les réponses aux questions</span>
                                <span x-show="showQuestions" class="fr-icon-arrow-up-s-line"></span>
                            </button>
                        </div>
                    </div>
                {% endif %}

                {% if siae.not_interested_feedback %}
                    <div x-show="showNotInterested" class="fr-mt-4w">
                            <h4 class="fr-mb-1w">Ce fournisseur n'est pas intéressé car: </h4>
                            <p>{{ siae.not_interested_feedback }}</p>
                    </div>
                    <div class="fr-grid-row fr-grid-row--center fr-mt-4w">
                        <div class="fr-col-12 fr-col-md-4">
                            <button @click="showNotInterested = !showNotInterested"
                                    class="fr-btn fr-btn--secondary fr-btn--icon-left">
                                <span x-show="!showNotInterested">Afficher pourquoi le fournisseur n'est pas intéressé</span>
                                <span x-show="!showNotInterested" class="fr-icon-arrow-down-s-line"></span>
                                <span x-show="showNotInterested">Masquer pourquoi le fournisseur n'est pas intéressé</span>
                                <span x-show="showNotInterested" class="fr-icon-arrow-up-s-line"></span>
                            </button>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
