{% load static %}
{% load theme_inclusion %}
<div class="fr-card fr-card--horizontal fr-card--horizontal-tier {% if siae.super_badge %}super-badge-card{% endif %}">
    <div class="fr-card__body">
        <div class="fr-card__content">
            <!-- siae basic info -->
            <div class="fr-card__desc">
                <div class="fr-col-auto">
                    {% if siae.logo_url %}
                        <img src="{{ siae.logo_url }}"
                             width="100"
                             alt="Logo de la structure {{ siae.name_display }}"
                             loading="lazy" />
                    {% else %}
                        <img src="{% static 'img/default-listing.png' %}"
                             width="100"
                             alt="{{ siae.name_display }}"
                             loading="lazy" />
                    {% endif %}
                </div>
                <div class="fr-col">
                    <div class="fr-grid-row">
                        <div class="fr-col-sm-12">
                            <h1>
                                {{ siae.name_display }}
                                {% if user.is_authenticated and user.is_admin and not siae.user_count %}
                                    <span class="fr-badge fr-badge--sm fr-badge--warning">pas encore inscrite</span>
                                {% endif %}
                            </h1>
                            {% include "includes/_super_badge.html" with siae=siae %}
                            <p class="fr-text--sm">
                                <i>(Dernière activité il y a {{ siae.latest_activity_at|timesince }})</i>
                            </p>
                            {% if user.is_authenticated %}
                                <!-- buttons needed for modal to be triggered -->
                                <button data-fr-opened="false"
                                        aria-controls="favorite_item_add_modal"
                                        class="fr-hidden"></button>
                                <button data-fr-opened="false"
                                        aria-controls="favorite_item_remove_modal"
                                        class="fr-hidden"></button>
                                {% if siae.in_user_favorite_list_count_annotated %}
                                    <button id="favorite-remove-modal-btn"
                                            class="fr-btn fr-btn--tertiary-no-outline fr-icon-star-fill"
                                            x-data="favoriteItem"
                                            x-init="initOptions('{{ siae.slug }}', '{{ siae.name_display|escapejs }}')"
                                            @click="remove"
                                            title="Dans votre liste d'achat">Supprimer de votre liste d'achat</button>
                                {% else %}
                                    <button id="favorite-add-modal-btn"
                                            class="fr-btn fr-btn--tertiary-no-outline fr-icon-star-line"
                                            x-data="favoriteItem"
                                            x-init="initOptions('{{ siae.slug }}', '{{ siae.name_display|escapejs }}')"
                                            @click="add"
                                            title="Ajouter à votre liste d'achat">
                                        Ajouter à votre liste d'achat
                                    </button>
                                {% endif %}
                            {% else %}
                                <button id="favorite-modal-btn"
                                        class="fr-btn fr-btn--tertiary-no-outline fr-icon-star-line"
                                        data-fr-opened="false"
                                        aria-controls="login_or_signup_modal"
                                        data-next-params="{% url 'siae:detail' siae.slug %}"
                                        title="Ajouter à votre liste d'achat">
                                    Se connecter pour Ajouter à votre liste d'achat
                                </button>
                            {% endif %}
                        </div>
                    </div>
                    <div class="fr-grid-row">
                        <div class="fr-col-md-6">
                            <ul class="list-unstyled">
                                <li>
                                    <i class="fr-icon--sm fr-icon-building-line"></i>
                                    <span>{{ siae.get_kind_display }}</span>
                                </li>
                                {% if siae.legal_form %}
                                    <li>
                                        <i class="fr-icon--sm fr-icon-building-fill"></i>
                                        <span>{{ siae.get_legal_form_display }}</span>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="fr-col-md-6">
                            <div class="badge-group">
                                {% if siae.is_qpv %}
                                    <span class="fr-badge"
                                          title="Quartier prioritaire de la politique de la ville">QPV</span>
                                {% endif %}
                                {% if siae.is_zrr %}<span class="fr-badge" title="Zone de revitalisation rurale">ZRR</span>{% endif %}
                                {% for group in siae.groups.all %}<span class="fr-badge">{{ group.name }}</span>{% endfor %}
                                {% if siae.is_cocontracting %}<span class="fr-badge">Ouvert à la co-traitance</span>{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% include "siaes/_useful_infos.html" with siae=siae %}
            </div>
            <!-- siae details -->
            <div class="fr-card__end">
                <hr />
                <!-- First row : Description -->
                <div class="fr-grid-row fr-mb-4v">
                    <div class="fr-col-sm-12">
                        <div>
                            <img src="{% static_theme_images 'ico-bicro-marche-descript-act.svg' %}"
                                 alt=""
                                 height="32" />
                        </div>
                        <div>
                            <h2>Présentation du prestataire</h2>
                            <div>
                                {% if siae.description %}
                                    {{ siae.description|linebreaks }}
                                {% else %}
                                    Non renseigné
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Second & third row : Secteurs, Références -->
                <hr />
                <div class="fr-grid-row fr-grid-row--gutters fr-mb-4v">
                    <div class="fr-col-sm-6">
                        <div>
                            <img src="{% static_theme_images 'ico-bicro-marche-secteur.svg' %}"
                                 alt=""
                                 height="32" />
                        </div>
                        <div>
                            <h2>Secteurs d'activité</h2>
                            {% for activity in siae.activities.all %}
                                <div class="fr-accordions-group">{% include "siaes/_siae_activity_content.html" with activity=activity %}</div>
                            {% empty %}
                                <p>Non renseigné</p>
                            {% endfor %}
                        </div>
                    </div>
                    {% if siae.client_reference_count %}
                        <div class="fr-col-sm-6">
                            <div>
                                <img src="{% static_theme_images 'ico-bicro-marche-ref-clients.svg' %}"
                                     alt=""
                                     height="32" />
                            </div>
                            <div>
                                <h2>Références clients</h2>
                                {% if siae.client_reference_count <= 6 %}
                                    <div class="fr-grid-row">
                                        {% for image in siae.client_references.all %}
                                            <div class="fr-col-12 fr-col-sm-4">
                                                <img class="fr-responsive-img"
                                                     src="{{ image.logo_url }}"
                                                     alt="{{ image.name }}" />
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <div class="fr-grid-row">
                                        {% for image in siae.client_references.all|slice:":6" %}
                                            <div class="fr-col-12 fr-col-sm-4">
                                                <img class="fr-responsive-img"
                                                     src="{{ image.logo_url }}"
                                                     alt="{{ image.name }}" />
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div id="collapseMoreRefClients" class="collapse">
                                        <div class="fr-grid-row">
                                            {% for image in siae.client_references.all|slice:"6:" %}
                                                <div class="fr-col-12 fr-col-sm-4">
                                                    <img class="fr-responsive-img"
                                                         src="{{ image.logo_url }}"
                                                         alt="{{ image.name }}" />
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <a class="is-collapse-caret-clients has-collapse-caret collapsed"
                                       data-toggle="collapse"
                                       href="#collapseMoreRefClients"
                                       role="button"
                                       aria-expanded="false"
                                       aria-controls="collapseMoreRefClients"
                                       title="Plus de références clients">de références clients</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <!-- Fourth row : Prestations -->
                {% if siae.offer_count %}
                    <hr />
                    <div class="fr-grid-row">
                        <div class="fr-col-sm-12">
                            <div>
                                <img src="{% static_theme_images 'ico-bicro-marche-detail.svg' %}"
                                     alt=""
                                     height="32" />
                            </div>
                            <div>
                                <h2>
                                    Détails des prestations effectuées <small>(matériels, lieux, savoir-faire)</small>
                                </h2>
                                <div class="fr-grid-row">
                                    {% for offer in siae.offers.all %}
                                        <article class="prests-post fr-col-12 {% if siae.offer_count > 1 %}col-lg-6{% endif %} mt-2">
                                            <h3>
                                                <img src="{% static 'img/prof_dot.png' %}" alt="" />
                                                <span>{{ offer.name }}</span>
                                            </h3>
                                            <div>{{ offer.description|linebreaks }}</div>
                                        </article>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <!-- Fifth row : Réseaux, Labels -->
                {% if siae.network_count or siae.label_count %}
                    <hr />
                    <div class="fr-grid-row">
                        {% if siae.network_count %}
                            <div class="fr-col-12 fr-col-md-6">
                                <div>
                                    <img src="{% static_theme_images 'ico-bicro-marche-reseaux.svg' %}"
                                         alt=""
                                         height="32" />
                                </div>
                                <div>
                                    <h2>Réseaux</h2>
                                    <ul>
                                        {% for network in siae.networks.all %}
                                            <li>
                                                <a href="{{ network.website }}"
                                                   class="network_link"
                                                   rel="noopener"
                                                   target="_blank">
                                                    <span>{{ network.name }}</span>
                                                    {% if network.brand %}<span>({{ network.brand }})</span>{% endif %}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                        {% if siae.label_count %}
                            <div class="fr-col-12 fr-col-md-6">
                                <div>
                                    <img src="{% static_theme_images 'ico-bicro-marche-labels.svg' %}"
                                         alt=""
                                         height="32" />
                                </div>
                                <div>
                                    <h2>Labels & certifications</h2>
                                    <ul>
                                        {% for label in siae.labels_old.all %}<li>{{ label.name }}</li>{% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                <!-- Sixth row : Réalisations -->
                {% if siae.images.count %}
                    <hr />
                    <div class="fr-grid-row">
                        <div class="fr-col-12">
                            <div>
                                <img src="{% static_theme_images 'ico-bicro-marche-realisation.svg' %}"
                                     alt=""
                                     height="32" />
                            </div>
                            <div>
                                <h2>Nos réalisations</h2>
                            </div>
                        </div>
                    </div>
                    <div class="fr-grid-row">
                        {% for image in siae.images.all %}
                            <div class="fr-col-12 fr-col-sm-4">
                                <!-- 3 per row -->
                                <img src="{{ image.image_url }}"
                                     class="fr-responsive-img"
                                     title="{{ image.name|default:'' }}"
                                     loading="lazy" />
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if not siae.user_count and not user.is_authenticated %}
                    <div id="user_update_cta"
                         class="fr-grid-row fr-mb-5v fr-mb-lg-3v fr-mt-lg-5v">
                        <div class="fr-col-12">
                            <div class="fr-card fr-card--shadow">
                                <div class="fr-card__body">
                                    <div class="fr-card__content">
                                        <h3 class="fr-card__title">C'est votre structure et vous souhaitez modifier ses informations ?</h3>
                                        <div class="fr-card__desc">
                                            <a href="{% url 'auth:signup' %}"
                                               id="track_siae_detail_partners_esat_ea"
                                               class="fr-btn btn-sm btn-outline-primary btn-ico">
                                                <span>Inscrivez-vous dès maintenant</span>
                                                <i class="ri-arrow-right-up-line ri-lg"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
