<div class="card c-card rounded-lg shadow-lg">
    <div class="card-body">
        <h3>Ce prestataire vous intéresse ?</h3>

        <p>
            Accédez gratuitement aux coordonnées de ce prestataire
            afin de prendre contact avec leur responsable commerciale.
        </p>
        <a href="#" id="show_data-modal-btn" class="btn btn-primary btn-block btn-ico" style="justify-content:center;" data-toggle="modal" data-target="#form_contact_modal" data-next-params="{% url 'siae:detail' siae.slug %}">
            <i class="ri-mail-send-line"></i>
            <span>Contacter la structure</span>
        </a>
    </div>
</div>
