{% load wagtailcore_tags %}

<div class="c-box">
    <div class="row">
        <div class="col">
            <h4>Vous avez besoin d'être accompagné dans vos achats inclusifs par des partenaires reconnus ?</h2>

            {% if siae.kind_is_esat_or_ea %}
                <a href="{% slugurl "faciltez-vous-les-achats-responsables" %}" target="_blank" id="track_siae_detail_partners_esat_ea" class="btn btn-sm btn-outline-primary btn-ico">
                    <span>Découvrez-les maintenant</span>
                    <i class="ri-arrow-right-up-line ri-lg"></i>
                </a>
            {% else %}
                <a href="{% url 'pages:partenaires' %}" target="_blank" id="track_siae_detail_partners" class="btn btn-sm btn-outline-primary btn-ico">
                    <span>Découvrez-les maintenant</span>
                    <i class="ri-arrow-right-up-line ri-lg"></i>
                </a>
            {% endif %}
        </div>
    </div>
</div>
