{% load wagtailcore_tags %}

<div class="card c-card rounded-lg shadow-lg">
    <div class="card-body">
        <h4>Vous avez besoin d'être accompagné dans vos achats inclusifs par des partenaires reconnus ?</h2>

        {% if siae.kind_is_esat_or_ea %}
            <a href="{% slugurl "faciltez-vous-les-achats-responsables" %}" id="track_siae_detail_partners_esat_ea" class="btn btn-link btn-ico">
                <span>Découvrez-les maintenant</span>
                <i class="ri-arrow-right-up-line ri-lg"></i>
            </a>
        {% else %}
            <a href="{% url 'pages:partenaires' %}" id="track_siae_detail_partners" class="btn btn-link btn-ico">
                <span>Découvrez-les maintenant</span>
                <i class="ri-arrow-right-up-line ri-lg"></i>
            </a>
        {% endif %}
    </div>
</div>
