{% load static bootstrap4 %}

{% with title="Partager la liste des structures" %}
<div class="modal fade modal-siae"
    id="download_click_survey_modal"
    tabindex="-1" role="dialog" aria-modal="true"
    data-backdrop="static" data-keyboard="false"
    aria-labelledby="{{title}}"
>
    <div class="modal-dialog modal-dialog-centered" x-data="shareComponent">
        <div class="modal-content">
            <form method="GET"
                :action="formData.share_with=='download' ? '{% url 'siae:search_results_download' %}': '#'"
                @submit="submitForm($event)"
            >
                <div class="modal-header">
                    <h3 class="modal-title" id="modalTitle">{{title}}</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                        <i class="ri-close-line"></i>
                    </button>
                </div>
                <!-- The tabs content -->
                <div class="modal-body home-content-body">
                        {% bootstrap_field form_share.share_with %}
                        <div x-show="displaySubject()">
                            {% bootstrap_field form_share.subject %}
                        </div>
                        <div x-show="displayMessage()">
                            {% bootstrap_field form_share.message %}
                        </div>
                        <div x-show="formData.share_with=='download'">
                            {% include "siaes/_download_click_survey_modal_content.html" %}
                        </div>
                </div>
                <div class="modal-footer" x-show="formData.share_with && formData.share_with!='download'">
                    <button class="btn btn-sm btn-outline-primary" type="button" data-dismiss="modal" aria-label="Fermer">Annuler</button>
                    <button type="submit" class="btn btn-sm btn-primary btn-ico">
                        <span class="text-decoration-none ml-0">Partager</span>
                        <i class="ri-share-line ri-lg"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endwith %}

<script type="text/javascript" >
    function socialWindow(url) {
        var left = (screen.width - 570) / 2;
        var top = (screen.height - 570) / 2;
        var params = "menubar=no,toolbar=no,status=no,width=570,height=570,top=" + top + ",left=" + left;
        window.open(url,"NewWindow",params);
    }
    document.addEventListener('alpine:init', () => {
        function shareComponent() {
            return {
                formData:{
                    share_with:"",
                    subject:"{{form_share.subject.initial|escapejs}}",
                    {% comment %} message: "Liste à des entreprises de notre réseau..." {% endcomment %}
                    message: "{{form_share.message.initial|escapejs}}"
                },
                displaySubject() {
                    return ['Linkedin','email'].includes(this.formData.share_with);
                },
                displayMessage() {
                    return ['twitter','email', 'linkedin'].includes(this.formData.share_with);
                },
                submitForm(e) {
                    if(["twitter", "facebook", "linkedin"].includes(this.formData.share_with)){
                        let url_share = null;
                        switch (this.formData.share_with) {
                            case "twitter":
                                url_share = new URL("https://twitter.com/intent/tweet")
                                url_share.searchParams.append("url", document.URL)
                                url_share.searchParams.append("text", this.formData.message)
                                break;
                            case "facebook":
                                url_share = new URL("https://www.facebook.com/sharer.php")
                                url_share.searchParams.append("u", document.URL)
                                break;
                            case "linkedin":
                                url_share = new URL("https://www.linkedin.com/shareArticle");
                                url_share.searchParams.append("mini", true);
                                url_share.searchParams.append("url", document.URL)
                                url_share.searchParams.append("summary", this.formData.message);
                                break;
                        }
                        socialWindow(url_share);
                    } else if (this.formData.share_with=="email"){
                        let mailToUrl = new URL('mailto:');
                        mailToUrl.searchParams.append("subject", this.formData.subject);
                        mailToUrl.searchParams.append("body", this.formData.message);
                        mailToUrl.searchParams.append("cci", "{{ CONTACT_EMAIL }}");
                        window.location.href = mailToUrl;
                    }
                }
            }
        }
        Alpine.data('shareComponent', shareComponent);
    });
    document.addEventListener("DOMContentLoaded", function() {
        const MODAL_ID = '#download_click_survey_modal';
        $(MODAL_ID).on('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = $(event.relatedTarget);

            // Extract info from data-* attributes
            var downloadSource = button.data('download-source') || '';

            let divDownloadSource = document.getElementById('id_download_source');
            if (divDownloadSource) {
                divDownloadSource.setAttribute('value', downloadSource);
            }
        });
    });
</script>
