{% load static bootstrap4 %}

<div class="modal fade modal-siae" id="download_click_survey_modal" tabindex="-1" role="dialog" aria-modal="true" data-backdrop="static" data-keyboard="false" aria-labelledby="modalTitle">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalTitle">Une dernière question...</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                    <i class="ri-close-line"></i>
                </button>
            </div>
            <form method="GET" action="{% url 'siae:search_results_download' %}">
                <div class="modal-body home-content-body">
                    {% for perimeter in form.perimeters.value %}
                        <input type="hidden" name="perimeters" value="{{ perimeter }}" />
                    {% endfor %}
                    {% for sector in form.sectors.value %}
                        <input type="hidden" name="sectors" value="{{ sector }}" />
                    {% endfor %}
                    {% for kind in form.kind.value %}
                        <input type="hidden" name="kind" value="{{ kind }}" />
                    {% endfor %}
                    {% for presta_type in form.presta_type.value %}
                        <input type="hidden" name="presta_type" value="{{ presta_type }}" />
                    {% endfor %}
                    {% for territory in form.territory.value %}
                        <input type="hidden" name="territory" value="{{ territory }}" />
                    {% endfor %}
                    {% for network in form.networks.value %}
                        <input type="hidden" name="networks" value="{{ network }}" />
                    {% endfor %}

                    {% bootstrap_field form_download.marche_benefits %}

                    <input type="hidden" id="id_download_source" name="download_source" value="siae_search_results" />
                    <input type="hidden" id="id_format" name="format" value="xls" />
                </div>

                <br />

                <div class="modal-footer">
                    <button class="btn btn-outline-primary" type="button" data-dismiss="modal" aria-label="Fermer">Annuler</button>
                    <button type="submit" class="btn btn-primary btn-ico">
                        <span class="text-decoration-none ml-0">Télécharger la liste</span>
                        <i class="ri-download-line ri-lg"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
    const MODAL_ID = '#download_click_survey_modal';
    $(MODAL_ID).on('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = $(event.relatedTarget);

        // Extract info from data-* attributes
        var downloadSource = button.data('download-source') || '';

        document.getElementById('id_download_source').setAttribute('value', downloadSource);
    });
});
</script>
