<div class="modal fade modal-siae" id="favorite_list_delete_modal" tabindex="-1" role="dialog" aria-modal="true"data-backdrop="static" data-keyboard="false" aria-labelledby="modalTitle">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalTitle">Supprimer cette liste d'achat ?</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{% url 'dashboard:profile_favorite_list_delete' favorite_list.slug %}">
                {% csrf_token %}
                <div class="modal-body home-content-body">
                    <p>Voulez vous supprimer cette liste d'achat ?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-primary" type="button" data-dismiss="modal" aria-label="Fermer">Annuler</button>
                    <button class="btn btn-primary" type="submit">Confirmer</button>                  
                </div>                   
            </form>
        </div>
    </div>
</div>
