<div class="modal fade modal-siae" id="favorite_modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="z-index:3000">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="mb-0">Liste d'achat : ajouter <strong>{% if siae %}{{ siae.name_display }}{% else %}<span id="siae-name-display"></span>{% endif %}</strong></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body home-content-body">
                {% if siae %}
                <form method="POST" action="{% url 'siae:favorite_lists' siae.slug %}">
                {% else %}
                <form method="POST" action="{% url 'siae:favorite_lists' 'siae-slug-to-replace' %}">
                {% endif %}
                    {% csrf_token %}
                    {% if user.favorite_lists.count %}
                    <div class="form-group">
                        <label>Vos listes d'achats</label>
                        {% for list in user.favorite_lists.all %}
                        <div class="form-check pl-0">
                            <input type="checkbox" name="favorite_lists" value="{{ list.id }}" id="{{ list.id }}" {% if siae in list.siaes.all %}checked{% endif %}>
                            <label for="{{ list.id }}">{{ list.name }} <small>({{ list.siaes.count }})</small></label>
                        </div>
                        {% endfor %}
                        </ul>
                    </div>
                    {% else %}
                    <div class="alert alert-info" role="alert">
                        Vous n'avez pas encore créé de liste
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="id_new_favorite_list">Ajouter la structure à une nouvelle liste</label>
                        <input type="text" name="new_favorite_list" id="id_new_favorite_list" class="form-control" placeholder="Nom de la liste d'achat">
                    </div>
                    <br />
                    <footer>
                        <button class="btn btn-primary" type="submit">
                            Ajouter la structure
                        </button>
                    </footer>
                </form>
            </div>
            <!-- <div class="modal-footer"></div> -->
        </div>
    </div>
</div>
