{% load siae_sectors_display %}
<section class="fr-accordion">
    <h3 class="fr-accordion__title">
        <button class="fr-accordion__btn"
                aria-expanded="false"
                aria-controls="accordion-activity-{{ activity.id }}">{{ activity.sector_group }}</button>
    </h3>
    <div class="fr-collapse" id="accordion-activity-{{ activity.id }}">
        <ul>
            {% siae_sectors_display activity display_max=6 output_format='li' %}
        </ul>
        <p class="fr-mt-4w">
            <span class="fr-icon-briefcase-line" aria-hidden="true"></span>
            <span class="fr-sr-only">Type(s) de prestation :</span>
            <span>{{ activity.presta_type_display }}</span>
        </p>
        <p>
            <span class="fr-icon-map-pin-2-line" aria-hidden="true"></span>
            <span class="fr-sr-only">Intervient sur :</span>
            <span>{{ activity.geo_range_pretty_display }}</span>
        </p>
    </div>
</section>
