{% load array_choices_display %}
<div class="row">
    <div class="col-12 col-md-6">
        <div class="row">
            <div class="col-12">
                <i class="ri-calendar-2-fill"></i>
                <strong>Année de création :</strong>
                <span>{{ siae.year_constitution_display }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <i class="ri-bill-line"></i>
                <strong>SIRET :</strong>
                <span>{{ siae.siret_display }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <i class="ri-money-euro-circle-line"></i>
                <strong>Chiffre d'affaires :</strong>
                <span>{{ siae.ca_display }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-2 mb-2">
                {% include "siaes/_annuaire_entreprises_button.html" with siret=siae.siret %}
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="row">
            <div class="col-12">
                {% if siae.presta_type %}
                    <i class="ri-briefcase-4-line"></i>
                    <strong>{% array_choices_display siae 'presta_type' %}</strong>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <i class="ri-group-line"></i>
                <strong>Salariés permanents :</strong>
                <span>{{ siae.employees_permanent_count|default:"non disponible" }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <i class="ri-user-add-line"></i>
                <strong>{{ siae.etp_count_label_display }} :</strong>
                <span>{{ siae.etp_count_display|floatformat:0|default:"non disponible" }}</span>
            </div>
        </div>
    </div>
</div>
