{% extends "layouts/base.html" %}
{% load static dsfr_tags %}
{% block page_title %}{{ siae.name_display }} est sur le marché de l'inclusion{% endblock page_title %}
{% block opengraph %}
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:title" content="{{ siae.name_display }}" />
    <meta property="twitter:url" content="{{ request.build_absolute_uri }}" />
    <meta property="twitter:title" content="{{ siae.name_display }}" />
{% endblock opengraph %}

{% block breadcrumb %}
    {% dsfr_breadcrumb %}
{% endblock breadcrumb %}

{% block content %}
    <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--gutters fr-mb-4v">
            <div class="fr-col-12 fr-col-md-8">
                <!-- siae basic info & details -->
                {% include "siaes/_card_detail.html" with siae=siae %}
            </div>
            <div class="fr-col-12 fr-col-md-4">
                <!-- profile-detail sidebar -->
                <aside id="sidebar">
                    <div class="fr-grid-row fr-grid-row--gutters">
                        {% if user.is_authenticated and user.is_admin %}
                            <div class="fr-col-12">
                                {% include "siaes/_detail_admin_extra_info.html" with siae=siae %}
                            </div>
                        {% endif %}
                        <div class="fr-col-12">
                            {% if inbound_email_is_activated %}
                                {% include "siaes/_detail_cta_v2.html" with siae=siae %}
                            {% else %}
                                {% include "siaes/_detail_cta.html" with siae=siae %}
                            {% endif %}
                        </div>
                        <div class="fr-col-12">
                            {% include "siaes/_card_suggest_tender.html" %}
                        </div>
                        <div class="fr-col-12">
                            {% include "siaes/_detail_partner_cta.html" with siae=siae %}
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    {% include "includes/_super_siae_arguments_badge.html" %}
{% endblock content %}
{% block modals %}
    {% include "auth/_login_or_signup_modal.html" %}
    {% include "conversations/_form_contact_modal.html" %}
    {% include "favorites/_favorite_item_add_modal.html" with siae=siae %}
    {% include "favorites/_favorite_item_remove_modal.html" with siae=siae %}
{% endblock modals %}
{% block extra_js %}
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            // map
            // siae coords output as floats with commas. We need to transform them into floats.
            const siaeName = "{{ siae.name }}";
            const siaeBrand = "{{ siae.brand|default:'' }}";
            const siaeLatitudeString = "{{ siae.coords.x }}";
            const siaeLongitudeString = "{{ siae.coords.y }}";
            const siaeLatitudeFloat = parseFloat(siaeLatitudeString.replace(',', '.'));
            const siaeLongitudeFloat = parseFloat(siaeLongitudeString.replace(',', '.'));

            // init map
            var map = L.map('map-siae').setView([siaeLongitudeFloat, siaeLatitudeFloat], 13);

            // map tiles
            L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                attribution: '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                maxZoom: 19,
                zoomControl: false,
            }).addTo(map);

            // map zoom controls in the bottom right
            map.zoomControl.remove();
            L.control.zoom({ position: 'bottomright' }).addTo(map);

            // create custom marker (because of static url issues)
            var customLeafletIcon = L.icon({
                'iconUrl': "{% static 'img/icon_map.png' %}",
                'shadowUrl': "{% static 'img/icon_map_shadow.png' %}",
                iconSize: [34,25],
                shadowSize:[34,25],
            });

            // add marker (with popup on click)
            var siaeDisplayName = siaeBrand ? siaeBrand : siaeName;
            L.marker([siaeLongitudeFloat, siaeLatitudeFloat], {icon: customLeafletIcon})
            .bindPopup(`<p class="h6">${siaeDisplayName}</p></a>`)
            .addTo(map);

            {% if form.errors %}
                setTimeout(() => {
                    const form_contact_modal = document.getElementById("form_contact_modal");
                    dsfr(form_contact_modal).modal.disclose();
                }, 500);
            {% endif %}
        });
    </script>
    {% if MTCAPTCHA_PUBLIC_KEY %}
        <script type="text/javascript">
            // add captcha to contact form
            var mtcaptchaConfig = {
                "sitekey": "{{ MTCAPTCHA_PUBLIC_KEY }}",
                "lang": "fr"
            };
        </script>
        <script type="text/javascript" src="{% static 'js/mtcaptcha.js' %}"></script>
    {% endif %}
    {% if user.is_authenticated %}
        <script type="text/javascript" src="{% static 'vendor/alpinejs@3.11.1.min.js'%}" defer></script>
        <script type="text/javascript" src="{% static 'js/favorite_item.js' %}"></script>
    {% endif %}
{% endblock extra_js %}
