{% extends "layouts/base.html" %}
{% load static bootstrap4 %}

{% block title %}Contactez les équipes du marché de l'inclusion{% endblock %}
{% block meta_description %}
<meta name="description" content="Une demande, une question en lien avec vos achats socialement responsables ? Contactez les équipes du marché de l'inclusion.">
{% endblock %}

{% block breadcrumbs %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'wagtail_serve' '' %}">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Formulaire de contact</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="s-title-01">
	<div class="s-title-01__container container">
		<div class="s-title-01__row row">
			<div class="s-title-01__col col-12">
				<h1 class="s-title-01__title h1"><strong>Nous contacter</strong></h1>
				<h2 class="h2">
					Vous êtes sur le point de contacter l'équipe Support du <strong>Marché de l'inclusion</strong>.
                </h2>
                <p>
					Notre équipe peut vous aider sur les thématiques liées au développement commercial des ESI (Entreprise Sociale Inclusive), les achats responsables…
                </p>
				<p class="mb-0">
                    <i class="ri-information-line ri-xl"></i> En revanche, si votre demande concerne les sujets de recrutement (Pass IAE, Fiche salarié, prescription ...),
					nous vous invitons à contacter l'équipe des <strong>Emplois de l'inclusion</strong> sur le site <a href="https://communaute.inclusion.beta.gouv.fr/aide/emplois/">https://communaute.inclusion.beta.gouv.fr/aide/emplois/</a>
				</p>
			</div>
		</div>
	</div>
</section>

<section class="s-section">
	<div class="s-section__container container">
		<div class="s-section__row row">
			<div class="s-section__col col-12 col-lg-7">
				<div class="c-form">
                    <form method="POST" action="">
                        {% csrf_token %}
                        {% bootstrap_form_errors form type="all" %}

                        <div class="row">
                            <div class="col-sm-6">
                                {% bootstrap_field form.first_name form_group_class="form-group" %}
                            </div>
                            <div class="col-sm-6">
                                {% bootstrap_field form.last_name form_group_class="form-group" %}
                            </div>
                        </div>
                        {% bootstrap_field form.email form_group_class="form-group" %}
                        {% bootstrap_field form.kind  form_group_class="form-group"%}
                        <div class="row">
                            <div class="col-sm-6">
                                {% bootstrap_field form.siret form_group_class="form-group" %}
                            </div>
                            <div class="col-sm-6">
                                {% bootstrap_field form.phone form_group_class="form-group" %}
                            </div>
                        </div>
                        {% bootstrap_field form.subject form_group_class="form-group" %}
                        {% bootstrap_field form.message form_group_class="form-group" %}

                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-row align-items-center justify-content-end">
                                    <div class="form-group col-12 col-lg-auto">
                                        <button type="submit" class="btn btn-ico btn-block btn-primary">
                                            <i class="ri-send-plane-line ri-lg"></i>
                                            <span>Envoyer</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
