{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Filière : Recyclage{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Filière : recyclage</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="s-filiere-01">
    <div class="s-filiere-01__container container">
        <div class="s-filiere-01__row row">
            <div class="s-filiere-01__col s-filiere-01__col--article col-12 col-lg-8">
                <h1 class="h1 mb-3 mb-lg-5">
                    <strong>Et si vous confiez le recyclage de vos déchets à un prestataire inclusif ?</strong>
                </h1>
                <article>
                    <p class="lead">
                        Il y a en France plus de 130 entreprises sociales inclusives qui proposent ces prestations ?
                        Il y en a forcément une proche de chez vous !
                    </p>
                </article>
            </div>
            <div class="s-filiere-01__col s-filiere-01__col--card col-12 col-lg-4">
                <div class="d-flex flex-column justify-content-between h-100 w-100 p-5 pt-3 shadow-lg rounded-lg bg-white position-relative">
                    <h2 class="h2 mb-3 mb-lg-5">Entreprise sociale inclusive, complétez votre fiche entreprise pour être encore plus visible</h2>
                    <p class="s-filiere-01__col__cta">
                        <a href="{% url 'auth:login' %}" target="_blank" class="btn btn-block btn-primary btn-ico">
                            <span>Je m'inscris</span>
                            <i class="ri-arrow-right-up-line ri-lg"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="s-article-picture-03 s-article-picture-03--marche">
    <div class="s-article-picture-03__container container">
        <div class="s-article-picture-03__row row">
            <div class="s-article-picture-03__col s-article-picture-03__col--article col-12 col-lg-6 d-flex align-items-center">
                <article>
                    <h2 class="s-article-picture-03__col--article__title h1" data-subtitle="Focus sur">Les applications concrètes du recyclage</h2>
                    <ul>
                        <li>Désarchiver et détruire vos documents obsolètes et confidentielsqui s'accumulent dans vos bureaux</li>
                        <li>Collecter et trier vos papiers de bureaux pour leur donner une seconde vie</li>
                        <li>Détruire vos déchets dangereux en toute sécurité (D.D.D et D.D.S)</li>
                        <li>Disposer des corbeilles de tri ergonomiques au sein de vos bureaux</li>
                        <li>Sensibiliser vos collaborateurs à la valorisation des déchets</li>
                    </ul>
                    <p>
                        Qu'il s'agisse de déchets bureautiques, industriels, médicaux ou ménagers, nos prestataires inclusifs prennent en
                        charge plus de 13 typologies de déchets (papier, plastique, canette, pile, cartouche, DEEE, DDD, huile, bois,
                        verre, métaux, organique, textile…)
                    </p>
                </article>
            </div>
            <div class="s-article-picture-03__col s-article-picture-03__col--picture col-12 col-lg-6 d-flex align-items-center">
                <picture>
                    <img src="{% static 'img/recyclage_1.min.png' %}" class="img-fluid img-fitcover" alt="">
                </picture>
            </div>
        </div>
    </div>
</section>

<section class="s-article-picture-01 s-article-picture-01--marche">
    <div class="s-article-picture-01__container container">
        <div class="s-article-picture-01__row row">
            <div class="s-article-picture-01__col s-article-picture-01__col--picture col-12 col-lg-5 d-flex align-items-center px-lg-4">
                <picture class="w-100">
                    <a href="" target="_blank" rel="noopener">
                        <img src="{% static 'img/filiere_map.min.png' %}" class="img-fluid img-fitcover" alt="">
                    </a>
                </picture>
            </div>
            <div class="s-article-picture-01__col s-article-picture-01__col--article col-12 col-lg-7 d-flex align-items-center">
                <article>
                    <h2 class="s-article-picture-01__col--article__title h1">Les structures du recyclage présentes sur le marché</h2>
                    <p>
                        De nombreuses structures d’insertion et du handicap proposent des prestations très diversifiées
                        dans le recyclage sur tout le territoire français. Grâce à notre moteur de recherche,
                        elles sont désormais à portée de clics !
                    </p>
                    <p class="s-article-picture-01__col--article__cta">
                        <a href="{% url 'siae:search_results' %}?sectors=recyclage-delements-dameublement-dae-et-petits-objets&sectors=recyclage-dequipements-electriques-et-electroniques-deee&sectors=vente-de-vehicules-velos-doccasions&sectors=recyclage-textiles&sectors=recyclage-papiers-et-fournitures-dentreprises&sectors=autre-85" target="_blank" class="btn btn-primary btn-ico">
                            <span>Accéder aux résultats</span>
                            <i class="ri-arrow-right-line ri-lg"></i>
                        </a>
                    </p>
                </article>
            </div>
        </div>
    </div>
</section>

<section class="s-cards-grid-01 bg-gray-400">
    <div class="s-cards-grid-01__container container container-max-lg">
        <div class="s-cards-grid-01__row row">
            <div class="s-cards-grid-01__col s-cards-grid-01__col--title col-12">
                <h3 class="h1 mb-3 mb-lg-5 text-center">
                    <strong>Le recyclage, en quelques chiffres</strong>
                </h3>
            </div>
        </div>
        <div class="s-cards-grid-01__row row row-cols-1 row-cols-md-2 row-cols-lg-3">
            <div class="s-cards-grid-01__col col mb-3 mb-md-5">
                <div class="card c-card c-card--marche h-100 w-100">
                    <div class="card-body text-center">
                        <p class="h2">Plus de 1 000 000 tonnes de déchets collectés et triés</p>
                    </div>
                </div>
            </div>
            <div class="s-cards-grid-01__col col mb-3 mb-md-5">
                <div class="card c-card c-card--marche h-100 w-100">
                    <div class="card-body text-center">
                        <p class="h2">Une présence dans toutes les régions de France</p>
                    </div>
                </div>
            </div>
            <div class="s-cards-grid-01__col col mb-3 mb-md-5">
                <div class="card c-card c-card--marche h-100 w-100">
                    <div class="card-body text-center">
                        <p class="h2">Plus de 13 000 clients satisfaits</p>
                    </div>
                </div>
            </div>
            <div class="s-cards-grid-01__col col mb-3 mb-md-5">
                <div class="card c-card c-card--marche h-100 w-100">
                    <div class="card-body text-center">
                        <p class="h2">Plus de 130 prestataires inclusifs en France</p>
                    </div>
                </div>
            </div>
            <div class="s-cards-grid-01__col col mb-3 mb-md-5">
                <div class="card c-card c-card--marche h-100 w-100">
                    <div class="card-body text-center">
                        <p class="h2">Plus de 20 ans d'expériences dans les déchets</p>
                    </div>
                </div>
            </div>
            <div class="s-cards-grid-01__col col mb-3 mb-md-5">
                <div class="card c-card c-card--marche h-100 w-100">
                    <div class="card-body text-center">
                        <p class="h2">Plus de 1000 emplois stables créés</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="s-cards-grid-01">
    <div class="s-cards-grid-01__container container">
        <div class="s-cards-grid-01__row row">
            <div class="s-cards-grid-01__col s-cards-grid-01__col--title col-12">
                <h3 class="h1 mb-3 mb-lg-5 text-center">Les groupements d’entreprises du recyclage</h3>
            </div>
        </div>
        <div class="s-cards-grid-01__row row row-cols-1 row-cols-md-2 row-cols-lg-3">
            <div class="s-cards-grid-01__col col mb-3 mb-md-5">
                <div class="card c-card c-card--mini w-100 h-100">
                    <div class="card-header text-center pb-0">
                        <img src="{% static 'img/logo-recylliance-recyclage.png' %}" alt="" height="130">
                    </div>
                    <div class="card-body pt-0">
                        <h3>Recylliance</h3>
                        <p>Composé de 19 entreprises françaises spécialisées dans le recyclage de déchets tertiaires, industriels et
                            ménagers recyclables, le réseau Recylliance souhaite répondre collectivement aux enjeux de l’économie circulaire,
                            en stimulant la création d’emplois locaux, les logiques de circuits courts et le recyclage de proximité.
                            Au total c’est 75 000 tonnes de déchets recyclés et plus de 670 emplois créés.
                        </p>
                    </div>
                    <div class="card-footer text-right">
                        <a href="https://www.recylliance.fr/" class="btn btn-primary btn-block btn-ico">
                            <span>Accèder au site</span>
                            <i class="ri-arrow-right-up-line ri-lg"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="s-cards-grid-01__col col mb-3 mb-md-5">
                <div class="card c-card c-card--mini w-100 h-100">
                    <div class="card-header text-center pb-0">
                        <img src="{% static 'img/logo-elise-recyclage.png' %}" alt="" height="130">
                    </div>
                    <div class="card-body pt-0">
                        <h3>Elise</h3>
                        <p>Avec ELISE, faites le choix de valoriser 100% des déchets de bureau en assurant leur recyclage et en créant
                            des emplois solidaires. Pour cela, des corbeilles sont mises à la disposition des collaborateurs de votre entreprise.
                            ELISE se charge de la collecte, du tri et du recyclage. Plus de 12 600 entreprises ont déjà pris l’initiative avec ELISE
                        </p>
                    </div>
                    <div class="card-footer text-right">
                        <a href="https://www.elise.com.fr/" class="btn btn-ico btn-primary btn-block">
                            <span>Accèder au site</span>
                            <i class="ri-arrow-right-up-line ri-lg"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="s-cards-grid-01__col col mb-3 mb-md-5">
                <div class="card c-card c-card--mini w-100 h-100">
                    <div class="card-header text-center pb-0">
                        <img src="{% static 'img/logo-envie-recyclage.png' %}" alt="" height="130">
                    </div>
                    <div class="card-body pt-0">
                        <h3>Envie</h3>
                        <p>
                            À travers la collecte et la valorisation des déchets, ainsi que la rénovation et le réutilisation des équipements électriques et électroniques,
                            Envie participe depuis 1984 à la limitation des déchets et contribue à faire changer les modes de consommation.
                            Un réseau dense de points de vente, d’ateliers de réparation et de centres de recyclage implanté dans toute la France.
                            Plus de 50 entreprises autonomes fédérées !
                        </p>
                    </div>
                    <div class="card-footer text-right">
                        <a href="https://www.envie.org/" class="btn btn-primary btn-block btn-ico">
                            <span>Accèder au site</span>
                            <i class="ri-arrow-right-up-line ri-lg"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
