{% extends "layouts/base.html" %}

{% block title %}{{ flatpage.title }}{{ block.super }}{% endblock %}

{% block meta_title %}{{ flatpage.meta_title|default:flatpage.title }}{% endblock %}
{% block meta_description %}{{ flatpage.meta_description }}{% endblock %}

{% block breadcrumbs %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'wagtail_serve' '' %}">Accueil</a></li>
                            <li class="breadcrumb-item active" aria-current="page"title="{{ flatpage.title }}">{{ flatpage.title }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="s-title-01">
        <div class="s-title-01__container container">
            <div class="s-title-01__row row">
                <div class="s-title-01__col col-12">
                    <h1 class="s-title-01__title h1"><strong>{{ flatpage.title }}</strong></h1>
                </div>
            </div>
        </div>
    </section>

    <section class="s-cms">
        <div class="s-cms__container container container-max-lg">
            <div class="s-cms__row row">
                <div class="s-cms__col col-12">
                    {{ flatpage.content | safe }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
