{% extends "layouts/base.html" %}

{% block title %}{{ flatpage.title }}{{ block.super }}{% endblock %}

{% block meta_title %}{{ flatpage.meta_title|default:flatpage.title }}{% endblock %}
{% block meta_description %}{{ flatpage.meta_description }}{% endblock %}

{% block breadcrumbs %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ flatpage.title }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="s-flatpage">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="h1 mb-3 mb-lg-5"><strong>{{ flatpage.title }}</strong></h1>
                <div class="s-flatpage-content">
                    {{ flatpage.content | safe }}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
