{% extends "layouts/base.html" %}

{% block title %}{{ flatpage.title }}{{ block.super }}{% endblock %}

{% block meta_title %}{{ flatpage.meta_title|default:flatpage.title }}{% endblock %}
{% block meta_description %}{{ flatpage.meta_description }}{% endblock %}

{% block breadcrumbs %}
    <section>
        <div class="fr-container">
            <div class="fr-grid-row">
                <div class="fr-col-12">
                    <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ HOME_PAGE_PATH }}">Accueil</a></li>
                            <li class="breadcrumb-item active" aria-current="page"title="{{ flatpage.title }}">{{ flatpage.title }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section class="">
        <div class="s-title-01__container fr-container">
            <div class="fr-grid-row">
                <div class="fr-col-12">
                    <h1 class="s-title-01__title h1"><strong>{{ flatpage.title }}</strong></h1>
                </div>
            </div>
        </div>
    </section>

    <section class="s-cms">
        <div class="s-cms__container fr-container fr-container-max-lg">
            <div class="s-cms__row fr-grid-row">
                <div class="s-cms__col fr-col-12">
                    {{ flatpage.content | safe }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
