{% extends "layouts/base.html" %}
{% load static siae_sectors_display %}

{% block title %}Un appel d'offres de grande ampleur ? Découvrez les groupements{{ block.super }}{% endblock %}
{% block meta_description %}
<meta name="description" content="Retrouver les groupements commerciaux des structures de l'insertion et de l'handicap. Votre interlocuteur unique pour vos achats socialement responsables d'envergure.">
{% endblock %}
{% block body_class %}p-partenaires{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'wagtail_serve' '' %}">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Groupements</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="s-page-menu-01 s-page-menu-01--marche has-illustration-bg-01">
    <div class="s-page-menu-01__container container">
        <div class="s-page-menu-01__row row align-items-center">
            <div class="s-page-menu-01__col s-page-menu-01__col--title col-12 col-lg-10">
                <h1 class="h1-hero">
                    <strong>Retrouver les groupements <br class="d-none d-lg-inline">commerciaux des SIAE</strong>
                </h1>
            </div>
        </div>
    </div>
</section>

<section class="s-partenaires-02 s-cards-grid-01 pt-0">
    <div class="s-cards-grid-01__container container">
        <div class="s-cards-grid-01__row row row-cols-1 row-cols-md-2 row-cols-lg-3 justify-content-start">
            {% for group in siaegroups %}
                <div class="s-cards-grid-01__col col mb-3 mb-md-5">
                    <div class="card c-card has-links-inside h-100 w-100 c-card--marche">
                        <div class="card-header">
                            {% if group.logo_url %}
                                <img src="{{ group.logo_url }}" class="img-fluid" alt="Logo de {{ group.name }}" loading="lazy" />
                            {% else %}
                                <img src="{% static 'img/default-listing.png' %}" class="img-fluid" alt="{{ siae.name }}" loading="lazy" />
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <p class="h3 lh-sm">{{ group.name }}</p>
                            {% if group.sectors.count %}
                                <div class="d-flex" title="Secteurs d'activité">
                                    <i class="ri-award-line ri-xl mr-1"></i>
                                    <ul class="list-unstyled">
                                        {% siae_sectors_display group display_max=6 output_format='li' %}
                                    </ul>
                                </div>
                            {% endif %}
                            {% if group.siae_count %}
                                <p title="Nombre de structures">
                                    <i class="ri-hotel-line ri-xl mr-1"></i>
                                    <span>{{ group.siae_count }} structures</span>
                                </p>
                            {% endif %}
                        </div>
                        <div class="card-footer">
                            <hr />
                            <ul class="list-unstyled">
                                {% if group.contact_website %}
                                    <li>
                                        <a href="{{ group.contact_website }}" class="btn btn-link btn-ico pl-0 py-1" id="group_company_website" target="_blank" rel="noopener">
                                            <i class="ri-window-2-line ri-xl mr-1"></i>
                                            <span>{{ group.contact_website }}</span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% if group.contact_email %}
                                    <li>
                                        <a href="mailto:{{ group.contact_email }}" class="btn btn-link btn-ico pl-0 py-1" id="group_company_email">
                                            <i class="ri-at-line ri-xl mr-1"></i>
                                            <span>{{ group.contact_email }}</span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% if group.contact_phone %}
                                    <li>
                                        <a href="tel:{{ group.contact_phone }}" class="btn btn-link btn-ico pl-0 py-1" id="group_company_phone">
                                            <i class="ri-phone-line ri-xl mr-1"></i>
                                            <span>{{ group.contact_phone }}</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="s-partenaires-01">
    <div class="s-partenaires-01__container container">
        <div class="s-partenaires-01__row row justify-content-center">
            <div class="s-partenaires-01__col col-12 col-lg-8">
                <div class="card c-card c-card--mini h-100 p-3 p-lg-5 pr-lg-7">
                    <div class="card-body">
                        <h3 class="h2 m-0">
                            Vous souhaitez référencer votre groupement de vos SIAE ?
                        </h3>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'pages:contact' %}" class="btn btn-primary btn-ico stretched-link">
                            <span>Contactez-nous</span>
                            <i class="ri-arrow-right-line ri-lg"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
