{% extends "layouts/base.html" %}
{% load process_dict dsfr_tags static siae_sectors_display %}

{% block page_title %}Un appel d'offres de grande ampleur ? Découvrez les groupements{{ block.super }}{% endblock page_title %}
{% block meta_description %}
<meta name="description" content="Retrouver les groupements commerciaux des structures de l'insertion et de l'handicap. Votre interlocuteur unique pour vos achats socialement responsables d'envergure.">
{% endblock meta_description %}

{% block breadcrumb %}
    {% process_dict root_dir=HOME_PAGE_PATH current="Groupements" as breadcrumb_data %}
    {% dsfr_breadcrumb breadcrumb_data %}
{% endblock breadcrumb %}

{% block content %}
<section>
    <div class="fr-container">
        <div class="fr-grid-row">
            <div class="fr-col-12 fr-col-lg-10">
                <h1>
                    Retrouver les groupements <br class="fr-hidden fr-unhidden-lg">commerciaux des SIAE
                </h1>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--gutters">
            {% for group in siaegroups %}
                <div class="fr-col-12 fr-col-md-6 fr-col-lg-4">
                    <div class="fr-card">
                        <div class="fr-card__body">
                            <div class="fr-card__content">
                                <h3 class="fr-card__title">
                                    {{ group.name }}
                                </h3>
                                <div class="fr-card__desc">
                                    {% if group.sectors.count %}
                                        <div title="Secteurs d'activité">
                                            <span class="fr-icon-award-line" aria-hidden="true"></span>
                                            <ul class="list-unstyled">
                                                {% siae_sectors_display group display_max=6 output_format='li' %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                    {% if group.siae_count %}
                                        <span class="fr-icon-hotel-line" aria-hidden="true"></span> {{ group.siae_count }} structure{{ group.siae_count|pluralize }}
                                    {% endif %}
                                    <ul class="list-unstyled fr-mt-4v fr-pl-1v">
                                        {% if group.contact_website %}
                                            <li>
                                                <a href="{{ group.contact_website }}" class="fr-link fr-icon-window-line fr-link--icon-left" id="group_company_website" target="_blank" rel="noopener">
                                                    {{ group.contact_website }}
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if group.contact_email %}
                                            <li>
                                                <a href="mailto:{{ group.contact_email }}" class="fr-link fr-icon-mail-line fr-link--icon-left" id="group_company_email">
                                                    {{ group.contact_email }}
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if group.contact_phone %}
                                            <li>
                                                <a href="tel:{{ group.contact_phone }}" class="fr-link fr-icon-phone-line fr-link--icon-left" id="group_company_phone">
                                                    {{ group.contact_phone }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="fr-card__header">
                            <div class="fr-card__img">
                                {% if group.logo_url %}
                                    <img src="{{ group.logo_url }}" class="fr-responsive-img" alt="Logo de {{ group.name }}" loading="lazy" />
                                {% else %}
                                    <img src="{% static 'img/default-listing.png' %}" class="fr-responsive-img" alt="{{ siae.name }}" loading="lazy" />
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section>
    <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center fr-m-8v">
            <div class="fr-col-12 fr-col-lg-8">
                <div class="fr-card fr-card--sm">
                    <div class="fr-card__body">
                        <div class="fr-card__content">
                            <h3 class="fr-card__title">
                                Vous souhaitez référencer votre groupement de vos SIAE ?
                            </h3>
                            <p class="fr-card__desc">
                                <a href="{% url 'pages:contact' %}" class="fr-btn fr-btn-icon-arrow-right-line fr-btn-icon-right fr-mt-4v">
                                    Contactez-nous
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
