{% extends "layouts/base.html" %}
{% load static bootstrap4 %}
{% load theme_inclusion %}
{% load wagtailcore_tags %}

{% block title %}Trouvez des prestataires socialement responsables en 2 clics{{ block.super }}{% endblock %}
{% block meta_description %}
<meta name="description" content="Toutes les structures de l'insertion et du handicap à un seul endroit (ESAT, EA, EI...). Le marché de l'inclusion, un service gratuit porté par le ministère du Travail.">
{% endblock %}
{% block body_class %}p-homepage{{ block.super }}{% endblock %}

{% block content %}
{% if sub_header_custom_message %}
    <section class="s-section mb-0">
        <div class="s-section__container container">
          <div class="s-section__row row">
            <div class="s-section__col col-12">
                <div class="alert alert-communaute alert-dismissible-once d-none" role="status" id="alertSubHeaderDismissibleOnce">
                    <p class="mb-0">{{ sub_header_custom_message|safe }}</p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Fermer">
                        <i class="ri-close-line"></i>
                    </button>
                </div>
            </div>
          </div>
        </div>
    </section>
{% endif %}

<section class="s-page-menu-01 s-page-menu-01--marche p-0">
    <div class="s-page-menu-01__container container">
        <div class="s-page-menu-01__row row py-5 pb-md-4 pt-md-3">
            <div class="s-page-menu-01__col s-page-menu-01__col--title col-12 col-md-8">
                <h1 class="h1-hero lh-sm">Votre recherche <br class="d-none d-lg-inline">de prestataires inclusifs <br class="d-none d-lg-inline">est chronophage ?</h1>
                <h2 class="h2 mb-3 mb-lg-5">Confiez votre sourcing au marché de l'inclusion !</h2>
                <ul class="list-unstyled mb-5">
                    <li class="d-flex mb-2">
                        <i class="text-success ri-checkbox-circle-fill display-2"></i>
                        <span class="ml-2">Obtenez des réponses en moins de 24 heures.</span>
                    </li>
                    <li class="d-flex mb-2">
                        <i class="text-success ri-checkbox-circle-fill display-2"></i>
                        <span class="ml-2">Uniquement des prestataires conventionnés par l'Etat.</span>
                    </li>
                    <li class="d-flex mb-2">
                        <i class="text-success ri-checkbox-circle-fill display-2"></i>
                        <span class="ml-2">Impact social garanti.</span>
                    </li>
                </ul>
                <p class="mb-0 mt-5">
                    <a href="{% url 'tenders:create' %}" id="home-demande" class="btn btn-primary d-block d-md-inline-block mb-2">
                        <i class="ri-mail-send-line ri-lg mr-2"></i>Publier un besoin d'achat
                    </a>
                    <span class="d-block d-sm-inline pl-4 py-2">ou</span>
                    <a href="{% url 'siae:search_results' %}" id="home-siae-search" class="btn btn-link">
                        <i class="ri-search-line ri-xl mr-2"></i>Rechercher un prestataire
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="s-section m-0 bg-nuance-09">
    <div class="s-section__container container">
        <div class="s-section__row row">
            <div class="s-section__col col-12 py-5">
                <h2 class="h1 font-weight-bolder m-0">Le marché c'est <span class="text-important">{{ user_buyer_count }}&nbsp;acheteurs</span> inscrits, <span class="text-important">{{ siae_count }}&nbsp;prestataires</span> référencés, <span class="text-important">{{ tender_count }}&nbsp;besoins</span> publiés.</h1>
            </div>
        </div>
    </div>
</section>

{% include "pages/home_sections/_tenders_users_companies.html" %}
{% include "pages/home_sections/_tenders_studies_case.html" %}
{% include "pages/home_sections/_tenders_siaes_labels.html" %}

<section class="s-cards-grid-01 bg-gray-light">
    <div class="s-cards-grid-01__container container">
        <div class="s-cards-grid-01__row row">
            <div class="s-cards-grid-01__col s-cards-grid-01__col--title col-12">
                <h2 class="h2 mb-3 mb-lg-5">Nos ressources</h2>
            </div>
        </div>
        <div class="s-cards-grid-01__row row row-cols-1 row-cols-md-2 row-cols-lg-3">
            <div class="s-cards-grid-01__col col mb-3 mb-lg-5">
                <div class="card c-card has-one-link-inside h-100 w-100 c-card--marche">
                    <div class="card-header">
                        <img src="{% static 'img/hp-02-photo-06.min.jpg' %}" class="img-fluid img-fitcover" alt="" loading="lazy">
                    </div>
                    <div class="card-body">
                        <p class="h3 lh-base">Les groupements</p>
                        <p>
                            Les groupements d’entreprises sociales inclusives sont des partenaires de choix, vous garantissant : une excellence dans l’exécution un interlocuteur unique tout au long de la prestation, un impact social fort.
                        </p>
                    </div>
                    <div class="card-footer text-right">
                        <a href="{% url 'pages:groupements' %}" id="track_home_groups" class="btn btn-link btn-ico stretched-link">
                            <span>Découvrir les groupements</span>
                            <i class="ri-arrow-right-up-line ri-lg"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="s-cards-grid-01__col col mb-3 mb-lg-5">
                <div class="card c-card has-one-link-inside h-100 w-100 c-card--marche">
                    <div class="card-header">
                        <img src="{% static 'img/hp-02-photo-05.jpg' %}" class="img-fluid img-fitcover" alt="" loading="lazy" />
                    </div>
                    <div class="card-body">
                        <p class="h3 lh-sm">Valoriser vos achats</p>
                        <p><span class="badge badge-sm badge-pill badge-accent-01 text-white">J’achète inclusif</span></p>
                        <p>
                            Il se peut que vous travailliez déjà avec des entreprises sociales inclusives (insertion / handicap) sans le savoir. Retrouvez la liste complète des structures réferencées sur le marché
                        </p>
                    </div>
                    <div class="card-footer text-right">
                        <a href="{% url 'pages:valoriser_achats' %}" id="track_home_achats" class="btn btn-link btn-ico stretched-link">
                            <span>Découvrir la valorisation</span>
                            <i class="ri-arrow-right-up-line ri-lg"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="s-cards-grid-01__col col mb-3 mb-lg-5">
                <div class="card c-card has-one-link-inside h-100 w-100 c-card--marche">
                    <div class="card-header">
                        <img src="{% static 'img/hp-02-photo-03.min.jpg' %}" class="img-fluid img-fitcover" alt="" loading="lazy" />
                    </div>
                    <div class="card-body">
                        <p class="h3 lh-sm">Être acteur de l’inclusion dans l’emploi</p>
                        <p><span class="badge badge-sm badge-pill badge-accent-03 text-primary">Je gère ma structure</span></p>
                        <p>
                            Devenez acteur d’une société plus juste en orientant votre politique d’achat vers des structures d'insertion et du handicap qui luttent activement contre l'exclusion sociale.
                            Achetez inclusif !
                        </p>
                    </div>
                    <div class="card-footer text-right">
                        <a href="{% url 'pages:decouvrir_inclusion' %}" id="track_home_inclusion" class="btn btn-link btn-ico stretched-link">
                            <span class="ml-0">Découvrir l’inclusion dans l’emploi</span>
                            <i class="ri-arrow-right-up-line ri-lg"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="s-cards-grid-01__col col mb-3 mb-lg-5">
                <div class="card c-card has-one-link-inside h-100 w-100 c-card--marche">
                    <div class="card-header">
                        <img src="{% static 'img/hp-02-photo-04.min.jpg' %}" class="img-fluid img-fitcover" alt="" loading="lazy" />
                    </div>
                    <div class="card-body">
                        <p class="h3 lh-sm">Vous souhaitez être accompagné dans vos achats</p>
                        <p><span class="badge badge-sm badge-pill badge-accent-03 text-primary">Je gère ma structure</span></p>
                        <p>
                            Des organisations reconnues ont développé une expertise pour vous aider à aller plus loin dans votre démarche d'achat inclusif.
                            Découvrez-les !
                        </p>
                    </div>
                    <div class="card-footer text-right">
                        <a href="{% url 'pages:partenaires' %}" id="track_home_partners" class="btn btn-link btn-ico stretched-link">
                            <span>Découvrir des partenaires</span>
                            <i class="ri-arrow-right-up-line ri-lg"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="s-cards-grid-01__col col mb-3 mb-lg-5">
                <div class="card c-card has-one-link-inside h-100 w-100 c-card--marche">
                    <div class="card-header">
                        <img src="{% static 'img/hp-02-photo-02.min.jpg' %}" class="img-fluid img-fitcover" alt="" loading="lazy" />
                    </div>
                    <div class="card-body">
                        <p class="h3 lh-sm">Acheteurs, alliez impact social et environnemental !</p>
                        <p><span class="badge badge-sm badge-pill badge-pilotage text-primary">Les actus du marché</span></p>
                        <p>
                            Quelques soient les déchets que produit votre entreprise, vous trouverez forcément un prestataire capable de répondre à vos besoins.
                        </p>
                    </div>
                    <div class="card-footer text-right">
                        <a href="{% url 'pages:filiere_recyclage' %}" id="track_home_recycling" class="btn btn-link btn-ico stretched-link">
                            <span>Découvrir le recyclage inclusif</span>
                            <i class="ri-arrow-right-up-line ri-lg"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Card CTA doit être la 6e (pour n'afficher que 2 lignes de ressources) -->
            <div class="s-cards-grid-01__col col mb-3 mb-lg-5">
                <div class="card c-card has-one-link-inside h-100 w-100 c-card--marche">
                    <div class="card-body d-flex align-items-center">
                        <div class="w-100 text-center py-5">
                            <p class="h3 lh-sm">Découvrez toutes nos ressources</p>
                            <a href="{% slugurl 'ressources' %}" id="track_home_ressources" class="btn btn-primary btn-sm btn-ico stretched-link">
                                <i class="ri-search-eye-line ri-lg"></i>
                                <span>Découvrir</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% if siaes_first_page %}
    <section class="s-cards-grid-01 bg-nuance-09">
        <div class="s-cards-grid-01__container container">
            <div class="s-cards-grid-01__row row">
                <div class="s-cards-grid-01__col s-cards-grid-01__col--title col-12">
                    <h2 class="h2 mb-3 mb-lg-5"><strong>Nos structures à la une</strong></h2>
                </div>
            </div>
            <div class="s-cards-grid-01__row row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
                {% for siae in siaes_first_page %}
                    {% include "siaes/_card_home.html" with siae=siae %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}

<section class="s-cards-grid-01 has-illustration-bg-01 bg-gray-400">
    <div class="s-cards-grid-01__container container">
        <div class="s-cards-grid-01__row row">
            <div class="s-cards-grid-01__col s-cards-grid-01__col--title col-12">
                <h2 class="h2 mb-3 mb-lg-5">Sur le marché</h2>
            </div>
        </div>
        <div class="s-cards-grid-01__row row row-cols-1 row-cols-md-2 row-cols-lg-3 justify-content-center">
            <div class="s-cards-grid-01__col col mb-3 mb-md-5">
                <div class="card c-card h-100 w-100 c-card--marche">
                    <div class="card-header text-center">
                        <img height="80" src="{% static_theme_images 'ico-bicro-marche-local.svg' %}" alt="" />
                    </div>
                    <div class="card-body">
                        <p class="h3 lh-base">Participez à la dynamique économique et sociale de votre territoire avec des partenaires de proximité.</p>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
            <div class="s-cards-grid-01__col col mb-3 mb-md-5">
                <div class="card c-card h-100 w-100 c-card--marche">
                    <div class="card-header text-center">
                        <img height="80" src="{% static_theme_images 'ico-bicro-marche-recyclage.svg' %}" alt="" />
                    </div>
                    <div class="card-body">
                        <p class="h3 lh-base">Mesurer vos achats inclusifs, renforcez votre politique d’achats responsables et valorisez votre image d’entreprise.</p>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
            <div class="s-cards-grid-01__col col mb-3 mb-md-5">
                <div class="card c-card h-100 w-100 c-card--marche">
                    <div class="card-header text-center">
                        <img height="80" src="{% static_theme_images 'ico-bicro-marche-ouvrier.svg' %}" alt="" />
                    </div>
                    <div class="card-body">
                        <p class="h3 lh-base">Trouvez des prestataires et palliez efficacement vos besoins de main-d'œuvre, métiers en tension, et vos besoins de services.</p>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="s-hp-slider-partners">
    <div class="s-hp-slider-partners__container container">
        <div class="s-hp-slider-partners__row row">
            <div class="s-hp-slider-partners__col col-12">
                <h2 class="h2 mb-3 mb-lg-5">Les partenaires du marché</h2>
            </div>
        </div>
        <div class="s-hp-slider-partners__row row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6">
            <div class="s-hp-slider-partners__col col pb-3 d-flex align-items-center">
                <a href="https://group.bnpparibas/" target="_blank" rel="noopener">
                    <img src="{% static 'images/logo-partners-bnp.svg' %}" class="img-fluid" alt="Banque BNP Paribas | La banque d'un monde qui change" loading="lazy" />
                </a>
            </div>
            <div class="s-hp-slider-partners__col col pb-3 d-flex align-items-center">
                <a href="https://www.laposte.fr/" target="_blank" rel="noopener">
                    <img src="{% static 'images/logo-partners-la-poste.jpg' %}" class="img-fluid" alt="Achetez des Timbres, Envoyez Courrier, Colis - La Poste" loading="lazy" />
                </a>
            </div>
            <div class="s-hp-slider-partners__col col pb-3 d-flex align-items-center">
                <a href="https://www.servier.fr/" target="_blank" rel="noopener">
                    <img src="{% static 'images/logo-partners-servier.min.png' %}" class="img-fluid" alt="Groupe pharmaceutique Servier" loading="lazy" />
                </a>
            </div>
            <div class="s-hp-slider-partners__col col pb-3 d-flex align-items-center">
                <a href="https://www.lesentreprises-sengagent.gouv.fr" target="_blank" rel="noopener">
                    <img src="{% static 'images/logo-partners-les-entreprises-sengagent.svg' %}" class="img-fluid" alt="Les entreprises s'engagent" loading="lazy" />
                </a>
            </div>
            <div class="s-hp-slider-partners__col col pb-3 d-flex align-items-center">
                <a href="https://www.cna-asso.fr/" target="_blank" rel="noopener">
                    <img src="{% static 'images/logo-partners-cna.min.png' %}" class="img-fluid" alt="Conseil National des Achats" loading="lazy" />
                </a>
            </div>
            <div class="s-hp-slider-partners__col col pb-3 d-flex align-items-center">
                <a href="https://www.reseau-gesat.com" target="_blank" rel="noopener">
                    <img src="{% static 'images/logo-partners-reseau-gesat-square.min.png' %}" class="img-fluid" alt="Développer vos achats responsables auprès du STPA (ESAT & EA)" loading="lazy" />
                </a>
            </div>
            <div class="s-hp-slider-partners__col col pb-3 d-flex align-items-center">
                <a href="https://handeco.org" target="_blank" rel="noopener">
                    <img src="{% static 'images/logo-partners-handeco.min.png' %}" class="img-fluid" alt="Handeco - Le partenaire économique des acteurs solidaires" loading="lazy" />
                </a>
            </div>
            <div class="s-hp-slider-partners__col col pb-3 d-flex align-items-center">
                <a href="https://ess2024.org" target="_blank" rel="noopener">
                    <img src="{% static 'images/logo-partners-ess-2024.min.png' %}" class="img-fluid" alt="ESS 2024 La plateforme solidaire" loading="lazy" />
                </a>
            </div>
            <div class="s-hp-slider-partners__col col pb-3 d-flex align-items-center">
                <a href="https://campus-inclusion.fr" target="_blank" rel="noopener">
                    <img src="{% static 'images/logo-partners-le-campus-de-linclusion.min.png' %}" class="img-fluid" alt="Campus de l'inclusion : Dirigeants, passez à l'action !" loading="lazy" />
                </a>
            </div>
            <div class="s-hp-slider-partners__col col pb-3 d-flex align-items-center">
                <a href="https://www.linkedin.com/company/economies-solidaires/" target="_blank" rel="noopener">
                    <img src="{% static 'images/logo-partners-agence-des-economies-solidaires.min.jpg' %}" class="img-fluid" alt="Agence des Economies Solidaires" loading="lazy" />
                </a>
            </div>
            <div class="s-hp-slider-partners__col col pb-3 d-flex align-items-center">
                <a href="http://www.lesentreprisesdinsertion.org/" target="_blank" rel="noopener">
                    <img src="{% static 'images/logo-partners-fei.min.png' %}" class="img-fluid" alt="Fédération des Entreprises d'Insertion" loading="lazy" />
                </a>
            </div>
            <div class="s-hp-slider-partners__col col pb-3 d-flex align-items-center">
                <a href="https://up.coop/home" target="_blank" rel="noopener">
                    <img src="{% static 'images/logo-partners-up.min.jpg' %}" class="img-fluid" alt="Up France" loading="lazy" />
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block modals %}
    {% include "auth/_login_or_signup_modal.html" %}
{% endblock %}
