{% extends BASE_TEMPLATE %}
{% load process_dict dsfr_tags static humanize wagtailcore_tags %}
{% block page_title %}
    Calculer l'impact social d'un achat inclusif{{ block.super }}
{% endblock page_title %}
{% block description %}
    <meta name="description"
          content="Identifier rapidement le nombre total de prestataires inclusifs pouvant répondre à votre besoin et mesurer leur capacité globale de production.">
{% endblock description %}
{% block breadcrumb %}
    {% process_dict root_dir=HOME_PAGE_PATH current="Calculer l'impact social d'un achat inclusif" as breadcrumb_data %}
    {% dsfr_breadcrumb breadcrumb_data %}
{% endblock breadcrumb %}
{% block content %}
    <section>
        <div class="fr-container">
            <div class="fr-grid-row">
                <div class="fr-col-12 fr-col-lg-10">
                    <h1>Calculer l'impact social d'un achat inclusif</h1>
                    <h2>Renseignez le montant de votre achat et découvrez à combien d'emploi inclusif vous contribuez.</h2>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="fr-container">
            {% block htmx %}
                <div class="fr-grid-row fr-grid-row--gutters fr-mt-8v"
                     id="calculatorImpact">
                    <div class="fr-col-12 fr-col-lg-5">
                        <form hx-get="{{ request.path }}"
                              hx-push-url="true"
                              hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                              hx-target="#calculatorImpact"
                              hx-swap="outerHTML">
                            {% if form.non_field_errors %}
                                <section class="fr-my-4v fr-input-group fr-input-group--error">
                                    {{ form.non_field_errors }}
                                </section>
                            {% endif %}
                            <div class="fr-grid-row">
                                <div class="fr-col-12">{% dsfr_form_field form.amount %}</div>
                            </div>
                            <div class="fr-grid-row fr-mt-8v">
                                <div class="fr-col-12">
                                    <ul class="fr-btns-group fr-btns-group--inline fr-btns-group--right fr-btns-group--icon-right">
                                        {% if results %}
                                            <li>
                                                <button hx-get="{{ request.path }}"
                                                        hx-target="#calculatorImpact"
                                                        hx-swap="outerHTML"
                                                        class="fr-btn fr-btn--secondary fr-icon-close-circle-line">
                                                    <span>Annuler</span>
                                                </button>
                                            </li>
                                        {% endif %}
                                        <li>
                                            <button type="submit"
                                                    id="social-impact-calculator-submit-btn"
                                                    class="fr-btn fr-icon-search-line">
                                                <span>Calculer mon impact social</span>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                    {% if results %}
                        <div class="fr-col-12 fr-col-lg-7">
                            <h3>Résultats</h3>
                            {% if results.nb_of_hours_per_mounth %}
                                <p>
                                    Malheureusement, votre achat ne permet pas de financer un emploi à temps plein,
                                    par contre il pourrait contribuer à approximativement <strong>{{ results.nb_of_hours_per_mounth }} heures de travail sur 1 mois</strong>.
                                </p>
                            {% else %}
                                <p>
                                    Bravo ! Votre achat inclusif pourrait contribuer à financer approximativement
                                    <strong>{{ results.nb_of_jobs_per_mounth }} emploi{{ results.nb_of_jobs_per_mounth|pluralize }} à temps plein durant 1 mois</strong>.
                                </p>
                            {% endif %}
                            <p>
                                Ces emplois locaux et non-délocalisables bénéficieront à des personnes vulnérables, éloignées du monde professionnel ou en situation de handicap.
                            </p>
                            <p>
                                <a href="{% url 'tenders:create' %}"
                                   id="acheter-inclusif-impact-social-buyers"
                                   class="fr-btn fr-btn--secondary">Acheter inclusif</a>
                            </p>
                            <p class="fr-text--xs">
                                Il s'agit d'une estimation basée sur le mode de calcul d'un échantillon non représentatif de l'ensemble des prestataires inclusifs.
                            </p>
                        </div>
                    {% endif %}
                </div>
            {% endblock htmx %}
        </div>
    </section>
{% endblock content %}
