<dialog class="fr-modal" id="favorite_item_remove_modal" role="dialog" aria-modal="true" aria-labelledby="favorite_item_remove_modal_title">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" aria-controls="favorite_item_remove_modal">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h3 id="favorite_item_remove_modal_title" class="fr-modal__title">
                            Supprimer
                        </h3>
                        <p>
                            Supprimer la structure <strong>{% if siae %}{{ siae.name_display }}{% else %}<span id="siae-name-display"></span>{% endif %}</strong> de votre liste d'achat ?
                        </p>
                    </div>
                    <div class="fr-modal__footer">
                        <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg">
                            <form method="post" action="{% url 'dashboard_favorites:item_delete' favorite_list.slug|default:'favorite-list-slug' siae.slug|default:'siae-slug-to-replace' %}">
                                {% csrf_token %} 
                                <button class="fr-btn fr-btn--icon-left" type="submit">
                                    Confirmer
                                </button>
                            </form>
                            <button class="fr-btn fr-btn--icon-left fr-btn--secondary" aria-controls="favorite_item_remove_modal" aria-label="Fermer">
                                Annuler
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
