<dialog class="fr-modal" id="favorite_list_edit_modal" role="dialog" aria-modal="true" aria-labelledby="favorite_list_edit_modal_title">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" aria-controls="favorite_list_edit_modal">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h3 id="favorite_list_edit_modal_title" class="fr-modal__title">
                            Modifier
                        </h3>
                        <form method="post" action="{% url 'dashboard_favorites:list_edit' favorite_list.slug %}">
                            {% csrf_token %}
                            <div class="fr-input-group">
                                <label for="id_favorite_list_edit_modal_name" class="fr-label">
                                    Modifier le nom de la liste*
                                </label>
                                <input type="text" name="name"  value="{{ favorite_list.name }}" class="fr-input" required="" id="id_favorite_list_edit_modal_name">
                            </div>
                            <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg">
                                <button class="fr-btn fr-btn--icon-left" type="submit">
                                    Enregistrer
                                </button>
                                <button class="fr-btn fr-btn--icon-left fr-btn--secondary" aria-controls="favorite_list_edit_modal" aria-label="Fermer" type="button">
                                    Annuler
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="fr-modal__footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
