{% extends "layouts/base.html" %}
{% load dsfr_tags %}

{% block page_title %}Liste d'achat favoris{{ block.super }}{% endblock page_title %}

{% block breadcrumb %}
    {% dsfr_breadcrumb %}
{% endblock breadcrumb %}

{% block content %}
<section>
    <div class="fr-container">
        <div class="fr-grid-row">
            <div class="fr-col-12 fr-col-lg-8">
                <h1>Liste d'achat favoris</h1>
            </div>
        </div>
        <div class="fr-grid-row">
            <div class="fr-col-12 fr-col-lg-8">
                <!-- New list -->
                <h2>Nouvelle liste</h2>
                <form method="post" action="{% url 'dashboard_favorites:list_create' %}">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <section class="fr-my-4v fr-input-group fr-input-group--error">
                            {{ form.non_field_errors }}
                        </section>
                    {% endif %}
                    <div class="fr-grid-row fr-grid-row--gutters fr-mb-4v">
                        <div class="fr-col-12 fr-col-md-6">
                            {% dsfr_form_field form.name %}
                        </div>
                        <div class="fr-col-12 fr-col-md-4 fr-pt-md-11v">
                            {% dsfr_button label="Créer" extra_classes="fr-btn--icon-right fr-icon-add-circle-fill" %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="fr-grid-row fr-mt-8v">
            <div class="fr-col-12 fr-col-lg-8">
                <!-- Existing list(s) -->
                {% if favorite_lists.count %}
                    <h2>{{ favorite_lists.count }} liste{% if favorite_lists.count > 1 %}s{% endif %} existante{% if favorite_lists.count > 1 %}s{% endif %}</h2>
                    <div class="fr-grid-row fr-grid--gutters">
                        {% for favorite_list in favorite_lists.all %}
                            <div class="fr-col-12 fr-mb-4v">
                                <div class="fr-tile fr-tile--horizontal fr-enlarge-link">
                                    <div class="fr-tile__body">
                                        <div class="fr-tile__content">
                                            <h3 class="fr-tile__title">
                                                <a href="{% url 'dashboard_favorites:list_detail' favorite_list.slug %}" title="Voir la liste">{{ favorite_list.name }}</a>
                                            </h3>
                                            <p class="fr-tile__detail">
                                                <span class="fr-badge fr-badge--sm fr-mr-2v">{{ favorite_list.siaes.count }}</span> structure{{ favorite_list.siaes.count|pluralize }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    {% dsfr_alert type="info" content="Vous n'avez pas encore créé de listes !" %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}
