// all.css

/* nav-pagination */
.nav-pagination {
    margin: 0 -10px 0 0;
}

.nav-pagination .pagination {
    margin: -1px 0 0;
}

/* pagination */
.pagination {
    margin: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
}

.pagination > li {
    text-align: center;
}

.pagination > li:last-child a,
.pagination > li:first-child a {
    border-radius: 0;
    -webkit-border-radius: 0;
}

.pagination > li > a {
    padding: 0 3px;
    min-width: 50px;
    line-height: 40px;
    border-radius: 0;
    -webkit-border-radius: 0;
}

.pagination > li > a[aria-label] {
    font-size: 21px;
}

.pagination > li > a:focus,
.pagination > li > span:focus {
    outline: none;
    background: #ffffff;
    color: #414042;
}

.pagination > li > a:focus:hover,
.pagination > li > span:focus:hover {
    background: #e8e8e8;
}
