{% extends "layouts/base.html" %}
{% load dsfr_tags process_dict %}

{% block page_title %}Connexion{{ block.super }}{% endblock page_title %}

{% block breadcrumb %}
    {% process_dict root_dir=HOME_PAGE_PATH current="Connexion" as breadcrumb_data %}
    {% dsfr_breadcrumb breadcrumb_data %}
{% endblock breadcrumb %}

{% block content %}
<div class="fr-container fr-container--fluid fr-mb-md-14v">
    {% if new_user_without_password %}
        <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center fr-mb-6v">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div id="new-user-without-password-login-message" class="fr-alert fr-alert--warning">
                    <h3 class="fr-alert__title">Bienvenue sur le marché de l'inclusion !</h3>
                    <p>
                        Vous n'avez pas encore défini de mot de passe.<br />
                        Pour le faire, veuillez cliquer <a href="{% url 'auth:password_reset' %}"><strong>ici</strong></a>.
                    </p>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
        <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
            <div class="fr-container fr-background-alt--grey fr-px-md-0 fr-py-10v fr-py-md-14v">
                <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
                    <div class="fr-col-12 fr-col-md-9 fr-col-lg-8">
                        <h1>Connexion</h1>
                        <div>
                            <form method="post" id="login-form">
                                {% csrf_token %}
                                {% if not new_user_without_password %}
                                    {% if form.non_field_errors %}
                                        <section class="fr-my-4v fr-input-group fr-input-group--error">
                                            {{ form.non_field_errors }}
                                        </section>
                                    {% endif %}
                                {% endif %}
                                <fieldset class="fr-fieldset" id="login-1760-fieldset" aria-labelledby="login-1760-fieldset-messages">
                                    <div class="fr-fieldset__element">
                                        <fieldset class="fr-fieldset" id="credentials" aria-labelledby="credentials-messages">
                                            <div class="fr-fieldset__element">
                                                {% dsfr_form_field form.login %}
                                            </div>
                                            <div class="fr-fieldset__element">
                                                {% dsfr_form_field form.password %}
                                                <p>
                                                    <a href="{% url 'auth:password_reset' %}" class="fr-link">Mot de passe oublié ?</a>
                                                </p>
                                            </div>
                                            <div class="fr-messages-group" id="credentials-messages" aria-live="assertive">
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="fr-fieldset__element">
                                        <ul class="fr-btns-group">
                                            <li>
                                                {% dsfr_button label="Se connecter" extra_classes="fr-mt-2v" %}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="fr-messages-group" id="login-1760-fieldset-messages" aria-live="assertive">
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <hr>
                        <h2>Vous n’avez pas de compte ?</h2>
                        <ul class="fr-btns-group">
                            <li>
                                <a href="{% url 'auth:signup' %}{{ next_param }}" class="fr-btn fr-btn--secondary">
                                    Créer un compte
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
