{% extends "layouts/base.html" %}
{% load bootstrap4 static humanize dsfr_tags %}

{% block page_title %}{{ tender.title }}{{ block.super }}{% endblock page_title %}

{% block breadcrumb %}
    {% dsfr_breadcrumb %}
{% endblock breadcrumb %}

{% block content %}
<div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-lg-8 order-2">
            {% include "tenders/_detail_card.html" with tender=tender %}
        </div>
        {# <aside id="sidebar"> #}
        <div class="fr-col-12 fr-col-lg-4 order-1 order-lg-2">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-12">
                    <div class="fr-card">
                        <div class="fr-card__body">
                            <div class="fr-card__content">
                                <h3 class="fr-card__title">{{ tender.network_siae_email_send_count_annotated }} adhérent{{ tender.network_siae_email_send_count_annotated|pluralize }} notifié{{ tender.network_siae_email_send_count_annotated|pluralize }}</h3>
                                {% if tender.network_siae_email_send_count_annotated %}
                                    <div class="fr-card__end">
                                        <a href="{% url 'dashboard_networks:tender_siae_list' network.slug tender.slug %}" id="show-tender-siae-list-from-network-tender-detail-btn" class="fr-btn fr-btn--icon-right fr-icon-arrow-right-s-line">
                                            Voir la liste
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fr-col-12">
                    <div class="fr-card">
                        <div class="fr-card__body">
                            <div class="fr-card__content">
                                <h3 class="fr-card__title">{{ tender.network_siae_detail_contact_click_count_annotated }} adhérent{{ tender.network_siae_detail_contact_click_count_annotated|pluralize }} intéressé{{ tender.network_siae_detail_contact_click_count_annotated|pluralize }}</h3>
                                {% if tender.network_siae_detail_contact_click_count_annotated %}
                                    <div class="fr-card__end">
                                        <a href="{% url 'dashboard_networks:tender_siae_list' network.slug tender.slug "CONTACT-CLICK" %}" id="show-tender-siae-interested-list-from-network-tender-detail-btn" class="fr-btn fr-btn--icon-right fr-icon-arrow-right-s-line">
                                            Voir la liste
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
