{% extends BASE_TEMPLATE %}
{% load static dsfr_tags %}

{% block page_title %}Demandes reçues - {{ siae.name_display }}{{ block.super }}{% endblock page_title %}

{% block breadcrumb %}
    {% dsfr_breadcrumb %}
{% endblock breadcrumb %}

{% block content %}
<div class="fr-container">
    <div class="fr-grid-row">
        <div class="fr-col-12">
            <h1>Cet adhérent a reçu {{ tendersiaes.count }} demande{{ tendersiaes.count|pluralize }}</h1>
        </div>
    </div>

    <div class="fr-grid-row">
        <div class="fr-col-12">
            {% block htmx %}
            <div id="siaeTenderList">
                <div class="fr-tabs">
                    <ul class="fr-tabs__list" role="tablist">
                        {% url 'dashboard_networks:siae_tender_list' network.slug siae.slug as NETWORK_SIAE_TENDER_LIST_URL %}
                        {% url 'dashboard_networks:siae_tender_list' network.slug siae.slug "DISPLAY" as NETWORK_SIAE_TENDER_DISPLAY_LIST_URL %}
                        {% url 'dashboard_networks:siae_tender_list' network.slug siae.slug "CONTACT-CLICK" as NETWORK_SIAE_TENDER_CONTACT_CLICK_LIST_URL %}

                        <li role="presentation">
                            <button role="tab" class="fr-tabs__tab" aria-selected="{% if request.get_full_path == NETWORK_SIAE_TENDER_LIST_URL %}true{% else %}false{% endif %}"
                                hx-push-url="true" hx-get="{{ NETWORK_SIAE_TENDER_LIST_URL }}" hx-target="#siaeTenderList" hx-swap="outerHTML">
                                Demandes reçues&nbsp;
                                <span class="fr-tag fr-tag--sm">{{ siae.tender_email_send_count_annotated }}</span>
                            </a>
                        </li>
                        <li role="presentation">
                            <button role="tab" class="fr-tabs__tab" aria-selected="{% if request.get_full_path == NETWORK_SIAE_TENDER_DISPLAY_LIST_URL %}true{% else %}false{% endif %}"
                                hx-push-url="true" hx-get="{{ NETWORK_SIAE_TENDER_DISPLAY_LIST_URL }}" hx-target="#siaeTenderList" hx-swap="outerHTML">
                                Demandes vues&nbsp;
                                <span class="fr-tag fr-tag--sm">{{ siae.tender_detail_display_count_annotated }}</span>
                            </a>
                        </li>
                        <li role="presentation">
                            <button role="tab" class="fr-tabs__tab" aria-selected="{% if request.get_full_path == NETWORK_SIAE_TENDER_CONTACT_CLICK_LIST_URL %}true{% else %}false{% endif %}"
                                hx-push-url="true" hx-get="{{ NETWORK_SIAE_TENDER_CONTACT_CLICK_LIST_URL }}" hx-target="#siaeTenderList" hx-swap="outerHTML">
                                Demandes intéressées&nbsp;
                                <span class="fr-tag fr-tag--sm">{{ siae.tender_detail_contact_click_count_annotated }}</span>
                            </a>
                        </li>
                    </ul>
                    <div id="{{ request.resolver_match.url_name }}_panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" tabindex="0">
                        {% if tendersiaes %}
                            {% for tendersiae in tendersiaes %}
                                {% include "tenders/_list_item_siae.html" with tender=tendersiae.tender %}
                            {% endfor %}
                        {% else %}
                            <p class="text-muted my-5">
                                {% if request.get_full_path == NETWORK_SIAE_TENDER_LIST_URL %}
                                    Cet adhérent n'a reçu aucune demande.
                                {% endif %}
                                {% if request.get_full_path == NETWORK_SIAE_TENDER_DISPLAY_LIST_URL %}
                                    Cet adhérent n'a vu aucune des demandes reçues.
                                {% endif %}
                                {% if request.get_full_path == NETWORK_SIAE_TENDER_CONTACT_CLICK_LIST_URL %}
                                    Cet adhérent ne s'est jamais montré intéressé par une des demandes reçues.
                                {% endif %}
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
