{% extends BASE_TEMPLATE %}
{% load static dsfr_tags %}

{% block page_title %}Adhérents notifiés - {{ tender.title }}{{ block.super }}{% endblock page_title %}

{% block breadcrumb %}
    {% dsfr_breadcrumb %}
{% endblock breadcrumb %}

{% block content %}
<div class="fr-container">
    <div class="fr-grid-row">
        <div class="fr-col-12">
            <h1>Mes adhérents notifiés et intéressés par cette opportunité</h1>
        </div>
    </div>

    <div class="fr-grid-row">
        <div class="fr-col-12">
            {% block htmx %}
            <div id="siaeTenderList">
                <div class="fr-tabs">
                    <ul class="fr-tabs__list" role="tablist">
                        {% url 'dashboard_networks:tender_siae_list' network.slug tender.slug as NETWORK_TENDER_SIAE_LIST_URL %}
                        {% url 'dashboard_networks:tender_siae_list' network.slug tender.slug "CONTACT-CLICK" as NETWORK_TENDER_SIAE_CONTACT_CLICK_LIST_URL %}

                        <li role="presentation">
                            <button role="tab" class="fr-tabs__tab" aria-selected="{% if request.get_full_path == NETWORK_TENDER_SIAE_LIST_URL %}true{% else %}false{% endif %}"
                                hx-push-url="true" hx-get="{{ NETWORK_TENDER_SIAE_LIST_URL }}" hx-target="#siaeTenderList" hx-swap="outerHTML">
                                Adhérents notifiés&nbsp;
                                <span class="fr-tag fr-tag--sm">{{ tender.network_siae_email_send_count_annotated }}</span>
                            </button>
                        </li>
                        <li role="presentation">
                            <button role="tab" class="fr-tabs__tab" aria-selected="{% if request.get_full_path == NETWORK_TENDER_SIAE_CONTACT_CLICK_LIST_URL %}true{% else %}false{% endif %}"
                                hx-push-url="true" hx-get="{{ NETWORK_TENDER_SIAE_CONTACT_CLICK_LIST_URL }}" hx-target="#siaeTenderList" hx-swap="outerHTML">
                                Adhérents intéressés&nbsp;
                                <span class="fr-tag fr-tag--sm">{{ tender.network_siae_detail_contact_click_count_annotated }}</span>
                            </button>
                        </li>
                    </ul>
                    <div id="{{ request.resolver_match.url_name }}_panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" tabindex="0">
                        {% if tendersiaes %}
                            {% for tendersiae in tendersiaes %}
                                {% include "siaes/_card_tender.html" with siae=tendersiae.siae %}
                            {% endfor %}
                        {% else %}
                            <p class="text-muted my-5">
                                {% if request.get_full_path == NETWORK_TENDER_SIAE_LIST_URL %}
                                    Aucun de mes adhérents n'a été notifié de cette opportunité.
                                {% endif %}
                                {% if request.get_full_path == NETWORK_TENDER_SIAE_CONTACT_CLICK_LIST_URL %}
                                    Aucun de mes adhérents ne s'est montré intéressé par cette opportunité.
                                {% endif %}
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
    </div>
</div>
{% include "includes/_super_siae_arguments_badge.html" %}

{% endblock %}
