<div>
    <time aria-label="Date de clôture">
        <span>{{ tender.deadline_date|default:"" }}</span>
        {% if tender.deadline_date_is_outdated_annotated %}
            <span class="fr-badge fr-badge--sm {% if tender.kind == "TENDER" %}fr-badge--green-archipel{% elif tender.kind == "QUOTE" %}fr-badge--blue-cumulus{% elif tender.kind == "PROJ" %}fr-badge--purple-glycine{% endif %} fr-ml-2w">Clôturé</span>
        {% endif %}
        {% if tender.is_draft %}
            <span class="fr-badge fr-badge--sm fr-badge--no-icon fr-badge--warning fr-ml-2w">
                <span class="fr-icon-draft-fill fr-mr-2w" aria-hidden="true"></span>Brouillon
            </span>
        {% elif tender.is_pending_validation_or_validated %}
            <span class="fr-badge fr-badge--sm fr-badge--no-icon fr-badge--info fr-ml-2w">
                <span class="fr-icon-timer-line fr-mr-2w" aria-hidden="true"></span>En cours de validation
            </span>
        {% elif tender.is_rejected %}
            <span class="fr-badge fr-badge--sm fr-badge--no-icon fr-badge--error fr-ml-2w">
                <span class="fr-icon-close-circle-line fr-mr-2w" aria-hidden="true"></span>Rejeté
            </span>
        {% endif %}
    </time>
    <br />
    <a href="{% if use_siae_list and tender.is_sent %}{% url 'tenders:detail-siae-list' tender.slug "INTERESTED" %}{% else %}{% url 'tenders:detail' tender.slug %}{% endif %}"><strong>{{ tender.title }}</strong></a>
</div>
