<span>
    {% if tender.deadline_date_is_outdated_annotated or tender.deadline_date_outdated %}
        <p class="fr-badge fr-badge--sm fr-badge--warning">
            {{ tender_kind_display|default:tender.get_kind_display }}
            clôturé{% if tender.kind == "QUOTE" %}e{% endif %}
            le {{ tender.deadline_date|default:"" }}
        </p>
    {% else %}
        <p class="fr-badge fr-badge--sm fr-mr-2w {% if tender.kind == "TENDER" %}fr-badge--green-archipel{% elif tender.kind == "QUOTE" %}fr-badge--blue-cumulus{% elif tender.kind == "PROJ" %}fr-badge--purple-glycine{% endif %}">
            {% if tender.kind == "PROJ" %}
                {{ title_kind_sourcing_siae|default:tender.get_kind_display }}
            {% else %}
                {{ tender.get_kind_display }}
            {% endif %}
        </p>
        {% if is_new_for_siaes %}<p class="fr-badge fr-badge--sm fr-badge--green-emeraude">Nouveau</p>{% endif %}
    {% endif %}
</span>
