<p class="mb-1">
    {% if tender.deadline_date_is_outdated_annotated %}
        <span class="badge badge-xs badge-base badge-pill badge-{{ tender.kind|lower }}">
            {{ tender_kind_display|default:tender.get_kind_display }} clôturé{% if tender.kind == "QUOTE" %}e{% endif %}
            le {{ tender.deadline_date|default:"" }}
        </span>
    {% else %}
        <span class="badge badge-base badge-pill mr-1 badge-{{ tender.kind|lower }}">
            {% if tender.kind == "PROJ" %}
                {{ title_kind_sourcing_siae|default:tender.get_kind_display }}
            {% else %}
                {{ tender.get_kind_display }}
            {% endif %}
        </span>
        Disponible <strong>jusqu'au : {{ tender.deadline_date|default:"" }}</strong>
        {% if not tender.tendersiae_set.first.detail_display_date %}
            <span class="float-right badge badge-sm badge-pill badge-new">Nouveau</span>
        {% endif %}
    {% endif %}
</p>
