<div class="modal fade modal-siae" id="contact_click_and_accept_contact_share_modal" tabindex="-1" role="dialog" aria-modal="true" data-backdrop="static" data-keyboard="false" aria-labelledby="modalTitle">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalTitle">Signaler votre intérêt à l'acheteur ?</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                    <i class="ri-close-line"></i>
                </button>
            </div>
            <form method="POST" action="{% url 'tenders:detail-contact-click-stat' tender.slug %}">
                {% csrf_token %}
                <div class="modal-body home-content-body">
                    <p>
                        Quelque soit votre choix, vous pourrez accéder aux coordonnées de l'acheteur et le contacter directement.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-sm btn-link" name="accept_contact_share" value="false">Non</button>
                    <button type="submit" class="btn btn-sm btn-primary" name="accept_contact_share" value="true">Oui</button>
                </div>
            </form>
        </div>
    </div>
</div>
