<dialog id="detail_not_interested_click_confirm_modal" role="dialog" class="fr-modal" aria-labelledby="detail_not_interested_click_confirm_modal_title">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="detail_not_interested_click_confirm_modal" target="_self">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h3 id="detail_not_interested_click_confirm_modal_title" class="fr-modal__title">Pas intéressé ?</h3>
                        <form method="post" action="{% url 'tenders:detail-not-interested-click' tender.slug %}?siae_id={{ siae_id }}">
                            {% csrf_token %}
                            <div class="fr-input-group">
                                <label class="fr-label" for="id_detail_not_interested_feedback">Afin d'améliorer la pertinence des demandes que nous vous envoyons, expliquez-nous pourquoi celle-ci ne vous intéresse pas.</label>
                                <textarea id="id_detail_not_interested_feedback" class="fr-input" name="detail_not_interested_feedback" placeholder="Parce que..." rows="3"></textarea>
                            </div>
                            <button type="submit" class="fr-btn" title="{{ tender.cta_not_interested_card_button_text|safe }}">
                                {{ tender.cta_not_interested_card_button_text|safe }}
                            </button>                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>