<div id="detail_cocontracting_container" class="mt-3">
    <div class="card c-card rounded-lg shadow-lg">
        <div class="card-body">
            <h3>Répondre en co-traitance ?</h3>
            <p>Notre équipe vous met en relation avec d’autres structures désireuses de répondre en co-traitance.</p>
            {% if user.is_authenticated %}
                <button type="button" class="btn btn-primary btn-block" title="Être mis en relation" hx-post="{% url 'tenders:detail-cocontracting-click' tender.slug %}" hx-target="#detail_cocontracting_container">
                    Être mis en relation
                </button>
            {% elif siae_id %}
                <button type="button" class="btn btn-primary btn-block" title="Être mis en relation" hx-post="{% url 'tenders:detail-cocontracting-click' tender.slug %}?siae_id={{siae_id}}" hx-target="#detail_cocontracting_container">
                    Être mis en relation
                </button>
            {% endif %}
        </div>
    </div>
</div>
