<div class="modal fade modal-siae" id="detail_contact_click_confirm_modal" tabindex="-1" role="dialog" aria-modal="true" data-backdrop="static" data-keyboard="false" aria-labelledby="modalTitle">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalTitle">Signaler votre intérêt à l'acheteur ?</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                    <i class="ri-close-line"></i>
                </button>
            </div>
            <form method="POST" action="{% url 'tenders:detail-contact-click-stat' tender.slug %}?siae_id=siae-id-params-to-replace">
                {% csrf_token %}
                <div class="modal-body home-content-body">
                    <p>
                        Pour {{ tender.cta_card_button_text | lower }}, vous devez signaler votre intérêt à l'acheteur.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-sm btn-link" name="detail_contact_click_confirm" value="false">Non</button>
                    <button type="submit" class="btn btn-sm btn-primary" name="detail_contact_click_confirm" value="true">Oui</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
    const MODAL_ID = '#detail_contact_click_confirm_modal';
    $(MODAL_ID).on('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = $(event.relatedTarget);

        // Extract info from data-* attributes
        var siaeIdParams = button.data('siae-id');

        // Update the modal's content
        if (siaeIdParams) {
            var modal = document.querySelector(MODAL_ID);
            modal.querySelectorAll('#auth-link').forEach(link => {
                var linkUrl = link.getAttribute('href');
                link.setAttribute('href', linkUrl.replace('siae-id-params-to-replace', siaeIdParams));
            });
        }
    });
});
</script>
