{% load bootstrap4 static array_choices_display humanize %}
<div class="card c-card c-card--marche siae-card rounded-lg shadow-lg">
    <p class="text-right text-white bg-tertiary fs-sm rounded-top rounded-lg p-3 mb-0">
        Date limite de réponse : {{ tender.deadline_date|default:"" }}
        {% if not source_form and tender.deadline_date_outdated %}
            <span class="badge badge-xs badge-base badge-pill badge-pilotage">Clôturé</span>
        {% endif %}
    </p>
    <div class="card-body pb-5 px-5">
        <div class="row py-4">
            <div class="col-md-12">
                <h1>
                    {{ tender.title }}
                    <span class="fs-sm badge badge-base badge-pill badge-emploi float-right"
                          aria-hidden="true">{{ tender_kind_display|default:tender.get_kind_display }}</span>
                </h1>
            </div>
        </div>
        <div class="row text-bold">
            <div class="col"
                 title="Secteurs d'activité : {{ tender.sectors_full_list_string|safe }}">
                <i class="ri-award-line"></i>
                {{ tender.sectors_list_string|safe }}
            </div>
            <div class="col" title="Lieu d'éxécution">
                <i class="ri-map-pin-2-line"></i>
                {{ tender.location_display|safe }}
            </div>
            {% if tender.author.company_name %}
                <div class="col" title="Type de prestation">
                    <i class="ri-building-4-line"></i>
                    {{ tender.author.company_name }}
                </div>
            {% endif %}
        </div>
        {% if not source_form %}
            {% if user.is_authenticated %}
                {% if tender.author == request.user %}
                    <hr class="my-5">
                    {% include "tenders/_detail_contact.html" with tender=tender %}
                {% elif user_partner_can_display_tender_contact_details %}
                    <hr class="my-5">
                    {% include "tenders/_detail_contact.html" with tender=tender %}
                {% elif user_siae_has_detail_contact_click_date and not tender.deadline_date_outdated %}
                    <!-- for SIAE, contact details are displayed above (see tenders/detail.html) -->
                {% endif %}
            {% endif %}
        {% endif %}
        <!-- tender description -->
        <hr class="my-5">
        <h2>
            Description
            {% if tender.start_working_date %}
                <span class="float-right fs-sm text-muted">Début d'intervention : {{ tender.start_working_date }}</span>
            {% endif %}
        </h2>
        <p>{{ tender.description|safe|linebreaks }}</p>
        <!-- tender questions -->
        {% if source_form or not source_form and tender.questions_list|length %}
            <hr class="my-5">
            <h2>
                {% if source_form or tender.author == request.user %}
                    Questions à poser aux prestataires ciblés
                {% else %}
                    Questions du client
                {% endif %}
            </h2>
            <ul>
                {% for question in tender.questions_list %}<li>{{ question.text }}</li>{% endfor %}
            </ul>
        {% endif %}
        <!-- tender constraints -->
        {% if source_form or not source_form and tender.constraints %}
            <hr class="my-5">
            <h2>Contraintes techniques spécifiques</h2>
            <p>{{ tender.constraints|default:"-"|safe|linebreaks }}</p>
        {% endif %}
        <!-- tender amount -->
        {% if source_form or tender.author == request.user or tender.accept_share_amount %}
            <hr class="my-5">
            <h2>
                {% if source_form or tender.author == request.user %}
                    Montant du marché
                {% else %}
                    Budget du client
                {% endif %}
            </h2>
            <p>{{ tender.get_amount_display|default:"-" }}</p>
            {% if source_form or tender.author == request.user %}<p>{{ tender.accept_share_amount_display }}</p>{% endif %}
        {% endif %}
    </div>
</div>
