<div class="fr-card">
    <div class="fr-card__body">
        <div class="fr-card__content">
            <h3 class="fr-card__title">{{ tender.cta_card_title_text|safe }}</h3>
            <div class="fr-card__desc">
                <p>{{ tender.cta_card_paragraph_text|safe }}</p>
                {% if user_can_click %}
                    {% if tender_response_is_anonymous %}
                        <form method="post" action="{% url 'tenders:detail-contact-click-stat' tender.slug %}?tender_siae_uuid={{ tender_siae_uuid }}">
                            {% csrf_token %}
                            <button type="submit" class="fr-btn">{{ tender.cta_card_button_text|safe }}</button>
                        </form>
                    {% else %}
                        <button type="button" id="show-tender-contact-modal-btn" class="fr-btn" data-fr-opened="false" aria-controls="detail_contact_click_confirm_modal" title="{{ tender.cta_card_button_text|safe }}">
                            {{ tender.cta_card_button_text|safe }}
                        </button>
                    {% endif %}
                {% else %}
                    <button id="show-tender-contact-modal-btn" class="fr-btn" data-fr-opened="false" aria-controls="login_or_signup_siae_tender_modal" data-next-params="{% url 'tenders:detail' tender.slug %}">
                        {{ tender.cta_card_button_text|safe }}
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
