<div id="detail_cocontracting_container" class="mt-3">
    <div class="card rounded-lg shadow-lg">
        <div class="card-body">
            <h3>Répondre en co-traitance ?</h3>
            <p>
                Cette demande vous intéresse mais vous ne pouvez pas répondre seul ? Signalez au client que vous souhaiteriez répondre en co-traitance.
            </p>
            {% if user_can_click %}
                {% if user.is_authenticated %}
                    <button type="button" class="btn btn-primary btn-block" title="{{ tender.cta_cocontracting_card_button_text|safe }}" hx-post="{% url 'tenders:detail-cocontracting-click' tender.slug %}" hx-target="#detail_cocontracting_container">
                        <span>{{ tender.cta_cocontracting_card_button_text|safe }}</span>
                    </button>
                {% elif siae_id %}
                    <button type="button" class="btn btn-primary btn-block" title="{{ tender.cta_cocontracting_card_button_text|safe }}" hx-post="{% url 'tenders:detail-cocontracting-click' tender.slug %}?siae_id={{siae_id}}" hx-target="#detail_cocontracting_container">
                        <span>{{ tender.cta_cocontracting_card_button_text|safe }}</span>
                    </button>
                {% endif %}
            {% else %}
            <a href="#" id="show-tender-cocontracting-modal-btn" class="btn btn-primary btn-block" data-toggle="modal" data-target="#login_or_signup_siae_tender_modal" data-next-params="{% url 'tenders:detail' tender.slug %}">
                <span>{{ tender.cta_cocontracting_card_button_text|safe }}</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
