
<h2>
    {% if tender.author == request.user %}
        Coordonnées
    {% else %}
        Contactez le client dès maintenant
    {% endif %}
</h2>

<div class="row">
    {% if tender.contact_full_name %}
        <div class="col-md-6">
            <i class="ri-account-circle-line"></i>
            {{ tender.contact_full_name|safe }}
        </div>
    {% endif %}
    {% if tender.author.company_name %}
        <div class="col-md-6">
            <i class="ri-building-4-line"></i>
            {{ tender.author.company_name }}
        </div>
    {% endif %}
    {% if tender.can_display_contact_email %}
        <div class="col-md-6">
            <i class="ri-at-line"></i>
            {{ tender.contact_email }}
        </div>
    {% endif %}
    {% if tender.can_display_contact_phone %}
        <div class="col-md-6">
            <i class="ri-phone-line"></i>
            {{ tender.contact_phone }}
        </div>
    {% endif %}
</div>
{% if source == "alert" and not tender.response_kind_is_only_external %}
    <div class="row">
        <div class="col-md-6">
            <i class="ri-at-line"></i>
            {{ SOFIANE_CONTACT_EMAIL }}
        </div>
    </div>
{% endif %}
{% if tender.can_display_contact_external_link %}
    <div class="row">
        <div class="col-12">
            <a href="{{ tender.external_link }}" target="_blank" class="btn btn-outline-primary float-right">
                {{ tender.external_link_title|safe }}
                <i class="ri-external-link-line" aria-hidden="true"></i>
            </a>
        </div>
    </div>
{% endif %}
