<div class="fr-card fr-mt-2w">
    <div class="fr-card__body">
        <div class="fr-card__content">
            <h3 class="fr-card__title fr-text--md">Répondre en groupement / cotraitance</h3>
            <div class="fr-card__desc">
                <p class="fr-text--sm fr-mb-2w">
                    Vous n'avez pas toutes les compétences pour répondre seul ?
                    Trouvez un partenaire inclusif pour répondre ensemble.
                </p>
                {% if user_can_click %}
                    {% url 'tenders:detail-groupement-reply' tender.slug as groupement_url %}
                    {% if tender_siae_uuid %}
                        <a href="{{ groupement_url }}?tender_siae_uuid={{ tender_siae_uuid }}"
                           class="fr-btn fr-btn--secondary fr-btn--sm fr-icon-team-line fr-btn--icon-left">
                            Répondre en groupement
                        </a>
                    {% else %}
                        <a href="{{ groupement_url }}"
                           class="fr-btn fr-btn--secondary fr-btn--sm fr-icon-team-line fr-btn--icon-left">
                            Répondre en groupement
                        </a>
                    {% endif %}
                {% else %}
                    <button class="fr-btn fr-btn--secondary fr-btn--sm fr-icon-team-line fr-btn--icon-left"
                            data-fr-opened="false"
                            aria-controls="login_or_signup_siae_tender_modal"
                            data-next-params="{% url 'tenders:detail' tender.slug %}">
                        Répondre en groupement
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
