<div id="detail_not_interested_container" class="mt-3">
    <div class="card c-card rounded-lg shadow-lg">
        <div class="card-body">
            <h3>Pas intéressé ?</h3>
            <p>
                Cette demande ne vous intéresse pas ? Dites-le nous !
            </p>
            {% if user_can_click %}
                <button type="button" id="show-tender-not-interested-modal-btn" class="btn btn-warning btn-block" data-toggle="modal" data-target="#detail_not_interested_click_confirm_modal" data-siae-id="{{ siae_id }}" title="{{ tender.cta_not_interested_card_button_text|safe }}">
                    {{ tender.cta_not_interested_card_button_text|safe }}
                </button>
            {% else %}
                <a href="#" id="show-tender-not-interested-modal-btn" class="btn btn-warning btn-block" data-toggle="modal" data-target="#login_or_signup_siae_tender_modal" data-next-params="{% url 'tenders:detail' tender.slug %}">
                    <span>{{ tender.cta_not_interested_card_button_text|safe }}</span>
                </a>
            {% endif %}
        </div>
    </div>
</div>
