<div class="alert alert-warning">
    <h2 class="h3">Informations Admin</h2>
    <div class="row">
        <div class="col-12">
            <ul class="list-unstyled mb-0">
                <li class="mb-2">
                    <i class="ri-focus-2-line"></i>
                    {{ tender.siae_email_send_date_count }} prestataire{{ tender.siae_email_send_date_count|pluralize }} ciblé{{ tender.siae_email_send_date_count|pluralize }}
                </li>
                <li class="mb-2">
                    <i class="ri-focus-2-line"></i>
                    {{ tender.siae_detail_display_date_count_all }} prestataire{{ tender.siae_email_send_date_count|pluralize }} qui {{ tender.siae_email_send_date_count|pluralize:'a,ont' }} vu
                </li>
                <li class="mb-2">
                    <i class="ri-thumb-up-line"></i>
                    {{ tender.siae_detail_contact_click_date_count }} prestataire{{ tender.siae_detail_contact_click_date_count|pluralize }} intéressé{{ tender.siae_detail_contact_click_date_count|pluralize }}
                </li>
                <li>
                    <a href="{% url 'admin:tenders_tender_change' tender.id %}" target="_blank" id="tender-detail-admin-btn" class="btn btn-sm btn-outline-primary btn-ico">
                        <span>
                            Lien vers l'admin&nbsp;
                            <i class="ri-external-link-line" aria-hidden="true"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
