<!-- admin info -->
{% if user.is_authenticated and user.is_admin %}
    <div class="fr-col-12">
        {% include "tenders/_detail_admin_extra_info.html" with tender=tender %}
    </div>
{% endif %}
<!-- author stats info -->
{% if user == tender.author %}
    <div class="fr-col-12">
        {% include "tenders/_detail_side_infos_author.html" %}
    </div>
{% else %}
    {% if not tender.deadline_date_outdated %}
        <!-- tender basic view stat -->
        <div class="fr-col-12">
            <div class="fr-alert fr-alert--info">
                {% if tender.siae_detail_contact_click_count < 5 %}
                  <p>{{ incitative_message }}</p>
                {% else %}
                <p>
                  {{ siae_detail_contact_click_count }} fournisseurs inclusifs ont pris contact avec l’acheteur.
                </p>
                {% endif %}
            </div>
        </div>
        {% if not tender.response_is_anonymous %}
            <!-- logged in user -->
            {% if user.is_authenticated %}
                <!-- partner info -->
                {% if user.kind == user.KIND_PARTNER %}
                    {% if not user_partner_can_display_tender_contact_details %}
                        <div class="fr-col-12">
                            <div class="fr-callout fr-p-4v fr-mb-0">
                                <h3 class="fr-callout__title"><span class="fr-icon-lightbulb-line" aria-hidden="true"></span> Comment contacter le client ?</h3>
                                <p class="fr-callout__text fr-pl-7v">
                                    Contactez Sofiane via
                                    <a href="mailto:{{ TEAM_CONTACT_EMAIL }}?subject=Demande d'information pour {{ tender.title }}">{{ TEAM_CONTACT_EMAIL }}</a>
                                    pour être mis en relation avec le client.
                                </p>
                            </div>
                        </div>
                    {% endif %}
                <!-- siae info & actions -->
                {% elif user.kind == user.KIND_SIAE %}
                    {% if not user.has_siae %}
                        <div class="fr-col-12">
                            {% include "tenders/_detail_siae_user_without_siae.html" %}
                        </div>
                    {% elif siae_has_detail_contact_click_date %}
                        {# display nothing #}
                    {% elif siae_has_detail_not_interested_click_date %}
                        <div class="fr-col-12">
                            {% include "tenders/_detail_not_interested_click_confirm.html" %}
                        </div>
                    {% else %}
                        <div class="fr-col-12">
                            {% include "tenders/_detail_cta.html" with tender=tender user_can_click=True %}
                        </div>
                        <div class="fr-col-12">
                            {% include "tenders/_detail_cta_not_interested.html" with tender=tender user_can_click=True %}
                        </div>
                    {% endif %}
                {% endif %}
            <!-- anonymous user but siae_id in url -->
            {% elif siae_id %}
                {% if siae_has_detail_not_interested_click_date %}
                    <div class="fr-col-12">
                        {% include "tenders/_detail_not_interested_click_confirm.html" %}
                    </div>
                {% else %}
                    <div class="fr-col-12">
                        {% include "tenders/_detail_cta.html" with tender=tender user_can_click=True siae_id=siae_id %}
                    </div>
                    <div class="fr-col-12">
                        {% include "tenders/_detail_cta_not_interested.html" with tender=tender user_can_click=True siae_id=siae_id %}
                    </div>
                {% endif %}
            {% endif %}
        <!-- anonymous tender -->
        {% else %}
            {% if user.is_authenticated or siae_id %}
                {% if user.is_authenticated and not user.has_siae %}
                    <div class="fr-col-12">
                        {% include "tenders/_detail_siae_user_without_siae.html" %}
                    </div>
                {% elif siae_has_detail_contact_click_date %}
                    <div class="fr-col-12">
                        {% include "tenders/_detail_contact_click_confirm_tender_response_is_anonymous.html" %}
                    </div>
                {% elif siae_has_detail_not_interested_click_date %}
                    <div class="fr-col-12">
                        {% include "tenders/_detail_not_interested_click_confirm.html" %}
                    </div>
                {% else %}
                    <div class="fr-col-12">
                        {% include "tenders/_detail_cta.html" with tender=tender user_can_click=True siae_id=siae_id tender_response_is_anonymous=True %}
                    </div>
                    <div class="fr-col-12">
                        {% include "tenders/_detail_cta_not_interested.html" with tender=tender user_can_click=True siae_id=siae_id %}
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
        <!-- anonymous user: action buttons show login modal -->
        {% if not user.is_authenticated and not siae_id %}
            <div class="fr-col-12">
                {% include "tenders/_detail_cta.html" with tender=tender user_can_click=False %}
            </div>
            <div class="fr-col-12">
                {% include "tenders/_detail_cta_not_interested.html" with tender=tender user_can_click=False %}
            </div>
        {% endif %}
    {% endif %}
{% endif %}
