
<h2>
    {% if tender.author == request.user %}
        Coordonnées
    {% else %}
        Pour plus d'information et/ou afin de répondre, utilisez les coordonnées suivantes :
    {% endif %}
    {% if tender.deadline_date_outdated %}
        <span class="badge badge-sm badge-base badge-pill badge-pilotage float-right">Clôturé</span>
    {% endif %}
</h2>

<div class="row">
    {% if tender.contact_full_name %}
        <div class="col-md-6">
            <i class="ri-account-circle-line"></i>
            {{ tender.contact_full_name }}
        </div>
    {% endif %}
    {% if tender.author.company_name %}
        <div class="col-md-6">
            <i class="ri-building-4-line"></i>
            {{ tender.author.company_name }}
        </div>
    {% endif %}
    {% if tender.can_display_contact_email %}
        <div class="col-md-6">
            <i class="ri-at-line"></i>
            {{ tender.contact_email }}
        </div>
    {% endif %}
    {% if tender.can_display_contact_phone %}
        <div class="col-md-6">
            <i class="ri-phone-line"></i>
            {{ tender.contact_phone }}
        </div>
    {% endif %}
</div>
{% if tender.can_display_contact_external_link %}
    <div class="row">
        <div class="col-12">
            <a href="{{ tender.external_link }}" target="_blank" class="btn btn-outline-primary float-right">
                Voir l'appel d'offres <i class="ri-external-link-line" aria-hidden="true"></i>
            </a>
        </div>
    </div>
{% endif %}
