
<h2>
    {% if user == tender.author %}
        Coordonnées
    {% else %}
        Contactez le client dès maintenant
    {% endif %}
</h2>

<div class="fr-grid-row fr-grid-row--gutters">
    {% if tender.contact_full_name %}
        <div class="fr-col-md-6">
            <span class="fr-icon-account-circle-line"></span>
            {{ tender.contact_full_name|safe }}
        </div>
    {% endif %}
    {% if tender.contact_company_name_display %}
        <div class="fr-col-md-6">
            <span class="fr-icon-building-line"></span>
            {{ tender.contact_company_name_display }}
        </div>
    {% endif %}
</div>
<div class="fr-grid-row fr-grid-row--gutters">
    {% if tender.can_display_contact_email %}
        <div class="fr-col-md-6">
            <span class="fr-icon-mail-line"></span>
            {{ tender.contact_email }}
        </div>
    {% endif %}
    {% if tender.can_display_contact_phone %}
        <div class="fr-col-md-6">
            <span class="fr-icon-phone-line"></span>
            {{ tender.contact_phone }}
        </div>
    {% endif %}
    {% if source == "alert" and not tender.response_kind_is_only_external %}
        <div class="fr-col-md-12">
            <span class="fr-icon-mail-line"></span>
            {{ TEAM_CONTACT_EMAIL }}
        </div>
    {% endif %}
</div>

{% if tender.can_display_contact_external_link %}
    <div class="fr-grid-row">
        <div class="fr-col-12">
            {% if tender.is_partner_approch %}
                <p>
                    <span class="fr-icon-lightbulb-line" aria-hidden="true"></span>Ce projet d'achat a été publié sur la plateforme <strong>APProch</strong>.
                    <br />
                    Pour plus d'informations, pour être informé des mises à jour sur ce projet
                    ou pour indiquer votre intérêt auprès de l'acheteur public, cliquez sur le lien ci-dessous.
                </p>
            {% endif %}
            <a href="{{ tender.external_link }}" target="_blank" class="btn btn-outline-primary float-right">
                {{ tender.external_link_title|safe }}
                <span class="fr-icon-external-link-line" aria-hidden="true"></span>
            </a>
        </div>
    </div>
{% endif %}
