<div class="alert alert-info" role="alert">
    <p class="mb-1">
        <i class="ri-lightbulb-line ri-lg"></i>
        <strong>Comment contacter le client ?</strong>
    </p>
    <p class="mb-0">
        Pour accéder aux coordonnées du client, veuillez d'abord vous <a id="add-siae-btn" href="{% url 'dashboard_siaes:siae_search_by_siret' %}">rattacher à votre structure</a>.
    </p>
    <p>
        Besoin d'aide ? contacter le support via le chat en ligne qui se trouve en bas à droite.
    </p>
</div>
