{% load static humanize %}
<div class="fr-card fr-mb-2w">
    <div class="fr-card__body fr-py-4w">
        <div class="fr-grid-row text-center bg-gray fr-text--xs fr-py-2w">
            {% if tender.contact_company_name_display %}
                <div class="fr-col-md-4" title="Entreprise">
                    <span class="fr-icon-building-line" aria-hidden="true"></span>
                    <strong>{{ tender.contact_company_name_display }}</strong>
                </div>
            {% endif %}
            <div class="fr-col-md-4" title="Lieu d'intervention">
                <span class="fr-icon-map-pin-2-line" aria-hidden="true"></span>
                {{ tender.location_display|safe }}
            </div>
            <div class="fr-col-md-4"
                 title="Secteurs d'activité : {{ tender.sectors_full_list_string|safe }}">
                <span class="fr-icon-award-line" aria-hidden="true"></span>
                {{ tender.sectors_list_string|safe }}
            </div>
        </div>
        <div class="fr-grid-row fr-py-2w">
            <div class="fr-col-md-12">
                {% include "tenders/_closed_badge.html" with tender=tender is_new_for_siaes=is_new_for_siaes %}
            </div>
        </div>
        <!-- title & header -->
        <div class="fr-grid-row">
            <div class="fr-col-md-12">
                <h1>{{ tender.title }}</h1>
            </div>
        </div>
        <!-- contact details -->
        {% if not source_form %}
            {% if user.is_authenticated %}
                {% if user == tender.author %}
                    <hr>
                    {% include "tenders/_detail_contact.html" with tender=tender %}
                {% elif user_partner_can_display_tender_contact_details %}
                    <hr>
                    {% include "tenders/_detail_contact.html" with tender=tender %}
                {% elif siae_has_detail_contact_click_date and not tender.deadline_date_outdated %}
                    <!-- for SIAE, contact details are displayed above (see tenders/detail.html) -->
                {% endif %}
            {% endif %}
        {% endif %}
        <!-- tender description -->
        {% if tender.start_working_date %}
            <p class="fr-text--sm">
                Disponible <strong>jusqu'au {{ tender.deadline_date|default:"" }}</strong>
                <br>
                Début d'intervention : {{ tender.start_working_date }}
            </p>
        {% endif %}
        <p>{{ tender.description|safe }}</p>
        <!-- tender questions -->
        {% if source_form or not source_form and tender.questions_list|length %}
            <hr>
            <h2>
                {% if source_form or user == tender.author %}
                    Questions à poser aux prestataires ciblés
                {% else %}
                    Questions du client
                {% endif %}
            </h2>
            <ul>
                {% for question in tender.questions_list %}<li>{{ question.text }}</li>{% endfor %}
            </ul>
        {% endif %}
        <!-- tender constraints -->
        {% if tender.constraints %}
            <hr>
            <h2>Comment répondre à cette demande ?</h2>
            <p>{{ tender.constraints|safe }}</p>
        {% endif %}
        <!-- tender amount -->
        {% if source_form or user == tender.author or tender.accept_share_amount %}
            <hr>
            <h2>
                {% if source_form or user == tender.author %}
                    Montant du marché
                {% else %}
                    Budget du client
                {% endif %}
            </h2>
            <p>{{ tender.get_amount_display|default:"-" }}</p>
            {% if source_form or user == tender.author %}<p>{{ tender.accept_share_amount_display }}</p>{% endif %}
        {% endif %}
    </div>
</div>
