{% load get_verbose_name %}

<div class="fr-grid-row fr-grid-row--gutters fr-mt-2v">
    {% if tender.contact_company_name_display %}
        <div class="fr-col-12 fr-col-md-3" title="Entreprise">
            <p class="fr-mb-0">
                <span class="fr-icon-building-line"></span>
                {{ tender.contact_company_name_display }}
            </p>
        </div>
    {% endif %}
    <div class="fr-col-12 fr-col-md-9" title="{% get_verbose_name tender 'location' %}">
        {% if tender.perimeters_list_string %}
            <p class="fr-mb-0">
                <span class="fr-icon-map-pin-2-line"></span>
                {{ tender.location_display|safe }}
            </p>
        {% endif %}
    </div>
    {% if tender.accept_share_amount %}
        <div class="fr-col-12 fr-col-md-3" title="{% get_verbose_name tender 'amount' %}">
            <p class="fr-mb-0">
                <span class="fr-icon-money-euro-circle-line"></span>
                <strong>
                    Budget : {{ tender.amount_display|default:"-" }}
                </strong>
            </p>
        </div>
    {% endif %}
</div>
