{% load static siae_sectors_display humanize %}

<div class="card c-card c-card--marche c-card--link siae-card" role="button" data-url="{% url 'tenders:detail' tender.slug %}">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <p class="mb-1">
                    Date de clôture : {{ tender.deadline_date|default:"" }}
                    {% if tender.deadline_date_is_outdated %}
                        <span class="badge badge-sm badge-base badge-pill badge-pilotage">Clôturé</span>
                    {% endif %}
                    <span class="float-right badge badge-base badge-pill badge-emploi">
                        {% if tender.kind == "PROJ" %}
                            {{ title_kind_sourcing_siae }}
                        {% else %}
                            {{ tender.get_kind_display }}
                        {% endif %}
                    </span>
                </p>
            </div>
        </div>

        <a href="{% url 'tenders:detail' tender.slug %}" class="text-decoration-none">
            <h2 class="py-2">{{ tender.title }}</h2>
        </a>

        <hr />

        <div class="row">
            <div class="col-md-4" title="Secteurs d'activité">
                {% if tender.sectors.count %}
                    <i class="ri-award-line"></i>
                    {% siae_sectors_display tender display_max=3 %}
                {% endif %}
            </div>
            <div class="col-md-4 text-center" title="Lieu d'intervention">
                {% if tender.perimeters_list_string %}
                    <i class="ri-map-pin-2-line"></i>
                    {{ tender.perimeters_list_string }}
                {% endif %}
            </div>
            <div class="col-md-4 text-center">
                {% if tender.amount %}
                    <i class="ri-money-euro-circle-line"></i>
                    {{ tender.get_amount_display|default:"-" }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
