{% load static humanize %}

<div class="fr-card fr-card--horizontal">
    <div class="fr-card__body">
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
            <div class="fr-col-12 fr-col-md-8 with-data-url" style="cursor:pointer;" data-url="{% url 'tenders:detail' tender.slug %}">
                <div class="fr-card__content">
                    <div class="fr-card__start">
                        <ul class="fr-badges-group">
                            <li>
                                {% include "tenders/_closed_badge.html" with tender=tender %}
                            </li>
                            <li>
                                {% include "tenders/_status_badge.html" with tender=tender %}
                            </li>
                        </ul>
                    </div>

                    <h2 class="fr-card__title">{{ tender.title }}</h2>

                    <div class="fr-card__end">
                        <ul class="fr-tags-group">
                            <li>
                                <span class="fr-tag fr-icon-time-line fr-tag--icon-left">Créé le {{ tender.created_at|date }}</span>
                            </li>
                            {% if tender.is_sent %}
                                <li>
                                    <span class="fr-tag fr-icon-time-line fr-tag--icon-left">Publié le {{ tender.first_sent_at|date }}</span>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="fr-col-12 fr-col-md-4">
                <hr class="fr-hidden-md" />
                {% if tender.is_sent %}
                    {% if not tender.siae_detail_contact_click_since_last_seen_date_count_annotated %}
                        <p class="fr-badge fr-badge--sm fr-badge--green-emeraude">
                            <span class="fr-icon-thumb-up-line"></span>&nbsp;{{ tender.siae_detail_contact_click_since_last_seen_date_count_annotated }} nouveau{{ tender.siae_detail_contact_click_since_last_seen_date_count_annotated|pluralize:"x" }} prestataire{{ tender.siae_detail_contact_click_since_last_seen_date_count_annotated|pluralize }} intéressé{{ tender.siae_detail_contact_click_since_last_seen_date_count_annotated|pluralize }}
                        </p>
                    {% endif %}
                    <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center fr-grid-row--middle">
                        <div class="fr-col-6">
                            <p class="fr-text--sm fr-text--bold fr-mb-2v fr-mt-4v">
                                <span class="fr-icon-signal-tower-line"></span>&nbsp;{{ tender.siae_email_send_count_annotated|default:0 }} prestataire{{ tender.siae_email_send_count_annotated|pluralize }} ciblé{{ tender.siae_email_send_count_annotated|pluralize }}
                            </p>
                            {% if tender.siae_email_send_count_annotated %}
                                <ul class="fr-btns-group fr-btns-group--center">
                                    <li>
                                        <a href="{% url 'tenders:detail-siae-list' tender.slug %}" id="show-tender-siae-list-btn" class="fr-btn fr-btn--sm">
                                            Voir
                                        </a>
                                    </li>
                                </ul>
                            {% endif %}
                        </div>
                        <div class="fr-col-6">
                            <p class="fr-text--sm fr-text--bold fr-mb-2v fr-mt-4v">
                                <span class="fr-icon-thumb-up-line"></span>&nbsp;{{ tender.siae_detail_contact_click_count_annotated|default:0 }} prestataire{{ tender.siae_detail_contact_click_count_annotated|pluralize }} intéressé{{ tender.siae_detail_contact_click_count_annotated|pluralize }}
                            </p>
                            {% if tender.siae_detail_contact_click_count_annotated %}
                                <ul class="fr-btns-group fr-btns-group--center">
                                    <li>
                                        <a href="{% url 'tenders:detail-siae-list' tender.slug "INTERESTED" %}" id="show-tender-siae-list-btn" class="fr-btn fr-btn--sm">
                                            Voir
                                        </a>
                                    </li>
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <i>Le besoin n'a pas encore été envoyé.</i>
                {% endif %}
            </div>
        </div>
    </div>
</div>
