{% load get_verbose_name %}

<div class="row">
    {% if tender.contact_company_name_display %}
        <div class="fr-col-md-3" title="Entreprise">
            <i class="ri-building-4-line"></i>
            {{ tender.contact_company_name_display }}
        </div>
    {% endif %}
    <div class="fr-col-md-9" title="{% get_verbose_name tender 'location' %}">
        {% if tender.perimeters_list_string %}
            <i class="ri-map-pin-2-line"></i>
            {{ tender.location_display|safe }}
        {% endif %}
    </div>
</div>
{% if tender.accept_share_amount %}
    <hr />
    <div class="row">
        <div class="fr-col-md-3" title="{% get_verbose_name tender 'amount' %}">
            <strong>
                Budget : {{ tender.amount_display|default:"-" }}
            </strong>
        </div>
    </div>
{% endif %}

