{% load static humanize %}

<div class="fr-card fr-card--horizontal fr-mb-3w">
    <div class="fr-card__body">
        <div class="fr-grid-row">
            <div class="fr-col-12 fr-col-md-8 with-data-url" style="border-right:1px solid;cursor:pointer;" data-url="{% url 'tenders:detail' tender.slug %}">
                <div class="fr-card__content">
                    <div class="fr-card__start">
                        <ul class="fr-badges-group">
                            <li>
                                {% include "tenders/_closed_badge.html" with tender=tender %}
                            </li>
                            <li>
                                {% include "tenders/_status_badge.html" with tender=tender %}
                            </li>
                        </ul>
                    </div>

                    <h2 class="fr-card__title">{{ tender.title }}</h2>

                    <div class="fr-card__end">
                        <ul class="fr-tags-group">
                            <li>
                                <span class="fr-tag fr-icon-time-line fr-tag--icon-left">Créé le {{ tender.created_at|date }}</span>
                            </li>
                            {% if tender.is_sent %}
                                <li>
                                    <span class="fr-tag fr-icon-time-line fr-tag--icon-left">Publié le {{ tender.first_sent_at|date }}</span>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="fr-col-12 fr-col-md-4 text-center my-auto">
                <hr class="d-md-none" />
                {% if tender.is_sent %}
                    {% if tender.siae_detail_contact_click_since_last_seen_date_count_annotated %}
                        <p class="badge badge-base badge-pill badge-pilotage">
                            <i class="ri-thumb-up-line ri-xl"></i>&nbsp;{{ tender.siae_detail_contact_click_since_last_seen_date_count_annotated }} nouveau{{ tender.siae_detail_contact_click_since_last_seen_date_count_annotated|pluralize:"x" }} prestataire{{ tender.siae_detail_contact_click_since_last_seen_date_count_annotated|pluralize }} intéressé{{ tender.siae_detail_contact_click_since_last_seen_date_count_annotated|pluralize }}
                        </p>
                    {% endif %}
                    <div class="fr-grid-row fr-grid-row--gutters">
                        <div class="fr-col-6" style="border-right:1px solid;">
                            <p class="font-weight-bold mt-2">
                                <i class="ri-focus-2-line font-weight-light"></i>&nbsp;{{ tender.siae_email_send_count_annotated|default:0 }} prestataire{{ tender.siae_email_send_count_annotated|pluralize }} ciblé{{ tender.siae_email_send_count_annotated|pluralize }}
                            </p>
                            {% if tender.siae_email_send_count_annotated %}
                                <a href="{% url 'tenders:detail-siae-list' tender.slug %}" id="show-tender-siae-list-btn" class="fr-btn fr-btn--sm">
                                    Voir
                                </a>
                            {% endif %}
                        </div>
                        <div class="fr-col-6">
                            <p class="font-weight-bold mt-2">
                                <i class="ri-thumb-up-line font-weight-light"></i>&nbsp;{{ tender.siae_detail_contact_click_count_annotated|default:0 }} prestataire{{ tender.siae_detail_contact_click_count_annotated|pluralize }} intéressé{{ tender.siae_detail_contact_click_count_annotated|pluralize }}
                            </p>
                            {% if tender.siae_detail_contact_click_count_annotated %}
                                <a href="{% url 'tenders:detail-siae-list' tender.slug "INTERESTED" %}" id="show-tender-siae-list-btn" class="fr-btn fr-btn--sm">
                                    Voir
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <i>Le besoin n'a pas encore été envoyé.</i>
                {% endif %}
            </div>
        </div>
    </div>
</div>
