{% load static humanize %}

<div class="fr-card fr-card--horizontal fr-mb-3w">
    <div class="fr-card__body">
        <div class="fr-grid-row">
            <div class="fr-col-12 fr-col-md-8 with-data-url" style="border-right:1px solid;cursor:pointer;" data-url="{% url 'dashboard_networks:tender_detail' network.slug tender.slug %}">
                <div class="fr-card__content">
                    <div class="fr-card__start">
                        <ul class="fr-badges-group">
                            <li>
                                {% include "tenders/_closed_badge.html" with tender=tender %}
                            </li>
                        </ul>
                    </div>

                    <h2 class="fr-card__title">{{ tender.title }}</h2>

                    <div class="fr-card__end">
                        {% include "tenders/_list_item_detail_row.html" with tender=tender %}
                    </div>
                </div>
            </div>

            <div class="fr-col-12 fr-col-md-4 text-center my-auto">
                <hr class="d-md-none" />
                <div class="fr-grid-row">
                    <div class="fr-col-12">
                        <p class="font-weight-bold">
                            <i class="ri-focus-2-line font-weight-light"></i>&nbsp;{{ tender.network_siae_email_send_count_annotated|default:0 }} adhérent{{ tender.network_siae_email_send_count_annotated|pluralize }} notifié{{ tender.network_siae_email_send_count_annotated|pluralize }}
                        </p>
                        {% if tender.network_siae_email_send_count_annotated %}
                            <a href="{% url 'dashboard_networks:tender_siae_list' network.slug tender.slug %}" id="dashboard-network-tender-show-siae-list-btn" class="fr-btn fr-btn--sm">
                                Voir la liste
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
