{% extends "layouts/base.html" %}
{% load bootstrap4 static %}

{% block title %}Ajout d'un besoin{{ block.super }}{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="col-12 bg-white d-block my-5  rounded-lg shadow-lg p-3 p-lg-5">
                <h1>Déposer un besoin</h1>
                <form method="POST" action="{% url 'tenders:add' %}">
                    {% csrf_token %}
                    {% bootstrap_form_errors form type="all" %}
                    <fieldset class="py-2 pb-lg-4">
                        {% bootstrap_field form.kind %}
                        {% bootstrap_field form.title %}
                        {% bootstrap_field form.sectors %}
                        <div id="dir_form_perimeter_name" class="form-group">
                            <label for="perimeter_name">{{ form.perimeters.label }}</label>
                            <div class="field-holder">
                                <div>
                                    {{ form.perimeter_name }}
                                </div>
                            </div>
                        </div>
                        <div id="perimeters-selected" class="mb-3"></div>
                    </fieldset>
                    <fieldset class="pb-2 pb-lg-4">
                        {% bootstrap_field form.description %}
                        {% bootstrap_field form.external_link %}
                        {% bootstrap_field form.constraints %}
                        {% bootstrap_field form.amount %}
                        {% comment %} {% bootstrap_field form.perimeters %} {% endcomment %}
                        {% bootstrap_field form.start_working_date %}
                        {% bootstrap_field form.contact_first_name %}
                        {% bootstrap_field form.contact_last_name %}
                        {% bootstrap_field form.contact_email %}
                        {% bootstrap_field form.contact_phone %}
                        {% bootstrap_field form.response_kind %}
                        {% bootstrap_field form.deadline_date %}
                    </fieldset>
                    <button type="submit" class="btn btn-primary btn-block btn-ico">
                        <span>Valider</span>
                        <i class="ri-arrow-right-line ri-lg"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/perimeters_autocomplete_fields.js' %}"></script>
{% endblock %}
