{% extends 'admin/change_form.html' %}

{% comment %}
Avoid conflict between fieldset_with_inlines & custom button
--> add blocks "field_sets" & "inline_field_sets" from django-fieldsets-with-inlines

Extra info
- https://github.com/robertkovac/django-fieldsets-with-inlines > PR #6
- https://github.com/django/django/blob/main/django/contrib/admin/templates/admin/change_form.html
{% endcomment %}

{% block field_sets %}
{% for fieldset in adminform %}
    {% with fieldset_index=forloop.counter0 %}
        {% for inline_admin_formset in inline_admin_formsets %}
            {% if inline_admin_formset.opts.fieldset_index == fieldset_index %}
                {% include inline_admin_formset.opts.template %}
            {% endif %}
        {% endfor %}
    {% endwith %}

    {% include "admin/includes/fieldset.html" %}
{% endfor %}
{% endblock %}

{% block inline_field_sets %}
{% comment %}
Inlines are already included.
No need to repeat them under fieldsets!
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endcomment %}
{% endblock %}

{% block after_related_objects %}
    {{ block.super }}
    {% if original %}
        <div class="submit-row">
            {% if original.validated_at %}
                <i>Validé et envoyé le {{ original.validated_at }}</i><br>
                <button type="submit" name="_restart_tender" value="1" class="button">Renvoyer aux structures</button>
            {% else %}
                <button type="submit" name="_validate_tender" value="1" class="button">Valider (sauvegarder) et envoyer aux structures</button>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
