{% extends "layouts/base.html" %}
{% load bootstrap4 static %}

{% block title %}Déposer un besoin{{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'dashboard:home' %}">Mon espace</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'tenders:list' %}">Besoins en cours</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Déposer un besoin</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="d-flex">
            <div class="col-12">
                <h1 class="py-6">Déposer un besoin</h1>
            </div>
        </div>
        <div class="d-flex">
            <div id="formAddTender" class="col-8 bg-white d-block mb-5 p-3 p-lg-5 rounded-lg shadow-lg">
                <form method="POST" action="{% url 'tenders:create' %}" id="createTenderForm">
                    {% csrf_token %}
                    {% bootstrap_form_errors form type="all" %}
                    <h2>Informations générales</h2>
                    <fieldset class="py-2 pb-lg-4">
                        {% bootstrap_field form.kind %}
                        {% bootstrap_field form.title placeholder="Ex: Rénovation de façade" %}
                        {% bootstrap_field form.sectors %}
                        <div id="dir_form_perimeter_name" class="form-group  form-group-required mb-2">
                            <label for="perimeter_name">{{ form.perimeters.label }}</label>
                            <div class="field-holder">
                                {{ form.perimeter_name }}
                            </div>
                        </div>
                        <div id="perimeters-selected"></div>
                        <small class="form-text text-muted mb-3">Ajouter un ou plusieurs lieux d'exécutions</small>
                    </fieldset>
                    <h2>Description du besoin</h2>
                    <fieldset class="pb-2 pb-lg-4">
                        {% bootstrap_field form.description %}
                        {% bootstrap_field form.external_link %}
                        {% bootstrap_field form.constraints %}
                        {% bootstrap_field form.amount %}
                        {% comment %} {% bootstrap_field form.perimeters %} {% endcomment %}
                        {% bootstrap_field form.start_working_date %}
                    </fieldset>
                    <h2>Contact</h2>
                    <fieldset class="pb-2 pb-lg-4">
                        {% bootstrap_field form.contact_first_name %}
                        {% bootstrap_field form.contact_last_name %}
                        {% bootstrap_field form.contact_email %}
                        {% bootstrap_field form.contact_phone %}
                        {% bootstrap_field form.response_kind %}
                        {% bootstrap_field form.deadline_date %}
                    </fieldset>
                    <button type="button" id="btnAddTender" class="btn btn-primary btn-block btn-ico">
                        <span>Publier et diffuser ce besoin</span>
                        <i class="ri-arrow-right-line ri-lg"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block modals %}
<div class="modal fade show" id="modalConfirmAddTender" tabindex="-1" aria-labelledby="modalConfirmAddTenderLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalConfirmAddTenderLabel">Confirmation d'envoi</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Annuler">
                    <i class="ri-close-line"></i>
                </button>
            </div>
            <div class="modal-body">
                <p class="font-weight-bold">En confirmant, j'accepte que mon nom et celui de mon entreprise soient visibles pour diffuser mon besoin.</p>
                <p>Votre besoin va être publié et diffusé auprès des structures d'insertion du marché.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal">Annuler</button>
                <button type="submit" id="btnConfirmAddTender" class="btn btn-sm btn-primary">Confirmer</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/perimeters_autocomplete_fields.js' %}"></script>
<script>
    const idModal = "#modalConfirmAddTender";

    $(document).on("click", "#btnAddTender", function(e){
        $(idModal).modal("show");
    });

    $(document).on("click", "#btnConfirmAddTender", function(e){
        $(idModal).modal("hide");
        $("#createTenderForm").submit();
    });

    document.addEventListener('DOMContentLoaded', function() {
        // get all usefull elements
        let kindInput = document.getElementById('id_kind');
        let external_link = document.getElementById('id_external_link');

        {% comment %} TODO : refactor this code  `toggleRequiredClasses`, `toggleInputElement`{% endcomment %}
        let toggleRequiredClasses = (toggle, element) => {
            element.required = required;
            elementToToggle = element.parentNode.classList.contains("form-group") ? element.parentNode : element.parentNode.parentNode;
            if (required) {
                elementToToggle.classList.add('form-group-required');
            } else {
                elementToToggle.classList.remove('form-group-required');
            }
        };

        let toggleInputElement = (toggle, element, required=undefined) => {
            // function usefull to find element form-group of bootstrap forms
            elementToToggle = element.parentNode.classList.contains("form-group") ? element.parentNode : element.parentNode.parentNode;
            if (toggle) {
                elementToToggle.classList.remove('d-none');
            } else {
                elementToToggle.classList.add('d-none');
            }
            if (required != undefined) {
                toggleRequiredClasses(required, element);
            }
        }


        kindInput.addEventListener('change', () => {
            let inputValue = $(kindInput).find('input:checked')[0].value
            if (inputValue === 'TENDER') {
                toggleInputElement(true, element=external_link, required=false);
            } else {
                toggleInputElement(false, element=external_link, required=false);
            }
        });
    });
</script>
{% endblock %}
