{% extends "tenders/create_base.html" %}
{% load bootstrap4 static %}

{% block step_title %}Description du besoin{% endblock %}
{% block step_title_again %}Description du besoin{% endblock %}
{% block step_subtitle %}Veuillez détailler au maximum votre besoin pour que les prestataires inclusifs puissent se positionner.{% endblock %}

{% block content_form %}
<div class="row mb-3 mb-lg-5">
    <div class="col-12 col-lg-8">
        {% bootstrap_field form.description %}
    </div>
</div>
<div class="row mb-3 mb-lg-5">
    <div class="col-12 col-lg-8">
        {% bootstrap_field form.start_working_date %}
    </div>
</div>
<div class="row mb-3 mb-lg-5">
    <div class="col-12 col-lg-8">
        {% bootstrap_field form.external_link %}
    </div>
</div>
<div class="row mb-3 mb-lg-5">
    <div class="col-12 col-lg-8">
        {% bootstrap_field form.constraints %}
    </div>
</div>
<div class="row mb-3 mb-lg-5">
    <div class="col-12 col-lg-8">
        {% bootstrap_field form.amount %}
        {% bootstrap_field form.accept_share_amount %}
    </div>
    <div class="col-12 col-lg-4">
        <div class="alert alert-info mt-3 mt-lg-0" role="alert">
            <p class="mb-0 fs-sm">
                Le montant € estimé nous aide à évaluer l'impact de la plateforme du Marché de l'inclusion.<br />
                Cette donnée restera confidentielle si vous souhaitez ne pas la partager aux prestataires.
            </p>
        </div>
    </div>
</div>
<div class="row mb-3 mb-lg-5">
    <div class="col-12 col-lg-8">
        <label class="fake-label">Co-traitance</label>
        {% bootstrap_field form.accept_cocontracting %}
    </div>
</div>
{% endblock content_form %}
