{% extends "tenders/create_base.html" %}
{% load bootstrap4 static %}

{% block step_title %}Informations générales{% endblock %}
{% block step_title_again %}Informations générales{% endblock %}
{% block step_subtitle %}Ici, en quelques clics vous pourrez solliciter l'ensemble des prestataires inclusifs pertinents pour votre besoin. Veuillez d'abord remplir les informations générales.{% endblock %}

{% block content_form %}
{% csrf_token %}
<fieldset>
    {% bootstrap_field form.kind form_group_class="form-group form-group-required" %}
    {% bootstrap_field form.title form_group_class="form-group form-group-required" %}
    {% bootstrap_field form.sectors form_group_class="form-group form-group-required use-multiselect" %}
    {% bootstrap_field form.presta_type form_group_class="form-group form-group-required use-multiselect" %}
    <div class="form-group form-group-required {% if form.intervention_location.errors %}is-invalid{% endif %}">
        <label for="id_intervention_location">{{ form.intervention_location.label }}</label>
        <input id="id_intervention_location" name="general-intervention_location" value="{{form.intervention_location.value}}" type="text" class="d-none">
        <div id="dir_form_intervention_location_name" data-input-value="{{form.instance.intervention_location.name}}"></div>
        <small class="form-text text-muted">{{ form.intervention_location.help_text }}</small>
        <div class="invalid-feedback">Ce champ est obligatoire.</div>
        <div id="intervention_location-selected" class="mt-1"></div>
    </div>
    {% bootstrap_field form.is_country_area %}
</fieldset>
{% endblock content_form %}

{% block extra_js %}
{{ current_perimeters|json_script:"current-perimeters" }}
<script type="text/javascript" src="{% static 'js/perimeter_autocomplete_field.js' %}"></script>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function () {
    let is_in_country_area = document.getElementById('id_general-is_country_area');
    let perimeters = document.getElementById('dir_form_perimeters');
    let perimetersInput = document.getElementById('perimeters');

    function disablePerimeters() {
        $(perimetersInput).prop("disabled", true);
        // Provide from perimeters autocomplete field
        cleanPerimeters();
    }

    // init of the page
    if (is_in_country_area.checked) {
        disablePerimeters();
    }

    // on change
    is_in_country_area.addEventListener('change', () => {
        if (is_in_country_area.checked) {
            disablePerimeters();
        } else {
            $(perimetersInput).prop("disabled", false);
        }
    });
});
</script>
{% endblock %}
