{% extends "tenders/create_base.html" %}
{% load dsfr_tags static %}
{% block step_title %}Evaluation de l’impact{% endblock step_title %}
{% block content_form %}
    {% csrf_token %}
    <div id="serveyTender">
        <div class="fr-grid-row">
            <div class="fr-col-12 fr-col-lg-7">
                {% dsfr_form_field form.scale_marche_useless %}
            </div>
            <div class="fr-col-12 fr-col-lg-5 fr-pl-2w">
                <div class="fr-callout fr-p-4v">
                    <p class="fr-callout__text fr-text--sm fr-pl-7v">
                        Le terme <i>*</i><strong>Prestataire inclusif</strong> fait référence aux structures agréées Insertion ou Handicap.
                        <br />
                        Ici, le terme <strong>Prestataire inclusif</strong> ne fait pas référence à l'ensemble des prestataires relevant de l'E.S.S (Économie Sociale & Solidaire)
                    </p>
                </div>
            </div>
        </div>
        <div class="fr-grid-row">
            <div class="fr-col-12 fr-col-lg-7">
                {% dsfr_form_field form.le_marche_doesnt_exist_how_to_find_siae %}
            </div>
        </div>
    </div>
{% endblock content_form %}
{% block submit_btn %}
    <li>
        <button id="tender-create-{{ wizard.steps.current }}-form-next-step-btn" class="fr-btn" type="submit" aria-label="Aperçu avant publication">
            Aperçu avant publication
        </button>
    </li>
{% endblock submit_btn %}
