{% extends "tenders/create_base.html" %}
{% load bootstrap4 static %}

{% block step_title %}Contacts{% endblock %}
{% block step_title_again %}Contacts{% endblock %}
{% block step_subtitle %}Vous y êtes presque ! Veuillez remplir les informations que nous partagerons aux prestataires inclusifs pour qu'elles puissent vous contacter.{% endblock %}

{% block content_form %}
{% csrf_token %}
<div class="row">
    <div class="col-12 col-lg-7">
        <div class="form-row">
            {% bootstrap_field form.contact_first_name form_group_class="form-group col-12 col-md-6" %}
            {% bootstrap_field form.contact_last_name form_group_class="form-group col-12 col-md-6" %}
        </div>
        {% bootstrap_field form.contact_company_name %}
        <div class="form-row">
            {% bootstrap_field form.contact_email form_group_class="form-group col-12 col-md-6" %}
            {% bootstrap_field form.contact_phone form_group_class="form-group col-12 col-md-6" %}
        </div>
        {% bootstrap_field form.response_kind %}
        {% bootstrap_field form.deadline_date %}
    </div>
</div>
{% endblock %}
