{% extends "tenders/create_base.html" %}
{% load bootstrap4 static %}

{% block step_title %}Informations générales{% endblock %}
{% block step_title_again %}Informations générales{% endblock %}
{% block step_subtitle %}Ici, en quelques clics vous pourrez solliciter l'ensemble des prestataires inclusifs pertinents pour votre besoin. Veuillez d'abord remplir les informations générales.{% endblock %}

{% block content_form %}
{% csrf_token %}
<div class="row mb-3 mb-lg-5">
    <div class="col-12 col-lg-8">
        {% bootstrap_field form.kind %}
    </div>
</div>
<div class="row mb-3 mb-lg-5">
    <div class="col-12 col-lg-8">
        {% bootstrap_field form.title %}
    </div>
</div>
<div class="row mb-3 mb-lg-5">
    <div class="col-12 col-lg-8">
        {% bootstrap_field form.sectors form_group_class="form-group form-group-required use-multiselect" %}
    </div>
</div>
<div class="row mb-3 mb-lg-5">
    <div class="col-12 col-lg-8">
        {% bootstrap_field form.presta_type %}
    </div>
</div>
<div class="row mb-3 mb-lg-5">
    <div class="col-12 col-lg-8">
        <div class="form-group form-group-required {% if form.perimeters.errors %}is-invalid{% endif %}">
            <label for="id_perimeters">{{ form.perimeters.label }}</label>
            <div id="dir_form_perimeters" data-input-name="general-perimeters"></div>
            <small class="form-text text-muted">{{ form.perimeters.help_text }}</small>
            <div class="invalid-feedback">Ce champ est obligatoire.</div>
            <div id="perimeters-selected" class="mt-1"></div>
        </div>
        {% bootstrap_field form.is_country_area %}
    </div>
</div>
{% endblock content_form %}

{% block extra_js %}
{{ current_perimeters|json_script:"current-perimeters" }}
<script type="text/javascript" src="{% static 'js/perimeters_autocomplete_fields.js' %}"></script>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function () {
    let is_in_country_area = document.getElementById('id_general-is_country_area');
    let perimeters = document.getElementById('dir_form_perimeters');
    let perimetersInput = document.getElementById('perimeters');

    function disablePerimeters() {
        $(perimetersInput).prop("disabled", true);
        // Provide from perimeters autocomplete field
        cleanPerimeters();
    }

    // init of the page
    if (is_in_country_area.checked) {
        disablePerimeters();
    }

    // on change
    is_in_country_area.addEventListener('change', () => {
        if (is_in_country_area.checked) {
            disablePerimeters();
        } else {
            $(perimetersInput).prop("disabled", false);
        }
    });
});
</script>
{% endblock %}
