{% extends "tenders/create_base.html" %}
{% load dsfr_tags static %}
{% block step_title %}
    Détails du besoin
{% endblock step_title %}
{% block step_subtitle %}
    Veuillez détailler au maximum votre besoin pour que les prestataires inclusifs puissent se positionner.
{% endblock step_subtitle %}
{% block content_form %}
    {% csrf_token %}
    <div class="fr-grid-row fr-mb-4w">
        <div class="fr-col-12 fr-col-lg-7">
            {% dsfr_form_field form.start_working_date %}
            {% dsfr_form_field form.deadline_date %}
            {% dsfr_form_field form.external_link %}
        </div>
    </div>
    <div class="fr-grid-row fr-mb-4w" x-data="TenderQuestionForm">
        <div class="fr-col-12 fr-col-lg-7">
            <label for="id_detail-questions_list" class="fr-label">Questions à poser aux prestataires ciblés</label>
            <div class="fr-mt-2v" x-show="questions.length > 0" x-cloak>
                <template x-for="(question, index) in questions" :key="index">
                    <div class="fr-grid-row fr-mb-2w">
                        <div class="fr-col-11">
                            <div class="fr-input-group mb-3" :key="index">
                                <input type="text"
                                       x-model="question.text"
                                       name="alpine-questions_list"
                                       class="fr-input" />
                            </div>
                        </div>
                        <div class="fr-col-1">
                            <button class="fr-btn fr-icon-delete-bin-line fr-btn--tertiary-no-outline"
                                    type="button"
                                    @click="removeQuestion(index)">Supprimer la question</button>
                        </div>
                    </div>
                </template>
                <input type="hidden"
                       name="detail-questions_list"
                       :value="getValue()"
                       value="form.questions_list">
            </div>
            <button type="button"
                    class="fr-btn fr-btn--tertiary"
                    x-on:click="addNewQuestion()">Ajouter une question</button>
        </div>
    </div>
    <div class="fr-grid-row fr-mb-4w">
        <div class="fr-col-12 fr-col-lg-7">
            {% dsfr_form_field form.attachment_one %}
            {% if form.instance.attachment_one or attachment_one %}
                <div class="fr-grid-row fr-mb-4w">
                    <div class="fr-col-6">
                        {% if form.instance.attachment_one %}
                            <a href="{{ form.instance.attachment_one.url }}" target="_blank">Document déjà téléversé</a>
                        {% elif attachment_one %}
                            <span class="fr-link__detail">{{ attachment_one.name }} ({{ attachment_one.size|filesizeformat }})</span>
                        {% endif %}
                    </div>
                    <div class="fr-col-6">{% dsfr_form_field form.attachment_one_delete %}</div>
                </div>
            {% endif %}
            {% dsfr_form_field form.attachment_two %}
            {% if form.instance.attachment_two or attachment_two %}
                <div class="fr-grid-row fr-mb-4w">
                    <div class="fr-col-6">
                        {% if form.instance.attachment_two %}
                            <a href="{{ form.instance.attachment_two.url }}" target="_blank">Document déjà téléversé</a>
                        {% elif attachment_two %}
                            <span class="fr-link__detail">{{ attachment_two.name }} ({{ attachment_two.size|filesizeformat }})</span>
                        {% endif %}
                    </div>
                    <div class="fr-col-6">{% dsfr_form_field form.attachment_two_delete %}</div>
                </div>
            {% endif %}
            {% dsfr_form_field form.attachment_three %}
            {% if form.instance.attachment_three or attachment_three %}
                <div class="fr-grid-row fr-mb-4w">
                    <div class="fr-col-6">
                        {% if form.instance.attachment_three %}
                            <a href="{{ form.instance.attachment_three.url }}" target="_blank">Document déjà téléversé</a>
                        {% elif attachment_three %}
                            <span class="fr-link__detail">{{ attachment_three.name }} ({{ attachment_three.size|filesizeformat }})</span>
                        {% endif %}
                    </div>
                    <div class="fr-col-6">{% dsfr_form_field form.attachment_three_delete %}</div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="fr-grid-row">
        <div class="fr-col-12 fr-col-lg-7">
            <span x-data="SocialImpactCalculatorComponent">
                {% dsfr_form_field form.amount %}
                {% dsfr_form_field form.why_amount_is_blank %}{% comment %} class="inline-block" show_label=False{% endcomment %}
                <div x-show="displayMessage()">
                    <p class="fs-sm text-success" x-text="getImpactMessage"></p>
                    {% dsfr_form_field form.accept_share_amount %}
                </div>
            </span>
        </div>
        <div class="fr-col-12 fr-col-lg-5 fr-pl-2w">
            <div class="fr-callout fr-p-4v">
                <h3 class="fr-callout__title fr-text--sm">
                    <span class="fr-icon-lightbulb-line" aria-hidden="true"></span> Conseil
                </h3>
                <p class="fr-callout__text fr-text--sm fr-pl-7v">
                    Le montant € estimé nous aide à évaluer l'impact de la plateforme du Marché de l'inclusion.
                    <br />
                    Cette donnée restera confidentielle si vous souhaitez ne pas la partager aux prestataires.
                </p>
            </div>
        </div>
    </div>
{% endblock content_form %}
{% block extra_js %}
    <script type="text/javascript" defer>
    function TenderQuestionForm() {
        return {
            questions: [],
            init() {
                // init component with django context variable (is null or object)
                const questions_input = {{ form.questions_list.value|safe }};
                if (questions_input){
                    this.questions = questions_input;
                } else {
                    this.addNewQuestion();
                }
            },
            getQuestions() {
                return this.questions;
            },
            addNewQuestion() {
                this.questions.push({text:""});
            },
            getValue(){
                return JSON.stringify(
                    this.questions
                );
            },
            removeQuestion(index) {
                this.questions.splice(index, 1);
            }
        };
    }

    function toggleRadioSelectElement(divToToggle, value) {
        if (value) {
            divToToggle.classList.add("fr-hidden");
            divToToggle.querySelectorAll('input[type=radio]').forEach(radio => {
                radio.checked = false;
                radio.required = false;
            })
        } else {
            divToToggle.classList.remove("fr-hidden");
            divToToggle.querySelectorAll('input[type=radio]').forEach(radio => {
                radio.required = true;
            })
        }
    }
    function SocialImpactCalculatorComponent() {
        return {
            formData: {
                amount: "{{ form.amount.initial|default_if_none:'null' }}",
            },
            displayMessage() {
                return this.formData.amount != "null" && this.formData.amount;
            },
            getImpactMessage() {
                if (this.formData.amount == "null") {
                    return;
                }
                // amount format data is XX-XX<K|M>
                let completeCount = this.formData.amount.split("-"); // remove first range
                let count, unity;
                if (!completeCount[1]) { // manage case when amount is ">1M"
                    count = 2;
                    unity = "M";
                } else if (completeCount[0] == 0) {
                    count = 0.1;
                    unity = "K";
                } else if (completeCount[0] == "750K") { // manage special case of 750k-1M
                    unity = completeCount[0].substring(completeCount[0].length - 1);
                    count = completeCount[0].slice(0, -1);
                } else {
                    count = completeCount[0];
                    unity = completeCount[1].substring(completeCount[1].length - 1);
                }
                let factor = unity == "K" ? 10 ** 3 : 10 ** 6; // "K" or "M"
                count = count * factor;
                if (count < 5000) {
                    let hours = Math.round(count / 26);
                    return `Bravo ! Votre achat inclusif pourrait contribuer à financer approximativement ${hours} heures de travail sur un mois.`
                } else {
                    let nbJobs = Math.round(count / 3700);
                    let strPlurial = nbJobs > 1 ? "s" : "";
                    return `Bravo ! Votre achat inclusif pourrait contribuer à financer approximativement ${nbJobs} emploi${strPlurial} inclusif${strPlurial} durant 1 mois.`
                }
            }
        }
    }
    document.addEventListener('alpine:init', () => {
        Alpine.data('SocialImpactCalculatorComponent', SocialImpactCalculatorComponent);
        Alpine.data('TenderQuestionForm', TenderQuestionForm);
    });
    document.addEventListener('DOMContentLoaded', function () {
        const selectDetailAmount = document.getElementById('id_detail-amount');
        const divWhyIsBlank = document.getElementById('radio-id_detail-why_amount_is_blank');
        toggleRadioSelectElement(divWhyIsBlank, selectDetailAmount.value);
        selectDetailAmount.addEventListener("change", function () {
            toggleRadioSelectElement(divWhyIsBlank, this.value);
        });
    });

    // Disable attachment_two as long as attachment_one is not uploaded and attachment_three as long as attachment_two is not uploaded
    attachment_one = document.getElementById("id_detail-attachment_one");
    attachment_one_delete = document.getElementById("id_detail-attachment_one_delete");
    attachment_two = document.getElementById("id_detail-attachment_two");
    attachment_two_delete = document.getElementById("id_detail-attachment_two_delete");
    attachment_three = document.getElementById("id_detail-attachment_three");
    attachment_three_delete = document.getElementById("id_detail-attachment_three_delete");
    {% if not form.instance.attachment_one and not attachment_one %}
        attachment_two.disabled = true;
    {% endif %}
    {% if not form.instance.attachment_two and not attachment_two %}
        attachment_three.disabled = true;
    {% endif %}
    attachment_one.addEventListener("change", function() {
        attachment_two.disabled = !this.files.length;
        if (!this.files.length) {
            attachment_three.disabled = true; // Reset file3 if file1 is cleared
        }
    });
    attachment_two.addEventListener("change", function() {
        attachment_three.disabled = !this.files.length;
    });
    attachment_one_delete.addEventListener("change", function() {
        attachment_one.disabled = this.checked;
    });
    attachment_two_delete.addEventListener("change", function() {
        attachment_two.disabled = this.checked;
    });
    attachment_three_delete.addEventListener("change", function() {
        attachment_three.disabled = this.checked;
    });
    </script>
{% endblock extra_js %}
