{% extends "layouts/base.html" %}
{% load bootstrap4 static %}

{% block title %}Déposer un besoin{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'dashboard:home' %}">Mon espace</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'tenders:list' %}">Besoins en cours</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Déposer un besoin</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="s-title-01">
    <div class="s-title-01__container container">
        <div class="s-title-01__row row">
            <div class="s-title-01__col col-12">
                <h1 class="s-title-01__title h1 mb-0"><strong>Déposer un besoin</strong></h1>
            </div>
        </div>
    </div>
</section>

<section class="s-section">
    <div class="s-section__container container">
        <div class="s-section__row row">
            <div class="s-section__col col-12 col-lg-7">
                <div class="c-form" id="formAddTender">
                    <form method="POST" action="{% url 'tenders:create' %}" id="createTenderForm">

                        {% csrf_token %}
                        {% bootstrap_form_errors form type="all" %}

                        <fieldset>
                            <legend>Informations générales</legend>
                            {% bootstrap_field form.kind form_group_class="form-group form-group-required" %}
                            {% bootstrap_field form.title placeholder="Ex: Rénovation de façade" form_group_class="form-group form-group-required" %}
                            {% bootstrap_field form.sectors form_group_class="form-group form-group-required use-multiselect" %}
                            {% bootstrap_field form.is_country_area %}
                            <div class="form-group form-group-required{% if form.perimeters.errors %} is-invalid{% endif %}">
                                <label for="perimeter_name">{{ form.perimeters.label }}</label>
                                <div id="dir_form_perimeter_name">
                                    <div class="field-holder">{{ form.perimeter_name }}</div>
                                </div>
                                <small class="form-text text-muted">Ajouter un ou plusieurs lieux d'exécutions</small>
                                <div class="invalid-feedback">Ce champ est obligatoire.</div>
                                <div id="perimeters-selected" class="mt-1"></div>
                            </div>
                        </fieldset>
                        <hr>
                        <fieldset>
                            <legend>Description du besoin</legend>
                            {% bootstrap_field form.description %}
                            {% bootstrap_field form.external_link %}
                            {% bootstrap_field form.constraints %}
                            {% bootstrap_field form.amount %}
                            {% comment %} {% bootstrap_field form.perimeters %} {% endcomment %}
                            <div class="form-group">
                                {{ form.start_working_date.label_tag }}
                                <div class="input-group">
                                    <input id="id_{{ form.start_working_date.name }}" class="form-control{% if form.start_working_date.errors %} is-invalid{% endif %}" name="{{ form.start_working_date.name }}" type="{{ form.start_working_date.field.widget.input_type }}" value="{{ form.start_working_date.value}}" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="ri-calendar-2-line ri-lg"></i></span>
                                    </div>
                                    {% for error in form.start_working_date.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}

                                </div>
                            </div>
                        </fieldset>
                        <hr>
                        <fieldset>
                            <legend>Contact</legend>
                            {% bootstrap_field form.contact_first_name %}
                            {% bootstrap_field form.contact_last_name %}
                            <div class="form-row">
                                {% bootstrap_field form.contact_email form_group_class="form-group col-12 col-md-6" %}
                                {% bootstrap_field form.contact_phone form_group_class="form-group col-12 col-md-6" %}
                            </div>
                            {% bootstrap_field form.response_kind %}
                            <div class="form-group form-group-required">
                                {{ form.deadline_date.label_tag }}
                                <div class="input-group">
                                    <input id="id_{{ form.deadline_date.name }}" class="form-control{% if form.deadline_date.errors %} is-invalid{% endif %}" name="{{ form.deadline_date.name }}" type="{{ form.deadline_date.field.widget.input_type }}" value="{{ form.deadline_date.value}}" />
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="ri-calendar-2-line ri-lg"></i></span>
                                    </div>
                                    {% for error in form.deadline_date.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </fieldset>
                        <hr>
                        <div class="form-row justify-content-end">
                            <div class="form-group col-12 col-lg-auto">
                                <button type="button" id="btnAddTender" class="btn btn-primary btn-block btn-ico">
                                    <span>Publier et diffuser ce besoin</span>
                                    <i class="ri-arrow-right-line ri-lg"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block modals %}
<div class="modal fade show" id="modalConfirmAddTender" tabindex="-1" aria-labelledby="modalConfirmAddTenderLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalConfirmAddTenderLabel">Confirmation d'envoi</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Annuler">
                    <i class="ri-close-line"></i>
                </button>
            </div>
            <div class="modal-body">
                <p class="font-weight-bold">En confirmant, j'accepte que mon nom et celui de mon entreprise soient visibles pour diffuser mon besoin.</p>
                <p>Votre besoin va être publié et diffusé auprès des structures d'insertion du marché.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-primary" data-dismiss="modal">Annuler</button>
                <button type="submit" id="btnConfirmAddTender" class="btn btn-sm btn-primary">Confirmer</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/perimeters_autocomplete_fields.js' %}"></script>
<script>
    const idModal = "#modalConfirmAddTender";

    $(document).on("click", "#btnAddTender", function (e) {
        $(idModal).modal("show");
    });

    $(document).on("click", "#btnConfirmAddTender", function (e) {
        $(idModal).modal("hide");
        $("#createTenderForm").submit();
    });

    document.addEventListener('DOMContentLoaded', function () {
        // get all usefull elements
        let kindInput = document.getElementById('id_kind');
        let external_link = document.getElementById('id_external_link');
        let is_in_country_area = document.getElementById('id_is_country_area');
        let perimeters = document.getElementById('dir_form_perimeter_name');

        is_in_country_area.addEventListener('change', () => {
            if (is_in_country_area.checked) {
                toggleInputElement(false, element = perimeters, required = false);
            } else {
                toggleInputElement(true, element = perimeters, required = false);
            }


        });
        kindInput.addEventListener('change', () => {
            let inputValue = $(kindInput).find('input:checked')[0].value;
            if (inputValue === 'TENDER') {
                toggleInputElement(true, element = external_link, required = false);
            } else {
                toggleInputElement(false, element = external_link, required = false);
            }
        });
    });
</script>
{% endblock %}
