{% extends "tenders/create_base.html" %}
{% load static bootstrap4 %}

{% block step_title %}Evaluation de l'impact{% endblock %}
{% block step_title_again %}Evaluation de l'impact{% endblock %}
{% block step_subtitle %}
Aidez-nous à évaluer l'impact de la plateforme du Marché de l'inclusion en répondant à ces quelques questions.<br />
<i class="fs-sm"> ⚠️ Ces informations sont anonymisées et exploitées à des fins statistiques. Elles resteront strictement confidentielles.</i>
{% endblock %}

{% block content_form %}
{% csrf_token %}
<div class="row">
    <div id="serveyTender" class="col-12 col-lg-8">
        <div class="row mb-3 mb-lg-5">
            <div class="col-12">
                {% bootstrap_field form.scale_marche_useless %}
            </div>
        </div>
        <div class="row mb-3 mb-lg-5">
            <div class="col-12">
                {% bootstrap_field form.worked_with_inclusif_siae_this_kind_tender %}
            </div>
        </div>
        <div id="div_is_encouraged_by_le_marche" class="row mb-3 mb-lg-5 {% if form.worked_with_inclusif_siae_this_kind_tender.value == '1' %}d-none{% endif %}">
            <div class="col-12">
                {% bootstrap_field form.is_encouraged_by_le_marche form_group_class="form-group form-group-required" %}
            </div>
        </div>
        <div class="row mb-3 mb-lg-5">
            <div class="col-12">
                {% bootstrap_field form.providers_out_of_insertion %}
            </div>
        </div>
        <div class="row mb-3 mb-lg-5">
            <div class="col-12">
                {% bootstrap_field form.le_marche_doesnt_exist_how_to_find_siae %}
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4">
        <div class="alert alert-info mt-3 mt-lg-0" role="alert">
            <p class="mb-1 fs-sm">
                *Le terme "Prestataire inclusif" fait référence aux structures agréées Insertion ou Handicap.
            </p>
            <p class="mb-0 fs-sm">
                ⚠️ Ici, le terme “Prestataire inclusif” ne fait pas référence à l'ensemble des prestataires relevant de l'E.S.S (Économie Sociale & Solidaire)
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
document.addEventListener('DOMContentLoaded', function () {
    {% comment %} div of the question 3 {% endcomment %}
    let divIsEncouragedByLeMarche = document.getElementById('div_is_encouraged_by_le_marche');

    let kindRadios = document.querySelectorAll('input[type=radio][name="survey-worked_with_inclusif_siae_this_kind_tender"]');
    kindRadios.forEach(radio => radio.addEventListener('change', () => {
        let displayQuestion3 = ["0", "?"].includes(radio.value)
        if (displayQuestion3) {
            divIsEncouragedByLeMarche.classList.remove('d-none');
            question3Response = divIsEncouragedByLeMarche.querySelector('input')
            question3Response.required = true;
        } else {
            divIsEncouragedByLeMarche.classList.add('d-none');
            question3Response = divIsEncouragedByLeMarche.querySelector('input')
            question3Response.required = false;
            question3ResponseChecked = divIsEncouragedByLeMarche.querySelector('input:checked')
            if(question3ResponseChecked){
                question3ResponseChecked.checked = false;
            }
        }
    }));
});
</script>
{% endblock %}
