{% extends "layouts/base.html" %}
{% load process_dict dsfr_tags %}

{% block title %}Publier un besoin d'achat{{ block.super }}{% endblock title %}

{% block breadcrumb %}
    {% process_dict root_dir=HOME_PAGE_PATH links=breadcrumb_links current="Publier un besoin d'achat" as breadcrumb_data %}
    {% dsfr_breadcrumb breadcrumb_data %}
{% endblock breadcrumb %}

{% block content %}
    <div class="fr-container fr-container--fluid fr-mb-md-14v">
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
            <div class="fr-col-12">  
                <h1 class="mb-0">Publier un besoin d'achat</h1>
            </div>
        </div>
        {% if wizard.steps.step1 != wizard.steps.count %}
            <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
                <div class="fr-col-12"> 
                    <div class="fr-stepper">
                        <h2 class="fr-stepper__title">
                            {% block step_title %}{% endblock step_title %}
                            <span class="fr-stepper__state">Étape {{ wizard.steps.step1 }} sur {{ wizard.steps.count|add:"-1" }}</span>
                        </h2>
                        <div class="fr-stepper__steps" data-fr-current-step="{{ wizard.steps.step1 }}" data-fr-steps="{{ wizard.steps.count|add:"-1" }}"></div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% block form_section %}
            <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
                <div class="fr-col-12">
                    <form method="post"
                        action=""
                        id="tender-create-{{ wizard.steps.current }}-form"
                        enctype="multipart/form-data">
                        {% if form.non_field_errors %}
                            <section class="fr-my-4v fr-input-group fr-input-group--error">
                                {{ form.non_field_errors }}
                            </section>
                        {% endif %}
                        {{ wizard.management_form }}
                        {% block content_form %}
                            <table>
                                {% if wizard.form.forms %}
                                    {{ wizard.form.management_form }}
                                    {% for form in wizard.form.forms %}{{ form }}{% endfor %}
                                {% else %}
                                    {{ wizard.form }}
                                {% endif %}
                            </table>
                        {% endblock content_form %}
                        {% block action_form %}
                            {% block recap_section %}{% endblock recap_section %}
                            <div class="fr-grid-row">
                                <div class="fr-col-12 fr-col-lg-7">
                                    <hr />
                                </div>
                            </div>
                            <div class="fr-grid-row">
                                <div class="fr-col-12 fr-col-lg-7">
                                    <ul class="fr-mt-2v fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-sm fr-btns-group--icon-left">
                                        {% block submit_btn %}
                                            <li>
                                                <button id="tender-create-{{ wizard.steps.current }}-form-next-step-btn" class="fr-btn" type="submit" aria-label="Passer à l'étape suivante">
                                                    Étape Suivante
                                                </button>
                                            </li>
                                        {% endblock submit_btn %}
                                        {% if wizard.steps.prev %}
                                            <li>
                                                <button id="tender-create-{{ wizard.steps.current }}-form-previous-step-btn" class="fr-btn fr-btn--tertiary-no-outline fr-icon-arrow-go-back-line" type="submit" name="wizard_goto_step" value="{{ wizard.steps.prev }}" aria-label="Retour à l'étape précédente" formnovalidate>
                                                    Étape Précédente
                                                </button>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        {% endblock action_form %}
                    </form>
                </div>
            </div>
        {% endblock form_section %}
    </div>
    {% block extra_html %}{% endblock extra_html %}
{% endblock content %}
