{% extends "layouts/multistep_form.html" %}
{% load bootstrap4 static %}

{% block title %}Déposer un besoin{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'dashboard:home' %}">Mon espace</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'tenders:list' %}">Besoins en cours</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Déposer un besoin</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block content_form %}
    <fieldset>
        <legend>Description du besoin</legend>
        {% bootstrap_field form.description %}
        {% bootstrap_field form.external_link %}
        {% bootstrap_field form.constraints %}
        {% bootstrap_field form.amount %}
        {% comment %} {% bootstrap_field form.perimeters %} {% endcomment %}
        <div class="form-group">
            {{ form.start_working_date.label_tag }}
            <div class="input-group">
                <input id="id_{{ form.start_working_date.name }}" class="form-control{% if form.start_working_date.errors %} is-invalid{% endif %}" name="{{ form.start_working_date.name }}" type="{{ form.start_working_date.field.widget.input_type }}" value="{{ form.start_working_date.value}}" />
                {% for error in form.start_working_date.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}

            </div>
        </div>
    </fieldset>
{% endblock content_form %}

