{% extends "layouts/base.html" %}
{% load bootstrap4 static %}

{% block title %}Ajout d'un besoin{{ block.super }}{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="col-12 bg-white d-block my-5  rounded-lg shadow-lg p-3 p-lg-5">
                <div class="card c-card c-card--marche siae-card">
                    <div class="card-body">
                        <div class="row py-4">
                            <div class="col-md-9">
                                <h1>
                                    {{tender.title}}
                                </h1>
                            </div>
                            <div class="col-md-3">
                                <span class="badge badge-base badge-pill badge-emploi">{{tender.get_kind_name}}</span>
                            </div>
                            <div class="col">
                                <p>
                                    Date limite de réponse : {{tender.deadline_date}}
                                </p>
                            </div>
                        </div>
                        {% if tender.start_working_date %}
                            <p>Début d'intervention : {{tender.start_working_date}}</p>
                        {% endif %}
                        <div class="row">
                            <div class="col">
                                <span class="ri-award-line"></span>
                                {{tender.get_sectors_names}}
                            </div>
                            <div class="col">
                                <span class="ri-map-pin-2-line"></span>
                                {{tender.get_perimeters_names}}
                            </div>
                        </div>
                        <hr class="my-3">
                        <div class="py-2">
                            <h2>Description</h2>
                            <p>{{tender.description}}</p>
                        </div>
                        <hr class="my-3">
                        <div class="py-2">
                            <h2>Contraintes techniques spécifiques</h2>
                            <p>{{tender.constraints}}</p>
                        </div>
                        <hr class="my-3">
                        <div class="py-2">
                            <h2>Montant du marché</h2>
                            <p>{{tender.completion_time}}</p>
                        </div>
                        <hr class="my-3">
                        <div class="py-2">
                            <h2>Pour répondre à cet appel d’offre</h2>
                            <div class="row">
                                {% if tender.contact_infos.full_name %}
                                    <div class="col-md-6">
                                        <span class="ri-account-circle-line"></span>
                                        {{tender.contact_infos.full_name}}
                                    </div>
                                {% endif %}
                                {% if tender.contact_infos.company %}
                                    <div class="col-md-6">
                                        <span class="ri-building-2-line"></span>
                                        {{tender.contact_infos.company}}
                                    </div>
                                {% endif %}
                                {% if tender.contact_infos.contact_email %}
                                    <div class="col-md-6">
                                        <span class="ri-at-line"></span>
                                        {{tender.contact_infos.contact_email}}
                                    </div>
                                {% endif %}
                                {% if tender.contact_infos.contact_phone %}
                                    <div class="col-md-6">
                                        <span class="ri-phone-line"></span>
                                        {{tender.contact_infos.contact_phone}}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
{% endblock %}
