{% load bootstrap4 static array_choices_display humanize %}

<div class="card c-card c-card--marche siae-card rounded-lg shadow-lg">
    <p class="text-right text-white bg-tertiary fs-sm rounded-top rounded-lg py-3 px-5 mb-0">
        Date limite de réponse : {{ tender.deadline_date|default:"" }}
    </p>

    <div class="card-body pb-5 px-5">
        <div class="row py-4">
            <div class="col-md-12">
                <h1>
                    {{ tender.title }}
                    <span class="fs-sm badge badge-base badge-pill badge-emploi float-right" aria-hidden="true">{{ tender_kind_display|default:tender.get_kind_display }}</span>
                </h1>
            </div>
        </div>
        <div class="row text-bold">
            <div class="col">
                <i class="ri-award-line"></i>
                {{ tender.get_sectors_names }}
            </div>
            <div class="col">
                <i class="ri-map-pin-2-line"></i>
                {% if tender.is_country_area %}
                    France entière
                {% else %}
                    {{ tender.get_perimeters_names }}
                {% endif %}
            </div>
            {% if tender.presta_type %}
                <div class="col">
                    <i class="ri-briefcase-4-line"></i>
                    {% array_choices_display tender 'presta_type' %}
                </div>
            {% endif %}
        </div>

        <hr class="my-5">

        <div class="py-2">
            <h2>
                Description
                {% if tender.start_working_date %}<span class="float-right fs-sm text-muted">Début d'intervention : {{ tender.start_working_date }}</span>{% endif %}
            </h2>
            <p>{{ tender.description|linebreaks }}</p>
        </div>

        <hr class="my-5">

        <div class="py-2">
            <h2>Contraintes techniques spécifiques</h2>
            <p>{{ tender.constraints|default:"-" }}</p>
        </div>

        <hr class="my-5">

        <div class="py-2">
            <h2>Montant du marché</h2>
            <p>{{ tender.get_amount_display|default:"-" }}</p>
        </div>

        {% if not hide_cta %}
            <hr class="my-5">
            {% if user.is_authenticated %}
                {% if tender.author == request.user or user_has_contact_click_date %}
                    {% include "tenders/_detail_contact.html" with tender=tender %}
                {% else %}
                    <button type="button" id="show-tender-contact-btn" class="btn btn-primary float-right mb-4" style="display:block">
                        Je souhaite répondre à ce besoin
                    </button>
                    <div id="show-tender-contact-content" class="py-2" style="display:none">
                        {% include "tenders/_detail_contact.html" with tender=tender %}
                    </div>
                {% endif %}
                {% if tender.author == request.user and siae_contact_click_count %}
                    <hr class="my-5" />
                    <div class="row">
                        <div class="col-12">
                            <a href="{% url 'tenders:detail-siae-interested' tender.slug %}" id="show-tender-siae-list-from-detail-btn" class="btn btn-primary">
                                {{ siae_contact_click_count }} structures intéressées
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
</div>
