{% load bootstrap4 static array_choices_display humanize %}
{% if is_draft %}
<div class="alert alert-warning fade show" role="status">
    <div class="row">
      <div class="col-auto pr-0">
        <i class="ri-information-line ri-xl text-warning"></i>
      </div>
      <div class="col">
        <p class="mb-0">Votre {{ tender_kind_display|default:tender.get_kind_display }} n'est pas encore publié.</p>
      </div>
    </div>
</div>
{% endif %}
<div class="card c-card c-card--marche siae-card rounded-lg shadow-lg">
    <p class="text-right text-white bg-tertiary fs-sm rounded-top rounded-lg p-3 mb-0">
        Date limite de réponse : {{ tender.deadline_date|default:"" }}
        {% if not source_form and tender.deadline_date_outdated %}
            <span class="badge badge-xs badge-base badge-pill badge-pilotage">Clôturé</span>
        {% endif %}
    </p>

    <div class="card-body pb-5 px-5">
        <div class="row py-4">
            <div class="col-md-12">
                <h1>
                    {{ tender.title }}
                    <span class="fs-sm badge badge-base badge-pill badge-emploi float-right" aria-hidden="true">{{ tender_kind_display|default:tender.get_kind_display }}</span>
                </h1>
            </div>
        </div>
        <div class="row text-bold">
            <div class="col" title="Secteurs d'activité : {{ tender.sectors_full_list_string }}">
                <i class="ri-award-line"></i>
                {{ tender.sectors_list_string }}
            </div>
            <div class="col" title="Lieu d'éxécution">
                <i class="ri-map-pin-2-line"></i>
                {% if tender.is_country_area %}
                    France entière
                {% elif tender.location %}
                    {{ tender.location.name_display }}
                {% else %}
                    {% comment %} maintain legacy perimeters display {% endcomment %}
                    {{tender.perimeters_list_string}}
                {% endif %}
            </div>
            {% if tender.presta_type %}
                <div class="col" title="Type de prestation">
                    <i class="ri-briefcase-4-line"></i>
                    {% array_choices_display tender 'presta_type' %}
                </div>
            {% endif %}
        </div>

        {% if not source_form %}
            <hr class="my-5">

            {% if user.is_authenticated %}
                {% if tender.author == request.user or user_partner_can_display_tender_contact_details %}
                    {% include "tenders/_detail_contact.html" with tender=tender %}
                {% elif user_siae_has_detail_contact_click_date and not tender.deadline_date_outdated %}
                    {% include "tenders/_detail_contact.html" with tender=tender %}
                {% elif user.kind == user.KIND_PARTNER %}
                    <div class="alert alert-info" role="alert">
                        <p class="mb-1">
                            <i class="ri-lightbulb-line ri-lg"></i>
                            <strong>Comment contacter le client ?</strong>
                        </p>
                        <p class="mb-0">
                            Contactez Sofiane via
                            <a href="mailto:{{CONTACT_EMAIL}}?subject=Demande d'information pour {{tender.title}}">
                                {{CONTACT_EMAIL}}</a>
                            pour être mis en relation avec le client.
                        </p>
                    </div>
                {% elif user.kind == user.KIND_SIAE and not user.has_siae %}
                    <div class="alert alert-info" role="alert">
                        <p class="mb-1">
                            <i class="ri-lightbulb-line ri-lg"></i>
                            <strong>Comment contacter le client ?</strong>
                        </p>
                        <p class="mb-0">
                            Pour accéder aux coordonnées du client, veuillez d'abord vous <a id="add-siae-btn" href="{% url 'dashboard:siae_search_by_siret' %}">rattacher à votre structure</a>.
                        </p>
                        <p>
                            Besoin d'aide ? contacter le support via le chat en ligne qui se trouve en bas à droite.
                        </p>
                    </div>
                {% elif tender.deadline_date_outdated %}
                    <div class="row">
                        <div class="col-12">
                            <span class="badge badge-sm badge-base badge-pill badge-pilotage float-right">Clôturé</span>
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-12">
                            <button type="button" id="show-tender-contact-modal-btn" class="btn btn-primary float-right mb-4" data-toggle="modal" data-target="#detail_contact_click_confirm_modal" title="Répondre à cette opportunité">
                                Répondre à cette opportunité
                            </button>
                        </div>
                    </div>
                    <div id="show-tender-contact-content" style="display:none">
                        {% include "tenders/_detail_contact.html" with tender=tender %}
                    </div>
                {% endif %}
                {% if tender.author == request.user and siae_detail_contact_click_count %}
                    <hr class="my-5" />
                    <div class="row">
                        <div class="col-12">
                            <a href="{% url 'tenders:detail-siae-interested' tender.slug %}" id="show-tender-siae-list-from-detail-btn" class="btn btn-primary">
                                {{ siae_detail_contact_click_count }} structures intéressées
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class="row">
                    <div class="col-12">
                        <a href="#" id="show-tender-contact-modal-btn" class="btn btn-primary float-right mb-4" data-toggle="modal" data-target="#login_or_signup_siae_tender_modal" data-next-params="{% url 'tenders:detail' tender.slug %}">
                            <span>Répondre à cette opportunité</span>
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endif %}

        <hr class="my-5">

        <h2>
            Description
            {% if tender.start_working_date %}
                <span class="float-right fs-sm text-muted">Début d'intervention : {{ tender.start_working_date }}</span>
            {% endif %}
        </h2>
        <p>{{ tender.description|linebreaks }}</p>

        {% if source_form or not source_form and tender.constraints %}
            <hr class="my-5">

            <h2>Contraintes techniques spécifiques</h2>
            <p>{{ tender.constraints|default:"-"|linebreaks }}</p>
        {% endif %}

        {% if source_form or tender.author == request.user or tender.accept_share_amount %}
            <hr class="my-5">

            <h2>
                {% if tender.author == request.user %}
                    Montant du marché
                {% else %}
                    Budget du client
                {% endif %}
            </h2>
            <p>{{ tender.get_amount_display|default:"-" }}</p>
            {% if source_form or tender.author == request.user %}
                <p>{{ tender.accept_share_amount_display }}</p>
            {% endif %}
        {% endif %}
    </div>

</div>
{% if is_draft %}
    <section class="pb-4 float-right">
        <a href="{% url 'tenders:create' tender.slug %}" class="btn btn-primary btn-ico">
            <i class="ri-pencil-fill ri-lg font-weight-normal" aria-hidden="true"></i>
            <span>Modifier</span>
        </a>
    </section>
{% endif %}
