{% extends "layouts/base.html" %}
{% load bootstrap4 static humanize %}

{% block title %}{{ tender.get_kind_display }} {{ tender.title }}{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'dashboard:home' %}">Mon espace</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'tenders:list' %}">{{ parent_title }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ tender.title|truncatechars:25 }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="container">
    <div class="card c-card c-card--marche siae-card rounded-lg shadow-lg mt-4">
        <p class="text-right text-white bg-tertiary fs-sm rounded-t-lg py-3 px-5">
            Date limite de réponse : {{ tender.deadline_date|default:"" }}
        </p>

        <div class="card-body pb-5 px-5">
            <div class="row py-4">
                <div class="col-md-12">
                    <h1>
                        {{ tender.title }}
                        <span class="fs-sm badge badge-base badge-pill badge-emploi float-right"  aria-hidden="true">{{ tender.get_kind_display }}</span>
                    </h1>
                </div>
            </div>
            <div class="row text-bold">
                <div class="col">
                    <span class="ri-award-line"></span>
                    {{ tender.get_sectors_names }}
                </div>
                <div class="col">
                    <span class="ri-map-pin-2-line"></span>
                    {{ tender.get_perimeters_names }}
                </div>
            </div>

            <hr class="my-5">

            <div class="py-2">
                <h2>Description <span class="float-right fs-sm  text-muted">Début d'intervention : {{ tender.start_working_date|default:"" }}</span></h2>
                <p>{{ tender.description }}</p>
            </div>

            <hr class="my-5">

            <div class="py-2">
                <h2>Contraintes techniques spécifiques</h2>
                <p>{{ tender.constraints }}</p>
            </div>

            <hr class="my-5">

            <div class="py-2">
                <h2>Montant du marché</h2>
                <p>{{ tender.amount.value|intcomma|default:"-" }}&nbsp;€</p>
            </div>

            <hr class="my-5">

            <button id="show-tender-contact" class="btn btn-block btn-primary btn-ico mb-4" type="button" data-toggle="collapse" data-target="#collapseTenderContact" aria-expanded="false" aria-controls="collapseTenderContact">
                <span>Afficher les coordonnées pour répondre à cet appel d'offre</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" id="collapse__ico-down"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M12 16l-6-6h12z"/></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" id="collapse__ico-up"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M12 8l6 6H6z"/></svg>
            </button>
            <div id="collapseTenderContact" class="collapse py-2">
                <h2>Pour répondre à cet appel d'offre</h2>
                <div class="row">
                    {% if tender.get_contact_full_name %}
                        <div class="col-md-6">
                            <span class="ri-account-circle-line"></span>
                            {{ tender.get_contact_full_name }}
                        </div>
                    {% endif %}
                    {% if tender.author.company_name %}
                        <div class="col-md-6">
                            <span class="ri-building-2-line"></span>
                            {{ tender.author.company_name }}
                        </div>
                    {% endif %}
                    {% if tender.contact_email %}
                        <div class="col-md-6">
                            <span class="ri-at-line"></span>
                            {{ tender.contact_email }}
                        </div>
                    {% endif %}
                    {% if tender.contact_phone %}
                        <div class="col-md-6">
                            <span class="ri-phone-line"></span>
                            {{ tender.contact_phone }}
                        </div>
                    {% endif %}
                </div>
                {% if tender.external_link %}
                    <div class="row">
                        <div class="col-12">
                            <a href="{{ tender.external_link }}" target="_blank" class="btn btn-outline-primary float-right">
                                Voir l'appel d'offre <span class="ri-external-link-line" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
