{% extends "layouts/base.html" %}
{% load bootstrap4 static humanize %}

{% block title %}{{ tender_kind_display }} {{ tender.title }}{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'wagtail_serve' '' %}">Accueil</a></li>
                        {% if user.is_authenticated %}
                            <li class="breadcrumb-item"><a href="{% url 'dashboard:home' %}">Tableau de bord</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'tenders:list' %}">{{ parent_title }}</a></li>
                        {% endif %}
                        <li class="breadcrumb-item active" aria-current="page" title="{{ tender.title }}">{{ tender.title|truncatechars:25 }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="s-section">
    <div class="s-section__container container">
        {# Afficher les contacts en haut + conseil #}
        {% if not tender.deadline_date_outdated and not tender.response_is_anonymous %}
            {% if siae_has_detail_contact_click_date %}
                <div class="row">
                    {% if not tender.response_is_anonymous %}
                        <div class="col-12 col-lg-8">
                            <div class="alert alert-info fade show" role="status">
                                {% include "tenders/_detail_contact.html" with tender=tender source="alert" %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-12 col-lg-4">
                        <div class="alert alert-info mt-3 mt-lg-0" role="alert">
                            <p class="mb-1">
                                <i class="ri-information-line ri-lg"></i>
                                <strong>Conseil</strong>
                            </p>
                            <p class="mb-0 fs-sm">
                                N'attendez pas et contactez dès maintenant le client.
                                En fonction, envoyez lui un devis, une plaquette commerciale ou répondez à son marché.
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        <div class="row">
            {# Main tender card #}
            <div class="col-12 col-lg-8 order-2">
                {% include "tenders/_detail_card.html" with tender=tender %}
            </div>
            {# Sidebar with actions #}
            <div class="col-12 col-lg-4 order-1 order-lg-2">
                {% comment %} admin info {% endcomment %}
                {% if is_admin %}
                    {% include "tenders/_detail_admin_extra_info.html" with tender=tender %}
                {% endif %}
                {% comment %} details author {% endcomment %}
                {% if user == tender.author %}
                    {% include "tenders/_detail_side_infos_author.html" %}
                {% else %}
                    {% if not tender.deadline_date_outdated %}
                        {% comment %} stats of views {% endcomment %}
                        {% if tender.siae_email_link_click_date_or_detail_display_date_count > 0 %}
                            <div class="alert alert-warning mt-3 mt-lg-0" role="alert">
                                <p class="mb-0 fs-sm">
                                    Déjà {{ tender.siae_email_link_click_date_or_detail_display_date_count }} prestataire{{ tender.siae_email_link_click_date_or_detail_display_date_count|pluralize }} inclusif{{ tender.siae_email_link_click_date_or_detail_display_date_count|pluralize }}
                                    {{ tender.siae_email_link_click_date_or_detail_display_date_count|pluralize:"a,ont" }} vu le besoin de ce client.
                                </p>
                            </div>
                        {% endif %}
                        {% if user.is_authenticated and not tender.response_is_anonymous %}
                            {% comment %} infos for partner {% endcomment %}
                            {% if user.kind == user.KIND_PARTNER %}
                                {% if not user_partner_can_display_tender_contact_details %}
                                    <div class="alert alert-info" role="alert">
                                        <p class="mb-1">
                                            <i class="ri-lightbulb-line ri-lg"></i>
                                            <strong>Comment contacter le client ?</strong>
                                        </p>
                                        <p class="mb-0">
                                            Contactez Sofiane via
                                            <a href="mailto:{{ TEAM_CONTACT_EMAIL }}?subject=Demande d'information pour {{ tender.title }}">{{ TEAM_CONTACT_EMAIL }}</a>
                                            pour être mis en relation avec le client.
                                        </p>
                                    </div>
                                {% endif %}
                            {% comment %} infos for siaes {% endcomment %}
                            {% elif user.kind == user.KIND_SIAE %}
                                {% if not user.has_siae %}
                                    <div class="alert alert-info" role="alert">
                                        <p class="mb-1">
                                            <i class="ri-lightbulb-line ri-lg"></i>
                                            <strong>Comment contacter le client ?</strong>
                                        </p>
                                        <p class="mb-0">
                                            Pour accéder aux coordonnées du client, veuillez d'abord vous <a id="add-siae-btn" href="{% url 'dashboard_siaes:siae_search_by_siret' %}">rattacher à votre structure</a>.
                                        </p>
                                        <p>
                                            Besoin d'aide ? contacter le support via le chat en ligne qui se trouve en bas à droite.
                                        </p>
                                    </div>
                                {% elif not siae_has_detail_contact_click_date %}
                                    {% include "tenders/_detail_cta.html" with tender=tender user_can_click=True %}
                                    {% include "tenders/_detail_cta_cocontracting.html" with tender=tender %}
                                {% endif %}
                            {% endif %}
                        {% comment %} if siae_id {% endcomment %}
                        {% elif siae_id and not tender.response_is_anonymous %}
                            {% if not siae_has_detail_contact_click_date %}
                                {% include "tenders/_detail_cta.html" with tender=tender user_can_click=True siae_id=siae_id %}
                                {% include "tenders/_detail_cta_cocontracting.html" with tender=tender siae_id=siae_id %}
                            {% else %}
                                {% include "tenders/_detail_contact.html" with tender=tender %}
                            {% endif %}
                        {% comment %} for anonymous tenders {% endcomment %}
                        {% elif tender.response_is_anonymous and siae_id or tender.response_is_anonymous and user.is_authenticated %}
                            {% if not siae_has_detail_contact_click_date %}
                                {% include "tenders/_detail_cta.html" with tender=tender user_can_click=True tender_is_anonymous=True %}
                            {% else %}
                                {% include "tenders/_detail_success_contact.html" %}
                            {% endif %}
                        {% else %}
                            {% include "tenders/_detail_cta.html" with tender=tender user_can_click=False %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block modals %}
{% include "auth/_login_or_signup_siae_tender_modal.html" %}
{% include "tenders/_detail_contact_click_confirm_modal.html" %}
{% endblock %}

{% block extra_js %}
{% if TALLY_NPS_FORM_ID and show_nps %}
    <script async type="text/javascript" src="https://tally.so/widgets/embed.js"></script>
    <script type="text/javascript">
        window.TallyConfig = {
            "formId": "{{ TALLY_NPS_FORM_ID }}",
            "popup": {
                "width": 400,
                "emoji": {
                    "text": "👋",
                    "animation": "wave"
                },
                "open": {
                    "trigger": "time",
                    "ms": 2000
                },
                // "showOnce": true,  // show the popup only once to the same visitor (even if he didn't submit)
                "doNotShowAfterSubmit": true,  // after the visitor submits the form, don't show the popup again
                "autoClose": 0,  // automatically hide the popup after the form is submitted. optionally set a delay in seconds.
                "hideTitle": true,
                "layout": "modal"  // display in the center instead of bottom right corner
            },
        };
    </script>
{% endif %}
{% endblock %}
