{% load bootstrap4 static array_choices_display humanize %}
{% if is_draft %}
<div class="alert alert-warning fade show" role="status">
    <div class="row">
      <div class="col-auto pr-0">
        <i class="ri-information-line ri-xl text-warning"></i>
      </div>
      <div class="col">
        <p class="mb-0">Votre {{ tender_kind_display|default:tender.get_kind_display }} n'est pas encore publié.</p>
      </div>
    </div>
</div>
{% endif %}
<div class="card c-card c-card--marche siae-card rounded-lg shadow-lg">
    <p class="text-right text-white bg-tertiary fs-sm rounded-top rounded-lg py-3 px-5 mb-0">
        Date limite de réponse : {{ tender.deadline_date|default:"" }}
    </p>

    <div class="card-body pb-5 px-5">
        <div class="row py-4">
            <div class="col-md-12">
                <h1>
                    {{ tender.title }}
                    <span class="fs-sm badge badge-base badge-pill badge-emploi float-right" aria-hidden="true">{{ tender_kind_display|default:tender.get_kind_display }}</span>
                </h1>
            </div>
        </div>
        <div class="row text-bold">
            <div class="col">
                <i class="ri-award-line"></i>
                {{ tender.sectors_list_string }}
            </div>
            <div class="col">
                <i class="ri-map-pin-2-line"></i>
                {% if tender.is_country_area %}
                    France entière
                {% else %}
                    {{ tender.perimeters_list_string }}
                {% endif %}
            </div>
            {% if tender.presta_type %}
                <div class="col">
                    <i class="ri-briefcase-4-line"></i>
                    {% array_choices_display tender 'presta_type' %}
                </div>
            {% endif %}
        </div>

        <hr class="my-5">

        <div class="py-2">
            <h2>
                Description
                {% if tender.start_working_date %}
                    <span class="float-right fs-sm text-muted">Début d'intervention : {{ tender.start_working_date }}</span>
                {% endif %}
            </h2>
            <p>{{ tender.description|linebreaks }}</p>
        </div>

        <hr class="my-5">

        <div class="py-2">
            <h2>Contraintes techniques spécifiques</h2>
            <p>{{ tender.constraints|default:"-"|linebreaks }}</p>
        </div>

        {% if source_form or tender.author == request.user or tender.accept_share_amount %}
            <hr class="my-5">

            <div class="py-2">
                <h2>Montant du marché</h2>
                <p>{{ tender.get_amount_display|default:"-" }}</p>
                {% if source_form or tender.author == request.user %}
                    <p>{{ tender.accept_share_amount_display }}</p>
                {% endif %}
            </div>
        {% endif %}

        {% if not source_form %}
            <hr class="my-5">
            {% if user.is_authenticated %}
                {% if tender.author == request.user or user_has_contact_click_date or user_can_display_tender_contact_details %}
                    {% include "tenders/_detail_contact.html" with tender=tender %}
                {% elif user.kind == user.KIND_PARTNER %}
                    <div class="alert alert-info" role="alert">
                        <p class="mb-1">
                            <i class="ri-lightbulb-line ri-lg"></i>
                            <strong>Comment contacter le client ?</strong>
                        </p>
                        <p class="mb-0">
                            Pour être mis en relation avec l'acheteur, contactez Sofiane ou Abdessamad via le chat de discussion qui se trouve en bas à droite.
                        </p>
                    </div>
                {% elif user.kind == user.KIND_SIAE and not user.has_siae %}
                    <div class="alert alert-info" role="alert">
                        <p class="mb-1">
                            <i class="ri-lightbulb-line ri-lg"></i>
                            <strong>Comment contacter le client ?</strong>
                        </p>
                        <p class="mb-0">
                            Pour accéder aux coordonnées du client, veuillez d'abord vous <a id="add-siae-btn" href="{% url 'dashboard:siae_search_by_siret' %}">rattacher à votre structure</a>.
                        </p>
                        <p>
                            Besoin d'aide ? contacter le support via le chat en ligne qui se trouve en bas à droite.
                        </p>
                    </div>
                {% else %}
                    <button type="button" id="show-tender-contact-modal-btn" class="btn btn-primary float-right mb-4" data-toggle="modal" data-target="#contact_click_confirm_modal" title="Répondre à cette opportunité">
                        Répondre à cette opportunité
                    </button>
                    <div id="show-tender-contact-content" class="py-2" style="display:none">
                        {% include "tenders/_detail_contact.html" with tender=tender %}
                    </div>
                {% endif %}
                {% if tender.author == request.user and siae_contact_click_count %}
                    <hr class="my-5" />
                    <div class="row">
                        <div class="col-12">
                            <a href="{% url 'tenders:detail-siae-interested' tender.slug %}" id="show-tender-siae-list-from-detail-btn" class="btn btn-primary">
                                {{ siae_contact_click_count }} structures intéressées
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <a href="#" id="show-tender-contact-modal-btn" class="btn btn-primary float-right mb-4" data-toggle="modal" data-target="#login_or_signup_siae_tender_modal" data-next-params="{% url 'tenders:detail' tender.slug %}">
                    <span>Répondre à cette opportunité</span>
                </a>
            {% endif %}
        {% endif %}
    </div>

</div>
{% if is_draft %}
    <section class="pb-4 float-right">
        <a href="{% url 'tenders:create' tender.slug %}" class="btn btn-primary btn-ico">
            <i class="ri-pencil-fill ri-lg font-weight-normal" aria-hidden="true"></i>
            <span>Modifier</span>
        </a>
    </section>
{% endif %}
