{% extends BASE_TEMPLATE %}
{% load bootstrap4 static %}

{% block title %}{{ page_title }}{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'dashboard:home' %}">Tableau de bord</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section>
    <div class="container py-4">
        <div class="row">
            <div class="col-12 col-lg">
                <h1>{{ page_title }}</h1>
            </div>
            <!-- "buyer": can create new tenders -->
            {% if user.kind != user.KIND_SIAE %}
                <div class="col-12 col-md-auto">
                    <a href="{% url 'tenders:create' %}" id="tender-list-create" class="btn btn-primary">
                        <i class="ri-add-fill ri-lg mr-2"></i>Publier un besoin d'achat
                    </a>
                </div>
                {% endif %}
                <div class="col-12 my-5">
                    <!-- "buyer": display tenders which the user is the author -->
                    {% if user.kind != user.KIND_SIAE %}
                    {% block htmx %}
                    <div id="tendersList">
                        <ul role="navigation" class="nav nav-tabs nav-tabs--marche">
                            {% url 'tenders:list' as TENDERS_LIST_URL %}
                            {% url 'tenders:list' status=STATUS_DRAFT as TENDERS_DRAFT_LIST_URL %}
                            {% url 'tenders:list' status=STATUS_PUBLISHED as TENDERS_PUBLISHED_LIST_URL %}
                            {% url 'tenders:list' status=STATUS_VALIDATED as TENDERS_VALIDATED_LIST_URL %}

                            <li class="nav-item">
                                <a role="button" hx-push-url="true" hx-get="{{TENDERS_LIST_URL}}"
                                    class="nav-link{% if request.get_full_path == TENDERS_LIST_URL %} active{% endif %}"
                                    hx-target="#tendersList" hx-swap="outerHTML">
                                    Tous
                                </a>
                            </li>
                            <li class="nav-item">
                                <a role="button" hx-push-url="true" hx-get="{{TENDERS_DRAFT_LIST_URL}}"
                                    class="nav-link{% if request.get_full_path == TENDERS_DRAFT_LIST_URL %} active{% endif %}"
                                    hx-target="#tendersList" hx-swap="outerHTML">
                                    Brouillon
                                </a>
                            </li>
                            <li class="nav-item">
                                <a role="button" hx-push-url="true" hx-get="{{TENDERS_PUBLISHED_LIST_URL}}"
                                    class="nav-link{% if request.get_full_path == TENDERS_PUBLISHED_LIST_URL %} active{% endif %}"
                                    hx-target="#tendersList" hx-swap="outerHTML">
                                    Publié
                                </a>
                            </li>
                            <li class="nav-item">
                                <a role="button" hx-push-url="true" hx-get="{{TENDERS_VALIDATED_LIST_URL}}"
                                    class="nav-link{% if request.get_full_path == TENDERS_VALIDATED_LIST_URL %} active{% endif %}"
                                    hx-target="#tendersList" hx-swap="outerHTML">
                                    Envoyé
                                </a>
                            </li>

                        </ul>
                        {% for tender in tenders %}
                            {% include "tenders/_list_item_buyer.html" with tender=tender %}
                        {% endfor %}
                        {% include "includes/_pagination.html" %}
                        {% if not tenders %}
                            <p class="text-muted my-5">
                                {% if request.get_full_path == TENDERS_LIST_URL %}
                                    Publiez un besoin pour trouver des prestataires inclusifs près de chez vous.
                                {% endif %}
                                {% if request.get_full_path == TENDERS_DRAFT_LIST_URL %}
                                    Vous n'avez aucun brouillon de besoin pour le moment.
                                {% endif %}
                                {% if request.get_full_path == TENDERS_PUBLISHED_LIST_URL %}
                                    Vous n'avez aucun besoin de publié pour le moment.
                                {% endif %}
                                {% if request.get_full_path == TENDERS_VALIDATED_LIST_URL %}
                                    Vous n'avez aucun besoin d'envoyé pour le moment.<br>
                                    Contacter notre équipe en cas de problème avec un de vos dépôts de besoins publié et pas encore envoyé.
                                {% endif %}
                            </p>
                        {% endif %}
                    </div>
                <!-- "siae": display opportunities -->
                {% endblock %}

                {% else %}
                    {% for tender in tenders %}
                        {% include "tenders/_list_item_siae.html" with tender=tender %}
                    {% endfor %}
                    {% include "includes/_pagination.html" %}
                    {% if not tenders %}
                        <p class="text-muted">
                            Désolé, nous n'avons aucune opportunités à vous présenter pour le moment.
                            <br />
                            Si ce n'est pas déjà fait, pensez à <a href="{% url 'dashboard:home' %}">compléter votre fiche structure</a>
                            pour optimiser vos chances de trouver de nouvelles opportunités.
                        </p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    $(document).on("click", ".c-card--link", function(e) {
        window.location.href = $(this).data("url");
    });
</script>
{% endblock %}
