{% extends "layouts/base.html" %}
{% load bootstrap4 static %}

{% block title %}Ajout d'un besoin{{ block.super }}{% endblock %}

{% block content %}
<section>
    <div class="container py-4">
        <h1>Consulter les appels d'offre et devis référencés</h1>
        <div class="d-flex justify-content-center">
            <div class="col-12 d-block my-5 py-3">
                {% if tenders %}
                        {% for tender in tenders %}
                            {% include "tenders/list_item_tenders.html" with tender=tender %}
                        {% endfor %}

                    {% include "includes/_pagination.html" %}
                {% endif %}

            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
{% endblock %}
