{% extends "layouts/base.html" %}
{% load bootstrap4 static %}

{% block title %}Besoins en cours{{ block.super }}{% endblock %}

{% block content %}
<section>
    <div class="container py-4">
        <h1>Besoins en cours</h1>
        <a href="{% url 'tenders:add' %}" class="btn btn-primary my-4">
            <span>Publier un besoin d’achat</span>
        </a>
        <div class="d-flex justify-content-center">
            <div class="col-12 d-block my-5 py-3">
                {% if tenders %}
                    {% for tender in tenders %}
                        {% include "tenders/list_item_tenders.html" with tender=tender %}
                    {% endfor %}

                    {% include "includes/_pagination.html" %}
                {% endif %}

            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script>
    $(document).on("click", ".c-card--link", function(e) {
        window.location.href = $(this).data("url");
    });

</script>
{% endblock %}
