{% extends "layouts/base.html" %}
{% load bootstrap4 static %}

{% block title %}{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'dashboard:home' %}">Mon espace</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'tenders:list' %}">Besoins en cours</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Déposer un besoin</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="s-title-01">
    <div class="s-title-01__container container">
        <div class="s-title-01__row row">
            <div class="s-title-01__col col-12">
                <h1 class="s-title-01__title h1 mb-0"><strong><p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p></strong></h1>
            </div>
        </div>
    </div>
</section>

<section class="s-section">
    <div class="s-section__container container">
        <div class="s-section__row row">
            <div class="s-section__col col-12 col-lg-7">
                <div class="c-form" id="formAddTender">
                    <form action="" method="post">{% csrf_token %}
                        <table>
                        {{ wizard.management_form }}
                        {% if wizard.form.forms %}
                            {{ wizard.form.management_form }}
                            {% for form in wizard.form.forms %}
                                {{ form }}
                            {% endfor %}
                        {% else %}
                            {{ wizard.form }}
                        {% endif %}
                        </table>
                        {% if wizard.steps.prev %}
                        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}"> first step</button>
                        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}"> prev step</button>
                        {% endif %}
                        <input type="submit" value="submit"/>
                        </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
