{% extends "layouts/base.html" %}
{% load bootstrap4 static %}

{% block title %}{{ page_title }}{{ block.super }}{% endblock %}

{% block breadcrumbs %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'dashboard:home' %}">Tableau de bord</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'tenders:list' %}">Mes besoins</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'tenders:detail' tender.slug %}">{{ tender.title|truncatechars:25 }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Structures intéressées</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="pt-4 pb-6">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <h1 class="mb-3 mb-lg-5">{{ tendersiaes.count }} structures intéressées</h1>
            </div>
            <div class="col-12 col-lg-4">
                <button type="button" class="btn btn-ico white-space-nowrap text-decoration-none btn-link text-important px-0 float-right {% if tendersiaes.count == 0 %}disabled{% endif %}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="text-decoration-none ml-0">Télécharger la liste</span>
                    <i class="ri-download-line ri-lg"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="{% url 'siae:search_results_download' %}?tender={{ tender.slug }}&format=xls" id="tender-siae-interested-export-xls" class="dropdown-item">
                        Télécharger la liste (.xls)
                    </a>
                    <a href="{% url 'siae:search_results_download' %}?tender={{ tender.slug }}&format=csv" id="tender-siae-interested-export-csv" class="dropdown-item">
                        Télécharger la liste (.csv)
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {% for tendersiae in tendersiaes %}
                    {% include "siaes/_card_tender.html" with siae=tendersiae.siae %}
                {% endfor %}
                {% include "includes/_pagination.html" %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
