{% extends "layouts/base.html" %}
{% load dsfr_tags %}

{% block page_title %}Avez-vous contractualisé ?{{ block.super }}{% endblock page_title %}

{% block breadcrumb %}
    {% dsfr_breadcrumb %}
{% endblock breadcrumb %}

{% block content %}
<section>
    <div class="fr-container">
        <h1>Avez-vous contractualisé ?</h1>
        <div class="fr-grid-row">
            <div class="fr-col-12">
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="fr-grid-row fr-grid-row--gutters">
                        <div class="fr-col-12 fr-col-lg-8">                            
                            {% dsfr_form_field form.survey_transactioned_answer %}
                        </div>
                        <div class="fr-col-12 fr-col-lg-4">
                            <div class="fr-callout fr-p-4v">
                                <h3 class="fr-callout__title fr-text--sm"><span class="fr-icon-information-line" aria-hidden="true"></span> Pour le besoin</h3>
                                <p class="fr-callout__text fr-text--sm fr-pl-7v">
                                    <strong>{{ tender.title }}</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% if tender.survey_transactioned_answer == None or tender.survey_transactioned_answer == True %}
                        <div class="fr-grid-row fr-grid-row--gutters">
                            <div class="fr-col-12 fr-col-lg-8">
                                {% dsfr_form_field form.survey_transactioned_amount %}
                            </div>
                            <div class="fr-col-12 fr-col-lg-4">
                                <div class="fr-callout fr-p-4v">
                                    <h3 class="fr-callout__title fr-text--sm"><span class="fr-icon-information-line" aria-hidden="true"></span></h3>
                                    <p class="fr-callout__text fr-text--sm fr-pl-7v">
                                        Cette information restera strictement confidentielle et ne sera exploitée qu'à des fins statistiques.
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="fr-grid-row fr-grid-row--gutters">
                        <div class="fr-col-12 fr-col-lg-8">
                            {% dsfr_form_field form.survey_transactioned_feedback %}
                        </div>
                    </div>
                    <div class="fr-grid-row fr-grid-row--gutters">
                        <div class="fr-col-12 fr-col-lg-8">
                            <div class="fr-btns-group fr-btns-group--inline fr-btns-group--right">
                                <button type="submit" class="fr-btn">
                                    Envoyer ma réponse
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block extra_js %}
    {% include "tenders/_detail_nps_tally_form.html" %}
{% endblock extra_js %}
