{% extends "layouts/base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}

{% block meta_description %}
    <meta name="description" content="{{ page.search_description }}">
{% endblock %}

{% block title %}{{page.seo_title}} | {{ block.super }}{% endblock %}


{% block content %}
    <section class="s-page-menu-01 s-page-menu-01--marche pb-5 pb-lg-7">
        <div class="s-page-menu-01__container container">
            <div class="s-page-menu-01__row row">
                <div class="s-page-menu-01__col s-page-menu-01__col--title col-12">
                    <h1 class="mb-5">
                        {{page.title}}
                    </h1>
                    <ul class="nav nav-tabs nav-tabs--marche">
                        <li class="nav-item">
                            <a href="{% routablepageurl page "post_list" %}"
                               class="nav-link{% if not category %} active{% endif %}">
                                Toutes nos ressources
                            </a>
                        </li>
                        {% for cat in categories %}
                            <li class="nav-item">
                                <a href="{% routablepageurl page "category_view" cat_slug=cat.slug %}"
                                   class="nav-link{% if category and cat.slug == category.slug %} active{% endif %}">
                                    {{cat.name}}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {% for article in article_list %}
                    {% include "cms/article_item.html" with article=article %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}