.p-partenaires {
	.s-page-menu-01.has-illustration-bg-01 .container::before {
		right: 1rem;
	}
} 

.p-homepage {
	.align-slide-stretch {
		.slick-slide {
			display: flex !important;
			height: auto !important;
			
			.card {
				display: flex !important;
			}
		}
	}
} 
