{% load static array_choices_display %}

<div class="s-cards-grid-01__col col mb-3 mb-md-5">
    <div class="card c-card c-card--mini h-100">
        <div class="card-header">
            <div class="d-flex align-items-center">
                {% comment "hidden" %}
                {% if siae.images|length %}
                    {% set image = siae.images[0] %}
                    <img src="{{ (ListingImageConstants.IMAGE_FOLDER ~ image.name) | imagine_filter('listing_xsmall') }}" height="40" alt="{{ siae.name }}" class="rounded-circle mr-2" />
                {% else %}
                    <img src="{{ (ListingImageConstants.IMAGE_FOLDER ~ ListingImageConstants.IMAGE_DEFAULT) | imagine_filter('listing_xsmall') }}" height="40" alt="{{ siae.name }}"s class="rounded-circle mr-2" />
                {% endif %}
                {% endcomment %}
                <a href="{% url 'siae:detail' siae.id %}" target="_blank" class="d-block font-weight-bold text-decoration-none lh-sm stretched-link">
                    {% if siae.brand %}
                        {{ siae.brand }}
                    {% else %}
                        {{ siae.name }}
                    {% endif %}
                </a>
            </div>
        </div>
        <div class="card-body">
            <ul class="list-unstyled">
            <li class="d-flex lh-sm mb-2">
                <img src="{% static 'itou/images/ico-bicro-marche-geo.svg' %}" alt="" class="mr-2" height="25">
                <span>Situé à {{ siae.city }}</span>
            </li>
            {% if siae.kind %}
            <li class="d-flex lh-sm mb-2">
                <img src="{% static 'itou/images/ico-bicro-marche-secteur.svg' %}" alt="" class="mr-2" height="25">
                <span>
                    {% if siae.kind == 'ETTI' %}
                        Intérim
                    {% elif siae.kind == 'AI' %}
                        Mise à disposition du personnel
                    {% else %}
                        {% array_choices_display siae 'presta_type' %}
                    {% endif %}
                </span>
            </li>
            {% endif %}
            </ul>
        </div>
    </div>
</div>
