{% extends "layouts/base.html" %}
{% load static array_choices_display m2m_list_display %}

{% block title %}{{ siae.name }}{{ block.super }}{% endblock %}

{% block extra_head %}
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:title" content="{{ siae.name }}" />
{# <meta property="og:description" content="" /> #}
{# <meta property="og:image" content="{{ }}" /> #}
{# <meta property="og:image:alt" content="Logo : {{ siae.name }}" /> #}
<meta property="twitter:url" content="{{ request.build_absolute_uri }}" />
<meta property="twitter:title" content="{{ siae.name }}" />
{% endblock %}

{% block breadcrumbs %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="c-breadcrumb c-breadcrumb--marche" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'pages:home' %}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'siae:search_results' %}?{{ current_search_query }}" title="Revenir aux résultats de recherche">Recherche</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ siae.name }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="s-siae-03">
    <div class="container">
        <div id="dir-profile" class="dir-profile-row row">
            <div id="content" class="col-12 listing-area">
                <!-- profile-detail basic info -->
                <div id="user_profile" class="row align-items-start">
                    <div class="gallery-small slideshow col-12 col-lg-3">
                        <div class="img-container">
                            {% if siae.logo_url %}
                                <img src="{{ siae.logo_url }}" class="img-fluid" alt="Logo de la structure {{ siae.name }}" />
                            {% else %}
                                <img src="{% static 'img/default-listing.png' %}" class="img-fluid" alt="{{ siae.name }}" />
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-12 col-lg-9 pl-md-5">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="h3 mb-3 mt-1">{{ siae.name_display }}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="row">
                                    <div class="col-12 mb-3">
                                        <span class="prof_icon mr-1"><img src="{% static 'img/prof_siret.svg' %}" /></span>
                                        <span>Siret : {{ siae.siret_display }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 mb-3">
                                        <span class="prof_icon mr-1"><img src="{% static 'img/prof_workers.svg' %}" /></span>
                                        <span>Salariés<sup>*</sup> : {% if siae.ig_employees %}{{ siae.ig_employees }}{% else %}non disponible{% endif %}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 mb-3">
                                        <span class="prof_icon mr-1"><img src="{% static 'img/prof_calendar.svg' %}" /></span>
                                        <span>Date de création<sup>*</sup> : {% if siae.ig_date_constitution %}{{ siae.ig_date_constitution|date:"Y" }}{% else %}non disponible{% endif %}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="row">
                                    <div class="col-12 mb-3">
                                        <span class="prof_icon mr-1"><img src="{% static 'img/prof_types.svg' %}" /></span>
                                        <span>{% array_choices_display siae 'presta_type' %}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 mb-3">
                                        <span class="prof_icon mr-1"><img src="{% static 'img/prof_nature.svg' %}" /></span>
                                        <span>{{ siae.get_kind_display }} ({{ siae.kind }})</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- profile-detail sidebar -->
                <aside id="sidebar">
                    <div class="profile mb-3">
                        {% if not siae.website and not user %}
                        <div class="row">
                            <div class="col-12 mb-3">
                                <a id="contact" href="https://itou.typeform.com/to/nxG0HlYx#data={{ siae.id }}" class="btn btn-outline-primary btn-block">Être recontacté</a>
                            </div>
                        </div>
                        {% endif %}
                        <div class="profile_capsule">
                            {% if siae.contact_website or siae.users.count %}
                            <div class="map_coordonnees">
                                <button class="map_coordonnees__btn btn btn-block btn-primary btn-ico mb-3" type="button" data-toggle="collapse" data-target="#collapseCoordonnees" aria-expanded="false" aria-controls="collapseCoordonnees">
                                    <span>Afficher les coordonnées</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" id="map_coordonnees__ico-down"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M12 16l-6-6h12z"/></svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" id="map_coordonnees__ico-up"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M12 8l6 6H6z"/></svg>
                                </button>
                                <div class="collapse mb-lg-2" id="collapseCoordonnees">
                                    <ul class="deflist">
                                        {% if siae.contact_website %}
                                            <li>
                                                <span class="prof_icon"><img src="{% static 'img/profile-ico-web.svg' %}" /></span>
                                                <a id="company_website" href="{{ siae.contact_website }}" target="_blank" rel="nofollow noopener">{{ siae.contact_website }}</a>
                                            </li>
                                        {% endif %}
                                        {% if siae.users.count %}
                                            {% if siae.contact_email %}
                                                <li>
                                                    <span class="prof_icon"><img src="{% static 'img/profile-ico-@.svg' %}" /></span>
                                                    <span class="prof_email">{{ siae.contact_email }}</span>
                                                </li>
                                            {% endif %}
                                            {% if siae.contact_phone %}
                                                <li>
                                                    <span class="prof_icon"><img src="{% static 'img/profile-ico-phone.svg' %}" /></span>
                                                    <span>{{ siae.contact_phone }}</span>
                                                </li>
                                            {% endif %}
                                            {% if siae.contact_short_name %}
                                                <li>
                                                    <span class="prof_icon"><img src="{% static 'img/profile-ico-user.svg' %}" /></span>
                                                    <span>{{ siae.contact_short_name }}</span>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                        <li>
                                            <span class="prof_icon"><img src="{% static 'img/profile-ico-pin.svg' %}" /></span>
                                            <span>{{ siae.post_code }} {{ siae.city }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                            <div class="map-holder mb-3">
                                <div id="map-siae" class="map-canvas"></div>
                            </div>
                            <div class="map_details">
                                <ul class="deflist">
                                    <li>
                                        <span class="prof_icon"><img src="{% static 'img/profile-ico-geo.svg' %}" /></span>
                                        <span>Situé à {{ siae.city }}</span>
                                    </li>
                                    <li>
                                        <span class="prof_icon"><img src="{% static 'img/profile-ico-pin.svg' %}" /></span>
                                        <span>Intervient sur : {{ siae.geo_range_pretty_display }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <hr class="mt-5 d-block d-lg-none">
                    </div>
                </aside>

                <!-- profile-detail suite -->
                <article id="user_detail" class="profile-detail">
                    <!-- Second Row : Secteurs, Références -->
                    <div class="row">
                        <div class="col-sm-6 img-left mb-3">
                            <div class="il-l">
                                <img class="cell_icon" src="{% static 'img/prof_sectors.svg' %}" />
                            </div>
                            <div class="il-r">
                                <h3 class="h3 mb-1 mt-1">Secteurs d'activité</h3>
                                <ul>
                                    {% if siae.kind == 'ETTI' and siae.sectors.count > 3 %}
                                        <li>Multisectoriel</li>
                                    {% elif siae.sectors.count %}
                                        {% for sector in siae.sectors.all %}
                                            {% if forloop.counter0 < 7 %}
                                                <li>{{ sector.name }}</li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if siae.sectors.count > 6 %}
                                            <li>...</li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                                {% if not siae.sectors.count %}
                                    <p>Non renseigné</p>
                                {% endif %}
                            </div>
                        </div>
                        {% if siae.client_references.count %}
                        <div class="col-sm-6 img-left mb-3">
                            <div class="il-l">
                                <img class="cell_icon" src="{% static 'img/prof_images.svg' %}" />
                            </div>
                            <div class="il-r">
                                <h3 class="h3 mb-1 mt-1">Références clients</h3>
                                {% for image in siae.client_references.all %}
                                    {% if image.logo_url %}
                                        <img class="client-ref" src="{{ image.logo_url }}" alt="{{ image.name }}" title="{{ image.name }}" />
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <!-- Third row : Description -->
                    {% if siae.users.count %}
                    <div class="row">
                        <div class="col-sm-12 img-left mb-3">
                            <div class="il-l">
                                <img class="cell_icon" src="{% static 'img/prof_discuss.svg' %}" />
                            </div>
                            <div class="il-r">
                                <h3 class="h3 mb-1 mt-1">Présentation de la structure</h3>
                                <div>
                                    {% if siae.description %}
                                        {{ siae.description|linebreaks }}
                                    {% else %}
                                        Non renseigné
                                    {% endif %}
                                </div>
                                {% if siae.is_cocontracting %}
                                    <div>
                                        <span class="badge badge-pill badge-success-outline">Ouvert à la co-traitance</span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <!-- Fourth Row : Prestations -->
                    {% if siae.offers.count %}
                    <div class="row">
                        <div class="col-sm-12 img-left mb-3">
                            <div class="il-l">
                                <img class="cell_icon" src="{% static 'img/prof_discuss.svg' %}" />
                            </div>
                            <div class="il-r">
                                <h3 class="h3 mb-1 mt-1">Les prestations proposées</h3>
                                <div class="row">
                                {% for offer in siae.offers.all %}
                                    <article class="prests-post col-12 {% if siae.offers.count > 1 %}col-lg-6{% endif %} mt-2">
                                        <img class="cell_icon" src="{% static 'img/prof_dot.png' %}" />
                                        <h4>{{ offer.name }}</h4>
                                        <div>
                                            {{ offer.description|linebreaks }}
                                        </div>
                                    </article>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <!-- Fifth Row : Réseaux, Labels -->
                    {% if siae.networks.count or siae.labels.count %}
                    <div class="row">
                        {% if siae.networks.count %}
                            <div class="col-12 col-md-6 img-left mb-3">
                                <div class="il-l">
                                    <img class="cell_icon" src="{% static 'img/prof_elements.svg' %}" />
                                </div>
                                <div class="il-r">
                                    <h3 class="h3 mb-1 mt-1">Réseaux</h3>
                                    <ul>
                                    {% for network in siae.networks.all %}
                                        <li><a href="{{ network.website }}" class="network_link" rel="noopener" target="_blank">{{ network.brand }}</a></li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                        {% if siae.labels.count %}
                            <div class="col-12 col-md-6 img-left mb-3">
                                <div class="il-l">
                                    <img class="cell_icon" src="{% static 'img/prof_images.svg' %}" />
                                </div>
                                <div class="il-r">
                                    <h3 class="h3 mb-1 mt-1">Labels & certifications</h3>
                                    <ul>
                                    {% for label in siae.labels.all %}
                                        <li>{{ label.name }}</li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    {% endif %}
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-12 my-5">
                <small><sup>*</sup>source: <a href="https://entreprise.api.gouv.fr/" rel="nofollow" target="_blank">informations en provenance de https://entreprise.api.gouv.fr</a></small>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
    // siae coords output as floats with commas. We need to transform them into floats.
    const siaeName = "{{ siae.name }}";
    const siaeBrand = "{{ siae.brand }}";
    const siaeLatitudeString = "{{ siae.coords.x }}";
    const siaeLongitudeString = "{{ siae.coords.y }}";
    const siaeLatitudeFloat = parseFloat(siaeLatitudeString.replace(',', '.'));
    const siaeLongitudeFloat = parseFloat(siaeLongitudeString.replace(',', '.'));
    
    // init map
    var map = L.map('map-siae').setView([siaeLongitudeFloat, siaeLatitudeFloat], 13);
    
    // map tiles
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        maxZoom: 19,
        zoomControl: false,
    }).addTo(map);
    
    // map zoom controls in the bottom right
    map.zoomControl.remove();
    L.control.zoom({ position: 'bottomright' }).addTo(map);
    
    // create custom marker (because of static url issues)
    var customLeafletIcon = L.icon({
        'iconUrl': "{% static 'vendor/leaflet-1.7.1/images/marker-icon.png' %}",
        'shadowUrl': "{% static 'vendor/leaflet-1.7.1/images/marker-shadow.png' %}",
        iconSize: [25,41],
        iconAnchor: [12,41],
        popupAnchor:[1,-34],
        tooltipAnchor:[16,-28],
        shadowSize:[41,41],
    });
    
    // add marker (with popup on click)
    var siaeDisplayName = siaeBrand ? siaeBrand : siaeName;
    L.marker([siaeLongitudeFloat, siaeLatitudeFloat], {icon: customLeafletIcon})
    .bindPopup(`<p class="h6">${siaeDisplayName}</p></a>`)
    .addTo(map);
});
</script>
{% endblock %}
