{% load static %}

<section class="s-prefooter s-prefooter--marche">
    <div class="s-prefooter__container container">
        <div class="s-prefooter__row row">
            <div class="s-prefooter__col col-12 col-sm-auto d-flex align-items-center">
                <div class="s-prefooter__logo">
                    <img src="{% static 'itou/images/logo-marche-inclusion.svg' %}" alt="Le marché de l'inclusion'">
                </div>
            </div>
            <div class="s-prefooter__col col-12 col-sm d-flex align-items-center justify-content-start justify-content-sm-end justify-content-lg-start">
                <p class="mb-0">
                    Le site de la plateforme <br class="d-none d-lg-inline">
                    de l'inclusion dédié au marché,<br class="d-none d-lg-inline">
                    service en expérimentation
                </p>
            </div>
            <div class="s-prefooter__col col-12 col-lg-6 d-flex align-items-center">
                <ul class="s-prefooter__gridlist">
                    <li><a href="/faq/">Comment ça marche ?</a></li>
                    <li><a href="{% url 'pages:decouvrir_inclusion' %}">C'est quoi l'inclusion ?</a></li>
                    <li><a href="/qui-sommes-nous/">Qui sommes-nous ?</a></li>
                    <li><a href="{% url 'api:home' %}">API</a></li>
                    <li><a href="https://github.com/betagouv/itou-marche/" target="_blank" rel="noopener" class="is-external" title="Github (lien externe)">Github</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<footer class="s-footer" role="contentinfo" id="footer">
    <section class="s-footer-help">
        <div class="s-footer-help__container container">
            <div class="s-footer-help__row row">
                <div class="s-footer-help__col col-12 col-lg">
                    <ul>
                        <!-- <li><a href="#" target="_blank" rel="noopener" class="is-external">Besoin d'aide ?</a></li> -->
                        <li><a href="{% url 'pages:contact' %}">Nous contacter</a></li>
                        <!-- <li><a href="#" target="_blank" rel="noopener" class="is-external">Inscription Newsletter</a></li> -->
                    </ul>
                </div>
                <div class="s-footer-help__col col-12 col-lg-auto">
                    <ul>
                        <li><span>Nous suivre</span></li>
                        <li><a href="https://twitter.com/inclusion_gouv" target="_blank" rel="noopener"><img src="{% static 'itou/images/picto-twitter.svg' %}" height="25" alt="Rejoignez-nous sur Twitter (lien externe)"></a></li>
                        <li><a href="https://www.linkedin.com/company/inclusion-gouv/" target="_blank" rel="noopener"><img src="{% static 'itou/images/picto-linkedin.svg' %}" height="25" alt="Rejoignez-nous sur Linkedin (lien externe)"></a></li>
                        <li><a href="https://www.facebook.com/inclusion.gouv/" target="_blank" rel="noopener"><img src="{% static 'itou/images/picto-facebook.svg' %}" height="25" alt="Rejoignez-nous sur Facebook (lien externe)"></a></li>
                        <li><a href="https://www.instagram.com/inclusion_gouv/" target="_blank" rel="noopener"><img src="{% static 'itou/images/picto-instagram.svg' %}" height="25" alt="Rejoignez-nous sur Instagram (lien externe)"></a></li>
                        <li><a href="https://www.youtube.com/channel/UC06_yIYfzAiDOMTemH9q3OQ" target="_blank" rel="noopener"><img src="{% static 'itou/images/picto-youtube.svg' %}" height="25" alt="Rejoignez-nous sur Youtube (lien externe)"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="s-footer-nav">
        <div class="s-footer-nav__container container">
            <div class="s-footer-nav__row row">
                <div class="s-footer-nav__col col-5 col-lg-2 d-flex align-items-center">
                    <div class="s-footer-nav__logo">
                        <img src="{% static 'itou/images/logo-republique-francaise.svg' %}" alt="République Française" class="img-fluid">
                    </div>
                </div>
                <div class="s-footer-nav__col col-7 col-lg-4 d-flex align-items-center justify-content-end justify-content-lg-start">
                    <div class="d-inline-block text-center">
                        <span class="d-block">
                            <img src="{% static 'itou/images/logo-plateforme-inclusion.svg' %}" height="60" alt="Plateforme de l'inclusion">
                        </span>
                        <span class="d-block mt-2">
                            <img src="{% static 'itou/images/logo-accelere-betagouv.svg' %}" alt="Accéléré par Beta.gouv.fr">
                        </span>
                    </div>
                </div>
                <div class="s-footer-nav__col col-12 col-lg-6 d-flex align-items-center">
                    <div>
                        <p class="mb-3">
                            Notre mantra issu du Pacte Ambition IAE : Permettre à chacun de trouver sa place.
                            Libérons notre potentiel d'inclusion pour créer 100 000 emplois de plus.
                        </p>
                        <ul>
                            <li><a href="https://emplois.inclusion.beta.gouv.fr" target="_blank" rel="noopener" title="Les emplois (lien externe)">Les emplois</a></li>
                            <li><a href="https://communaute.inclusion.beta.gouv.fr" target="_blank" rel="noopener" title="La communauté (lien externe)">La communauté</a></li>
                            <li><a href="https://pilotage.inclusion.beta.gouv.fr" target="_blank" rel="noopener" title="Le pilotage (lien externe)">Le pilotage</a></li>
                            <li><a href="https://lemarche.inclusion.beta.gouv.fr" target="_blank" rel="noopener" title="Le marché (lien externe)">Le marché</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="s-footer-legal">
        <div class="s-footer-legal__container container">
            <div class="s-footer-legal__row row">
                <div class="s-footer-legal__col col-12 col-lg">
                    <ul>
                        <li><a href="https://doc.inclusion.beta.gouv.fr/mentions" rel="noopener" target="_blank" title="Mentions légales (lien externe)">Mentions légales</a></li>
                        <li>Accessibilité : non conforme</li>
                    </ul>
                </div>
                <div class="s-footer-legal__col col-12 col-lg text-lg-right">
                    <span>© République Française 2021</span>
                </div>
            </div>
        </div>
    </section>
</footer>
