{% load i18n static theme_inclusion %}
{% if BITOUBI_ENV not in "prod" %}
    {% include "includes/_header_env_notice.html" %}
{% endif %}
{% if not user.is_authenticated %}
  {% if page.slug == "accueil-structure" %}
    {% include "includes/_header_for_buyers.html" %}
  {% else %}
    {% include "includes/_header_for_siaes.html" %}
  {% endif %}
{% endif %}
<header role="banner" class="fr-header" id="header">
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">
            <div class="fr-header__logo">
              {% block brand %}
                {% translate "Home page" as home_page %}
                <a href="/" title="{{ home_page }} — Le marché de l'inclusion">
                  <p class="fr-logo">
                    République
                    <br />
                    Française
                  </p>
                </a>
              {% endblock brand %}
            </div>
            <div class="fr-header__operator">
              <a href="{{ HOME_PAGE_PATH }}">
                <img class="fr-responsive-img"
                     style="max-width:15rem"
                     src="{% static_theme_images 'logo-marche-inclusion.svg' %}"
                     alt="Le marché de l'inclusion">
              </a>
            </div>
            {% block burger_menu %}
              {% translate "Menu" as menu_label %}
              <div class="fr-header__navbar">
                <button class="fr-btn--menu fr-btn"
                        data-fr-opened="false"
                        aria-controls="fr-menu-mobile"
                        id="fr-btn-menu-mobile"
                        title="{{ menu_label }}">{{ menu_label }}</button>
              </div>
            {% endblock burger_menu %}
          </div>
        </div>
        <div class="fr-header__tools">
          <div class="fr-header__tools-links">
            {% block header_tools %}
              {% with tender_siae_unread_count=user.tender_siae_unread_count %}
                {% include "layouts/_header_nav_primary_items.html" %}
              {% endwith %}
            {% endblock header_tools %}
          </div>
          {% block header_search %}
          {% endblock header_search %}
        </div>
      </div>
    </div>
  </div>
  {% block main_menu %}
    <div class="fr-header__menu fr-modal"
         id="fr-menu-mobile"
         aria-labelledby="fr-btn-menu-mobile">
      <div class="fr-container">
        <button class="fr-btn--close fr-btn" aria-controls="fr-menu-mobile">{% translate "Close" %}</button>
        <div class="fr-header__menu-links"></div>
        {% translate "Main menu" as main_menu_label %}
        <nav role="navigation"
             class="fr-nav"
             id="fr-navigation"
             aria-label="{{ main_menu_label }}">
          {% include 'layouts/_header_nav_secondary_items.html' %}
        </nav>
      </div>
    </div>
  {% endblock main_menu %}
</header>
