{% load static %}
{% load theme_inclusion %}

{% if BITOUBI_ENV not in "prod" %}
{% include "includes/_header_env_notice.html" %}
{% endif %}

{% if not user.is_authenticated %}
{% include "includes/_header_notice_contact.html" %}
{% endif %}

<header id="header" class="s-header s-header--marche sticky-top" role="banner">
    <section class="s-header__container container">
        <div class="s-header__row row">
            <!-- Logos -->
            <div class="s-header__col s-header__col--logo col-auto d-flex align-items-center pr-0 pr-md-3">
                <a href="{% url 'pages:home' %}" class="s-header__logo-ministere">
                    <img src="{% static 'img/logo-ministere-emploi.svg' %}" alt="Ministère de l'emploi">
                </a>
            </div>
            <div class="s-header__col s-header__col--logo col-auto d-flex align-items-center px-0 px-md-3">
                <a href="{% url 'pages:home' %}" />
                    <img src="{% static_theme_images 'logo-marche-inclusion.svg' %}" alt="Le marché de l'inclusion">
                </a>
            </div>
            <!-- Visible only on large screens -->
            <div class="s-header__col s-header__col--nav col d-none d-xl-inline-flex d-xl-flex align-items-center justify-content-end">
                <nav id="nav-primary" role="navigation" aria-label="Navigation principale">
                    <ul>
                        <li>
                            {% include "includes/_newsletter_button.html" %}
                        </li>
                        <li>
                            <a href="{% url 'pages:valoriser_achats' %}">
                                Valoriser vos achats
                            </a>
                        </li>
                        {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'dashboard:profile_favorite_list' %}">
                                <span class="ml-1"><img src="{% static_theme_images 'ico-star-line.svg' %}" alt="Utilisateur"></span>
                                Favoris <span class="badge badge-pill badge-primary fs-xs">{{ user.favorite_lists.count }}</span>
                            </a>
                        </li>
                        <li>
                            <div class="dropdown">
                                <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Mon compte
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <!-- <div class="dropdown-header">Bonjour user.full_name</div> -->
                                    <a href="{% url 'dashboard:home' %}" class="dropdown-item">
                                        Mon espace
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a href="{% url 'auth:logout' %}" class="dropdown-item">Déconnexion</a>
                                </div>
                            </div>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'auth:login' %}" id="h_login" rel="noopener">
                                <span>Connexion</span>
                                <span class="ml-1"><img src="{% static_theme_images 'ico-user.svg' %}" alt="Utilisateur"></span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'auth:signup' %}" id="h_signup" class="btn btn-primary btn-ico" rel="noopener">
                                <span>Inscription</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                                    <path fill="currentColor" fill-rule="nonzero" stroke="currentColor" d="M1.964 8.95h11.03L9.51 12.737a.451.451 0 00.037.646.474.474 0 00.66-.037L14.386 8.8l.035-.043.033-.05.013-.05V8.539c0-.012.033-.02.033-.044v-.151l-.014-.05-.019-.03-.034-.045-4.193-4.566a.474.474 0 00-.66-.037.452.452 0 00-.036.646l3.45 3.777H1.963a.46.46 0 00-.464.455.46.46 0 00.464.455z"></path>
                                </svg>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <!-- Visible only on small screens -->
            <div class="s-header__col s-header__col--burger col d-flex align-items-center justify-content-end d-xl-none" data-toggle="burger">
                <span id="burger"><img src="{% static_theme_images 'picto-burger.svg' %}" alt="Menu" /></span>
                <span id="close"><img src="{% static_theme_images 'picto-close.svg' %}" alt="Fermer" /></span>
            </div>
            <div id="burgerNav">
                <nav role="navigation">
                    <ul>
                        <li>
                            {% include "includes/_newsletter_button.html" with custom_class="p-0" %}
                        </li>
                        <li>
                            <a href="{% url 'pages:valoriser_achats' %}">
                                Valoriser vos achats
                            </a>
                        </li>
                        {% comment 'hidden' %}
                        <li>
                            <a href="#" rel="noopener" id="h_fav">
                                <span>Favoris</span>
                                <span id="fav-count" class="fs-xs badge badge-marche badge-pill ml-1"></span>
                            </a>
                        </li>
                        {% endcomment %}
                        {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'dashboard:home' %}" id="h_dashboard" rel="noopener">
                                <span>Mon espace</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'dashboard:profile_favorite_list' %}">
                                <span class="ml-1"><img src="{% static_theme_images 'ico-star-line.svg' %}" alt="Utilisateur"></span>
                                Favoris <span class="badge badge-pill badge-primary fs-xs">{{ user.favorite_lists.count }}</span>
                            </a>
                        </li>
                        <hr />
                        <li>
                            <a href="{% url 'auth:logout' %}"  id="h_logout" rel="noopener">
                                <span>Déconnexion</span>
                            </a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'auth:login' %}" id="h_login" rel="noopener">
                                <span>Connexion</span>
                                <span class="ml-1"><img src="{% static_theme_images 'ico-user.svg' %}" alt="Utilisateur"></span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'auth:signup' %}" id="h_signup" class="btn btn-primary btn-ico" rel="noopener">
                                <span>Inscription</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </section>
</header>
