{% load static %}
{% load theme_inclusion %}

{% if BITOUBI_ENV not in "prod" %}
{% include "includes/_header_env_notice.html" %}
{% endif %}

<section class="s-preheader">
    <div class="container s-preheader__container">
        <div class="row">
            <div class="col-12 s-preheader__col d-flex align-items-center justify-content-end">
                <ul>
                    <li>
                        <a href="https://inclusion.beta.gouv.fr" class="is-plateforme" rel="noopener" target="_blank" title="La Plateforme de l'inclusion (lien externe)">
                            <span>La plateforme</span>
                            <i class="ri-arrow-right-up-line ri-lg"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://emplois.inclusion.beta.gouv.fr" class="is-emploi" rel="noopener" target="_blank" title="Les emplois de l'inclusion (lien externe)">
                            <span>Les emplois</span>
                            <i class="ri-arrow-right-up-line ri-lg"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://communaute.inclusion.beta.gouv.fr" class="is-communaute" rel="noopener" target="_blank" title="La communauté de l'inclusion (lien externe)">
                            <span>La communauté</span>
                            <i class="ri-arrow-right-up-line ri-lg"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://pilotage.inclusion.beta.gouv.fr" class="is-pilotage" rel="noopener" target="_blank" title="Le marché de l'inclusion (lien externe)">
                            <span>Le pilotage</span>
                            <i class="ri-arrow-right-up-line ri-lg"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<header id="header" class="s-header s-header--marche sticky-top" role="banner">
    <section class="s-header__container container">
        <div class="s-header__row row">
            <!-- Logos -->
            <div class="s-header__col s-header__col--logo col-auto d-flex align-items-center pr-0 pr-md-3">
                <a href="{% url 'pages:home' %}" class="s-header__logo-ministere">
                    <img src="{% static 'img/logo-ministere-emploi.svg' %}" alt="Ministère de l'emploi">
                </a>
            </div>
            <div class="s-header__col s-header__col--logo col-auto d-flex align-items-center px-0 px-md-3">
                <a href="{% url 'pages:home' %}" />
                    <img src="{% static_theme_images 'logo-marche-inclusion.svg' %}" alt="Le marché de l'inclusion">
                </a>
            </div>
            <!-- Visible only on large screens -->
            <div class="s-header__col s-header__col--nav col d-none d-xl-inline-flex d-xl-flex align-items-center justify-content-end">
                <nav id="nav-primary" role="navigation" aria-label="Navigation principale">
                    <ul>
                        {% if not user.is_authenticated %}
                            <li>
                                {% include "includes/_newsletter_button.html" %}
                            </li>
                        {% endif %}
                        {% if not user.is_authenticated or user.kind != user.KIND_SIAE %}
                            <li>
                                <a href="{% url 'pages:valoriser_achats' %}" id="header-valoriser" rel="noopener">
                                    Valoriser vos achats
                                </a>
                            </li>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <li>
                                <a href="{% url 'dashboard:profile_favorite_list' %}" id="header-favorites" rel="noopener">
                                    <i class="ri-star-line ri-lg"></i>
                                    Favoris <span class="badge badge-pill badge-primary fs-xs">{{ user.favorite_lists.count }}</span>
                                </a>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Mon espace
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <!-- <div class="dropdown-header">Bonjour user.full_name</div> -->
                                        <a href="{% url 'dashboard:home' %}" class="dropdown-item">
                                            Tableau de bord
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a href="{% url 'auth:logout' %}" class="dropdown-item">Déconnexion</a>
                                    </div>
                                </div>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'auth:login' %}" id="h_login" rel="noopener">
                                    <span>Connexion</span>
                                    <i class="ri-account-circle-line ri-lg ml-1"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'auth:signup' %}" id="h_signup" class="btn btn-primary btn-ico" rel="noopener">
                                    <span>Inscription</span>
                                    <i class="ri-arrow-right-line ri-lg"></i>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <!-- Visible only on small screens -->
            <div class="s-header__col s-header__col--burger col d-flex align-items-center justify-content-end d-xl-none" data-toggle="burger" aria-controls="burgerNav" tabindex="0">
                <span id="burger"><img src="{% static_theme_images 'picto-burger.svg' %}" alt="Menu" /></span>
                <span id="close"><img src="{% static_theme_images 'picto-close.svg' %}" alt="Fermer" /></span>
            </div>
            <div id="burgerNav">
                <nav role="navigation">
                    <ul>
                        {% if not user.is_authenticated %}
                            <li>
                                {% include "includes/_newsletter_button.html" with custom_class="p-0" %}
                            </li>
                        {% endif %}
                        {% if not user.is_authenticated or user.kind != user.KIND_SIAE %}
                            <li>
                                <a href="{% url 'pages:valoriser_achats' %}" id="header-valoriser" rel="noopener">
                                    Valoriser vos achats
                                </a>
                            </li>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <li>
                                <a href="{% url 'dashboard:home' %}" id="h_dashboard" rel="noopener">
                                    <span>Tableau de bord</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'dashboard:profile_favorite_list' %}" id="header-favorites" rel="noopener">
                                    <i class="ri-star-line ri-lg"></i>
                                    Favoris <span class="badge badge-pill badge-primary fs-xs">{{ user.favorite_lists.count }}</span>
                                </a>
                            </li>
                            <hr />
                            <li>
                                <a href="{% url 'auth:logout' %}"  id="h_logout" rel="noopener">
                                    <span>Déconnexion</span>
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'auth:login' %}" id="h_login" rel="noopener">
                                    <span>Connexion</span>
                                    <i class="ri-account-circle-line ri-lg ml-1"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'auth:signup' %}" id="h_signup" class="btn btn-primary btn-ico" rel="noopener">
                                    <span>Inscription</span>
                                    <i class="ri-arrow-right-line ri-lg"></i>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </section>
</header>
