<ul>
	{% if user.is_authenticated %}
		<li>
			<a href="{% url 'tenders:create' %}" id="header-demande" class="btn btn-outline-primary btn-ico">
				<i class="ri-mail-send-line ri-lg"></i>
				<span>Publier un besoin d'achat</span>
			</a>
		</li>
		<li>
			<div class="dropdown">
				<button class="btn btn-primary dropdown-toggle mb-3" type="button"
					id="userDropdownMenuButton{% if is_mobile %}Mobile{% endif %}" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					Mon espace
				</button>
				<div class="dropdown-menu" aria-labelledby="userDropdownMenuButton{% if is_mobile %}Mobile{% endif %}">
					<a href="{% url 'dashboard:home' %}" class="dropdown-item">
						<i class="ri-dashboard-line"></i>
						Tableau de bord
					</a>
					<a href="{% url 'dashboard_favorites:list' %}" id="header-favorites" class="dropdown-item">
						<i class="ri-star-line"></i>
						Favoris <span class="badge badge-pill badge-primary fs-xs">{{ user.favorite_lists.count }}</span>
					</a>
					<a href="{% url 'dashboard:profile_edit' %}" class="dropdown-item">
						<i class="ri-user-line"></i>
						Mon profil
					</a>
					<div class="dropdown-divider"></div>
					<a href="{% url 'auth:logout' %}" class="dropdown-item">
						<i class="ri-logout-box-line"></i>
						Déconnexion
					</a>
				</div>
			</div>
		</li>
	{% else %}
		<li>
			<a href="{% url 'tenders:create' %}" id="header-demande"
				class="btn btn-link btn-ico {% if is_mobile %}mh-auto p-0{% endif %}">
				<i class="ri-mail-send-line ri-lg"></i>
				<span>Publier un besoin d'achat</span>
			</a>
		</li>
		<li>
			<a href="{% url 'auth:signup' %}" id="h_signup" class="btn btn-outline-primary btn-ico">
				<i class="ri-user-add-line ri-lg"></i>
				<span>S'inscrire</span>
			</a>
		</li>
		<li>
			<a href="{% url 'auth:login' %}" id="h_login" class="btn btn-primary btn-ico">
				<i class="ri-login-box-line ri-lg"></i>
				<span>Se connecter</span>
			</a>
		</li>
	{% endif %}
</ul>
