<ul class="fr-btns-group">
	{% if user.is_authenticated %}
		{% if user.kind == user.KIND_SIAE %}
		<li>
			<a class="fr-btn" href="{% url 'tenders:list' %}" target="_self">
				Demandes reçues{% if tender_siae_unread_count %}&nbsp;<span class="fr-badge fr-badge--sm fr-ml-2v fr-badge--green-emeraude">{{ tender_siae_unread_count }}</span>{% endif %}
			</a>
		</li>
		{% else %}
			<li>
				<a class="fr-btn fr-icon-add-circle-line fr-btn--icon-left" href="{% url 'tenders:create' %}" id="header-demande" target="_self">
					<span>Publier un besoin d'achat</span>
				</a>
			</li>
		{% endif %}
        {% if user.is_onboarded %}
		<li>
			<a href="{% url 'dashboard:home' %}" class="fr-btn fr-icon-dashboard-3-line">
				Tableau de bord
			</a>
		</li>
		<li>
			<a href="{% url 'dashboard_favorites:list' %}" id="header-favorites" class="fr-btn fr-icon-star-line">
				Favoris <span class="fr-badge fr-badge--sm fr-ml-2v">{{ user.favorite_list_count }}</span>
			</a>
		</li>
        {% endif %}
		<li>
			<a href="{% url 'dashboard:profile_edit' %}" class="fr-btn fr-icon-user-line">
				Mon profil
			</a>
		</li>
		<li>
            <form id="logout-form" method="post" action="{% url 'auth:logout' %}">
              {% csrf_token %}
              <button class="fr-btn fr-icon-logout-box-r-line" type="submit">Déconnexion</button>
            </form>
			{% include "includes/_dropdown_menu.html" %}
		</li>
	{% else %}
		{% if page and page.slug == "accueil-structure" %}
			<li class="fr-nav__item">
				<a class="fr-nav__link" href="{% url 'auth:signup' %}" id="header-demande" target="_self">
					<span>Référencer ma structure</span>
				</a>
			</li>
			<li class="fr-nav__item">
				<a class="fr-nav__link" href="{% url 'auth:login' %}" id="h_login" target="_self">
					<span>Se connecter</span>
				</a>
			</li>
		{% else %}
			<li class="fr-nav__item">
				<a class="fr-nav__link fr-icon-add-circle-line fr-btn--icon-left" href="{% url 'tenders:create' %}" id="header-demande" target="_self">
					<span>Publier un besoin d'achat</span>
				</a>
			</li>
			<li class="fr-nav__item">
				<a class="fr-nav__link" href="{% url 'auth:signup' %}" id="header-demande" target="_self">
					<span>S'inscrire</span>
				</a>
			</li>
			<li class="fr-nav__item">
				<a class="fr-nav__link" href="{% url 'auth:login' %}" id="h_login" target="_self">
					<span>Se connecter</span>
				</a>
			</li>
		{% endif %}
	{% endif %}
</ul>
