{% load static %}
{% load bootstrap4 %}
<!DOCTYPE HTML>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{% block title %} - marché de l'inclusion {% endblock %}</title>
    {% block meta_description %}<meta name="description" content="">{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {# https://metatags.io #}
    <meta name="title" content="Le marché de l'inclusion">
    {# https://metatags.io Open Graph / Facebook #}
    <!-- TODO -->
    {# https://metatags.io Twitter #}
    <!-- TODO -->

    {# Use this to get the value of the CSRF token in JavaScript. #}
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/ico">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% bootstrap_messages %}
    {% block content %}{% endblock %}
</body>
</html>
