{% load static compress bootstrap4 %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title>{% block title %} - Le marché de l'inclusion{% endblock %}</title>
    {% block meta_description %}
    <meta name="description" content="Le marché de l'inclusion est un service numérique permettant de trouver un prestataire sociale inclusif proposant des produits ou services professionnels.">
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="theme-color" content="#ffffff">

    <!-- https://metatags.io Open Graph -->
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://lemarche.inclusion.beta.gouv.fr/" />
    <meta property="og:description" content="Le marché de l'inclusion est un service numérique permettant de trouver un prestataire sociale inclusif proposant des produits ou services professionnels." />
    <meta property="og:image" content="{% static 'img/logo_metatags_marche.png' %}" />
    <meta property="og:image:alt" content="Logo du marché de l'inclusion" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <!-- https://metatags.io Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://lemarche.inclusion.beta.gouv.fr/" />
    <meta property="twitter:title" content="{% block meta_twitter_title %}Le marché de l'inclusion{% endblock %}" />
    <meta property="twitter:description" content="Le marché de l'inclusion est un service numérique permettant de trouver un prestataire sociale inclusif proposant des produits ou services professionnels." />
    <meta property="twitter:image" content="{% static 'img/logo_metatags_marche.png' %}" />
    <meta property="twitter:site" content="inclusion_gouv" />
    <!-- https://metatags.io Facebook -->
    <meta property="fb:page_id" content="inclusion.gouv" />

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
    <link rel="icon" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}" type="image/png">
    <link rel="icon" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}" type="image/png">
    <link rel="icon" sizes="96x96" href="{% static 'img/favicon-96x96.png' %}" type="image/png">
    <link rel="icon" sizes="256x256" href="{% static 'img/favicon-256x256.png' %}" type="image/png">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon-180x180.png' %}" type="image/png">

    <!-- Use this to get the value of the CSRF token in JavaScript. -->
    <meta name="csrf-token" content="{{ csrf_token }}">

    {% compress css %}
    <!-- itou theme -->
    <link rel="stylesheet" href="{% static 'itou/stylesheets/app.css' %}" type="text/css" />
    <!-- third party css -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-multiselect-1.1.1/bootstrap-multiselect.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'vendor/alphagov-accessible-autocomplete-2.0.3/accessible-autocomplete.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'vendor/leaflet-1.7.1/leaflet.css' %}" type="text/css" />
    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'itou_marche/itou_marche.scss' %}" type="text/x-scss" />
    {% endcompress %}

    {% block extra_css %}{% endblock %}

    {% block extra_head %}{% endblock %}
</head>

<body id="top" class="{% block body_class %}{% endblock %}">
    <!-- allow a user to go to the main content of the page -->
    <noscript>
        <div class="alert alert-danger" role="alert">
            Javascript doit être activé pour pouvoir assurer l'affichage correct de la page (recherche géographique par exemple).
        </div>
    </noscript>

    <div class="sr-only sr-only-focusable">
        <a tabindex="1" href="#main">aller au contenu</a>
    </div>

    {% block header %}
      {% include "layouts/_header.html" %}
    {% endblock %}

    {% block sub_header %}{% endblock %}

    <!-- contains main informative part of the site -->
    <main id="main" role="main" class="s-main">
        {% block breadcrumbs %}{% endblock %}

        {% block messages %}
        {% if messages %}
        <section class="mt-3">
            <div class="container">
                <div class="messages fr-container fr-my-5w">
                    {% for message in messages %}
                        <div role="alert" class="alert alert-{{ message.tags|default:'info' }} alert-dismissible">
                            <button class="close" type="button" data-dismiss="alert" aria-label="close">×</button>
                            {{ message|safe }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        {% endif %}
        {% endblock %}

        {% block content %}{% endblock %}
    </main>

    {% block footer %}
        {% include "layouts/_footer.html" %}
    {% endblock %}

    <!-- popin -->
    {% block modal %}{% endblock %}

    <!-- allow a user to go to the top of the page -->
    <div class="sr-only sr-only-focusable">
        <a href="#header">retour au début de la page</a>
    </div>

    {% block script %}
    {% compress js %}
    <!-- jquery & bootstrap -->
    <script type="text/javascript" src="{% static 'vendor/jquery-3.5.1/jquery-3.5.1.slim.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/bootstrap-4.6.0/bootstrap.bundle.min.js' %}"></script>
    <!-- itou theme -->
    <script type="text/javascript" src="{% static 'itou/javascripts/app.js' %}"></script>
    <!-- third party javascript -->
    <script type="text/javascript" src="{% static 'vendor/bootstrap-multiselect-1.1.1/bootstrap-multiselect.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/alphagov-accessible-autocomplete-2.0.3/accessible-autocomplete.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/leaflet-1.7.1/leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/accessible-slick-1.0.1/slick.min.js' %}"></script>
    <!-- custom javascript -->
    <script type="text/javascript" src="{% static 'js/sector_multiselect_field.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/perimeter_autocomplete_field.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/kind_multiselect_field.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/home_partner_slider.js' %}"></script>
    {% endcompress %}
    <script type="text/javascript" src="{% static 'js/utils.js'%}"></script>
    {% include "includes/_trackers.html" %}
    {% comment "migrate first" %}
    {% include '@CocoricoCore/Frontend/Common/_cookie_consent_js.html.twig' only %}
    {% endcomment %}
    <!-- Mailjet newsletter -->
    <data id="mj-w-res-data" data-token="0d87cc6eac81c8037144017a95fdecdb" class="mj-w-data" data-apikey="4guK" data-w-id="KAV" data-lang="fr_FR" data-base="https://app.mailjet.com" data-width="640" data-height="450" data-statics="statics"></data>
    <script type="text/javascript" type="text/javascript" src="https://app.mailjet.com/statics/js/widget.modal.js"></script>
    {% endblock %}

    {% block extra_js %}{% endblock %}

    {% bootstrap_messages %}
</body>
</html>
