{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %} - marché de l'inclusion {% endblock %}</title>
    <meta charset="utf-8" />
    {% block meta_description %}<meta name="description" content="Les emplois de l'inclusion facilitent le retour à l'emploi des personnes en situation d'exclusion par l'orientation et le recrutement auprès d'employeurs solidaires (structures de l'insertion par l'activité économique et du secteur adapté)">{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">


    <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/ico">

    <meta name="theme-color" content="#ffffff">


    {% bootstrap_javascript jquery='full' %}

    {% bootstrap_css %}

    <link rel="stylesheet" href="{% static 'itou/stylesheets/app.css' %}" type="text/css">

    {% load compress %}
    {% compress css %}
      <link rel="stylesheet" href="{% static 'css/itou_c4.scss' %}" type="text/x-scss">
    {% endcompress %}

    {% comment "migrate first" %}
    {% include '@CocoricoCore/Frontend/Common/js/_google_analytics_js.html.twig' only %}
    {% include '@CocoricoCore/Frontend/Common/js/_matomo_analytics_js.html.twig' only %}
    {% include '@CocoricoCore/Frontend/Common/js/_hotjar_analytics_js.html.twig' only %}
    {% include '@CocoricoCore/Frontend/Common/js/_itou_tracker_js.html.twig' only %}
    {% include '@CocoricoCore/Frontend/Common/js/_tarteaucitron_js.html.twig' only %}

    {% include '@CocoricoCore/Frontend/Common/_cookie_consent_js.html.twig' only %}
    {% endcomment %}


</head>

<body id="top" class="loading {% block theme %}{% endblock %}">
  <!-- allow a user to go to the main content of the page -->
  <noscript>Javascript must be enabled for the correct page display</noscript>
  
  {% comment "migrate first" %}
  {% include '@CocoricoCore/Frontend/Common/js/_google_tag_manager_js.html.twig' only %}
  {% endcomment %}
  
  <div class="sr-only">
      <a tabindex="1" href="#main">skip to content</a>
  </div>
  
  {% block layout %}{% endblock %}
  
  <!-- allow a user to go to the top of the page -->
  <div class="sr-only">
      <a href="#header">back to top</a>
  </div>

  {% block scripts %}
  {% compress js %}
    <script src="{% static "itou/javascripts/app.js" %}"></script>
  {% endcompress %}
    <script>
      //Global Javascript variables
      {% comment "migration fix" %}
      var locale = '{{ app.request.locale }}';
      var locales = {{ locales|json_encode|raw }};
      var defaultCurrency = '{{ defaultCurrency }}';
      var currentCurrency = '{{ currentCurrency }}';
      //Does the app is in day mode or time mode
      var timeUnitIsDay = {{ timeUnitIsDay ? 'true' : 'false' }};
      var timeUnitAllDay = {{ timeUnitAllDay ? 'true' : 'false' }};
      var endDayIncluded = {{ endDayIncluded ? 'true' : 'false' }};
      var isAuthenticated = {{ app.user is not null and is_granted("IS_AUTHENTICATED_FULLY") ? 'true' : 'false' }};
      var hoursAvailable = {{ timeHoursAvailable|json_encode|raw }};
      var sessId = '{{ app.session.get('uuid') }}';
      var isAdmin = {{ app.session.get('isAdmin') ? 'true' : 'false'}};
      var uType = '{{ app.session.get('userType') }}';
      {% endcomment %}
      </script>
  {% endblock %}
  {% bootstrap_messages %}
</body>
</html>
