{% extends "layouts/base-itou.html" %}

{% block layout %}

    {% block header %}
      {% include 'frontend/common/_itou_header.html' %}
    {% endblock %}

    {% block sub_header %}{% endblock %}

    <!-- contain main informative part of the site -->
    <main id="main" role="main" class="s-main">

        {% block breadcrumbs %}{% endblock %}

        {% block messages %}
        {% if messages %}
            <div class="messages fr-container fr-my-5w">
                {% for message in messages %}
                    <div role="alert" class="fr-alert fr-alert--{{ message.tags|default:'info' }} fr-alert--sm">
                        <p>{{ message|safe }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% endblock %}

        {% block content %}{% endblock %}

    </main>

    {% block footer %}
        {% include 'frontend/common/_itou_footer.html' %}
    {% endblock %}

    {#popin#}
    {% block modal %}{% endblock %}    
{% endblock %}
