{% comment %}
    takes one argument : fields
{% endcomment %}

<div class="form-group form-group-required">
    {{ field.label_tag }}
    <ul class="list-unstyled mb-1">
        {% for pk, choice in field.field.widget.choices %}
        <li>
            <div class="custom-control custom-radio ">
                <input id="id_{{ field.name }}_{{ forloop.counter0 }}"
                    class="custom-control-input {% if field.errors %} is-invalid{% endif %}"
                    name="{{ field.name }}" type="{{ field.field.widget.input_type }}" value="{{ pk }}" />
                <label for="id_{{ field.name }}_{{ forloop.counter0 }}" class="custom-control-label">{{ choice }}</label>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% if field.errors %}
            {% for error in field.errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
            {% endfor %}
    {% endif %}
</div>